<div class="main-content">
    <div class="page-content">
        <div class="container-fluid">
            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                        <h4 class="mb-sm-0 font-size-18">Bank Receipts & Payments</h4>
                    </div>
                </div>
            </div>
            <!-- end page title -->
            <div class="row top-controls">
                <div class="col-sm-10 col-md-10">
                    <form (keydown.enter)="$event.preventDefault()"[formGroup]="formFilter">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="mb-3">
                                    <label for="formrow-inputState">From Date</label>
                                    <input type="date" class="form-control" 
                                    formControlName="fromDate" min="{{minDate}}" max="{{maxDate}}">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="mb-3">
                                    <label for="formrow-inputState">To Date</label>
                                    <input type="date" class="form-control" 
                                    formControlName="toDate" min="{{minDate}}" max="{{maxDate}}">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="mb-3">
                                    <label for="formrow-inputState">Doc Series No</label>
                                    <input type="text" class="form-control" 
                                    formControlName="docSeriesNo" >                                
                                </div>
                            </div> 
                        </div>    
                        <div class="row">    
                            <div class="col-md-4">
                                <div class="mb-3">
                                    <label for="formrow-inputState">Bank Receipt/Payment</label>
                                    <select class="form-control form-select ng-pristine ng-touched"
                                        formControlName="receiptOrPayment">
                                        <option selected value="BP">Bank Payment</option>
                                        <option value="BR">Bank Receipt</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <label for="formrow-inputCity">Ref Type </label>
                                <select class="form-control form-select ng-pristine ng-touched"
                                    formControlName="refType">
                                    <option *ngFor="let branch of finRefTypes"
                                        value={{branch.dataId}}>{{branch.dataName}}
                                    </option>
                                </select>
                            </div>
                            <div class="col-lg-2">
                                <div class="mt-3">
                                    <button class="btn btn-primary" (click)="search()"><span>Search</span></button>
                                </div>
                            </div>                       
                            <div class="col-lg-2">
                                <div class="mt-3">
                                    <button class="btn btn-primary"   
                                    (click)="downloadSumm()"><span>Excel</span></button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-sm-2 col-md-2 text-right">
                    <button class="btn btn-primary buttons-html5" type="button"  *ngIf="createStatus"
                    (click)="bankreceiptentryAdd()"><span>New</span></button>
                </div>
                <div id="datatable_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                    <table datatable [dtOptions]="dtOptions" class="table table-bordered dt-responsive w-100">
                        <thead>
                            <tr>
                                <th>docNo </th>                      
                                <th>ftmDate </th>  
                                <th>acHeader </th>                      
                                <th>docAmount </th>                         
                                <th>refType</th>                    
                                <th>refNo </th>                         
                                <th>accountOf</th>                    
                                <th>narration</th>                  
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody *ngIf="allBankReceiptEntry.recPaymentsList?.length != 0">
                            <tr *ngFor="let br of allBankReceiptEntry.recPaymentsList">                       
                                <td>
                                    <button type="button" class="btn btn-edit" 
                                    (click)="getBankReceiptEntryDetails(br)" ></button>             
                                </td>
                                <td>{{ br.seriesDoc }}</td>                    
                                <td>{{ br.ftmDate }}</td>                   
                                <td style="width:80px; word-wrap:break-word;">{{ br.acHeader }}</td>                   
                                <td>{{ br.docAmount }}</td>                   
                                <td>{{ br.refType }}</td>                   
                                <td>{{ br.refNo }}</td>                   
                                <td style="width:80px; word-wrap:break-word;">{{ br.accountOf }}</td>                   
                                <td>{{ br.narration }}</td>  
                            </tr>
                        </tbody>
                        <tbody *ngIf="allBankReceiptEntry.recPaymentsList?.length == 0">
                            <tr>
                                <td colspan="3" class="no-data-available">No data!</td>
                            </tr>
                        </tbody>
                    </table>  
                </div>
            </div>
        </div>
        <!-- container-fluid -->
    </div>
    <!-- End Page-content -->
</div>

