<div class="main-content">
    <div class="page-content">
        <div class="container-fluid">
            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                        <h4 class="mb-sm-0 font-size-18">Driver Salary Entry</h4>
                    </div>
                </div>
            </div>
            <!-- end page title -->
            <form (keydown.enter)="$event.preventDefault()"[formGroup]="formSalary">
                <div class="ng-untouched ng-pristine ng-valid">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-lg-2">
                                            <div class="mb-2">
                                                <label for="formrow-inputZip">Branch </label><span style="color: red">*</span>  
                                                <select class="form-control form-select ng-pristine ng-touched"formControlName="transBranch"
                                                    [ngClass]="{ 'is-invalid': formSubmitted && (f['transBranch'].invalid) }"> 
                                                    <option *ngFor="let br of branchList" value={{br.dataId}}>
                                                        {{br.dataName}}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>  
                                        <div class="col-sm-2">
                                            <div class="mb-3">
                                                <label >Trans Date: </label><span style="color: red">*</span>  
                                                <input type="date" class="form-control" 
                                                min="{{minDate}}" max="{{maxDate}}" formControlName="transDate" 
                                                [ngClass]="{ 'is-invalid': formSubmitted && (f['transDate'].invalid) }">
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="mb-3">
                                                <label for="formrow-inputState">Driver: </label><span style="color: red">*</span>  
                                                <select class="form-control form-select ng-pristine ng-touched"
                                                formControlName="driverId"
                                                [ngClass]="{ 'is-invalid': formSubmitted && (f['driverId'].invalid) }">
                                                <option value ="">Choose...</option>
                                                <option *ngFor="let branch of driverList" value={{branch.dataId}}>
                                                    {{branch.dataName}}
                                                </option>
                                            </select>
                                            </div>
                                        </div>
                                    </div>
                            
                                    <div class="row">
                                        <div class="col-sm-2">
                                            <div class="mb-3">
                                                <label >Salary From Date: </label><span style="color: red">*</span>  
                                                <input type="date" class="form-control"   (change) ="getSalDays()"
                                                min="{{minDate}}" max="{{maxDate}}" formControlName="salFromDate" 
                                                [ngClass]="{ 'is-invalid': formSubmitted && (f['salFromDate'].invalid) }">
                                            </div>
                                        </div>
                                        <div class="col-sm-2">
                                            <div class="mb-3">
                                                <label >Salary To Date: </label><span style="color: red">*</span>  
                                                <input type="date" class="form-control" 
                                               formControlName="salToDate"  (change) ="getSalDays()"
                                                [ngClass]="{ 'is-invalid': formSubmitted && (f['salToDate'].invalid) }">
                                            </div>
                                        </div>
                                        <div class="col-sm-2">
                                            <div class="mb-3">
                                                <label>No Of Days : </label><span style="color: red">*</span>
                                                <input decimalonly type="text" class="form-control" 
                                                formControlName="noOfDays"  [ngClass]="{ 'is-invalid': formSubmitted && (f['noOfDays'].invalid) }">
                                            </div>
                                        </div>
                                        <div class="col-sm-2">
                                            <div class="mb-3">
                                                <label>Gross Salary : </label><span style="color: red">*</span>
                                                <input decimalonly type="text" class="form-control"  (change) ="getSalDays()"
                                                formControlName="grossSalary" [ngClass]="{ 'is-invalid': formSubmitted && (f['grossSalary'].invalid) }" >
                                            </div>
                                        </div>
                                        </div>
                                   <div class="row">
                                      <div class="col-sm-2">
                                            <div class="mb-3">
                                                <label>Lop Deduction  : </label><span style="color: red">*</span>
                                                <input decimalonly type="text" class="form-control"  (change) ="getSalDays()"
                                                formControlName="lopDeduction"  [ngClass]="{ 'is-invalid': formSubmitted && (f['lopDeduction'].invalid) }" >
                                            </div>
                                        </div>
                                            <div class="col-sm-2">
                                            <div class="mb-3">
                                                <label>Pf Deduction: </label><span style="color: red">*</span>
                                                <input decimalonly type="text" class="form-control"  (change) ="getSalDays()"
                                                formControlName="pfDeduction" [ngClass]="{ 'is-invalid': formSubmitted && (f['pfDeduction'].invalid) }" >
                                            </div>
                                        </div>
                                        <div class="col-sm-2">
                                            <div class="mb-3">
                                                <label>Esi Deduction: </label><span style="color: red">*</span>
                                                <input decimalonly type="text" class="form-control"  (change) ="getSalDays()"
                                                formControlName="esiDeduction"   [ngClass]="{ 'is-invalid': formSubmitted && (f['esiDeduction'].invalid) }">
                                            </div>
                                        </div>
                                           <div class="col-sm-2">
                                            <div class="mb-3">
                                                <label>Oth Deduction : </label><span style="color: red">*</span>
                                                <input decimalonly type="text" class="form-control"  (change) ="getSalDays()"
                                                formControlName="othDeduction" [ngClass]="{ 'is-invalid': formSubmitted && (f['othDeduction'].invalid) }">
                                            </div>
                                        </div>
                                             <div class="col-sm-2">
                                            <div class="mb-3">
                                                <label>Net Salary : </label><span style="color: red">*</span>
                                                <input decimalonly type="text" class="form-control" 
                                                formControlName="netSalary"  >
                                            </div>
                                          </div>
                                        </div>
                                    <div class="row">
                                        <div class="col-lg-2">
                                            <div class="mb-2">
                                                <label for="basicpill-phoneno-input">Payment Type</label> <span style="color: red">*</span> 
                                                <select id="formrow-inputState" class="form-control form-select ng-pristine ng-touched"
                                                    formControlName="pmtType" (change)="changePmtType($event)"
                                                    [ngClass]="{ 'is-invalid': formSubmitted && (f['pmtType'].invalid) }"  
                                                     >
                                                    <option value="M">Cash</option>      
                                                    <option value="B">Bank</option> 
                                                    <option value="H">Happay</option>
                                                    <option value="D">Vendor</option>
                                                    <option value="A">Adjust</option>  
                                                </select>
                                            </div>
                                        </div>
                                   <div class="col-lg-2">                                            
                                            <label for="formrow-inputState">Cheque No</label>
                                            <input numbersonly class="form-control"    
                                                formControlName="chequeNo" maxlength="6" 
                                                [ngClass]="{ 'is-invalid': formSubmitted && (f['chequeNo'].invalid) }">
                                        </div>                 
                                        <div class="col-lg-2">                             
                                            <label for="formrow-inputState">Cheque Date</label>
                                            <input type="date" class="form-control" 
                                                  formControlName="chequeDt"
                                                [ngClass]="{ 'is-invalid': formSubmitted && (f['chequeDt'].invalid) }">
                                        </div>  
                                      <div class="col-lg-3">
                                        <div class="form-check">
                                            <label for="neft" class="form-check-label" style="color: green;"> Neft
                                            </label>
                                            <select id="formrow-inputState" 
                                            class="form-control form-select ng-pristine ng-touched"
                                                formControlName="neftYN" (change)="onNeftChk($event)"
                                                [ngClass]="{ 'is-invalid': formSubmitted && (f['neftYN'].invalid) }">
                                                <!-- <option selected="">Choose...</option> -->
                                                <option value="Y"> Yes</option>
                                                <option value="N"> No</option>                               
                                            </select>
                                        </div>
                                    </div> 
                                         <div class="col-lg-4">
                                        <div class="mb-3">
                                            <label for="basicpill-phoneno-input">Credit Ac </label> <span style="color: red">*</span>          
                                            <select class="form-control form-select ng-pristine ng-touched"
                                            formControlName="creditAc"
                                            [ngClass]="{ 'is-invalid': formSubmitted && (f['creditAc'].invalid) }">
                                            <option value ="">Choose...</option>
                                            <option *ngFor="let branch of creditAcList" value={{branch.dataId}}>
                                                {{branch.dataName}}
                                            </option>
                                        </select>
                                        </div>
                                    </div> 
                                         
                                    </div> 
                                    <div class="row">
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <label for="basicpill-phoneno-input">Remarks</label>
                                            <input type="text" class="form-control" uppercaseonly
                                              formControlName="remarks"
                                            [ngClass]=>
                                            
                                        </div>
                                    </div>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>    
                <!-- <div class="row">                    
                    <div class="col-lg-5">
                        <div class="mb-3">
                            <label style="color: blue"> 
                                <h6><b>Created By:</b>  {{ this.createdBy }} </h6> 
                            </label>                                                 
                        </div>
                    </div>                   
                    <div class="col-lg-5">
                        <div class="mb-3">
                            <label style="color: blue"> 
                                <h6><b>Modified By:</b> {{ this.modifiedBy}} </h6> 
                            </label>                                                 
                        </div>
                    </div>
                   
                </div>   -->
       
                <div class="row text-right">
                    <div class="col-lg-12">
                        <div class="tex">
                            <button class="btn btn-primary w-md" 
                            *ngIf="((editMode && editStatus) || (!editMode && createStatus))"
                            (click)="submitDriversalaryEntryForm()" >Save</button> &nbsp;  
                            <button class="btn btn-danger w-md m-2" *ngIf="editMode && deleteStatus"
                            (click)="deleteDriversalaryentryForm()">Delete</button> &nbsp;
                            <button class="btn btn-secondary w-md" (click)="exit()">Exit</button>
                        </div>
                    </div>
                </div>
            </form>
            <!-- end row -->
        </div>
        <!-- container-fluid -->
    </div>
    <!-- End Page-content -->

</div>


