<div class="main-content">
    <div class="page-content">
        <div class="container-fluid">
            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                        <h4 class="mb-sm-0 font-size-18">Create/Edit Accounts/Ledger</h4>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <div id="basic-example">
                                <section>
                                    <form (keydown.enter)="$event.preventDefault()"[formGroup]="formAccountMaster">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="mb-3">
                                                    <label for="basicpill-firstname-input" class="form-label">Account Name:</label><span style="color:red">*</span>
                                                    <input uppercaseonly type="text" class="form-control" 
                                                        (change)="chkAccountNameExits($event)" 
                                                        [ngClass]="{ 'is-invalid': formSubmitted && (f['accountName'].invalid) }"
                                                          formControlName="accountName">
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="mb-3">
                                                    <label for="basicpill-firstname-input" class="form-label">Account Short Name:</label>
                                                    <input uppercaseonly type="text" class="form-control" 
                                                        [ngClass]="{ 'is-invalid': formSubmitted && (f['accountShortname'].invalid) }"
                                                          formControlName="accountShortname">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-2">
                                                <div class="mb-3">
                                                    <label for="basicpill-lastname-input" class="form-label">Main Group:</label><span style="color:red">*</span>
                                                    <select formControlName="accountType" 
                                                        [ngClass]="{ 'is-invalid': formSubmitted && (f['accountType'].invalid) }"
                                                        class="form-control form-select ng-pristine ng-touched"
                                                        (change)="accountTypeChange($event)">
                                                        <option *ngFor="let acttp of accountTypeList" value={{acttp.dataId}}>
                                                            {{acttp.dataName}}
                                                        </option>
                                                    </select>      
                                                </div>
                                            </div>
                                            <div class="col-lg-5">
                                                <div class="mb-3">
                                                    <label for="basicpill-lastname-input" class="form-label">Sub Group:</label><span style="color:red">*</span>
                                                    <select formControlName="subAccountType" 
                                                        [ngClass]="{ 'is-invalid': formSubmitted && (f['subAccountType'].invalid) }"
                                                        class="form-control form-select ng-pristine ng-touched">                                             
                                                        <option *ngFor="let subacttp of subAccountTypeList" value={{subacttp.dataId}}>
                                                            {{subacttp.dataName}}
                                                        </option>
                                                    </select>   
                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <div class="mb-3">
                                                    <label for="basicpill-lastname-input" class="form-label">Ledger Type:</label><span style="color:red">*</span>
                                                    <select formControlName="accountLedgerType" (change)="chkMandatoryRequired($event)"
                                                        [ngClass]="{ 'is-invalid': formSubmitted && (f['accountLedgerType'].invalid) }"
                                                        class="form-control form-select ng-pristine ng-touched">                                             
                                                        <option *ngFor="let ldg of ledgerList" value={{ldg.dataId}}>
                                                            {{ldg.dataName}}
                                                        </option>
                                                    </select>   
                                                </div>
                                            </div>
                                            <div class="col-lg-2">
                                                <div class="mb-3">
                                                    <label for="basicpill-lastname-input" class="form-label">Status:</label>
                                                    <select formControlName="statusColor" 
                                                        class="form-control form-select ng-pristine ng-touched">                                             
                                                        <option value="">Choose...</option>
                                                        <option value="G">Green</option>
                                                        <option value="O">Orange</option>
                                                        <option value="R">Red</option>
                                                    </select>   
                                                </div>
                                            </div>
                                        </div> 
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="mb-3">
                                                    <label for="basicpill-firstname-input" class="form-label">Address:</label>
                                                    <input uppercaseonly type="text" class="form-control" formControlName="accountAddress1">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="mb-3">
                                                    <input uppercaseonly type="text" class="form-control" formControlName="accountAddress2">
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="mb-3">
                                                    <input uppercaseonly type="text" class="form-control" formControlName="accountAddress3">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-3">
                                                <div class="mb-3">
                                                    <label for="basicpill-lastname-input" class="form-label">City:</label>
                                                    <input uppercaseonly type="text" class="form-control" formControlName="accountAddress4">
                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <div class="mb-3">
                                                    <label for="basicpill-lastname-input" class="form-label">State:</label>
                                                    <select formControlName="stateCode" 
                                                        class="form-control form-select ng-pristine ng-touched">                                             
                                                        <option *ngFor="let stl of statelist" value={{stl.dataId}}>
                                                            {{stl.dataName}}
                                                        </option>
                                                    </select>   
                                                </div>
                                            </div>
                                            <div class="col-lg-2">
                                                <div class="mb-3">
                                                    <label for="basicpill-lastname-input" class="form-label">Pincode:</label>
                                                    <input numbersonly maxlength="6" type="text" autoclose="false" class="form-control" 
                                                    formControlName="pinCode"> 
                                                </div>
                                            </div>
                                            <div class="col-lg-2">
                                                <div class="mb-3">
                                                    <label numbersonly for="basicpill-lastname-input" class="form-label">Phone No:</label>
                                                    <input type="text" maxlength="10" class="form-control" formControlName="accountPhone"> 
                                                </div>
                                            </div>
                                            <div class="col-lg-2">
                                                <div class="mb-3">
                                                    <label numbersonly for="basicpill-lastname-input" class="form-label">Mobile No:</label>
                                                    <input type="text" maxlength="10" class="form-control" formControlName="accountMobile1"> 
                                                </div>
                                            </div>
                                        </div>                                        
                                        <div class="row">
                                            <div class="col-lg-3">
                                                <div class="mb-3">
                                                    <label for="basicpill-lastname-input" class="form-label">A/c Contact:</label>
                                                    <input uppercaseonly type="text" class="form-control" formControlName="accountContact1"> 
                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <div class="mb-3">
                                                    <label for="basicpill-lastname-input" class="form-label">Email:</label>
                                                    <input type="text" class="form-control" formControlName="accountEmail1"> 
                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <div class="mb-3">
                                                    <label for="basicpill-lastname-input" class="form-label">Email 2:</label>
                                                    <input type="text" class="form-control" formControlName="accountEmail2"> 
                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <div class="mb-3">
                                                    <label for="basicpill-lastname-input" class="form-label">Over due Email:</label>
                                                    <input type="text" class="form-control" formControlName="overdueEmail"> 
                                                </div>
                                            </div>
                                        </div>                                         
                                        <div class="row">
                                            <div class="col-lg-3">
                                                <div class="mb-3">
                                                    <label for="basicpill-lastname-input" class="form-label">Esc1 Email:</label>
                                                    <input type="text" class="form-control" formControlName="esc1Email"> 
                                                </div>
                                            </div>
                                             <div class="col-lg-3">
                                                <div class="mb-3">
                                                    <label for="basicpill-lastname-input" class="form-label">Url:</label>
                                                    <input type="text" class="form-control" formControlName="accountUrl"> 
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="mb-3">
                                                    <label for="basicpill-lastname-input" class="form-label">Print Name:</label>
                                                    <input uppercaseonly type="text" class="form-control" formControlName="printName"> 
                                                </div>
                                            </div>
                                        </div>                                     
                                        <div class="row">
                                            <div class="col-lg-3">
                                                <div class="mb-3">
                                                    <label for="basicpill-lastname-input" class="form-label">Credit Limit:</label>
                                                    <input decimalonly type="text" class="form-control" formControlName="accountCreditLimit"> 
                                                </div>
                                            </div>
                                             
                                            <div class="col-lg-3">
                                                <div class="mb-3">
                                                    <label for="basicpill-lastname-input" class="form-label">Credit Days:</label>
                                                    <input numbersonly type="text" class="form-control" formControlName="accountCreditDays"> 
                                                </div>
                                            </div>
                                             <div class="col-lg-3">
                                                <div class="mb-3">
                                                    <label for="basicpill-lastname-input" class="form-label">Overdue Credit Limit:</label>
                                                    <input type="text" class="form-control" formControlName="overdueCreditLimit" numbersonly
                                                    [ngClass]="{ 'is-invalid': formSubmitted && (f['overdueCreditLimit'].invalid) }">
                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <div class="mb-3">
                                                    <label>Apply Credit Limit</label><span style="color: red">*</span>
                                                    <select class="form-control form-select ng-pristine ng-touched"formControlName="applyCreditLimit"
                                                    class="form-control form-select ng-pristine ng-touched"
                                                        [ngClass]="{ 'is-invalid': formSubmitted && (f['applyCreditLimit'].invalid) }">
                                                        <option value="Y">Yes</option>
                                                        <option value="N">NO</option>
                                                </select>
                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <div class="mb-3">
                                                    <label for="basicpill-lastname-input" class="form-label">Security Deposit:</label>
                                                    <input decimalonly type="text" class="form-control" formControlName="accountSecurityDep"> 
                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <div class="mb-3">
                                                    <label for="basicpill-lastname-input" class="form-label">Account BG:</label>
                                                    <input decimalonly type="text" class="form-control" formControlName="accountBG"> 
                                                </div>
                                            </div>
                                        </div>                                    
                                        <div class="row">
                                            <div class="col-lg-2">
                                                <div class="mb-3">
                                                    <label for="basicpill-lastname-input" class="form-label">Interest Rate:</label>
                                                    <input type="text" class="form-control" formControlName="accountInterestRate"> 
                                                </div>
                                            </div>
                                            <div class="col-lg-2">
                                                <div class="mb-3">
                                                    <label for="basicpill-lastname-input" class="form-label">TDS Rate:</label>
                                                    <input type="text" class="form-control" formControlName="tDSRate"> 
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="mb-3">
                                                    <label for="basicpill-lastname-input" class="form-label">Account Rem.Ref:</label>
                                                    <input uppercaseonly type="text" class="form-control" formControlName="accountRemRef"> 
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="mb-3">
                                                    <label for="basicpill-lastname-input" class="form-label">Vendor Code:</label>
                                                    <input uppercaseonly type="text" class="form-control" formControlName="vendorCode"> 
                                                </div>
                                            </div>
                                        </div>                                            
                                        <div class="row">
                                            <div class="col-lg-4">
                                                <div class="mb-3">
                                                    <label for="basicpill-lastname-input" class="form-label">Bank Name:</label>
                                                    <input uppercaseonly type="text" class="form-control" formControlName="bankName"> 
                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <div class="mb-3">
                                                    <label for="basicpill-lastname-input" class="form-label">Bank Branch:</label>
                                                    <input uppercaseonly type="text" class="form-control" formControlName="bankBranch"> 
                                                </div>
                                            </div>
                                        </div>                               
                                        <div class="row">
                                            <div class="col-lg-2">
                                                <div class="mb-3">
                                                    <label for="basicpill-lastname-input" class="form-label">Ifsc Code:</label>
                                                    <input uppercaseonly type="text" class="form-control" formControlName="bankIfsc"> 
                                                </div>
                                            </div>
                                            <div class="col-lg-2">
                                                <div class="mb-3">
                                                    <label for="basicpill-lastname-input" class="form-label">Account Type:</label>
                                                    <select formControlName="bankAcType" 
                                                        class="form-control form-select ng-pristine ng-touched">                                             
                                                        <option value="">Choose...</option>
                                                        <option value="CA">Current Account</option>
                                                        <option value="SB">Savings Bank</option>
                                                    </select> 
                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <div class="mb-3">
                                                    <label for="basicpill-lastname-input" class="form-label">Account No:</label>
                                                    <input type="text" class="form-control" formControlName="bankAcNo"> 
                                                </div>
                                            </div>
                                        </div>                               
                                        <div class="row">
                                            <div class="col-lg-3">
                                                <div class="mb-3">
                                                    <label for="basicpill-lastname-input" class="form-label">PAN No:</label>
                                                    <input uppercaseonly type="text"  (change)="onOwnerPanChange()" 
                                                    class="form-control" formControlName="accountPAN"> 
                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <div class="mb-3">
                                                    <label for="basicpill-lastname-input" class="form-label">GST No:</label>
                                                    <input uppercaseonly type="text" class="form-control" formControlName="accountGstNo"> 
                                                </div>
                                            </div>                                                                                                           
                                            <div class="col-lg-3">
                                                <div class="mb-3">
                                                    <label style="color: red"> 
                                                        <h6>PAN Name: {{ this.panName}} </h6> 
                                                    </label>                                                 
                                                </div>
                                            </div>
                                        </div>  
                                        <div class="row">
                                            <div class="col-lg-3">
                                                <div class="mb-3">
                                                    <label for="basicpill-lastname-input" class="form-label">Liability Type:</label>
                                                    <select formControlName="isExpForLiabilityYN" 
                                                        class="form-control form-select ng-pristine ng-touched">                                             
                                                        <option value="N">NA</option>
                                                        <option value="E">Expense</option>
                                                        <option value="A">Advance</option>
                                                    </select> 
                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <div class="mb-3">
                                                    <label for="basicpill-lastname-input" class="form-label">Party Type:</label>
                                                    <select formControlName="partyType" 
                                                        class="form-control form-select ng-pristine ng-touched">   
                                                        <option value="N">Normal Party</option>
                                                        <option value="C">Contract Validity</option>
                                                    </select> 
                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <div class="mb-3">
                                                    <label for="basicpill-lastname-input" class="form-label">Contract Validity:</label>
                                                    <input bsdatepicker="" type="date" autoclose="false"
                                                           formControlName="contractValidity"
                                                        class="form-control"> 
                                                </div>
                                            </div>
                                        </div>                                                                                    
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="mb-3">
                                                    <label for="basicpill-lastname-input" class="form-label">Account TAN:</label>
                                                    <input uppercaseonly type="text" class="form-control" formControlName="accountTAN"> 
                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <div class="mb-3"> 
                                                     <label>Active (Y/N)</label><span style="color: red">*</span>
                                                    <select class="form-control form-select ng-pristine ng-touched"formControlName="accountStatus"
                                                        class="form-control form-select ng-pristine ng-touched" 
                                                            [ngClass]="{ 'is-invalid': formSubmitted && (f['accountStatus'].invalid) }">
                                                            <option value="Y">Yes</option>
                                                            <option value="N">NO</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>                                                                               
                                        <div class="row"> 
                                            <div class="col-lg-3">
                                                <div class="mb-3">
                                                    <label>Online Active Y/N</label><span style="color: red">*</span>
                                                    <select class="form-control form-select ng-pristine ng-touched"formControlName="onlineActiveYn"
                                                        class="form-control form-select ng-pristine ng-touched" 
                                                        (change)="onOnlineActiveChk($event)"
                                                            [ngClass]="{ 'is-invalid': formSubmitted && (f['onlineActiveYn'].invalid) }">
                                                            <option value="Y">Yes</option>
                                                            <option value="N">NO</option>
                                                    </select>
                                                </div>
                                            </div>                                        
                                            <div class="col-lg-3">
                                                <div class="mb-3">
                                                    <label for="basicpill-lastname-input" class="form-label">User Name:</label>
                                                    <input type="text" class="form-control" formControlName="username"
                                                    [ngClass]="{ 'is-invalid': formSubmitted && (f['username'].invalid) }">
                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <div class="mb-3">
                                                    <label for="basicpill-lastname-input" class="form-label">Password:</label>
                                                    <input type="text" class="form-control" formControlName="password"
                                                    [ngClass]="{ 'is-invalid': formSubmitted && (f['password'].invalid) }">
                                                </div>
                                            </div>
                                        </div>                                                                             
                                        <div class="row">                                        
                                            <div class="col-lg-3">
                                                <div class="mb-3">
                                                    <label>Hide Branch Login</label><span style="color: red">*</span>
                                                    <select class="form-control form-select ng-pristine ng-touched"formControlName="hideBranch"
                                                        class="form-control form-select ng-pristine ng-touched" 
                                                            [ngClass]="{ 'is-invalid': formSubmitted && (f['hideBranch'].invalid) }">
                                                            <option value="Y">Yes</option>
                                                            <option value="N">NO</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <div class="mb-3">                                                   
                                                    <label>Hide For Non-Admin Users</label><span style="color: red">*</span>
                                                    <select class="form-control form-select ng-pristine ng-touched"formControlName="hideNonAdmin"
                                                        class="form-control form-select ng-pristine ng-touched" 
                                                            [ngClass]="{ 'is-invalid': formSubmitted && (f['hideNonAdmin'].invalid) }">
                                                            <option value="Y">Yes</option>
                                                            <option value="N">NO</option>
                                                    </select>
                                                </div>
                                            </div>                             
                                            <div class="col-lg-3">
                                                <div class="mb-3">
                                                    <label>TDS Ledger Y/N</label><span style="color: red">*</span>
                                                    <select class="form-control form-select ng-pristine ng-touched"formControlName="tdsLedgerYN"
                                                        class="form-control form-select ng-pristine ng-touched" 
                                                            [ngClass]="{ 'is-invalid': formSubmitted && (f['tdsLedgerYN'].invalid) }">
                                                            <option value="Y">Yes</option>
                                                            <option value="N">NO</option>
                                                    </select>
                                                </div>
                                            </div> 
                                        </div>                                                                            
                                        <div class="row"> 
                                            <div class="col-lg-3">
                                                <div class="mb-3">
                                                    <label>Is Admin Exp?</label><span style="color: red">*</span>
                                                    <select class="form-control form-select ng-pristine ng-touched"formControlName="isAdminExpYN"
                                                        class="form-control form-select ng-pristine ng-touched" 
                                                            [ngClass]="{ 'is-invalid': formSubmitted && (f['isAdminExpYN'].invalid) }">
                                                            <option value="Y">Yes</option>
                                                            <option value="N">NO</option>
                                                    </select>
                                                </div>
                                            </div>                                     
                                            <div class="col-lg-3">
                                                <div class="mb-3">
                                                    <label>Send Email</label><span style="color: red">*</span>
                                                    <select class="form-control form-select ng-pristine ng-touched"formControlName="sendEmail"
                                                        class="form-control form-select ng-pristine ng-touched" 
                                                            [ngClass]="{ 'is-invalid': formSubmitted && (f['sendEmail'].invalid) }">
                                                            <option value="Y">Yes</option>
                                                            <option value="N">NO</option>
                                                    </select>
                                                </div>
                                            </div>                                        
                                            <div class="col-lg-3">
                                                <div class="mb-3">
                                                    <label>Sub Ledger Applicable</label><span style="color: red">*</span>
                                                    <select class="form-control form-select ng-pristine ng-touched"formControlName="subLedgerYN"
                                                    class="form-control form-select ng-pristine ng-touched"
                                                        [ngClass]="{ 'is-invalid': formSubmitted && (f['subLedgerYN'].invalid) }">
                                                        <option value="Y">Yes</option>
                                                        <option value="N">NO</option>
                                                </select>
                                                </div>
                                            </div>
                                               <div class="col-lg-3">
                                                <div class="mb-3">
                                                    <label>Cn Ref YN</label><span style="color: red">*</span>
                                                    <select class="form-control form-select ng-pristine ng-touched"formControlName="cnRefYN"
                                                    class="form-control form-select ng-pristine ng-touched"
                                                        [ngClass]="{ 'is-invalid': formSubmitted && (f['cnRefYN'].invalid) }">
                                                        <option value="Y">Yes</option>
                                                        <option value="N">NO</option>
                                                </select>
                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <div class="mb-3">
                                                    <label>CostCode YN</label><span style="color: red">*</span>
                                                    <select class="form-control form-select ng-pristine ng-touched"formControlName="costCodeYN"
                                                    class="form-control form-select ng-pristine ng-touched"
                                                        [ngClass]="{ 'is-invalid': formSubmitted && (f['costCodeYN'].invalid) }">
                                                        <option value="Y">Yes</option>
                                                        <option value="N">NO</option>
                                                </select>
                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <div class="mb-3">
                                                    <label for="basicpill-lastname-input" class="form-label">Bill Target Days:</label>
                                                    <input type="text" class="form-control" formControlName="billTargetDays" numbersonly
                                                    [ngClass]="{ 'is-invalid': formSubmitted && (f['billTargetDays'].invalid) }">
                                                </div>
                                            </div>                                            
                                            <div class="col-lg-3">
                                                <div class="mb-3">
                                                    <label>Block Act</label><span style="color: red">*</span>
                                                    <select class="form-control form-select ng-pristine ng-touched"formControlName="blockAct"
                                                    class="form-control form-select ng-pristine ng-touched"
                                                        [ngClass]="{ 'is-invalid': formSubmitted && (f['blockAct'].invalid) }">
                                                        <option value="Y">Yes</option>
                                                        <option value="N">NO</option>
                                                </select>
                                                </div>
                                            </div>
                                        </div>  
                                        <div class="row">                    
                                            <div class="col-lg-5">
                                                <div class="mb-3">
                                                    <label style="color: blue"> 
                                                        <h6><b>Created By:</b>  {{ this.createdBy }} </h6> 
                                                    </label>                                                 
                                                </div>
                                            </div>                   
                                            <div class="col-lg-5">
                                                <div class="mb-3">
                                                    <label style="color: blue"> 
                                                        <h6><b>Modified By:</b> {{ this.modifiedBy}} </h6> 
                                                    </label>                                                 
                                                </div>
                                            </div>
                                        </div>     
                                        <div class="row text-right">
                                            <div class="col-lg-12">
                                                <div class="tex">
                                                    <button class="btn btn-primary w-md" 
                                                    *ngIf="((editMode && editStatus) || (!editMode && createStatus)) && !formSubmitted"
                                                        (click)="submitFinAccountMasterForm()">Save</button>&nbsp;
                                                    <button class="btn btn-danger w-md m-2" *ngIf="editMode && deleteStatus"
                                                        (click)="deleteFinAccountMasterForm()">Delete</button>&nbsp;
                                                    <button class="btn btn-secondary w-md" (click)="exit()">Exit</button>
                                                </div>
                                            </div>
                                            <!-- end col -->
                                        </div>                                                                                        
                                    </form>
                                    
                                </section>
                                <!-- Attachment Details -->
                            </div>
                        </div>
                        <!-- end card body -->
                    </div>
                    <!-- end card -->
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
            <!-- end row -->
            <!-- end row -->
        </div>
        <!-- container-fluid -->
    </div>
    <!-- End Page-content -->
</div>
