
<div class="main-content">
    <div class="page-content">
        <div class="container-fluid">
            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                        <h4 class="mb-sm-0 font-size-18">Spares Lubes Master</h4>
                    </div>
                </div>
            </div>
            <!-- end page title -->
            <form (keydown.enter)="$event.preventDefault()"[formGroup]="formSparesMaster">
                <div class="ng-untouched ng-pristine ng-valid">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-lg-3">
                                            <div class="mb-2">
                                                <label for="formrow-inputZip">Spare/Lub Name</label>
                                                <span style="color: red">*</span>
                                                <input uppercaseonly type="text" class="form-control"    (change)="chkSpareDuplicate()"
                                                formControlName="spareLubName"   
                                                [ngClass]="{ 'is-invalid': formSubmitted && (f['spareLubName'].invalid) }">
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">Spare/Lub Type</label>
                                                <span style="color: red">*</span>
                                                <select formControlName="spareLubType" 
                                                    class="form-control form-select ng-pristine ng-touched"
                                                    [ngClass]="{ 'is-invalid': formSubmitted && (f['spareLubType'].invalid) }">
                                                    <option value="S">Spare</option>
                                                    <option value="L">Lubcricant</option>
                                                    <option value="M">Service</option>
                                                </select> 
                                            </div>
                                        </div> 
                                    </div>   
                                    <div class="row">  
                                    </div>  
                                    <div class="row">                                        
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">Schedule/Other</label>
                                                <span style="color: red">*</span>
                                                <select formControlName="sch_Oth" 
                                                    class="form-control form-select ng-pristine ng-touched"
                                                    [ngClass]="{ 'is-invalid': formSubmitted && (f['sch_Oth'].invalid) }">
                                                    <option value="S">Schedule</option>
                                                    <option value="O">Other</option>
                                                </select> 
                                            </div>
                                        </div> 
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">LifeType</label>
                                                <span style="color: red">*</span>
                                                <select formControlName="lifeType" 
                                                    class="form-control form-select ng-pristine ng-touched"
                                                    [ngClass]="{ 'is-invalid': formSubmitted && (f['lifeType'].invalid) }">
                                                    <option value="K">KMS</option>
                                                    <option value="D">Days</option>
                                                </select> 
                                            </div>
                                        </div> 
                                    </div>     <div class="row">                                        
                                        
                                    </div> 
                                    <div class="row">
                                        <div class="col-lg-3">
                                            <div class="mb-2">
                                                <label for="formrow-inputZip">Life Expectancy</label>
                                                <span style="color: red">*</span>
                                                <input uppercaseonly type="text" class="form-control"   numbersonly
                                                formControlName="lifeExpectancy"   
                                                [ngClass]="{ 'is-invalid': formSubmitted && (f['lifeExpectancy'].invalid) }">
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">Is Active</label>
                                                <span style="color: red">*</span>
                                                <select formControlName="isActive" 
                                                    class="form-control form-select ng-pristine ng-touched"
                                                    [ngClass]="{ 'is-invalid': formSubmitted && (f['isActive'].invalid) }">
                                                    <option value="Y">Yes</option>
                                                    <option value="N">No</option>
                                                </select> 
                                            </div>
                                        </div> 
                                     
                                    </div>   
                                   
                                    <div class="row">
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">Inventroy YN</label>                                             
                                                <select formControlName="inventroyYN" (change)="onInverntory($event)"
                                                    class="form-control form-select ng-pristine ng-touched"
                                                    [ngClass]="{ 'is-invalid': formSubmitted && (f['inventroyYN'].invalid) }">
                                                    <option value="Y">Yes</option>
                                                    <option value="N">No</option>
                                                </select> 
                                            </div>
                                        </div> 
                                    </div>   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>    
                <div class="ng-untouched ng-pristine ng-valid">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title mb-4"></h4>
                                    <table class="table table-bordered dt-responsive nowrap w-100 no-border-table">
                                        <tr>
                                            <td class="col-lg-2">
                                                <label for="formrow-inputZip">
                                                    <h6>Godown </h6>
                                                </label>
                                            </td>
                                            <td class="col-lg-2">
                                                <label for="formrow-inputZip">
                                                    <h6>Brand </h6>
                                                </label>
                                            </td>
                                            <td class="col-lg-1">
                                                <label for="formrow-inputZip">
                                                    <h6>Opening Qty</h6>
                                                </label>
                                            </td>
                                            <td class="col-lg-2">
                                                <label for="formrow-inputZip">
                                                    <h6>Opening Value</h6>
                                                </label>
                                            </td>  
                                            <td class="col-lg-2">
                                                <label for="formrow-inputZip">
                                                    <h6>Action</h6>
                                                </label>
                                            </td>
                                        </tr>
                                        <tr formArrayName="arrayList"
                                            *ngFor="let arrayData of formArray.controls; let i = index">
                                            <div [formGroupName]="i" class="grid-table">
                                                <td class="col-lg-2">
                                                    <select class="form-control form-select ng-pristine ng-touched"
                                                        formControlName="godownId" (change)="checkduplicate(i)"
                                                        class="form-control form-select ng-pristine ng-touched"   
                                                        [ngClass]="">
                                                            <option *ngFor="let vehi of godownList" value={{vehi.dataId}}>
                                                            {{vehi.dataName}}
                                                            </option>
                                                    </select>
                                                </td>
                                                <td class="col-lg-2">
                                                    <select class="form-control form-select ng-pristine ng-touched"
                                                        formControlName="brandId" (change)="checkduplicate(i)"
                                                        class="form-control form-select ng-pristine ng-touched"   
                                                        [ngClass]="">
                                                            <option *ngFor="let vehi of brandList" value={{vehi.dataId}}>
                                                            {{vehi.dataName}}
                                                            </option>
                                                    </select>
                                                </td>
                                                <td class="col-lg-1">
                                                    <input autoclose="false"  numbersonly class="form-control" 
                                                        formControlName="openingQty" >

                                                </td>
                                                <td class="col-lg-2">
                                                    <input autoclose="false" class="form-control"
                                                    uppercaseonly   formControlName="openingValue">

                                                </td>    
                                                <td class="col-lg-4">
                                                    <div class="col-lg-4 details-button">
                                                        <button *ngIf="i === formArray.controls.length-1" type="button"
                                                            class="btn btn-add" (click)="addItem(i)"></button>
                                                        <button *ngIf="formArray.controls.length > 1"
                                                            (click)="removeItem(i)" class="btn btn-delete"></button>
                                                    </div>
                                                </td>
                                            </div>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>       
                <div class="row text-right">
                    <div class="col-lg-12">
                        <div class="tex">
                            <button class="btn btn-primary w-md" 
                            *ngIf="((editMode && editStatus) || (!editMode && createStatus)) && !formSubmitted"
                            (click)="submitSparesLubesMasterForm()" >Save</button> &nbsp;  
                            <button class="btn btn-danger w-md m-2"  *ngIf="editMode && deleteStatus"
                            (click)="deleteSparesLubesMasterForm()">Delete</button> &nbsp;
                            <button class="btn btn-secondary w-md" (click)="exit()">Exit</button>
                        </div>
                    </div>
                </div>
            </form>
            <!-- end row -->
        </div>
        <!-- container-fluid -->
    </div>
    <!-- End Page-content -->

</div>
