
<div class="main-content">
    <div class="page-content">
        <div class="container-fluid">
            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                        <h4 class="mb-sm-0 font-size-18">Bank Cash Contra</h4>

                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item">Bank Cash Contra</li>
                                <li class="breadcrumb-item active">Bank Cash Contra</li>
                            </ol>
                        </div>

                    </div>
                </div>
            </div>
            <!-- end page title -->
            <form [formGroup]="formUser">
                <div class="ng-untouched ng-pristine ng-valid">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title mb-4">Details</h4>
                                    
                                    <div class="row">
                                        <div class="col-lg-3">
                                        
                                            <label for="formrow-inputState">Document No</label>
                                            <input class="form-control" placeholder="Vendor invoice No">
                                        
                                    </div>
                                    <div class="col-lg-3">
                                       
                                        <label for="formrow-inputState">Trans Date</label>
                                        <input type="date" class="form-control" placeholder="Trans Date">
                                    
                                </div>
                           
                            <div class="col-lg-3">
                             
                                    <label for="formrow-inputCity">Select Account </label>
                                 
                                    <select class="form-control"
                                    formControlName="accountId" [ngClass]="">

                                    <option *ngFor="let branch of creditacList"
                                        value={{branch.dataId}}>

                                        {{branch.dataName}}
                                    </option>
                                </select>
                            
                            </div>
                                  
                            <div class="col-lg-3">
                                
                                <div class="form-check">
                                    <input type="checkbox" formControlName="neftPmt" id="neft"
                                        name="neft" class="form-check-input" >
                                    <label for="neft" class="form-check-label"> Atm/Others 
                                    </label>
                                </div>
                          
                            </div>
                            <div class="col-lg-3">
                                <div class="mb-3">
                                </div>
                            </div>
    
                                </div>
                               
                            
                       

                                    <div class="row">
                                      
                                       
                                        <div class="col-lg-3">
                              
                                            <label for="formrow-inputState">Account Name</label>
                                            <input class="form-control" placeholder="" formControlName="accountId">
                                
                                    </div>
                                    <div class="col-lg-1">
                                  
                                        <label for="formrow-inputState">Amount</label>
                                        <input class="form-control" placeholder=""  formControlName="amount">
                            
                                </div>
                                <div class="col-lg-2">
                                  
                                    <label for="formrow-inputState">Cheque No</label>
                                    <input class="form-control" placeholder=""  formControlName="chequeName">
                        
                            </div>
                            <div class="col-lg-2">
                                       
                                <label for="formrow-inputState">Cheque Date</label>
                                <input type="date" class="form-control" placeholder="Cheque Date" formControlName="chequeDate">
                            
                        </div>
                                    
                                       
                                        <div class="col-lg-4">
                                            <div class="mb-4">
                                                <label for="formrow-inputState">Narration</label>
                                                <input class="form-control" placeholder="" formControlName="narration">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="mb-6">
                                                <label for="formrow-inputState">Remark</label>
                                                <input class="form-control" placeholder="" formControlName="remarks">
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="mb-2">
                                  
                                            <label for="formrow-inputState"> Doc Amount</label>
                                            <input class="form-control" placeholder="" formControlName="docAmount">
                                            </div>
                                
                                    </div>

                                    
                
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="mb-6">
                                            <label for="formrow-inputState"> Modify Remark</label>
                                            <input class="form-control" placeholder="" formControlName="modifyRemarks">
                                        </div>
                                    </div>
                       
                 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
             
                                 
                                     
                                      
                                        
                                    
                                
                                      
                                   
           
                

                <div class="row text-right">
                    <div class="col-lg-12">
                        <div class="tex">
                            <button type="submit" class="btn btn-primary w-md"  (click)="submitBankCashContraForm()">Save</button>
                        </div>
                    </div>
                </div>
            </form>
            <!-- end row -->
            <!-- end row -->
        </div>
        <!-- container-fluid -->
    </div>
    <!-- End Page-content -->
</div>