
<div class="main-content">
    <div class="page-content">
        <div class="container-fluid">
            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                        <h4 class="mb-sm-0 font-size-18">Bank Cash Contra</h4>
                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item">Bank Cash Contra</li>
                                <li class="breadcrumb-item active">Bank Cash Contra</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end page title -->
            <form [formGroup]="formBankContra">
                <div class="ng-untouched ng-pristine ng-valid">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title mb-4">Details</h4>                                    
                                    <div class="row">
                                        <div class="col-lg-2">
                                            <label for="formrow-inputState">Document Series</label>
                                            <input class="form-control" placeholder="" 
                                                formControlName="docSeries">
                                        </div>
                                        <div class="col-lg-2">
                                            <label for="formrow-inputState">Document No</label>
                                            <label for="formrow-inputState">.</label>
                                            <input class="form-control" placeholder="" 
                                                formControlName="docNo"
                                                [ngClass]="{ 'is-invalid': userSubmitted && (f['docNo'].invalid) }">
                                        </div>
                                        <div class="col-lg-2">
                                            <label for="formrow-inputState">Trans Date</label>
                                            <input type="date" class="form-control" placeholder="" 
                                                formControlName="ftmDate"
                                                [ngClass]="{ 'is-invalid': userSubmitted && (f['ftmDate'].invalid) }">
                                        </div>                 
                                        <div class="col-lg-3">  
                                            <label for="formrow-inputZip">Account Name</label>
                                            <select class="form-control"
                                                formControlName="accountid2"  
                                                [ngClass]="{ 'is-invalid': userSubmitted && (f['accountid2'].invalid) }">
                                                <option *ngFor="let branch of creditacList"
                                                    value={{branch.dataId}}>
                                                    {{branch.dataName}}
                                                </option>
                                            </select>                
                                        </div>                              
                                        <div class="col-lg-3">                                
                                            <div class="form-check">
                                                <input type="checkbox" formControlName="neftPmt" 
                                                    class="form-check-input" >
                                                <label for="neft" class="form-check-label"> NEFT / RTGS, Bank Charges, Bank Interest, EMI, ECS Payment
                                                </label>
                                            </div>                          
                                        </div>                
                                    </div>  <br />                                  
                                    <div class="row">                    
                                        <div class="col-lg-3">    
                                                <label for="formrow-inputZip">Utr No</label>
                                                <input uppercaseonly class="form-control" placeholder=""  formControlName="utrNo">
                                        </div>                                
                                        <div class="col-lg-3">                                                      
                                            <label for="formrow-inputState">Narration</label>
                                            <input class="form-control" placeholder="" 
                                                formControlName="narration">
                                        </div>    
                                    </div>   <br />                                        
                                    <div class="row">
                                        <div class="col-lg-2">
                                            <label for="formrow-inputState">Account Name</label>
                                            <select class="form-control" formControlName="accountID"
                                            [ngClass]="{ 'is-invalid': userSubmitted && (f['accountID'].invalid) }">
                                                    <option *ngFor="let branch of creditacList" 
                                                        value={{branch.dataId}}>
                                                        {{branch.dataName}}
                                                    </option>
                                            </select> 
                                        </div>
                                        <div class="col-lg-2">                                                                             
                                            <label for="formrow-inputState">Amount</label>
                                            <input decimalonly class="form-control" placeholder=""  
                                                formControlName="amount"
                                                [ngClass]="{ 'is-invalid': userSubmitted && (f['amount'].invalid) }">
                                        </div>
                                        <div class="col-lg-2">                                            
                                            <label for="formrow-inputState">Cheque No</label>
                                            <input numbersonly class="form-control" placeholder=""  
                                                formControlName="chequeNo">
                                        </div>                 
                                        <div class="col-lg-3">                             
                                            <label for="formrow-inputState">Cheque Date</label>
                                            <input type="date" class="form-control" 
                                                placeholder="" formControlName="chequeDate">
                                        </div>  
                                    </div>   
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="mb-6">
                                                <label for="formrow-inputState">Remark</label>
                                                <input class="form-control" placeholder="" formControlName="remarks">
                                            </div>
                                        </div>                               
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="mb-6">
                                                <label for="formrow-inputState">Modify Remark</label>
                                                <input class="form-control" placeholder="" formControlName="modifyRemarks">
                                            </div>
                                        </div>   
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>           
                <div class="row text-right">
                    <div class="col-lg-12">
                        <div class="tex">
                            <button class="btn btn-primary w-md"
                                (click)="submitBankCashContraForm()">Save</button>&nbsp;
                            <button class="btn btn-danger w-md m-2" *ngIf="editMode && deleteStatus"
                                (click)="deleteBankCashContraForm()">Delete</button>&nbsp;
                            <button class="btn btn-secondary w-md" (click)="exit()">Exit</button>
                        </div>
                    </div>
                </div>
            </form>
            <!-- end row -->
            <!-- end row -->
        </div>
        <!-- container-fluid -->
    </div>
    <!-- End Page-content -->
</div>