<div class="main-content">
    <div class="page-content">
       <div class="container-fluid">
          <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                        <h4 class="mb-sm-0 font-size-18">DPR Indent Entry</h4>
                    </div>
                </div>
            </div>
          <!-- end page title -->
            <form (keydown.enter)="$event.preventDefault()"[formGroup]="formUser">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">  
                                <div class="row">
                                    <div class="col-sm-2">
                                        <div class="mb-3">
                                            <label>Booked At: </label><span style="color: red">*</span> 
                                            <select id="scope" class="form-select" formControlName="dprBranch"
                                            class="form-control form-select ng-pristine ng-touched"
                                            [ngClass]="{ 'is-invalid': userSubmitted && (f['dprBranch'].invalid) }">
                                                <option *ngFor="let br of branchList" value={{br.dataId}}>
                                                    {{br.dataName}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="mb-3">
                                            <label >DPR Date: </label><span style="color: red">*</span>  
                                            <input type="date" class="form-control" 
                                            min="{{minDate}}" max="{{maxDate}}" formControlName="dprDate" 
                                            [ngClass]="{ 'is-invalid': userSubmitted && (f['dprDate'].invalid) }">
                                        </div>
                                    </div>
                                    <div class="col-lg-5">
                                        <div class="mb-3">
                                            <label for="formrow-inputCity">Party: </label><span style="color: red">*</span>  
                                            <div class="ng-autocomplete">
                                                <ng-autocomplete [data]="partyList" 
                                                    formControlName="payParty"
                                                    [searchKeyword]="keywordLocation" 
                                                    [itemTemplate]="itemTemplate"
                                                    [notFoundTemplate]="notFoundTemplate"
                                                    [customFilter]="startWithFilter"
                                                    [ngClass]="{ 'is-invalid': userSubmitted && (f['payParty'].invalid) }">
                                                </ng-autocomplete>

                                                <ng-template #itemTemplate let-item>
                                                    <a [innerHTML]="item.dataName"></a>
                                                </ng-template>

                                                <ng-template #notFoundTemplate let-notFound>
                                                    <div [innerHTML]="notFound"></div>
                                                </ng-template>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-2">
                                        <div class="mb-3">
                                            <label for="formrow-inputState">Book Status: </label><span style="color: red">*</span>  
                                            <select id="formrow-inputState" 
                                            class="form-control form-select ng-pristine ng-touched"
                                                formControlName="bookStatus"
                                                [ngClass]="{ 'is-invalid': userSubmitted && (f['bookStatus'].invalid) }">
                                                <option selected="">Choose...</option>
                                                <option value="TBB">TBB</option>
                                                <option value="TP">To Pay</option>
                                                <option value="Paid">Paid</option>
                                                <option value="FOC">FOC</option>                                                
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3">
                                        <div class="mb-3">
                                            <label for="formrow-inputZip">From Place: </label><span style="color: red">*</span>  
                                            <div class="ng-autocomplete">
                                                <ng-autocomplete [data]="locationList" 
                                                    formControlName="origin"
                                                    [searchKeyword]="keywordLocation"
                                                    [itemTemplate]="itemTemplate" 
                                                    [notFoundTemplate]="notFoundTemplate"
                                                    [customFilter]="startWithFilter"
                                                    [ngClass]="{'is-invalid': userSubmitted && (f['origin'].invalid)}" >
                                                </ng-autocomplete>
                                                <ng-template #itemTemplate let-item>
                                                    <a [innerHTML]="item.dataName"></a>
                                                </ng-template>
                                                <ng-template #notFoundTemplate let-notFound>
                                                    <div [innerHTML]="notFound"></div>
                                                </ng-template>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="mb-3">
                                            <label for="formrow-inputZip">To Place: </label><span style="color: red">*</span>  
                                            <div class="ng-autocomplete">
                                                <ng-autocomplete [data]="locationList" 
                                                    formControlName="destination"
                                                    [searchKeyword]="keywordLocation"
                                                    [itemTemplate]="itemTemplate" 
                                                    [notFoundTemplate]="notFoundTemplate"
                                                    [customFilter]="startWithFilter"
                                                    [ngClass]="{'is-invalid': userSubmitted && (f['destination'].invalid)}" >
                                                </ng-autocomplete>
                                                <ng-template #itemTemplate let-item>
                                                    <a [innerHTML]="item.dataName"></a>
                                                </ng-template>
                                                <ng-template #notFoundTemplate let-notFound>
                                                    <div [innerHTML]="notFound"></div>
                                                </ng-template>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="mb-3">
                                            <label>Vehical Type: </label><span style="color: red">*</span>  
                                            <select id="scope" class="form-select" formControlName="vehicleTypeId"
                                            class="form-control form-select ng-pristine ng-touched"
                                            [ngClass]="{ 'is-invalid': userSubmitted && (f['vehicleTypeId'].invalid) }">
                                                <option *ngFor="let veh of vehicalTypeList" value={{veh.dataId}}>
                                                    {{veh.dataName}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>                                    
                                    <div class="col-lg-3">
                                        <div class="mb-3">
                                            <label for="formrow-inputZip">Business By </label>
                                            <div class="ng-autocomplete">
                                                <ng-autocomplete [data]="businessByList" 
                                                    formControlName="businessBy"
                                                    [searchKeyword]="keywordLocation" placeholder=""
                                                    (selected)='selectEvent($event)' 
                                                    (inputChanged)='onChangeSearch($event)'
                                                    (inputFocused)='onFocused($event)' 
                                                    [itemTemplate]="itemTemplate"
                                                    [notFoundTemplate]="notFoundTemplate" 
                                                    [customFilter]="startWithFilter">
                                                </ng-autocomplete>
                                                <ng-template #itemTemplate let-item>
                                                    <a [innerHTML]="item.dataName"></a>
                                                </ng-template>
                                                <ng-template #notFoundTemplate let-notFound>
                                                    <div [innerHTML]="notFound"></div>
                                                </ng-template>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-2">
                                        <div class="mb-3">
                                            <label>Actual Wt: </label>
                                            <input decimalonly type="text" class="form-control" 
                                            formControlName="actualWt" >
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="mb-3">
                                            <label>Charged Wt: </label>
                                            <input decimalonly type="text" class="form-control" 
                                            formControlName="chargeWt" >
                                        </div>
                                    </div>                             
                                    <div class="col-sm-2">
                                        <div class="mb-3">
                                            <label>Rate Type: </label><span style="color: red">*</span>  
                                            <select id="scope" class="form-select" formControlName="rateType"
                                            class="form-control form-select ng-pristine ng-touched"
                                            [ngClass]="{ 'is-invalid': userSubmitted && (f['rateType'].invalid) }">
                                                <option *ngFor="let rate of rateTypeList" value={{rate.dataId}}>
                                                    {{rate.dataName}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="mb-3">
                                            <label>Rate: </label>
                                            <input decimalonly type="text" class="form-control" 
                                            formControlName="rateRs" (change)="calcFrt()" >
                                        </div>
                                    </div>   
                                </div> 
                                <div class="row">
                                    <div class="col-sm-2">
                                        <div class="mb-3">
                                            <label>Booking Frt: </label>
                                            <input decimalonly type="text"
                                            class="form-control" (change)="calcRate()" 
                                            formControlName="freightRs" >
                                        </div>
                                    </div>       
                                    <div class="col-sm-3">
                                        <div class="mb-3">
                                            <label>Dimension: </label>
                                            <input uppercaseonly type="text" class="form-control" 
                                            formControlName="odcDimensions" >
                                        </div>
                                    </div>   
                                </div> 
                                <div class="row">
                                    <div class="col-sm-2">
                                        <div class="mb-3">
                                            <label>Hamali: </label>
                                            <input decimalonly type="text" 
                                            class="form-control" (change)="calcTotal()" 
                                            formControlName="hamaliAmt" >
                                        </div>
                                    </div>       
                                    <div class="col-sm-6">
                                        <div class="mb-3">
                                            <label>Hamali Desc: </label>
                                            <input uppercaseonly type="text" class="form-control" 
                                            maxlength="200" formControlName="hamaliDesc" 
                                            [ngClass]="{ 'is-invalid': userSubmitted && (f['hamaliDesc'].invalid) }">
                                        </div>
                                    </div>   
                                </div> 
                                <div class="row">
                                    <div class="col-sm-2">
                                        <div class="mb-3">
                                            <label>LD Detain: </label>
                                            <input decimalonly type="text" 
                                            class="form-control" (change)="calcTotal()" 
                                            formControlName="ldDetenAmt" >
                                        </div>
                                    </div>       
                                    <div class="col-sm-6">
                                        <div class="mb-3">
                                            <label>LD Detain Desc: </label>
                                            <input uppercaseonly type="text" class="form-control" 
                                            maxlength="200" formControlName="ldDetenDesc" 
                                            [ngClass]="{ 'is-invalid': userSubmitted && (f['ldDetenDesc'].invalid) }">
                                        </div>
                                    </div>   
                                </div> 
                                <div class="row">
                                    <div class="col-sm-2">
                                        <div class="mb-3">
                                            <label>Extra Chrgs: </label>
                                            <input decimalonly type="text"
                                            class="form-control" (change)="calcTotal()" 
                                            formControlName="extraAmt" >
                                        </div>
                                    </div>       
                                    <div class="col-sm-6">
                                        <div class="mb-3">
                                            <label>Extra Chrgs Desc: </label>
                                            <input uppercaseonly type="text" class="form-control" 
                                            maxlength="200" formControlName="extraDesc" 
                                            [ngClass]="{ 'is-invalid': userSubmitted && (f['extraDesc'].invalid) }">
                                        </div>
                                    </div>   
                                </div> 
                                <div class="row">
                                    <div class="col-sm-2">
                                        <div class="mb-3">
                                            <label>Other Chrgs: </label>
                                            <input decimalonly type="text" 
                                            class="form-control" (change)="calcTotal()" 
                                            formControlName="otherAmt" >
                                        </div>
                                    </div>       
                                    <div class="col-sm-6">
                                        <div class="mb-3">
                                            <label>Other Chrgs Desc: </label>
                                            <input uppercaseonly type="text" class="form-control" 
                                            maxlength="200" formControlName="otherDesc" 
                                            [ngClass]="{ 'is-invalid': userSubmitted && (f['otherDesc'].invalid) }">
                                        </div>
                                    </div>   
                                </div> 
                                <div class="row">
                                    <div class="col-sm-2">
                                        <div class="mb-3">
                                            <label>Tot Freight: </label>
                                            <input decimalonly type="text" class="form-control" 
                                            formControlName="totFreightAmt" 
                                            [ngClass]="{ 'is-invalid': userSubmitted && (f['totFreightAmt'].invalid) }">
                                        </div>
                                    </div> 
                                    <div class="col-lg-4">
                                        <div class="mt-3">
                                            <label for="formDLFile" class="form-label">
                                                Attachment
                                            </label>
                                            <input #attachmentInput class="form-control" type="file"
                                                id="formAttFile" accept="image/*">
                                        </div>
                                    </div> 
                                </div> 
                            </div>                  
                            <!-- end card body -->
                        </div>                     
                        <!-- end card -->
                    </div>
                </div>                 
                <div class="ng-untouched ng-pristine ng-valid">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title mb-4"></h4>
                                    <table class="table table-bordered dt-responsive nowrap w-100 no-border-table">
                                        <tr>
                                            <td class="col-lg-2">
                                                <label for="formrow-inputZip">
                                                    <h6>Cns From<span style="color: red">*</span>  </h6>
                                                </label>
                                            </td>
                                            <td class="col-lg-2">
                                                <label for="formrow-inputZip">
                                                    <h6>Cns To<span style="color: red">*</span>  </h6>
                                                </label>
                                            </td>
                                            <td class="col-lg-2">
                                                <label for="formrow-inputZip">
                                                    <h6>Special Remarks </h6>
                                                </label>
                                            </td>
                                            <td class="col-lg-2">
                                                <label for="formrow-inputZip">
                                                </label>
                                            </td>
                                        </tr>
                                        <tr formArrayName="arrayList"
                                            *ngFor="let arrayData of formArray.controls; let i = index">
                                            <div [formGroupName]="i" class="grid-table">
                                                <td class="col-lg-2">
                                                    <div class="ng-autocomplete">
                                                        <ng-autocomplete [data]="locationList"
                                                            [searchKeyword]="keywordLocation" 
                                                            [itemTemplate]="itemTemplate"
                                                            [notFoundTemplate]="notFoundTemplate"
                                                            [customFilter]="startWithFilter"
                                                            formControlName="fromPlace">
                                                        </ng-autocomplete>

                                                        <ng-template #itemTemplate let-item>
                                                            <a [innerHTML]="item.dataName"></a>
                                                        </ng-template>

                                                        <ng-template #notFoundTemplate let-notFound>
                                                            <div [innerHTML]="notFound"></div>
                                                        </ng-template>
                                                    </div>
                                                </td>
                                                <td class="col-lg-2">
                                                    <div class="ng-autocomplete">
                                                        <ng-autocomplete [data]="locationList"
                                                            [searchKeyword]="keywordLocation" 
                                                            [itemTemplate]="itemTemplate"
                                                            [notFoundTemplate]="notFoundTemplate"
                                                            [customFilter]="startWithFilter"
                                                            formControlName="toPlace">
                                                        </ng-autocomplete>

                                                        <ng-template #itemTemplate let-item>
                                                            <a [innerHTML]="item.dataName"></a>
                                                        </ng-template>

                                                        <ng-template #notFoundTemplate let-notFound>
                                                            <div [innerHTML]="notFound"></div>
                                                        </ng-template>
                                                    </div>
                                                </td>
                                                <td class="col-lg-2">
                                                    <input uppercaseonly autoclose="false" class="form-control"
                                                        formControlName="specialRemarks">
                                                </td>
                                                <td class="col-lg-2">
                                                    <div class="col-lg-4 details-button">
                                                        <button *ngIf="i === formArray.controls.length-1" type="button"
                                                            class="btn btn-add" (click)="addItem(i)"></button>
                                                        <button *ngIf="formArray.controls.length > 1"
                                                            (click)="removeItem(i)" class="btn btn-delete"></button>
                                                    </div>                                        
                                                </td>
                                            </div>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>                
                <div class="row">                    
                    <div class="col-lg-5">
                        <div class="mb-3">
                            <label style="color: blue"> 
                                <h6><b>Created By:</b>  {{ this.createdBy }} </h6> 
                            </label>                                                 
                        </div>
                    </div>                   
                    <div class="col-lg-5">
                        <div class="mb-3">
                            <label style="color: blue"> 
                                <h6><b>Modified By:</b> {{ this.modifiedBy}} </h6> 
                            </label>                                                 
                        </div>
                    </div>
                    <!-- end col -->
                </div>                  
                <div class="row text-right">
                    <div class="col-lg-12">
                        <div class="tex">
                            <button class="btn btn-primary w-md" 
                                *ngIf="((editMode && editStatus) || (!editMode && createStatus)) && !this.userSubmitted"
                                (click)="submitDprDetails()">Save</button>&nbsp;
                            <button class="btn btn-danger w-md m-2" *ngIf="editMode && deleteStatus"
                                (click)="deleteDprDetailsForm()">Delete</button>&nbsp;
                            <button class="btn btn-secondary w-md" (click)="exit()">Exit</button>
                        </div>
                    </div>
                    <!-- end col -->
                </div> 
            </form>
           <!-- end row -->
        </div>
        <!-- container-fluid -->
    </div>
     <!-- End Page-content -->
</div>
