<div class="main-content">
    <div class="page-content">
       <div class="container-fluid">
          <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                        <h4 class="mb-sm-0 font-size-18">Sub Ledger Master</h4>
                    </div>
                </div>
            </div>
          <!-- end page title -->
            <form (keydown.enter)="$event.preventDefault()"[formGroup]="formUser">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body"> 
                                <div class="row">
                                    <div class="col-lg-3">
                                        <div class="mb-3">
                                            <label  for="formrow-inputState">Ledger Ac</label>
                                            <span style="color: red">*</span>
                                            <input uppercaseonly type="text" class="form-control"
                                                formControlName="ledgerAc"                                                 
                                                [ngClass]="{ 'is-invalid': formSubmitted && (f['ledgerAc'].invalid) }">
                                        </div>
                                    </div>
                                    
                                    
                                                                       
                                </div> 
                                <div class="row">
                                    <div class="col-lg-3">
                                        <div class="mb-3">
                                            <label  for="formrow-inputState">Create Or Predefined</label>
                                            <span style="color: red">*</span>
                                            <select id="formrow-inputState" class="form-select"  formControlName="createOrPredefined"    
                                            class="form-control form-select ng-pristine ng-touched"                                            
                                            [ngClass]="{ 'is-invalid': formSubmitted && (f['createOrPredefined'].invalid) }"
                                               >
                                                <option value="">Choose...</option>
                                                <option value="C">Create</option>
                                                <option value="P">Predefined</option>
                                            
                                            </select>
                                        </div>
                                    </div>    
                                    <div class="col-lg-3">
                                        <div class="mb-3">
                                            <label  for="formrow-inputState">Validate With DocNo</label>
                                            <span style="color: red">*</span>
                                            <input uppercaseonly type="text" class="form-control"
                                                formControlName="validateWithDocNo"                                                 
                                                [ngClass]="{ 'is-invalid': formSubmitted && (f['validateWithDocNo'].invalid) }">
                                        </div>
                                    </div>   
                                    <div class="col-lg-3">
                                        <div class="mb-3">
                                            <label  for="formrow-inputState">Validate Table</label>
                                            <span style="color: red">*</span>
                                            <input uppercaseonly type="text" class="form-control"
                                                formControlName="validateTable"                                                 
                                                [ngClass]="{ 'is-invalid': formSubmitted && (f['validateTable'].invalid) }">
                                        </div>
                                    </div>      
                                    <div class="col-lg-3">
                                        <div class="mb-3">
                                            <label  for="formrow-inputState">Validate TableField</label>
                                            <span style="color: red">*</span>
                                            <input uppercaseonly type="text" class="form-control"
                                                formControlName="validateTableField"                                                 
                                                [ngClass]="{ 'is-invalid': formSubmitted && (f['validateTableField'].invalid) }">
                                        </div>
                                    </div>                                    
                                    
                                    
                                  
                                </div> 
                                <div class="row">   
                                    
                                    
                                    <!-- <div class="col-sm-3">
                                        <div class="mb-3">
                                            <label>Vendor State </label><span style="color: red">*</span> 
                                            <select class="form-control" formControlName="vendorState"      
                                            [ngClass]="{ 'is-invalid': userSubmitted && (f['vendorState'].invalid) }">
                                                <option *ngFor="let state of stateList" value={{state.dataId}}>
                                                   {{state.dataName}}
                                                </option>
                                             </select>
                                        </div>
                                    </div>   -->
                                   
                                   
                                    
                                   
                                </div>             
                            </div>                  
                            <!-- end card body -->
                        </div>                     
                        <!-- end card -->
                    </div>
                </div>  
                <div class="ng-untouched ng-pristine ng-valid">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="overflow-x">
                                        <table class="table table-bordered dt-responsive nowrap w-100 no-border-table full-grid-width">
                                            <tr>
                                               
                                                <th><label for="formrow-inputCity">Sub Ledger Desc</label></th>   
                                                <th><label for="formrow-inputCity">Action</label></th> 
                                            </tr>
                                            <tr formArrayName="arrayList"
                                                    *ngFor="let arrayData of formSubArray.controls; let i = index">
                                                <div [formGroupName]="i" class="grid-table">
                                                   
                                                    <td>                                     
                                                        <input autoclose="false" class="form-control"
                                                        formControlName="subLedgerDesc"> 
                                                    </td>
                                                    <td>                                     
                                                        <div class="col-lg-4 details-button">
                                                            <button *ngIf="i === formSubArray.controls.length-1" type="button"
                                                                class="btn btn-add" (click)="addItem(i)"></button>
                                                            <button *ngIf="formSubArray.controls.length > 1"
                                                                (click)="removeItem(i)" class="btn btn-delete"></button>
                                                        </div>   
                                                    </td>
                                                </div>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                       
                         
                    </div>  
                    <div class="row">
                       
                       
                       
                       
                      
                    </div>  
                    <div class="row">                                                                        
                      
                      
                    </div> 
                    <div class="row">                                                               
                         
                        <!-- <div class="col-sm-3">
                            <div class="mb-3">
                                <label>Branch Code: </label>
                                <select class="form-control" formControlName="branchCode"
                                    [ngClass]="{ 'is-invalid': formSubmitted && (f['branchCode'].invalid) }">
                                    <option *ngFor="let branch of branchList" value={{branch.dataId}}>
                                        {{branch.dataName}}
                                    </option>
                                </select>
                            </div>
                        </div>                                -->
                                                            
                    </div>                     
                </div>         
                <div class="row text-right">
                    <div class="col-lg-12">
                        <div class="tex">
                            <button class="btn btn-primary w-md" 
                             *ngIf="((editMode && editStatus) || (!editMode && createStatus))"
                                (click)="submitSubLedgerMasterForm()">Save</button>&nbsp;                            
                            <button class="btn btn-danger w-md m-2" *ngIf="editMode && deleteStatus"
                                (click)="ledgerMasterDelete()">Delete</button>&nbsp;
                            <button class="btn btn-secondary w-md" (click)="exit()">Exit</button>
                        </div>
                    </div>
                    <!-- end col -->
                </div> 
            </form>
           <!-- end row -->
        </div>
        <!-- container-fluid -->
    </div>
     <!-- End Page-content -->
</div>



