

<div class="main-content">
    <div class="page-content">
        <div class="container-fluid">
            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                        <h4 class="mb-sm-0 font-size-18">Freight Master Gst</h4>
                    </div>
                </div>
            </div>
            <!-- end page title -->
            <div class="row top-controls">
                <div class="col-sm-10 col-md-10">
                    <form (keydown.enter)="$event.preventDefault()"[formGroup]="formFilter">
                        <div class="row">
                        </div>
                    </form>
                </div>
                <div class="col-sm-2 col-md-2 text-right">
                    <button class="btn btn-primary buttons-html5" type="button" 
                        (click)="freightgstmasterAdd()"><span>New</span></button>
                </div>
            </div>
            <div id="datatable_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                <div class="overflow-x">
                <table datatable [dtOptions]="dtOptions" class="table table-bordered dt-responsive nowrap w-100">
                    <thead>
                        <tr>
                            <th>chCostDesc</th>
                            <th>sacCode</th>
                            <th>gstPct</th>
                            <th>chCostDesc</th>
                            <th>sacCode</th>
                            <th>gstPct</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="allGstTypes.gstList?.length != 0">
                        <tr *ngFor="let branch  of allGstTypes.gstList">                             
                            <td>
                                <button type="button" class="btn btn-edit" 
                                (click)="getFreightGstMasterList(branch)"></button>             
                            </td>  
                            <td>{{ branch.freightDesc }}</td>
                            <td>{{ branch.sacCode }}</td>                            
                            <td>{{ branch.sgstPct }}</td>
                            <td>{{ branch.cgstPct }}</td>
                            <td>{{ branch.igstPct }}</td>
                            <td>{{ branch.linkColumn }}</td>   
                        </tr>
                    </tbody>
                    <tbody *ngIf="allGstTypes.gstList?.length == 0">
                        <tr>
                            <td colspan="3" class="no-data-available">No data!</td>
                        </tr>
                    </tbody>
                </table>
                </div>
            </div>
        </div>
        <!-- container-fluid -->
    </div>
    <!-- End Page-content -->
</div>



