<div class="main-content">
    <div class="page-content">
        <div class="container-fluid">
            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                        <h4 class="mb-sm-0 font-size-18">Cash Book Summary</h4>
                    </div>
                </div>
            </div>
            <!-- end page title -->
            <div class="row top-controls">
                <div class="col-sm-12 col-md-12">
                    <form (keydown.enter)="$event.preventDefault()"[formGroup]="formFilter">
                        <div class="row">
                            <div class="col-lg-2">
                                <div class="mb-3">
                                    <label for="formrow-inputZip">From Date</label> 
                                    <input bsdatepicker="" type="date" autoclose="false" 
                                          min="{{minDate}}" max="{{maxDate}}"
                                        formControlName="fromDate" class="form-control">
                                </div>
                            </div>       
                            <div class="col-lg-2">
                                <div class="mb-3">
                                    <label for="formrow-inputZip">To Date</label> 
                                    <input bsdatepicker="" type="date" autoclose="false" 
                                          min="{{minDate}}" max="{{maxDate}}"
                                        formControlName="toDate" class="form-control">
                                </div>
                            </div>  
                                <div class="col-md-4">
                                <div class="mb-3">
                                    <label for="formrow-inputCity">Account</label>
                                    <select class="form-control form-select ng-pristine ng-touched"formControlName="accountID" 
                                    [ngClass]="{ 'is-invalid': formSubmitted && (f['accountID'].invalid) }">
                                        <option *ngFor="let branch of creditacList" value={{branch.dataId}}>
                                            {{branch.dataName}}
                                        </option>
                                    </select>
                                </div>
                            </div>                        
                            <div class="col-lg-2">
                                <div class="mt-3">
                                    <button class="btn btn-primary"   
                                    (click)="search()"><span>Search</span></button>
                                </div>
                            </div>                      
                            <div class="col-lg-2">
                                <div class="mt-3">
                                    <button class="btn btn-primary"   
                                    (click)="openTrail()"><span>Open Trail Bal</span></button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>                
            </div>
            <h6>Note:-<span style="color: red"> Only Ref Type = 'OTHERS' can be editable </span></h6>
            <div  style=" max-height: 350px; overflow-y: auto;" id="datatable_wrapper" 
                class="dataTables_wrapper dt-bootstrap4 no-footer">
                <div id="datatable_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                    <table datatable [dtOptions]="dtOptions" class="table table-bordered dt-responsive w-100">
                        <thead>
                            <tr style="position: sticky; top: 0; background: #fff; z-index: 10; border-bottom: 2px solid #ccc;">                 
                                <th style="width: 15px;">edit</th> 
                                <th style="width: 20px;">billStmtNo</th>                             
                                <th style="width: 20px;">billStmtDate</th>
                                <th style="width: 20px;">fromDate</th>
                                <th>location</th>
                                <th style="width: 20px;">location</th>
                                <th style="width: 20px;">Action</th>
                                <th style="width: 20px;">Action</th>
                            </tr>
                        </thead>
                        <tbody *ngIf="allLedger.ledgerList?.length != 0">
                            <tr *ngFor="let dsl of allLedger.ledgerList">                      
                                <td style="width: 15px;">
                                    <button *ngIf="dsl.docType!='' && dsl.refType=='OTHERS'" type="button" class="btn btn-edit" 
                                    (click)="getCashReceiptEntryDetails(dsl)"></button> 
                                </td> 
                                <td style="width: 20px;">{{ dsl.ftmDate}}</td>                            
                                <td style="width: 20px;">{{ dsl.docNo}}</td> 
                                <td style="width: 20px;">{{ dsl.refType}}</td>                       
                                <td style="word-break:normal; word-wrap: break-word;">
                                    <div>{{ dsl.narration }}</div>
                                    <div *ngIf="dsl.cheqDtls!=''">{{ dsl.cheqDtls }}</div>
                                    <div *ngIf="dsl.referenceDesc!=''">{{ dsl.referenceDesc }}</div>
                                </td>
                                <td style="width: 20px;">{{ dsl.drAmt}}</td> 
                                <td style="width: 20px;">{{ dsl.crAmt}}</td> 
                                <td style="width: 20px;">{{ dsl.balAmt}}</td> 
                            </tr>
                        </tbody>
                        <tbody *ngIf="allLedger.ledgerList?.length == 0">
                            <tr>
                                <td colspan="3" class="no-data-available">No data!</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>            
        </div>
        <!-- container-fluid -->
    </div>
    <!-- End Page-content -->
</div>



