
<div class="main-content">
    <div class="page-content">
        <div class="container-fluid">
            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                        <h4 class="mb-sm-0 font-size-18">Define LHPM Slabs</h4>
                    </div>
                </div>
            </div>
            <!-- end page title -->
            <form (keydown.enter)="$event.preventDefault()"[formGroup]="formLhpmMaster">
                <div class="ng-untouched ng-pristine ng-valid">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-lg-3">
                                            <div class="mb-2">
                                                <label for="formrow-inputZip">Veh Group Code</label>
                                                <span style="color: red">*</span>                                               
                                                <select formControlName="vehCode"
                                                class="form-control form-select ng-pristine ng-touched"
                                                [ngClass]="{ 'is-invalid': formSubmitted && (f['vehCode'].invalid) }">
                                                <option *ngFor="let dl of vehicalType" value={{dl.dataId}}>
                                                    {{dl.dataName}}
                                                </option>
                                            </select>
                                            </div>
                                        </div>
                                    </div>   
                                    <div class="row">                                        
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">From Date</label>
                                                <span style="color: red">*</span>
                                                <input type="date" class="form-control" 
                                                formControlName="fromDt"    
                                                [ngClass]="{ 'is-invalid': formSubmitted && (f['fromDt'].invalid) }">
                                            </div>
                                        </div> 
                                    </div>  
                                    <div class="row">                                        
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">To Date</label>
                                                <span style="color: red">*</span>
                                                <input  type="date" class="form-control" 
                                                formControlName="toDt"    
                                                [ngClass]="{ 'is-invalid': formSubmitted && (f['toDt'].invalid) }">
                                            </div>
                                        </div> 
                                    </div>  
                                    <div class="row">                                        
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">Lhpm Amount</label>
                                                <span style="color: red">*</span>
                                                <input decimalonly autocomplete="off" type="text" class="form-control"  
                                                formControlName="lhpmAmt"    
                                                [ngClass]="{ 'is-invalid': formSubmitted && (f['lhpmAmt'].invalid) }">
                                            </div>
                                        </div> 
                                    </div> 
                                    <div class="row">                                        
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">Hire From</label>
                                                <span style="color: red">*</span>
                                                <input decimalonly autocomplete="off" type="text" class="form-control" 
                                                formControlName="hireFrom"    
                                                [ngClass]="{ 'is-invalid': formSubmitted && (f['hireFrom'].invalid) }">
                                            </div>
                                        </div> 
                                    </div> 
                                    <div class="row">                                        
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">Hire To</label>
                                                <span style="color: red">*</span>
                                                <input decimalonly autocomplete="off" type="text" class="form-control"
                                                formControlName="hireTo"    
                                                [ngClass]="{ 'is-invalid': formSubmitted && (f['hireTo'].invalid) }">
                                            </div>
                                        </div> 
                                    </div> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>           
                <div class="row text-right">
                    <div class="col-lg-12">
                        <div class="tex">
                            <button class="btn btn-primary w-md" 
                            *ngIf="((editMode && editStatus) || (!editMode && createStatus)) && !formSubmitted"
                            (click)="submitLhpmSlabMasterForm()" >Save</button> &nbsp;  
                            <button class="btn btn-danger w-md m-2" *ngIf="editMode && deleteStatus"
                            (click)="deleteLhpmSlabMasterForm()">Delete</button> &nbsp;
                            <button class="btn btn-secondary w-md" (click)="exit()">Exit</button>
                        </div>
                    </div>
                </div>
            </form>
            <!-- end row -->
        </div>
        <!-- container-fluid -->
    </div>
    <!-- End Page-content -->

</div>
