

<div class="main-content">
    <div class="page-content">
        <div class="container-fluid">
            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                        <h4 class="mb-sm-0 font-size-18">Product  Master</h4>

                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                               
                            </ol>
                        </div>

                    </div>
                </div>
            </div>
            <!-- end page title -->
            <div class="row top-controls">
                <div class="col-sm-12 col-md-12 text-right">
                    <div class="dt-buttons btn-group flex-wrap export-button">
                        <!-- <button class="btn btn-secondary buttons-excel buttons-html5" tabindex="0"
                            aria-controls="datatable-buttons" type="button"><span>Excel</span></button>
                        <button class="btn btn-secondary buttons-pdf buttons-html5" tabindex="0"
                            aria-controls="datatable-buttons" type="button"><span>PDF</span></button> -->
                    </div>
                    <button class="btn btn-primary buttons-html5" type="button"
                    (click)="addProductmaster()"><span>New</span></button>
                </div>
            </div>
            <div id="datatable_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                <table datatable [dtOptions]="dtOptions" class="table table-bordered dt-responsive nowrap w-100">
                    <thead>
                        <tr>
                            <th>Centre Name</th>
                      
                            <th>State Code</th>
                         
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="allProductMaster.productmasterList?.length != 0">
                        <tr *ngFor="let productmaster of allProductMaster.productmasterList">
                            <td>{{ productmaster.productName }}</td>
                    
                            <td>{{ productmaster.isActive }}</td>
                         
                            <td>
                                <a (click)="getproductMasterDetails(productmaster)" class="actionicon"><i
                                    class="bx bx-pencil"></i></a>
                           
                            </td>
                        </tr>
                    </tbody>
                    <tbody *ngIf="allProductMaster.productmasterList?.length == 0">
                        <tr>
                            <td colspan="3" class="no-data-available">No data!</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- container-fluid -->
    </div>
    <!-- End Page-content -->
</div>