<div class="main-content">
    <div class="page-content">
        <div class="container-fluid">
            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                        <h4 class="mb-sm-0 font-size-18">Booking Register</h4>
                    </div>
                </div>
            </div>
            <!-- end page title -->
            <div class="row top-controls">
                <div class="col-sm-10 col-md-10">
                    <form (keydown.enter)="$event.preventDefault()"[formGroup]="formFilter">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="mb-3">
                                    <label for="formrow-inputState">From Date </label><span style="color: red">*</span>    
                                    <input type="date" class="form-control" 
                                    formControlName="fromDate" min="{{minDate}}" max="{{maxDate}}"
                                    [ngClass]="{ 'is-invalid': formSubmitted && (f['fromDate'].invalid) }">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="mb-3">
                                    <label for="formrow-inputState">To Date </label><span style="color: red">*</span>    
                                    <input type="date" class="form-control" 
                                    formControlName="toDate" min="{{minDate}}" max="{{maxDate}}"
                                    [ngClass]="{ 'is-invalid': formSubmitted && (f['toDate'].invalid) }">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="mb-3">
                                    <label for="formrow-inputState">Branch </label>
                                    <select class="form-control form-select ng-pristine ng-touched"formControlName="branch">
                                        <option value=""> ALL </option>
                                        <option *ngFor="let branch of branchList" value={{branch.dataId}}>
                                            {{branch.dataName}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-7">
                                <div class="mb-3">                                    
                                    <label for="formrow-inputCity">Party </label>  
                                    <div class="ng-autocomplete">
                                        <ng-autocomplete [data]="partyList"
                                            [searchKeyword]="keywordLocation"  
                                            formControlName="party"  
                                            (inputChanged)='onChangeSearch($event)'
                                            (inputFocused)='onFocused($event)' 
                                            [itemTemplate]="itemTemplate"
                                            [notFoundTemplate]="notFoundTemplate"
                                            [customFilter]="startWithFilter">
                                        </ng-autocomplete>

                                        <ng-template #itemTemplate let-item>
                                            <a [innerHTML]="item.dataName"></a>
                                        </ng-template>

                                        <ng-template #notFoundTemplate let-notFound>
                                            <div [innerHTML]="notFound"></div>
                                        </ng-template>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="mb-3">                                    
                                    <label for="formrow-inputCity">Origin </label>  
                                    <div class="ng-autocomplete">
                                        <ng-autocomplete [data]="locationList"
                                            [searchKeyword]="keywordLocation"  
                                            formControlName="origin"  
                                            (inputChanged)='onChangeSearch($event)'
                                            (inputFocused)='onFocused($event)' 
                                            [itemTemplate]="itemTemplate"
                                            [notFoundTemplate]="notFoundTemplate"
                                            [customFilter]="startWithFilter">
                                        </ng-autocomplete>

                                        <ng-template #itemTemplate let-item>
                                            <a [innerHTML]="item.dataName"></a>
                                        </ng-template>

                                        <ng-template #notFoundTemplate let-notFound>
                                            <div [innerHTML]="notFound"></div>
                                        </ng-template>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="mb-3">                                    
                                    <label for="formrow-inputCity">Destination </label>  
                                    <div class="ng-autocomplete">
                                        <ng-autocomplete [data]="locationList"
                                            [searchKeyword]="keywordLocation"  
                                            formControlName="destination"  
                                            (inputChanged)='onChangeSearch($event)'
                                            (inputFocused)='onFocused($event)' 
                                            [itemTemplate]="itemTemplate"
                                            [notFoundTemplate]="notFoundTemplate"
                                            [customFilter]="startWithFilter">
                                        </ng-autocomplete>

                                        <ng-template #itemTemplate let-item>
                                            <a [innerHTML]="item.dataName"></a>
                                        </ng-template>

                                        <ng-template #notFoundTemplate let-notFound>
                                            <div [innerHTML]="notFound"></div>
                                        </ng-template>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="mb-3">
                                    <label for="formrow-inputState">Series </label>
                                    <select formControlName="gcSeries"
                                        class="form-control form-select ng-pristine ng-touched">
                                        <option value="">Choose...</option>
                                        <option *ngFor="let dl of seriesList" value={{dl.dataId}}>
                                            {{dl.dataName}}
                                        </option>
                                    </select> 
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="mb-3">
                                    <label for="formrow-inputState">Vehicle No </label>
                                    <input class="form-control" formControlName="vehicleNo">
                                </div>
                            </div>
                            <div class="col-lg-1">
                                <div class="mt-3">
                                    <button class="btn btn-primary"   
                                    (click)="search()"><span>Search</span></button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-sm-2 col-md-2 text-right">
                    <div class="dt-buttons btn-group flex-wrap export-button">
                        <button class="btn btn-secondary buttons-excel buttons-html5" tabindex="0"
                            aria-controls="datatable-buttons" type="button" 
                            (click)="exportExcel('S')"><span>Short Excel</span></button>&nbsp;
                        <button class="btn btn-secondary buttons-excel buttons-html5" tabindex="0"
                            aria-controls="datatable-buttons" type="button" 
                            (click)="exportExcel('L')"><span>Excel</span></button>
                    </div>
                </div>
            </div>
            <!-- <div class="overflow-x"> -->
            <div class="table-container"> 
                <table class="table table-bordered table-striped dt-responsive nowrap w-100 no-border-table full-grid-rpt-width">
                    <thead>
                        <tr>
                            <th>Booked At	    </th>
                            <th>Booking Date	</th>
                            <th>Booking Status	</th>
                            <th>LR No	</th>
                            <th>From Location	</th>
                            <th>To Location	</th>
                            <th>Kms	</th>
                            <th>Consignor	</th>
                            <th>Cnor Gst	</th>
                            <th>Invoice No	</th>
                            <th>Eway Bill No	</th>
                            <th>Eway Bill Exp Date	</th>
                            <th>Consignee	</th>
                            <th>Cnee Gst	</th>
                            <th>Cnee Mobile	</th>
                            <th>Truck No	</th>
                            <th>Actual Wt	</th>
                            <th>Charge wt	</th>
                            <th>Product Name	</th>
                            <th>Product Desc	</th>
                            <th>Packing Type	</th>
                            <th>No Packages	</th>
                            <th>Veh Type	</th>
                            <th>Freight	</th>
                            <th>Statistical	</th>
                            <th>Fov	</th>
                            <th>Door Coll	</th>
                            <th>Handling	</th>
                            <th>Loading Detn	</th>
                            <th>Enroute	</th>
                            <th>Misc	</th>
                            <th>Door Delv	</th>
                            <th>UnLoading	</th>
                            <th>UnLoading Detn	</th>
                            <th>Extras	</th>
                            <th>Others	</th>
                            <th>Sub Total	</th>
                            <th>Grand Total	</th>
                            <th>Business Incharge	</th>
                            <th>Billing Party	</th>
                            <th>Billed YN	</th>
                            <th>Bill No	</th>
                            <th>Bill Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr  
                            *ngFor="let eta of allBookingregisterrptlist.bookingRegisterRptList;">                        
                            <td>{{ eta.bookedAt }}</td>
                            <td>{{ eta.bookingDate }}</td>
                            <td>{{ eta.bookingStatus }}</td>
                            <td>{{ eta.gcNoteNo }}</td>
                            <td>{{ eta.fromLocation }}</td>
                            <td>{{ eta.toLocation }}</td>
                            <td>{{ eta.kms }}</td>
                            <td>{{ eta.consignor }}</td>
                            <td>{{ eta.cnorGst }}</td>
                            <td>{{ eta.invoiceNo }}</td>
                            <td>{{ eta.ewayBillNo }}</td>
                            <td>{{ eta.ewayBillExpDate }}</td>
                            <td>{{ eta.consignee }}</td>
                            <td>{{ eta.cneeGst }}</td>
                            <td>{{ eta.cneeMobile }}</td>
                            <td>{{ eta.truckNo }}</td>
                            <td>{{ eta.actualWt }}</td>
                            <td>{{ eta.chargewt }}</td>
                            <td>{{ eta.productName }}</td>
                            <td>{{ eta.productDesc }}</td>
                            <td>{{ eta.packingType }}</td>
                            <td>{{ eta.noPackages }}</td>
                            <td>{{ eta.vehType }}</td>        
                            <td>{{ eta.freight }}</td>
                            <td>{{ eta.statistical }}</td>
                            <td>{{ eta.fov }}</td>
                            <td>{{ eta.doorColl }}</td>
                            <td>{{ eta.handling }}</td>
                            <td>{{ eta.loadingDetn }}</td>
                            <td>{{ eta.enroute }}</td>
                            <td>{{ eta.misc }}</td>
                            <td>{{ eta.doorDelv }}</td>
                            <td>{{ eta.unLoading }}</td>
                            <td>{{ eta.unLoadingDetn }}</td>
                            <td>{{ eta.extras }}</td>
                            <td>{{ eta.others }}</td>
                            <td>{{ eta.subTotal }}</td>
                            <td>{{ eta.grandTotal }}</td>
                            <td>{{ eta.businessIncharge }}</td>
                            <td>{{ eta.billingParty }}</td>
                            <td>{{ eta.billedYN }}</td>
                            <td>{{ eta.billNo }}</td>
                            <td>{{ eta.billDate }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>                      
            <!-- <div id="datatable_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">                
                <div class="overflow-x">
                    <table datatable [dtOptions]="dtOptions" class="table table-bordered dt-responsive w-100">
                        <thead>
                            <tr>
                                <th>bookedAt</th>
                                <th>bookingDate </th>   
                                <th>bookingStatus</th>
                                <th>gcNoteNo </th>   
                                <th>fromLocation</th>
                                <th>toLocation</th>
                                <th>cnorName </th>  
                                <th>ewayBillNo </th>
                                <th>ewayBillExpDate</th>
                                <th>cneeName</th>
                                <th>productName </th>   
                                <th>freightRs</th>
                                <th>subTotalRs</th>
                                <th>gtotalRs </th>  
                                <th>businessIncharge </th>
                                <th>billingParty</th>
                            </tr>
                        </thead>
                        <tbody *ngIf="allBookingregisterrptlist.bookingRegisterRptList?.length != 0">
                            <tr *ngFor="let eta of allBookingregisterrptlist.bookingRegisterRptList">
                                <td>{{ eta.bookedAt }}</td>
                                <td>{{ eta.bookingDate }}</td> 
                                <td>{{ eta.bookingStatus }}</td> 
                                <td>{{ eta.gcNoteNo }}</td> 
                                <td>{{ eta.fromLocation }}</td>
                                <td>{{ eta.toLocation }}</td> 
                                <td>{{ eta.cnorName }}</td>
                                <td>{{ eta.ewayBillNo }}</td>
                                <td>{{ eta.ewayBillExpDate }}</td>  
                                <td>{{ eta.cneeName }}</td> 
                                <td>{{ eta.productName }}</td> 
                                <td>{{ eta.freightRs }}</td>
                                <td>{{ eta.subTotalRs }}</td> 
                                <td>{{ eta.gtotalRs }}</td>
                                <td>{{ eta.businessIncharge }}</td>
                                <td>{{ eta.billingParty }}</td>                       
                            </tr>
                        </tbody>
                        <tbody *ngIf="allBookingregisterrptlist.bookingRegisterRptList?.length == 0">
                            <tr>
                                <td colspan="3" class="no-data-available">No data!</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div> -->
        </div>
        <!-- container-fluid -->
    </div>
    <!-- End Page-content -->
</div>



