
<div class="main-content">
    <div class="page-content">
        <div class="container-fluid">
            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                        <h4 class="mb-sm-0 font-size-18">DPR Vehicle Placement</h4>
                    </div>
                </div>
            </div>
            <div class="row top-controls">
                <div class="col-sm-10 col-md-10">
                    <form (keydown.enter)="$event.preventDefault()"[formGroup]="formFilter">
                        <div class="row">
                            <div class="col-md-2">
                                <div class="mb-3">
                                    <label for="formrow-inputState">From Date</label>
                                    <input type="date" class="form-control" formControlName="fromDate" 
                                    min="{{minDate}}" max="{{maxDate}}"
                                    [ngClass]="{ 'is-invalid': formSubmitted && (f['fromDate'].invalid) }">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="mb-3">
                                    <label for="formrow-inputState">To Date</label>
                                    <input type="date" class="form-control" formControlName="toDate" 
                                    min="{{minDate}}" max="{{maxDate}}"
                                    [ngClass]="{ 'is-invalid': formSubmitted && (f['toDate'].invalid) }">
                                </div>
                            </div>                             
                            <div class="col-lg-3">
                                <div class="mb-3">
                                    <label for="formrow-inputCity">Party</label>
                                    <div class="ng-autocomplete">
                                        <ng-autocomplete [data]="partyList" 
                                            formControlName="payParty"
                                            [searchKeyword]="keywordLocation" 
                                            [itemTemplate]="itemTemplate"
                                            [notFoundTemplate]="notFoundTemplate"
                                            [customFilter]="startWithFilter">
                                        </ng-autocomplete>

                                        <ng-template #itemTemplate let-item>
                                            <a [innerHTML]="item.dataName"></a>
                                        </ng-template>

                                        <ng-template #notFoundTemplate let-notFound>
                                            <div [innerHTML]="notFound"></div>
                                        </ng-template>
                                    </div>
                                </div>
                            </div> 
                            <div class="col-md-2">
                                <div class="mb-3">
                                    <label for="formrow-inputState">Vehicle No</label>
                                    <input class="form-control" formControlName="vehicleNo" >
                                </div>
                            </div>  
                            <div class="col-sm-3">
                                <div class="mb-3">
                                    <label>Engaged By: </label>
                                    <select id="scope"  formControlName="vehicleEngagedBy"
                                    class="form-control form-select ng-pristine ng-touched">
                                        <option *ngFor="let emp of empList" value={{emp.dataId}}>
                                            {{emp.dataName}}
                                        </option>
                                    </select>
                                </div>
                            </div>       
                        </div>                        
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="mb-3">
                                    <label>Assign To: </label>
                                    <select id="scope" 
                                     formControlName="assignToStaff"
                                    class="form-control form-select ng-pristine ng-touched" >
                                        <option *ngFor="let emp of empList" value={{emp.dataId}}>
                                            {{emp.dataName}}
                                        </option>
                                    </select>
                                </div>
                            </div> 
                            <div class="col-lg-4">
                                <div class="mb-3">
                                    <label for="formrow-inputZip">Broker </label>
                                    <div class="ng-autocomplete">
                                        <ng-autocomplete [data]="brokerList" formControlName="brokerId"
                                            [searchKeyword]="keywordLocation"  
                                            [itemTemplate]="itemTemplate"
                                            [notFoundTemplate]="notFoundTemplate" 
                                            [customFilter]="startWithFilter">
                                        </ng-autocomplete>
                                        <ng-template #itemTemplate let-item>
                                            <a [innerHTML]="item.dataName"></a>
                                        </ng-template>
                                        <ng-template #notFoundTemplate let-notFound>
                                            <div [innerHTML]="notFound"></div>
                                        </ng-template>
                                    </div>
                                </div>
                            </div>    
                        </div>                        
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="mb-3">
                                    <label for="formrow-inputZip">From Place: </label>
                                    <div class="ng-autocomplete">
                                        <ng-autocomplete [data]="locationList" 
                                            formControlName="origin"
                                            [searchKeyword]="keywordLocation"
                                            [itemTemplate]="itemTemplate" 
                                            [notFoundTemplate]="notFoundTemplate"
                                            [customFilter]="startWithFilter" >
                                        </ng-autocomplete>
                                        <ng-template #itemTemplate let-item>
                                            <a [innerHTML]="item.dataName"></a>
                                        </ng-template>
                                        <ng-template #notFoundTemplate let-notFound>
                                            <div [innerHTML]="notFound"></div>
                                        </ng-template>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="mb-3">
                                    <label for="formrow-inputZip">To Place: </label>
                                    <div class="ng-autocomplete">
                                        <ng-autocomplete [data]="locationList" 
                                            formControlName="destination"
                                            [searchKeyword]="keywordLocation"
                                            [itemTemplate]="itemTemplate" 
                                            [notFoundTemplate]="notFoundTemplate"
                                            [customFilter]="startWithFilter" >
                                        </ng-autocomplete>
                                        <ng-template #itemTemplate let-item>
                                            <a [innerHTML]="item.dataName"></a>
                                        </ng-template>
                                        <ng-template #notFoundTemplate let-notFound>
                                            <div [innerHTML]="notFound"></div>
                                        </ng-template>
                                    </div>
                                </div>
                            </div>             
                            <div class="col-lg-2">
                                <div class="mt-3">
                                    <button class="btn btn-primary"   
                                        (click)="search()"><span>Search</span></button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            <!-- end page title -->            
            <div id="datatable_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                <div class="overflow-x">                  
                    <table datatable [dtOptions]="dtOptions" class="table table-bordered dt-responsive nowrap w-100">
                       <thead>
                            <tr>
                                <th>dprDate </th>                          
                                <th>fromPlace </th>
                                <th>toPlace</th>  
                                <th>partyName</th> 
                                <th>partyName</th> 
                                <th>vehicleNo </th>   
                                <th>brokerName</th>    
                                <th>lorryHire</th>     
                                <th>adv1</th>     
                                <th>adv2</th>                              
                                <th>Action</th>   
                            </tr>
                        </thead>
                        <tbody *ngIf="allDprlist.dprVehiList?.length != 0">
                            <tr *ngFor="let dpr of allDprlist.dprVehiList">
                                <td>                                  
                                    <button type="button" class="btn btn-edit"
                                        (click)="getdprVehiDetails(dpr)"></button>                               
                                </td>                            
                                <td>{{ dpr.dprDate }}</td>  
                                <td>{{ dpr.fromPlace }}</td>                        
                                <td>{{ dpr.toPlace }}</td>                          
                                <td>{{ dpr.partyName }}</td>                         
                                <td>{{ dpr.noofLr }}</td> 
                                <td>{{ dpr.vehicleNo }}</td>                          
                                <td>{{ dpr.brokerName }}</td>                         
                                <td>{{ dpr.lorryHire }}</td>                         
                                <td>{{ dpr.adv1PaidYN }}</td>                       
                                <td>{{ dpr.adv2PaidYN }}</td>     
                            </tr>
                        </tbody>
                        <tbody *ngIf="allDprlist.dprVehiList?.length == 0">
                            <tr>
                                <td colspan="3" class="no-data-available">No data!</td>
                            </tr>
                        </tbody>
                    </table> 
                </div>
            </div>
        </div>
        <!-- container-fluid -->
    </div>
    <!-- End Page-content -->
</div>


