<div class="main-content">
    <div class="page-content">
        <div class="container-fluid">
            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                        <h4 class="mb-sm-0 font-size-18">Bill Master (Supp)</h4>
                    </div>
                </div>
            </div>
            <div class="row top-controls">
                <div class="col-sm-8 col-md-8">
                    <form (keydown.enter)="$event.preventDefault()"[formGroup]="formFilter">
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="mb-3">
                                    <label for="formrow-inputZip">From Date</label> 
                                    <input bsdatepicker="" type="date" autoclose="false" 
                                          min="{{minDate}}" max="{{maxDate}}"
                                        formControlName="fromDate" class="form-control">
                                </div>
                            </div>       
                            <div class="col-lg-3">
                                <div class="mb-3">
                                    <label for="formrow-inputZip">To Date</label> 
                                    <input bsdatepicker="" type="date" autoclose="false" 
                                          min="{{minDate}}" max="{{maxDate}}"
                                        formControlName="toDate" class="form-control">
                                </div>
                            </div>       
                            <div class="col-lg-3">
                                <div class="mb-3">
                                    <label for="formrow-inputZip">Bill Stmt No</label> 
                                    <input autoclose="false" 
                                        formControlName="bill_StmtNo" class="form-control">
                                </div>
                            </div>                             
                            <div class="col-lg-2">
                                <div class="mt-3">
                                    <button class="btn btn-primary"   
                                    (click)="search()"><span>Search</span></button>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="mb-3">
                                    <label for="formrow-inputZip">Print Sign</label> 
                                    <select id="role" class="form-select" formControlName="printSign">
                                        <option value="Y">Yes</option>
                                        <option value="N">No </option>                                  
                                    </select>
                                </div>
                            </div>     
                        </div>
                    </form>
                </div>
                <div class="col-sm-4 col-md-4 text-right">
                    <div class="dt-buttons btn-group flex-wrap export-button">
                        <!-- <button class="btn btn-secondary buttons-excel buttons-html5" tabindex="0"
                            aria-controls="datatable-buttons" type="button"><span>Excel</span></button>
                        <button class="btn btn-secondary buttons-pdf buttons-html5" tabindex="0"
                            aria-controls="datatable-buttons" type="button"><span>PDF</span></button> -->
                    </div>
                    <button class="btn btn-primary buttons-html5" type="button"
                        (click)=" billsMasterAdd()"  *ngIf="createStatus"><span>New</span></button>
                </div>
            </div>
            <div id="datatable_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                <div class="overflow-x">
                    <table datatable [dtOptions]="dtOptions" class="table table-bordered dt-responsive nowrap w-100">
                        <thead>
                            <tr>
                                <th>billingStation </th>                          
                                <th>billNo </th> 
                                <th>billDate</th>
                                <th>party</th>  
                                <th>collectionBranch</th>    
                                <th>totalGtotal</th>                        
                                <th>Action</th>                        
                                <th>Action</th> 
                            </tr>
                        </thead>
                        <tbody *ngIf="allBillsMaster.billsList?.length != 0">
                            <tr *ngFor="let renewalMaster of allBillsMaster.billsList">
                                <td>{{ renewalMaster.stationName }}</td>                        
                                <td>{{ renewalMaster.billNo}}</td>      
                                <td>{{ renewalMaster.billDate}}</td>                        
                                <td>{{ renewalMaster.party}}</td>
                                <td>{{ renewalMaster.collectionBranch}}</td>
                                <td>{{ renewalMaster.totalGtotal}}</td>  
                                <td>                                    
                                    <button type="button" class="btn btn-edit"
                                        (click)="getBillsMasterDetails(renewalMaster)"></button>                               
                                </td> 
                                <td>                                    
                                    <button type="button" class="btn btn-primary btn-floating"  
                                        (click)="download(renewalMaster)">
                                        <i class="fas fa-download"></i></button>                            
                                </td> 
                            </tr>
                        </tbody>
                        <tbody *ngIf="allBillsMaster.billsList?.length == 0">
                            <tr>
                                <td colspan="3" class="no-data-available">No data!</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            
        </div>
        <!-- container-fluid -->
    </div>
    <!-- End Page-content -->
</div>



