<div class="main-content">
    <div class="page-content">
        <div class="container-fluid">
            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                        <h4 class="mb-sm-0 font-size-18">Paysheet Generation</h4>                       
                    </div>
                </div>
            </div>
            <!-- end page title -->
            <div class="row top-controls">
                <div class="col-sm-10 col-md-10">
                    <form (keydown.enter)="$event.preventDefault()"[formGroup]="formFilter">
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="mb-3">
                                    <label for="formrow-inputCity">Branch</label>
                                    <span style="color: red">*</span>
                                    <select class="form-control" formControlName="branch"
                                    [ngClass]="{ 'is-invalid': formSubmitted && (f['branch'].invalid) }">
                                        <option *ngFor="let branch of branchList" value={{branch.dataId}}>
                                            {{branch.dataName}}
                                        </option>
                                    </select>
                                </div>
                            </div>                            
                            <div class="col-lg-2">
                                <div class="mb-2">
                                    <label for="formrow-inputCity">Month</label>
                                    <span style="color: red">*</span>
                                    <input autoclose="false" type="date" 
                                        class="form-control" formControlName="monthYear"
                                        [ngClass]="{ 'is-invalid': formSubmitted && (f['monthYear'].invalid) }">
                                </div>
                            </div>                            
                            <div class="col-lg-2">
                                <div class="mb-2">
                                    <label for="formrow-inputCity">Year to Affect</label>
                                    <span style="color: red">*</span>
                                    <select class="form-control" formControlName="affectYear"
                                    [ngClass]="{ 'is-invalid': formSubmitted && (f['affectYear'].invalid) }">
                                        <option *ngFor="let yr of yearList" value={{yr.dataId}}>
                                            {{yr.dataName}}
                                        </option>
                                    </select>
                                </div>
                            </div>      
                            <div class="col-lg-2">
                                <div class="mt-3">
                                    <button class="btn btn-primary"   (click)="search()">
                                        <span>Search</span></button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>               
            </div>
            <div id="datatable_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">             
                <div class="overflow-x">
                    <table datatable [dtOptions]="dtOptions" class="table table-bordered dt-responsive nowrap w-100">
                        <thead>
                            <tr>
                                <th>slNo</th>
                                <th>empCode </th>
                                <th>empName </th>
                                <th>daysOfMonth</th>
                                <th>workedDays </th>
                                <th>holSun </th> 
                                <th>eL_Days </th>
                                <th>cL_Days </th>
                                <th>sL_Days </th>
                                <th>lossOfPayDays</th>
                                <th>payDays </th>
                                <th>basicRate </th>
                                <th>hraRate </th>
                                <th>fdaRate </th>
                                <th>othRate1 </th>
                                <th>basicEarn </th>
                                <th>hraEarn </th>
                                <th>fdaEarn </th>
                                <th>oth1Earn </th>
                                <th>pfDed </th>
                                <th>esiDed </th>
                                <th>ptDed </th>
                                <th>tdsDed </th>
                                <th>salAdvDed </th>
                                <th>loanDed </th>
                                <th>netPay </th>
                            </tr>
                        </thead>
                        <tbody *ngIf="allEmpsalaryMaster.payGenMstList?.length != 0">
                            <tr *ngFor="let es of allEmpsalaryMaster.payGenMstList">
                                <td>{{ es.slNo }}        </td>
                                <td>{{ es.empCode }}        </td>
                                <td>{{ es.empName }}        </td>
                                <td>{{ es.daysOfMonth }}    </td>  
                                <td>{{ es.workedDays }}     </td>   
                                <td>{{ es.holSun }}         </td>   
                                <td>{{ es.eL_Days }}        </td>   
                                <td>{{ es.cL_Days }}        </td>   
                                <td>{{ es.sL_Days }}        </td>    
                                <td>{{ es.lossOfPayDays }}  </td>    
                                <td>{{ es.payDays }}        </td>           
                                <td>{{ es.basicRate }}      </td>           
                                <td>{{ es.hraRate }}        </td>           
                                <td>{{ es.fdaRate }}        </td>           
                                <td>{{ es.othRate1 }}       </td>           
                                <td>{{ es.basicEarn }}      </td>            
                                <td>{{ es.hraEarn }}        </td>            
                                <td>{{ es.fdaEarn }}        </td>             
                                <td>{{ es.oth1Earn }}       </td>             
                                <td>{{ es.pfDed }}          </td>             
                                <td>{{ es.esiDed }}         </td>             
                                <td>{{ es.ptDed }}          </td>              
                                <td>{{ es.tdsDed }}         </td>               
                                <td>{{ es.salAdvDed }}      </td>              
                                <td>{{ es.loanDed }}        </td>                
                                <td>{{ es.netPay }}         </td>
                            </tr>
                        </tbody>
                        <tbody *ngIf="allEmpsalaryMaster.payGenMstList?.length == 0">
                            <tr>
                                <td colspan="3" class="no-data-available">No data!</td>
                            </tr>
                        </tbody>
                    </table> 
                </div>
            </div>
        </div>
        <div class="row" style="height: 20px;">         
        </div>
        <div class="row text-right">
            <div class="col-lg-12">
                <div class="tex">
                    <button class="btn btn-primary w-md" type="button" *ngIf="!editMode && createStatus"
                        (click)="empPayGenSave()"><span>Save</span></button>&nbsp;
                    <button class="btn btn-danger w-md m-2" *ngIf="editMode && deleteStatus"
                        (click)="deleteempPayGen()">Delete</button>&nbsp;
                </div>
            </div>
            <!-- end col -->
        </div>                
        <!-- container-fluid -->
    </div>
    <!-- End Page-content -->
</div>




