
<div class="main-content">
    <div class="page-content">
        <div class="container-fluid">
            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                        <h4 class="mb-sm-0 font-size-18">Journal Entry</h4>
                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <!-- <li class="breadcrumb-item"><a href="javascript: void(0);">Finance</a></li>
                                <li class="breadcrumb-item active"> Journal Entry payments</li> -->
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end page title -->
            <div class="row top-controls">
                <div class="col-sm-10 col-md-10">
                    <form (keydown.enter)="$event.preventDefault()"[formGroup]="formFilter">
                        <div class="row">
                            <div class="col-md-2">
                                <div class="mb-3">
                                    <label for="formrow-inputState">From Date</label>
                                    <input type="date" class="form-control" 
                                    formControlName="fromDate" min="{{minDate}}" max="{{maxDate}}">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="mb-3">
                                    <label for="formrow-inputState">To Date</label>
                                    <input type="date" class="form-control" 
                                    formControlName="toDate" min="{{minDate}}" max="{{maxDate}}">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="mb-3">
                                    <label for="formrow-inputState">Doc Series No</label>
                                    <input type="text" class="form-control" 
                                    formControlName="docSeriesNo" >                                
                                </div>
                            </div>                                                                  
                            <div class="col-lg-2">
                                <label for="formrow-inputCity">Ref Type </label> 
                                <select class="form-control form-select ng-pristine ng-touched"
                                    formControlName="refType">
                                    <option value=''>ALL</option>
                                    <option *ngFor="let branch of finRefTypes"
                                        value={{branch.dataId}}>
                                        {{branch.dataName}}
                                    </option>
                                </select>
                            </div>
                            <div class="col-lg-2">
                                <div class="mt-3">
                                    <button class="btn btn-primary"   
                                    (click)="search()"><span>Search</span></button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            <div class="row top-controls">
                <div class="col-sm-12 col-md-12 text-right">
                    <div class="dt-buttons btn-group flex-wrap export-button">
                        <!-- <button class="btn btn-secondary buttons-excel buttons-html5" tabindex="0"
                            aria-controls="datatable-buttons" type="button"><span>Excel</span></button>
                        <button class="btn btn-secondary buttons-pdf buttons-html5" tabindex="0"
                            aria-controls="datatable-buttons" type="button"><span>PDF</span></button> -->
                    </div>
                    <button class="btn btn-primary buttons-html5" type="button"  *ngIf="createStatus"
                        (click)="JournalEntryAdd()"><span>New</span></button>
                </div>
            </div>
            <div id="datatable_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                <table datatable [dtOptions]="dtOptions" class="table table-bordered dt-responsive w-100">
                    <thead>
                        <tr>
                            <th>docNo </th>                      
                            <th>ftmDate </th>                     
                            <th>docAmount </th>                         
                            <th>refType</th>                    
                            <th>refNo </th>                   
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="allJournalEntry.recPaymentsList?.length != 0">
                        <tr *ngFor="let jv of allJournalEntry.recPaymentsList">
                            <td>{{ jv.seriesDoc }}</td>                    
                            <td>{{ jv.ftmDate }}</td>                                 
                            <td>{{ jv.docAmount }}</td>                   
                            <td>{{ jv.refType }}</td>                   
                            <td>{{ jv.refNo }}</td>                          
                            <td>
                                <button type="button" class="btn btn-edit" 
                                (click)="getJournalEntryDetails(jv)"  ></button>             
                            </td>  
                        </tr>
                    </tbody>
                    <tbody *ngIf="allJournalEntry.recPaymentsList?.length == 0">
                        <tr>
                            <td colspan="3" class="no-data-available">No data!</td>
                        </tr>
                    </tbody>
                </table>              
                   
            </div>
        </div>
        <!-- container-fluid -->
    </div>
    <!-- End Page-content -->
</div>



