
<div class="main-content">
   <div class="page-content">
      <div class="container-fluid">
         <!-- start page title -->
         <div class="row">
            <div class="col-12">
               <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                  <h4 class="mb-sm-0 font-size-18">Pt Slab Master</h4>
                  <div class="page-title-right">
                     <ol class="breadcrumb m-0">
                         <!-- <li class="breadcrumb-item"><a href="javascript: void(0);">Pt Slab Master</a></li>
                         <li class="breadcrumb-item active">Pt Slab Master</li> -->
                     </ol>
                  </div>
               </div>
            </div>
         </div>
          <!-- end page title -->
         <form [formGroup]="formRoleType">
            <div class="row">
               <div class="col-lg-12">
                  <div class="card">
                     <div class="card-body">    
                        <div class="row">                                       
                           <div class="col-lg-3">
                              <div class="mb-3">
                                 <label for="basicpill-phoneno-input">State </label>
                                 <select class="form-control" formControlName="stateCode" autoclose="false"
                                    [ngClass]="{ 'is-invalid': userSubmitted && (f['stateCode'].invalid) }">
                                    <option *ngFor="let state of stateList" value={{state.dataId}}>
                                      {{state.dataName}}
                                    </option>
                                 </select>
                              </div>
                           </div>
                        </div>
                        <div class="row">
                           <div class="col-lg-3">
                              <div class="mb-3">
                                 <label for="basicpill-phoneno-input">Range From</label>
                                 <input type="text" class="form-control"
                                    placeholder=" " formControlName="rangeFrom"
                                    [ngClass]="{ 'is-invalid': userSubmitted && (f['rangeFrom'].invalid) }">
                              </div>
                           </div>                                       
                        </div>
                        <div class="row">
                           <div class="col-lg-3">
                              <div class="mb-3">
                                 <label for="basicpill-phoneno-input">Range To</label>
                                 <input type="text" class="form-control"
                                    placeholder=" " formControlName="rangeTo"
                                    [ngClass]="{ 'is-invalid': userSubmitted && (f['rangeTo'].invalid) }">
                              </div>
                           </div>                                       
                        </div>
                        <div class="row">
                           <div class="col-lg-3">
                              <div class="mb-3">
                                 <label for="basicpill-phoneno-input">Pt DedAmt</label>
                                 <input type="text" class="form-control"
                                    placeholder=" " formControlName="ptDedAmt"
                                    [ngClass]="{ 'is-invalid': userSubmitted && (f['ptDedAmt'].invalid) }">                                                
                              </div>
                           </div>
                        </div> 
                     </div>
                      <!-- end card body -->
                  </div>
                   <!-- end card -->
               </div>
            </div>
            <div class="row text-right">
               <div class="col-lg-12">
                  <button class="btn btn-primary w-md" *ngIf="(editMode && editStatus) || (!editMode && createStatus)"
                     (click)="ptSlabMasterSubmitted()">Save</button>
                  <button class="btn btn-danger w-md m-2" *ngIf="editMode && deleteStatus"
                     (click)="ptSlabMasterDelete()">Delete</button>
                  <button  class="btn btn-secondary w-md m-2" 
                     (click)="exit()">Exit</button>                  
               </div>
            </div>
         </form>
          <!-- end row -->
          <!-- end row -->
      </div>
       <!-- container-fluid -->
   </div>
    <!-- End Page-content -->
</div>
