
<div class="main-content">
    <div class="page-content">
        <div class="container-fluid">
            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                        <h4 class="mb-sm-0 font-size-18">Bill Master</h4>
                    </div>
                </div>
            </div>
            <!-- end page title -->
            <form (keydown.enter)="$event.preventDefault()"[formGroup]="formBillsMaster">
                <div class="ng-untouched ng-pristine ng-valid">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-body">                             
                                    <div class="row">
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="formrow-inputCity">Bill Station</label><span style="color: red"> * </span>
                                                <select class="form-control" formControlName="billingStation" 
                                                    [ngClass]="{ 'is-invalid': formSubmitted && (f['billingStation'].invalid) }">
                                                    <option *ngFor="let branch of branchList" value={{branch.dataId}}>
                                                        {{branch.dataName}}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="formrow-inputCity">Bill No.</label><span style="color: red"> * </span>
                                                <input autoclose="false" type="text" numbersonly class="form-control"
                                                formControlName="billNo" (change)="onBillNoChange($event)" 
                                                [ngClass]="{ 'is-invalid': formSubmitted && (f['billNo'].invalid) }">
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="formrow-inputCity">Bill Date</label><span style="color: red"> * </span>
                                                <input autoclose="false" type="date" placeholder="dd/MM/yyyy"
                                                    class="form-control" formControlName="billDate"
                                                    [ngClass]="{ 'is-invalid': formSubmitted && (f['billDate'].invalid) }">
                                            </div>
                                        </div>                                          
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="formrow-inputCity">Due Date</label><span style="color: red"> * </span>
                                                <input autoclose="false" type="date" placeholder="dd/MM/yyyy"
                                                    class="form-control" formControlName="dueDate"
                                                    [ngClass]="{ 'is-invalid': formSubmitted && (f['dueDate'].invalid) }">
                                            </div>
                                        </div> 
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="mb-3">
                                                <label for="formrow-inputCity">Party</label><span style="color: red"> * </span>
                                                <div class="ng-autocomplete">
                                                    <ng-autocomplete [data]="partyList" 
                                                        formControlName="partyCode"
                                                        [searchKeyword]="keywordLocation" 
                                                        (selected)='selectEvent($event)'
                                                        (inputChanged)='onChangeSearch($event)'
                                                        (inputFocused)='onFocused($event)' [itemTemplate]="itemTemplate"
                                                        [notFoundTemplate]="notFoundTemplate"
                                                        [customFilter]="startWithFilter"
                                                        [ngClass]="{ 'is-invalid': formSubmitted && (f['partyCode'].invalid) }">
                                                    </ng-autocomplete>
                                                    <ng-template #itemTemplate let-item>
                                                        <a [innerHTML]="item.dataName"></a>
                                                    </ng-template>
                                                    <ng-template #notFoundTemplate let-notFound>
                                                        <div [innerHTML]="notFound"></div>
                                                    </ng-template>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="formrow-inputCity">Party Location</label><span style="color: red"> * </span>                                                 
                                                <select class="form-control" formControlName="partyGstLocation" 
                                                    [ngClass]="{ 'is-invalid': formSubmitted && (f['partyGstLocation'].invalid) }">
                                                    <option *ngFor="let branch of partyLocationList" value={{branch.dataId}}>
                                                        {{branch.dataName}}
                                                    </option>
                                                </select>
                                            </div>    
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="mb-3">
                                                <label for="formrow-inputCity">Bill Type</label><span style="color: red"> * </span>                                                 
                                                <select class="form-control" formControlName="billType" 
                                                    [ngClass]="{ 'is-invalid': formSubmitted && (f['billType'].invalid) }">
                                                    <option *ngFor="let branch of BillTypesList" value={{branch.dataId}}>
                                                        {{branch.dataName}}
                                                    </option>
                                                </select>
                                            </div>    
                                        </div>
                                    </div>
                                    <div class="row">  
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="formrow-inputCity">Collection Branch</label><span style="color: red"> * </span>                                                                                             
                                                <select class="form-control" formControlName="collBranch" 
                                                    [ngClass]="{ 'is-invalid': formSubmitted && (f['collBranch'].invalid) }">
                                                    <option *ngFor="let branch of branchList" value={{branch.dataId}}>
                                                        {{branch.dataName}}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                 <div class="mb-2">
                                                    <input type="checkbox" formControlName="suppYN" id="suppYN"
                                                        value="Y" (change)="onSuppYNChange($event)" class="form-check-input" >
                                                    <label for="without" > <h5>Without LR</h5></label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="formrow-inputCity">Sac Hsn</label>
                                                <input autoclose="false" type="text" class="form-control"
                                                    formControlName="sacHsn" >
                                            </div>
                                        </div>    
                                    </div>                                    
                                </div>
                                <!-- end card body -->
                            </div>
                            <!-- end card -->
                        </div>
                    </div>
                </div>
                <div class="ng-untouched ng-pristine ng-valid">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="overflow-x"  *ngIf="showButton">
                                        <table class="table table-bordered dt-responsive nowrap w-100 no-border-table full-grid-width">
                                            <tr>
                                                <th><label for="formrow-inputCity">Year</label></th>
                                                <th><label for="formrow-inputZip">Booking Place </label></th>
                                                <th><label for="formrow-inputCity">Cn No.</label></th>
                                                <th><label for="formrow-inputZip">Cn Date</label></th>
                                                <th><label for="formrow-inputZip">From Place </label></th>
                                                <th><label for="formrow-inputZip">To Place </label></th>
                                                <th><label for="formrow-inputZip">Freight</label></th>
                                                <th><label for="formrow-inputZip">Others </label></th>
                                                <th><label for="formrow-inputZip">Others Remarks </label></th>
                                                <th><label for="formrow-inputZip">Others2 (Extra)</label></th>
                                                <th><label for="formrow-inputZip">Others2 Remarks </label></th>
                                                <th><label for="formrow-inputZip">Others3 (Non GST) </label></th>
                                                <th><label for="formrow-inputZip">Others3 Remarks </label></th>
                                                <th><label for="formrow-inputZip">Supp Bill Det Remarks </label></th>                                            
                                                <th><label for="formrow-inputZip">Grand Total</label></th>
                                            </tr>
                                            <tr formArrayName="arrayList"
                                                *ngFor="let arrayData of formArray.controls; let i = index">
                                                <div [formGroupName]="i" class="grid-table">
                                                    <td>
                                                        <select class="form-control form-select ng-pristine ng-touched"
                                                        formControlName="gcYear"> 
                                                            <option *ngFor="let gp of yearList" value={{gp.dataId}}>
                                                                {{gp.dataName}}
                                                            </option>
                                                        </select>
                                                    </td>
                                                    <td>                                                  
                                                        <select class="form-control form-select ng-pristine ng-touched"
                                                        formControlName="gcBranch"> 
                                                            <option *ngFor="let br of branchList" value={{br.dataId}}>
                                                                {{br.dataName}}
                                                            </option>
                                                        </select>
                                                    </td>
                                                    <td>
                                                        <input uppercaseonly autoclose="false" class="form-control"
                                                            formControlName="gcNoteNo" (change)="getConsignmentDtls(i)">
                                                        <input type="hidden" autoclose="false" class="form-control"
                                                            formControlName="consignmentid">
                                                    </td>     
                                                    <td>
                                                        <input type="date" autoclose="false" class="form-control"
                                                                formControlName="bookingDate">
                                                    </td>         
                                                    <td>
                                                        <input autoclose="false" class="form-control"
                                                                formControlName="fromPlace">
                                                    </td>     
                                                    <td>
                                                        <input autoclose="false" class="form-control"
                                                                formControlName="toPlace">
                                                    </td>    
                                                    <td>
                                                        <input decimalonly autoclose="false" class="form-control"
                                                                formControlName="freightRs" (change)="calculateTotal()">
                                                    </td>    
                                                    <td>
                                                        <input decimalonly autoclose="false" class="form-control"
                                                                formControlName="others" (change)="calculateTotal()">
                                                    </td>   
                                                    <td>
                                                        <input uppercaseonly autoclose="false" class="form-control"
                                                                formControlName="remarks1">
                                                    </td>   
                                                    <td>
                                                        <input decimalonly autoclose="false" class="form-control"
                                                                formControlName="extras" (change)="calculateTotal()">
                                                    </td>   
                                                    <td>
                                                        <input uppercaseonly autoclose="false" class="form-control"
                                                                formControlName="remarks2">
                                                    </td>   
                                                    <td>
                                                        <input decimalonly autoclose="false" class="form-control"
                                                                formControlName="nonGstAmt1" (change)="calculateTotal()">
                                                    </td>   
                                                    <td>
                                                        <input uppercaseonly autoclose="false" class="form-control"
                                                                formControlName="remarks3">
                                                    </td>  
                                                    <td>
                                                        <input uppercaseonly autoclose="false" class="form-control"
                                                                formControlName="suppBillDetRemarks">
                                                    </td>   
                                                    <td>
                                                        <input decimalonly autoclose="false" class="form-control"
                                                                formControlName="gtotal">
                                                    </td> 
                                                </div>
                                            </tr>
                                        </table>
                                    </div>                               
                                    <div class="row">
                                        <div class="col-lg-2">
                                            <div class="mb-3">
                                                <label for="formrow-inputCity">Total Freight</label><span style="color: red"> * </span>
                                                <input autoclose="false" type="text" class="form-control" 
                                                    formControlName="totalFreight" (change)="pctChange()"
                                                    [ngClass]="{ 'is-invalid': formSubmitted && (f['totalFreight'].invalid) }">
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="mb-3">
                                                <label for="formrow-inputCity">Total Others</label>
                                                <input autoclose="false" type="text" class="form-control"
                                                    formControlName="totalOthers"  (change)="pctChange()" >
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="mb-3">
                                                <label for="formrow-inputCity">Total Others1</label>
                                                <input autoclose="false" type="text" class="form-control"
                                                    formControlName="totalExtras" (change)="pctChange()" >
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="mb-3">
                                                <label for="formrow-inputCity">Total Others2</label>
                                                <input autoclose="false" type="text" class="form-control"
                                                    formControlName="totalNonGstAmt1"  (change)="pctChange()">
                                            </div>
                                        </div> 
                                        <div class="col-lg-2">
                                            <div class="mb-3">
                                                <label for="formrow-inputCity">GST Type</label><span style="color: red"> * </span>                                           
                                                <select id="formrow-inputState" class="form-control"
                                                    formControlName="gstType" (change)="onGstChange()"
                                                    [ngClass]="{ 'is-invalid': formSubmitted && (f['gstType'].invalid) }">
                                                        <option value="NA">NA</option>      
                                                        <option value="SC">S/CGST</option> 
                                                        <option value="IG">IGST</option>     
                                                </select>
                                            </div>
                                        </div>    
                                    </div>
                                    <div class="row">                              
                                        <div class="col-lg-2">
                                            <div class="mb-3">
                                                <label for="formrow-inputCity">SGST Pct</label>
                                                <input autoclose="false" type="text" class="form-control"
                                                    formControlName="sgstPct" (change)="pctChange()">
                                            </div>
                                        </div>                                  
                                        <div class="col-lg-2">
                                            <div class="mb-3">
                                                <label for="formrow-inputCity">SGST Amount</label>
                                                <input autoclose="false" type="text" class="form-control"
                                                    formControlName="totalSgstAmt" >
                                            </div>
                                        </div>                            
                                        <div class="col-lg-2">
                                            <div class="mb-3">
                                                <label for="formrow-inputCity">CGST Pct</label>
                                                <input autoclose="false" type="text" class="form-control"
                                                    formControlName="cgstPct" (change)="pctChange()">
                                            </div>
                                        </div>          
                                        <div class="col-lg-2">
                                            <div class="mb-3">
                                                <label for="formrow-inputCity">CGST Amt</label>
                                                <input autoclose="false" type="text" class="form-control" 
                                                    formControlName="totalCgstAmt">
                                            </div>
                                        </div>                            
                                        <div class="col-lg-2">
                                            <div class="mb-3">
                                                <label for="formrow-inputCity">IGST Pct</label>
                                                <input autoclose="false" type="text" class="form-control"
                                                    formControlName="igstPct" (change)="pctChange()">
                                            </div>
                                        </div>          
                                        <div class="col-lg-2">
                                            <div class="mb-3">
                                                <label for="formrow-inputCity">IGST Amt</label>
                                                <input autoclose="false" type="text" class="form-control" 
                                                    formControlName="totalIgstAmt" >
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="formrow-inputCity">Grand Total</label><span style="color: red"> * </span>
                                                <input autoclose="false" type="text" class="form-control"
                                                    formControlName="totalGtotal"
                                                    [ngClass]="{ 'is-invalid': formSubmitted && (f['totalGtotal'].invalid) }">
                                            </div>
                                        </div>                                    
                                        <div class="col-lg-4">
                                            <div class="mb-3">
                                                <label for="formrow-inputCity">Bill Remarks</label>
                                                <input uppercaseonly autoclose="false" type="text" class="form-control"
                                                    formControlName="billRemarks"  >
                                            </div>
                                        </div>                                                                                                               
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label style="color: red"> 
                                                    <h6>Fin Doc Series: {{ this.seriesDoc}} </h6> 
                                                </label>                                                 
                                            </div>
                                        </div>
                                    </div>                                    
                                    <div class="row">                         
                                        <div class="col-lg-5">
                                            <div class="mb-3">
                                                <label for="formrow-inputCity">Enclosed Docs</label>
                                                <input uppercaseonly autoclose="false" type="text" 
                                                    class="form-control"
                                                    formControlName="enlcosedDocs"  >
                                            </div>
                                        </div>         
                                        <div class="col-lg-5">
                                            <div class="mb-3">
                                                <label for="formrow-inputCity">Supp Particulars</label>
                                                <input uppercaseonly autoclose="false" type="text" 
                                                    class="form-control"
                                                    formControlName="suppParticulars"  >
                                            </div>
                                        </div>       
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row text-right">
                    <div class="col-lg-12">
                        <div class="tex">
                            <button class="btn btn-primary w-md" 
                            *ngIf="((editMode && editStatus) || (!editMode && createStatus)) && !formSubmitted"
                                (click)="saveBillsDetails()">Save</button>
                            <button class="btn btn-danger w-md m-2" *ngIf="editMode && deleteStatus"
                                (click)="billsMasterDelete()">Delete</button>                           
                            <button class="btn btn-secondary w-md  m-2" 
                                (click)="exit()">Exit</button>
                        </div>
                    </div>
                </div>
            </form>
            <!-- end row -->
            <!-- end row -->
        </div>
        <!-- container-fluid -->
    </div>
    <!-- End Page-content -->
</div>