<div class="main-content">
    <div class="page-content">
        <div class="container-fluid">
            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                        <h4 class="mb-sm-0 font-size-18">Distance Master Freight</h4>
                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <!-- <li class="breadcrumb-item"><a href="javascript: void(0);">Freight</a></li>
                                <li class="breadcrumb-item active">Distance Master Freight </li> -->
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end page title -->
            <form [formGroup]="formDistanceMasterFreight">
                <div class="ng-untouched ng-pristine ng-valid">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title mb-4"></h4>
                                    <div class="row">
                                        <div class="row">
                                            <div class="col-lg-4">
                                                <div class="mb-3">
                                                    <label for="formrow-inputCity">From Location</label>
                                                    <div class="ng-autocomplete">
                                                        <ng-autocomplete [data]="locationList"
                                                            [searchKeyword]="keywordLocation" placeholder=""
                                                            (selected)='selectEvent($event)'
                                                            (inputChanged)='onChangeSearch($event)'
                                                            (inputFocused)='onFocused($event)'
                                                            [itemTemplate]="itemTemplate"
                                                            [notFoundTemplate]="notFoundTemplate"
                                                            [customFilter]="startWithFilter"
                                                            formControlName="fromLocation"                                                           
                                                            [ngClass]="{ 'is-invalid': formSubmitted && (f['fromLocation'].invalid) }">
                                                        </ng-autocomplete>

                                                        <ng-template #itemTemplate let-item>
                                                            <a [innerHTML]="item.dataName"></a>
                                                        </ng-template>

                                                        <ng-template #notFoundTemplate let-notFound>
                                                            <div [innerHTML]="notFound"></div>
                                                        </ng-template>
                                                    </div>
                                                </div>
                                                
                                            </div>
                                            <div class="col-lg-3">
                                                <div class="mb-3">
                                                    <label for="formrow-inputCity">Valid From</label>
                                                    <input autoclose="false" type="date" placeholder="dd/MM/yyyy"
                                                        class="form-control" formControlName="validFrom"
                                                        [ngClass]="{ 'is-invalid': formSubmitted && (f['validFrom'].invalid) }">
                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <div class="mb-3">
                                                    <label for="formrow-inputCity">Valid To</label>
                                                    <input autoclose="false" type="date" placeholder="dd/MM/yyyy"
                                                        class="form-control" formControlName="validUpto"
                                                        [ngClass]="{ 'is-invalid': formSubmitted && (f['validUpto'].invalid) }">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end card body -->
                            </div>
                            <!-- end card -->
                        </div>
                    </div>
                </div>
                <div class="ng-untouched ng-pristine ng-valid">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title mb-4"></h4>
                                    <table class="table table-bordered dt-responsive nowrap w-100 no-border-table">
                                        <tr>
                                            <td class="col-lg-2">
                                                <label for="formrow-inputZip">
                                                    <h6>Select Destination</h6>
                                                </label></td>
                                            <td class="col-lg-2">
                                                <label for="formrow-inputZip">
                                                    <h6>Enter KMs</h6>
                                                </label></td>
                                            <td class="col-lg-2">
                                                <label for="formrow-inputZip">
                                                    <h6>Action</h6>
                                                </label></td>
                                            </tr>
                                        <tr formArrayName="arrayList"
                                            *ngFor="let arrayData of formArray.controls; let i = index">
                                            <div [formGroupName]="i" class="grid-table">
                                                <td class="col-lg-2">                                                  
                                                    <div class="ng-autocomplete">
                                                        <ng-autocomplete [data]="locationList"
                                                            [searchKeyword]="keywordLocation" placeholder=""
                                                            (selected)='selectToLocationEvent($event,i)'
                                                            (inputChanged)='onChangeSearch($event)'
                                                            (inputFocused)='onFocused($event)'
                                                            [itemTemplate]="itemTemplate"
                                                            [notFoundTemplate]="notFoundTemplate"
                                                            [customFilter]="startWithFilter"
                                                            formControlName="toLocation">

                                                        </ng-autocomplete>

                                                        <ng-template #itemTemplate let-item>
                                                            <a [innerHTML]="item.dataName"></a>
                                                        </ng-template>

                                                        <ng-template #notFoundTemplate let-notFound>
                                                            <div [innerHTML]="notFound"></div>
                                                        </ng-template>
                                                    </div>  
                                                </td>
                                                <td class="col-lg-2">  
                                                    <input numbersonly autoclose="false" class="form-control"
                                                    formControlName="kms">                                                         
                                                </td>
                                                <td class="col-lg-4">
                                                    <div class="col-lg-4 details-button">
                                                        <button *ngIf="i === formArray.controls.length-1" type="button"
                                                            class="btn btn-add" (click)="addItem(i)"></button>
                                                        <button *ngIf="formArray.controls.length > 1"
                                                            (click)="removeItem($event,i)" class="btn btn-delete"></button>
                                                    </div>   
                                                </td>
                                            </div>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row text-right">
                    <div class="col-lg-12">
                        <div class="tex">
                            <button  class="btn btn-primary w-md"
                                (click)="submitDistanceMasterFreightForm()" *ngIf="(editMode && editStatus) || (!editMode && createStatus)">Save</button>
                                <button  class="btn btn-danger w-md m-2" *ngIf="editMode && deleteStatus"
                                (click)="distanceMasterFrtDelete()">Delete</button>
                            <button  class="btn btn-secondary w-md m-2" 
                            (click)="exit()">Exit</button>
                        </div>
                    </div>
                </div>
            </form>
            <!-- end row -->
            <!-- end row -->
        </div>
        <!-- container-fluid -->
    </div>
    <!-- End Page-content -->
</div>