<div class="main-content">
    <div class="page-content">
        <div class="container-fluid">
            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                        <h4 class="mb-sm-0 font-size-18">Fleet Load Entry</h4>
                    </div>
                </div>
            </div>
            <!-- end page title -->
            <form (keydown.enter)="$event.preventDefault()"[formGroup]="formFleetLoad">
                <div class="ng-untouched ng-pristine ng-valid">
                    <div class="row">
                        <div class="col-lg-12">                        
                            <div class="row">
                                <div class="col-lg-3">
                                    <div class="mb-3">
                                        <label for="formrow-inputCity">Branch</label><span style="color: red"> * </span>
                                        <select class="form-control form-select ng-pristine ng-touched"
                                            formControlName="loadBranch"                             
                                            [ngClass]="{ 'is-invalid': formSubmitted && (f['loadBranch'].invalid) }">
                                                <option *ngFor="let branch of branchList" value={{branch.dataId}}>
                                                    {{branch.dataName}}
                                                </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="mb-3">
                                        <label for="formrow-inputState">Load Date</label><span style="color: red"> * </span>
                                        <input type="date" class="form-control" formControlName="loadDate"
                                            [ngClass]="{ 'is-invalid': formSubmitted && (f['loadDate'].invalid) }">
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="mb-3">
                                        <label for="formrow-inputCity">Vehicle No</label><span style="color: red"> * </span> 
                                        <div class="ng-autocomplete">
                                            <ng-autocomplete [data]="vehicleList"
                                                [searchKeyword]="keywordLocation"  
                                                formControlName="vehicleMasterId"
                                                (inputChanged)='onChangeSearch($event)'
                                                (inputFocused)='onFocused($event)' 
                                                [itemTemplate]="itemTemplate"
                                                [notFoundTemplate]="notFoundTemplate"
                                                [customFilter]="endWithFilter"
                                                [ngClass]="{ 'is-invalid': formSubmitted && (f['vehicleMasterId'].invalid) }">
                                            </ng-autocomplete>
                                            <ng-template #itemTemplate let-item>
                                                <a [innerHTML]="item.dataName"></a>
                                            </ng-template>
                                            <ng-template #notFoundTemplate let-notFound>
                                                <div [innerHTML]="notFound"></div>
                                            </ng-template>
                                        </div>
                                    </div>    
                                </div>                                      
                                <div class="row">                                        
                                    <div class="col-lg-2">
                                        <div class="mb-3">
                                            <label for="formrow-inputState">Load Type</label><span style="color: red"> * </span>
                                            <select class="form-control form-select ng-pristine ng-touched"
                                                formControlName="loadType" (change)="onLoadTypeChange($event)" 
                                                [ngClass]="{ 'is-invalid': formSubmitted && (f['loadType'].invalid) }">
                                                <option value="O">Own</option>
                                                <option value="M">Market</option>
                                                <option value="E">Empty</option>
                                            </select>
                                        </div>
                                    </div>                                       
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <label for="formrow-inputState">Party (Load for)</label>
                                            <span style="color: red"> * </span> 
                                            <div class="ng-autocomplete">
                                                <ng-autocomplete [data]="creditAcList" 
                                                formControlName="loadFor" 
                                                    [searchKeyword]="keywordLocation"                                                      
                                                    (inputFocused)='onFocused($event)' 
                                                    [itemTemplate]="itemTemplate"
                                                    [notFoundTemplate]="notFoundTemplate"
                                                    [customFilter]="startWithFilter"  
                                                    [ngClass]="{ 'is-invalid': formSubmitted && (f['loadFor'].invalid) }">                                                  </ng-autocomplete>
                                                <ng-template #itemTemplate let-item>
                                                    <a [innerHTML]="item.dataName"></a>
                                                </ng-template>
                                                <ng-template #notFoundTemplate let-notFound>
                                                    <div [innerHTML]="notFound"></div>
                                                </ng-template>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-2">
                                        <div class="mb-3">
                                            <label for="formrow-inputState">Memo/LR No</label>                                          
                                            <input class="form-control" uppercaseonly  maxlength="15"
                                            formControlName="loadMemoNo"
                                            [ngClass]="{ 'is-invalid': formSubmitted && (f['loadMemoNo'].invalid) }">
                            
                                        </div>
                                    </div>
                                </div>
                                <div class="row"> 
                                    <div class="col-lg-3">
                                        <div class="mb-3">
                                            <label for="formrow-inputCity">Origin</label>
                                            <span style="color: red"> * </span> 
                                            <div class="ng-autocomplete">
                                                <ng-autocomplete [data]="locationList" 
                                                    formControlName="loadingFrom" 
                                                    [searchKeyword]="keywordLocation"                                                      
                                                    (inputFocused)='onFocused($event)' 
                                                    [itemTemplate]="itemTemplate"
                                                    [notFoundTemplate]="notFoundTemplate"
                                                    [customFilter]="startWithFilter"  
                                                    [ngClass]="{ 'is-invalid': formSubmitted && (f['loadingFrom'].invalid) }">  
                                                </ng-autocomplete>
                                                <ng-template #itemTemplate let-item>
                                                    <a [innerHTML]="item.dataName"></a>
                                                </ng-template>
                                                <ng-template #notFoundTemplate let-notFound>
                                                    <div [innerHTML]="notFound"></div>
                                                </ng-template>
                                            </div>
                                        </div>
                                    </div>                                
                                    <div class="col-lg-4">
                                        <div class="mb-3">       
                                            <label for="formrow-inputState">Consignor</label>                                 
                                            <div class="ng-autocomplete">
                                                <ng-autocomplete [data]="cnorList"
                                                    [searchKeyword]="keywordLocation"  
                                                    formControlName="cnorID"  
                                                    (selected)='selectCnorEvent($event)'
                                                    (inputChanged)='onChangeSearch($event)'
                                                    (inputFocused)='onFocused($event)' 
                                                    [itemTemplate]="itemTemplate"
                                                    [notFoundTemplate]="notFoundTemplate"
                                                    [customFilter]="startWithFilter">      
                                                </ng-autocomplete>        
                                                <ng-template #itemTemplate let-item>
                                                    <a [innerHTML]="item.dataName"></a>
                                                </ng-template> 
                                                <ng-template #notFoundTemplate let-notFound>
                                                    <div [innerHTML]="notFound"></div>
                                                </ng-template>
                                            </div>    
                                        </div>
                                    </div>  
                                    <div class="col-lg-4">
                                        <div class="mb-3">
                                            <label for="formrow-inputState">Consignor Name</label>
                                            <span style="color: red"> * </span> 
                                            <input class="form-control" uppercaseonly  maxlength="75"
                                                formControlName="consignorName"
                                                [ngClass]="{ 'is-invalid': formSubmitted && (f['consignorName'].invalid) }">
                                        </div>
                                    </div>
                                </div>
                                <div class="row"> 
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <label for="formrow-inputState">Consignor Address</label>
                                            <input class="form-control" uppercaseonly maxlength="150"
                                                formControlName="consignorAdd">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3">
                                        <div class="mb-3">
                                            <label for="formrow-inputState">Destination</label>
                                            <span style="color: red"> * </span> 
                                            <div class="ng-autocomplete">
                                                <ng-autocomplete [data]="locationList" formControlName="loadingTo"
                                                    [searchKeyword]="keywordLocation" 
                                                    (inputChanged)='onChangeSearch($event)'
                                                    (inputFocused)='onFocused($event)' 
                                                    [itemTemplate]="itemTemplate"
                                                    [notFoundTemplate]="notFoundTemplate"
                                                    [customFilter]="startWithFilter"  
                                                    [ngClass]="{ 'is-invalid': formSubmitted && (f['loadingTo'].invalid) }">
                                                </ng-autocomplete>
                                                <ng-template #itemTemplate let-item>
                                                    <a [innerHTML]="item.dataName"></a>
                                                </ng-template>
                                                <ng-template #notFoundTemplate let-notFound>
                                                    <div [innerHTML]="notFound"></div>
                                                </ng-template>
                                            </div>
                                        </div>
                                    </div>                               
                                    <div class="col-lg-4">
                                        <div class="mb-3">         
                                            <label for="formrow-inputState">Consignee</label>                            
                                            <div class="ng-autocomplete">
                                                <ng-autocomplete [data]="ccList"
                                                    [searchKeyword]="keywordLocation"  
                                                    formControlName="cneeID"  
                                                    (selected)='selectCneeEvent($event)'
                                                    (inputChanged)='onChangeSearch($event)'
                                                    (inputFocused)='onFocused($event)' 
                                                    [itemTemplate]="itemTemplate"
                                                    [notFoundTemplate]="notFoundTemplate"
                                                    [customFilter]="startWithFilter">                                            
                                                </ng-autocomplete>
        
                                                <ng-template #itemTemplate let-item>
                                                    <a [innerHTML]="item.dataName"></a>
                                                </ng-template>
 
                                                <ng-template #notFoundTemplate let-notFound>
                                                    <div [innerHTML]="notFound"></div>
                                                </ng-template>
                                            </div>    
                                        </div>   
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="mb-3">
                                            <label for="formrow-inputState">Consignee Name</label>
                                            <span style="color: red"> * </span> 
                                            <input class="form-control" uppercaseonly  maxlength="75"
                                                formControlName="consigneeName"
                                                [ngClass]="{ 'is-invalid': formSubmitted && (f['consigneeName'].invalid) }">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">    
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <label for="formrow-inputCity">Consignee Address</label>
                                            <input type="text" class="form-control" uppercaseonly  maxlength="150"
                                                formControlName="consigneeAdd">
                                        </div>
                                    </div> 
                                </div>
                                <div class="row">     
                                    <div class="col-lg-3">
                                        <div class="mb-3">
                                            <label for="formrow-inputState">Product</label>
                                            <span style="color: red"> * </span>                                               
                                            <select class="form-control form-select ng-pristine ng-touched" 
                                                formControlName="productId"                             
                                                [ngClass]="{ 'is-invalid': formSubmitted && (f['productId'].invalid) }">
                                                <option *ngFor="let branch of productList" value={{branch.dataId}}>
                                                    {{branch.dataName}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>  
                                    <div class="col-lg-2">
                                        <div class="mb-3">
                                            <label for="formrow-inputCity">Qty Wt (MT)</label>
                                            <span style="color: red"> * </span> 
                                            <input class="form-control" threedecimalonly autocomplete="off" 
                                                (change)="onRateChange()" formControlName="qtyWt"
                                                [ngClass]="{ 'is-invalid': formSubmitted && (f['qtyWt'].invalid) }">
                                        </div>
                                    </div>
                                    <div class="col-lg-2">
                                        <div class="mb-3">
                                            <label for="formrow-inputCity">Packages</label>
                                            <span style="color: red"> * </span> 
                                            <input class="form-control" numbersonly
                                                formControlName="qtyPkgs"
                                                [ngClass]="{ 'is-invalid': formSubmitted && (f['qtyPkgs'].invalid) }">
                                        </div>
                                    </div>
                                    <div class="col-lg-2">
                                        <div class="mb-3">
                                            <label for="formrow-inputCity">Rate Per Ton</label>
                                            <input class="form-control" decimalonly autocomplete="off" (change)="onRateChange()"
                                                formControlName="ratePerTon">
                                        </div>
                                    </div>                                        
                                </div>
                                <div class="row">   
                                    <div class="col-lg-3">
                                        <div class="mb-3">
                                            <label for="formrow-inputCity"> Freight (Hire)</label>
                                            <span style="color: red"> * </span> 
                                            <input class="form-control" decimalonly autocomplete="off" 
                                                formControlName="hireAmt" (change)="onChangeAdv()"
                                                [ngClass]="{ 'is-invalid': formSubmitted && (f['hireAmt'].invalid) }">
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="mb-3">
                                            <label for="formrow-inputCity">Advance</label>
                                            <input class="form-control" formControlName="advAmt" 
                                            (change)="onChangeAdv()" decimalonly>
                                        </div>
                                    </div>
                                </div> 
                                <div class="row">   
                                    <div class="col-lg-3">
                                        <div class="mb-3">
                                            <label for="formrow-inputCity"> Attach Memo Copy</label>
                                                <input #attachmentInput class="form-control" type="file"
                                                id="formAttFile"  >
                                                <a *ngIf="selectedFleetLoadEntryDetails.attachMemocopy" target="_blank"
                                                        href={{uploadedAttach}}>Download</a>
                                        </div>
                                    </div>
                                    <div class="col-lg-5">
                                        <div class="mb-3">
                                            <label for="formrow-inputCity">Remarks</label>
                                            <input class="form-control"   uppercaseonly  maxlength="250"
                                                formControlName="remarks">
                                        </div>
                                    </div>
                                </div>   
                            </div>
                        </div>
                    </div>
                </div>  
                <div class="row">                    
                    <div class="col-lg-5">
                        <div class="mb-3">
                            <label style="color: blue"> 
                                <h6><b>Created By:</b>  {{ this.createdBy }} </h6> 
                            </label>                                                 
                        </div>
                    </div>                   
                    <div class="col-lg-5">
                        <div class="mb-3">
                            <label style="color: blue"> 
                                <h6><b>Modified By:</b> {{ this.modifiedBy}} </h6> 
                            </label>                                                 
                        </div>
                    </div>
                    <!-- end col -->
                </div>  
               
                <div class="row text-right">
                    <div class="col-lg-12">
                        <div class="tex">
                            <button class="btn btn-primary w-md" 
                            *ngIf="((editMode && editStatus) || (!editMode && createStatus)) && !formSubmitted"
                                (click)="submitFleetLoadEntryForm()">Save</button>&nbsp;
                            <button class="btn btn-danger w-md m-2" *ngIf="editMode && deleteStatus"
                                (click)="deleteFleetLoadEntryForm()">Delete</button>&nbsp;
                            <button class="btn btn-secondary w-md" (click)="exit()">Exit</button>
                        </div>
                    </div>
                    <!-- end col -->
                </div>        
            </form>
            <!-- end row -->
            <!-- end row -->
        </div>
        <!-- container-fluid -->
    </div>
    <!-- End Page-content -->
</div>

