<div class="main-content">
    <div class="page-content">
        <div class="container-fluid">
            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                        <h4 class="mb-sm-0 font-size-18">User</h4>
                    </div>
                </div>
            </div>
            <!-- end page title -->
            <div class="row top-controls">
                <div class="col-sm-12 col-md-12 text-right">
                    <button class="btn btn-primary buttons-html5" type="button" *ngIf="createStatus"
                    (click)="userAdd()"><span>New</span></button>
                </div>
            </div>
            <div id="datatable_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                <table datatable [dtOptions]="dtOptions" class="table table-bordered dt-responsive nowrap w-100">
                    <thead>
                      <tr>
                        <th>User Name</th>
                        <th>Description</th>
                        <th>Scope</th>
                        <th>Role Type</th>
                        <th>Centre Name</th>
                        <th>Active</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody *ngIf="allUsers.userList?.length != 0">
                      <tr *ngFor="let user of allUsers.userList">
                        <td>{{ user.userName }}</td>
                        <td>{{ user.userDescription }}</td>
                        <td>{{ user.userScope }}</td>
                        <td>{{ user.userRoleType }}</td>
                        <td>{{ user.centreName }}</td>
                        <td>{{ user.activeYN }}</td>
                        <td>                         
                          <button type="button" class="btn btn-edit" 
                          (click)="userDetails(user)"></button>   
                        </td>
                      </tr>
                    </tbody>
                    <tbody *ngIf="allUsers.userList?.length == 0">
                      <tr>
                        <td colspan="3" class="no-data-available">No data!</td>
                      </tr>
                    </tbody>
                  </table>
            </div>
        </div>
        <!-- container-fluid -->
    </div>
    <!-- End Page-content -->
</div>