
<div class="main-content">
    <div class="page-content">
        <div class="container-fluid">
            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                        <h4 class="mb-sm-0 font-size-18">Challan Enquiry</h4>
                    </div>
                </div>
            </div>  <div class="row top-controls">
                <div class="col-sm-12 col-md-12">
                    <form (keydown.enter)="$event.preventDefault()"[formGroup]="formFilter">
                        <div class="row">
                            <div class="col-md-1">
                                <div class="mb-1">
                                    <label for="formrow-inputState">Year: </label>                                   
                                </div>
                            </div>                          
                            <div class="col-md-2">
                                <div class="mb-1">
                                    <select class="form-control" formControlName="yearId">
                                        <option *ngFor="let yr of yearList" value={{yr.dataId}}>
                                            {{yr.dataName}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="mb-1">
                                    <label for="formrow-inputState">Branch: </label>                                   
                                </div>
                            </div>                          
                            <div class="col-md-2">
                                <div class="mb-2">
                                    <select class="form-control" formControlName="branch">
                                        <option *ngFor="let yr of branchList" value={{yr.dataId}}>
                                            {{yr.dataName}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="mb-1">
                                    <label for="formrow-inputState">Challan No : </label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="mb-2">
                                    <input class="form-control" formControlName="challanNo" >
                                </div>
                            </div>       
                            <div class="col-md-2">
                                <div class="mb-2">
                                    <button class="btn btn-primary"   
                                    (click)="search()"><span>Search</span></button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>          
            <!-- end page title -->
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li role="presentation" class="nav-item">
                    <a class="nav-link" [ngClass]="{'active' : step1Active}" data-toggle="tab" aria-controls="step1" role="tab"
                        title="Step 1">Challan Master</a>
                </li>
                <li role="presentation" class="nav-item">
                    <a class="nav-link" [ngClass]="{'active' : step2Active}" data-toggle="tab" aria-controls="step2" role="tab"
                        title="Step 2"> Consignment & Lhpm Details</a>
                </li>
               
            </ul>
            <form (keydown.enter)="$event.preventDefault()"role="form" [formGroup]="formUser">
                <div class="tab-content">
                    <div class="tab-pane mt-4" [ngClass]="{'active' : step1Active}" role="tabpanel" id="step1">
                        <div class="row">
                            <div class="col-lg-2">   
                                <div class="mb-3">
                                    <label for="neft" >Challan Branch : </label>
                                    <span style="color: red">*</span>
                                    <select formControlName="challanBranch"
                                        class="form-control form-select ng-pristine ng-touched"
                                       
                                        [ngClass]="{ 'is-invalid': formSubmitted && (f['challanBranch'].invalid) }">
                                        <option *ngFor="let dl of branchList" value={{dl.dataId}}>
                                            {{dl.dataName}}
                                        </option>
                                    </select>                
                                </div>                    
                            </div>   
                            <!-- <div class="col-lg-2">
                                <div class="mb-3">
                                    <label for="formrow-inputState">Challan No. : </label>
                                    <span style="color: red">*</span>
                                    <input type="text" id="formrow-inputCity" class="form-control" 
                                        formControlName="challanNo" maxlength="15" numbersonly
                                       
                                        [ngClass]="{ 'is-invalid': formSubmitted && (f['challanNo'].invalid) }">
                                </div>
                            </div>      -->
                            <div class="col-lg-2">
                                <div class="mb-3">
                                    <label for="formrow-inputZip">Challan Date : </label><span
                                        style="color: red">*</span>
                                    <input bsdatepicker="" type="date" autoclose="false" class="form-control"
                                        formControlName="challanDateTime" min="{{minDate}}" max="{{maxDate}}"
                                        [ngClass]="{ 'is-invalid': formSubmitted && (f['challanDateTime'].invalid) }">
                                </div>
                            </div>  
                            <div class="col-lg-2">
                                <div class="mb-3">
                                    <label for="formrow-inputZip">Exp Arrival Date: </label><span
                                        style="color: red">*</span>
                                    <input bsdatepicker="" type="date" autoclose="false" class="form-control"
                                        formControlName="expArrivalDate" min="{{minDate}}" max="{{maxDate}}"
                                        [ngClass]="{ 'is-invalid': formSubmitted && (f['expArrivalDate'].invalid) }">
                                </div>
                            </div>  
                            <div class="col-lg-2">
                                <div class="mb-3">
                                    <label for="formrow-inputState">Challan Status : </label><span style="color: red">*</span>
                                    <select id="formrow-inputState"
                                        class="form-control form-select ng-pristine ng-touched"
                                        formControlName="chStatus" 
                                        [ngClass]="{ 'is-invalid': formSubmitted && (f['chStatus'].invalid) }">
                                        <option value="N">Normal</option>
                                        <option value="I">Include</option>
                                        <option value="C">Cancel</option>
                                        <option value="S">Stop</option>
                                    </select>
                                </div>
                            </div>
                            <!-- <div class="col-lg-2">
                                <div class="mb-3">
                                    <label for="formrow-inputZip">LR NO : </label>
                                    <input  class="form-control" formControlName="lrNo" maxlength="15">   
                                </div>
                            </div>   -->
                        </div>
                            <div class="row">  
                            <div class="col-lg-3">
                                <div class="mb-3">
                                    <label for="formrow-inputZip">From Place : </label><span style="color: red">*</span>
                                    <div class="ng-autocomplete">
                                        <ng-autocomplete [data]="locationList"
                                            [searchKeyword]="keywordLocation"  
                                            formControlName="challanFromStn" [initialValue]=""
                                            [notFoundTemplate]="notFoundTemplate"
                                          
                                            [ngClass]="{'is-invalid': formSubmitted && (f['challanFromStn'].invalid)}">
                                        </ng-autocomplete>

                                        <ng-template #itemTemplate let-item>
                                            <a [innerHTML]="item.dataName"></a>
                                        </ng-template>

                                        <ng-template #notFoundTemplate let-notFound>
                                            <div [innerHTML]="notFound"></div>
                                        </ng-template>
                                    </div>                                    
                                </div>
                            </div> 
                            <div class="col-lg-3">
                                <div class="mb-3">
                                    <label for="formrow-inputZip">To Place : </label><span style="color: red">*</span>
                                    <div class="ng-autocomplete">
                                        <ng-autocomplete [data]="locationList" formControlName="challanToStn"
                                            [searchKeyword]="keywordLocation"  
                                          
                                            [itemTemplate]="itemTemplate"
                                            [notFoundTemplate]="notFoundTemplate" 
                                         
                                            [ngClass]="{ 'is-invalid': formSubmitted && (f['challanToStn'].invalid) }">
                                        </ng-autocomplete>
                                        <ng-template #itemTemplate let-item>
                                            <a [innerHTML]="item.dataName"></a>
                                        </ng-template>
                                        <ng-template #notFoundTemplate let-notFound>
                                            <div [innerHTML]="notFound"></div>
                                        </ng-template>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-1">
                                <div class="mb-3">
                                    <label for="formrow-inputZip">Kms</label>
                                    <input type="text" class="form-control" formControlName="distanceKms">
                                </div>
                            </div>  
                                               
                            <div class="col-lg-2">
                                <div class="mb-3">
                                    <label for="formrow-inputZip">Vehicle No</label>
                                    <input class="form-control" formControlName="truckNo">                                    
                                </div>
                            </div> 
                            <div class="col-lg-2">
                                <div class="mb-3">
                                    <input type="checkbox"  formControlName="ownTruckYN" 
                                    class="form-check-input" >
                                    <label for="neft" class="form-check-label">Own Truck </label>                                    
                                </div>
                            </div>                             
                        </div>
                                              
                            
                                               
                              
                    
                       
                       
                                               
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="mb-3">
                                    <label for="formrow-inputZip">Broker : </label>
                                    <span style="color: red">*</span>
                                    <div class="ng-autocomplete">
                                        <ng-autocomplete [data]="brokerList" formControlName="brokerId"
                                            [searchKeyword]="keywordLocation"  
                                       
                                    
                                     
                                            [itemTemplate]="itemTemplate"
                                            [notFoundTemplate]="notFoundTemplate" 
                              
                                            [ngClass]="{ 'is-invalid': formSubmitted && (f['brokerId'].invalid) }">
                                        </ng-autocomplete>
                                        <ng-template #itemTemplate let-item>
                                            <a [innerHTML]="item.dataName"></a>
                                        </ng-template>
                                        <ng-template #notFoundTemplate let-notFound>
                                            <div [innerHTML]="notFound"></div>
                                        </ng-template>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="mb-3">
                                    <label for="formrow-inputZip">Total Pkgs</label>
                                    <input type="text" numbersonly class="form-control" formControlName="totPkgs">
                                </div>
                            </div> 
                            <div class="col-lg-1">
                                <div class="mb-3">
                                    <label for="formrow-inputZip">Chrg Wt</label>
                                    <input type="text" decimalonly class="form-control" 
                                    maxlength="10" formControlName="totChrgWt">
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="mb-3">
                                    <label for="formrow-inputZip">Total Hire</label>
                                    <input type="text" decimalonly class="form-control" 
                                        formControlName="totalHire" >
                                </div>
                            </div>
                            
                        </div>                          
                        <div class="row">
                            
                        </div>    
                        <div class="row">                                                       
                           
                        </div>
                        <div class="row">
                            
                            
                        </div>
                        <div class="row">
                          
                           
                        </div>
                        <div class="row">
                            
                            
                            
                           
                           
                        </div>
                        <div class="row">                          
                                                            
                                                             
                                                        
                                           
                        </div>
                       
                        <div class="row text-right">
                            <div class="col-lg-12">
                                <div class="tex">
                                    <button type="button" class="btn btn-primary w-md next-step ms-2" 
                                    id="n-btn1" (click)="nextStep(2)">Next</button>&nbsp;
                                    <button class="btn btn-secondary w-md" (click)="exit()">Exit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane mt-4" [ngClass]="{'active' : step2Active}" role="tabpanel" id="step2">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="overflow-x">
                                            <h4 class="card-title mb-4" style="color: red;"> Consignment Details</h4>
                                            <table class="table table-bordered dt-responsive nowrap w-100 no-border-table">
                                            <tr>
                                                <th><label for="formrow-inputCity">Booking Place</label></th>       
                                                <!-- <th><label for="formrow-inputCity">bookedAt</label> </th>      -->
                                                <th><label for="formrow-inputCity">Gc Note No</label></th>      
                                                <th><label for="formrow-inputCity">Booking Date</label></th>       
                                                <!-- <th><label for="formrow-inputCity">bookingStatus</label></th>        -->
                                                <!-- <th><label for="formrow-inputCity">ewayBillNo</label></th>       -->
                                                <!-- <th><label for="formrow-inputCity">ewayBillDate</label></th>       -->
                                                <!-- <th><label for="formrow-inputCity">ewayBillExpDate</label></th>       -->
                                                <th><label for="formrow-inputCity">From</label></th>      
                                                <th><label for="formrow-inputCity">To</label></th>       
                                                <!-- <th><label for="formrow-inputCity">kms</label></th>      
                                                <th><label for="formrow-inputCity">truckNo</label></th>     
                                                <th><label for="formrow-inputCity">billingParty</label></th>      
                                                <th><label for="formrow-inputCity">cnorId</label></th>  
                                                <th><label for="formrow-inputCity">cneeId</label></th>  
                                                <th><label for="formrow-inputCity">oth2DedAmt</label></th>  
                                                <th><label for="formrow-inputCity">deductRemarks</label></th>  
                                                <th><label for="formrow-inputCity">productId</label></th>  -->
                                                <th><label for="formrow-inputCity">Cnor Name</label></th> 
                                                <th><label for="formrow-inputCity">Cnee Name</label></th> 
                                                <th><label for="formrow-inputCity">Actual Weight</label></th> 
                                                <th><label for="formrow-inputCity">Charge Weight</label></th> 
                                            </tr>
                                            <tr formArrayName="arrayChlnList"
                                                *ngFor="let arrayData of formChlnArray.controls; let i = index">
                                                <div [formGroupName]="i" class="grid-table">
                                                    <td>
                                                        <input type="text" class="form-control" 
                                                        maxlength="15" numbersonly
                                                        formControlName="bookingPlace">
                                                    </td>
                                                    <!-- <td >
                                                        <input type="text" class="form-control" 
                                                        formControlName="bookedAt">
                                                    </td> -->
                                                    <td>
                                                        <input type="text" class="form-control" 
                                                        formControlName="gcNoteNo">
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control" 
                                                        formControlName="bookingDate">
                                                    </td>
                                                    <!-- <td>
                                                        <input type="text" class="form-control" 
                                                        formControlName="bookingStatus">
                                                    </td> -->
                                                    <!-- <td>
                                                        <input type="text" class="form-control" 
                                                        formControlName="ewayBillNo">
                                                    </td>  -->
                                                    <!-- <td>
                                                        <input type="date" class="form-control" 
                                                        formControlName="ewayBillDate">
                                                    </td>  -->
                                                    <!-- <td>
                                                        <input type="text" class="form-control" 
                                                        formControlName="ewayBillExpDate">
                                                    </td>  -->
                                                    <td>
                                                        <input type="text" class="form-control" 
                                                        formControlName="fromPlace">
                                                    </td> 
                                                    <td>
                                                        <input type="text" class="form-control" 
                                                        formControlName="toPlace">
                                                    </td> 
                                                    <!-- <td>
                                                        <input type="text" class="form-control" 
                                                        formControlName="kms">
                                                    </td>  -->
                                                    <!-- <td>
                                                        <input type="text" class="form-control" 
                                                        formControlName="truckNo">
                                                    </td>  -->
                                                    <!-- <td>
                                                        <input type="text" class="form-control" 
                                                        formControlName="billingParty">
                                                    </td>  -->
                                                    <!-- <td>
                                                        <input type="text" class="form-control" 
                                                        formControlName="cnorId">
                                                    </td>  -->
                                                    <!-- <td>
                                                        <input type="text" class="form-control" 
                                                        formControlName="cneeId">
                                                    </td>  -->
                                                    <!-- <td>
                                                        <input type="text" class="form-control" 
                                                        formControlName="oth2DedAmt">
                                                    </td>  -->
                                                    <!-- <td>
                                                        <input type="text" class="form-control" 
                                                        formControlName="deductRemarks">
                                                    </td>  -->
                                                    <!-- <td>
                                                        <input type="text" class="form-control" 
                                                        formControlName="productId">
                                                    </td>  -->
                                                    <td>
                                                        <input type="text" class="form-control" 
                                                        formControlName="cnorName">
                                                    </td> 
                                                    <td>
                                                        <input type="text" class="form-control" 
                                                        formControlName="cneeName">
                                                    </td> 
                                                    <td>
                                                        <input type="text" class="form-control" 
                                                        formControlName="actualWt">
                                                    </td> 
                                                    <td>
                                                        <input type="text" class="form-control" 
                                                        formControlName="chargewt">
                                                    </td> 
                                                </div>
                                            </tr>
                                        </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="overflow-x">
                                            <h4 class="card-title mb-4" style="color: red;"> Lorry Hire Payment Details</h4>
                                            <table class="table table-bordered dt-responsive nowrap w-100 no-border-table">
                                            <tr>
                                                <th><label for="formrow-inputCity">Payment Station</label></th>  
                                                <th><label for="formrow-inputCity">Payment No</label></th>  
                                                <th><label for="formrow-inputCity">Payment Date</label></th>   
                                                <th><label for="formrow-inputCity">Challan Station</label></th>   
                                                <th><label for="formrow-inputCity">Challan No</label></th>  
                                                <th><label for="formrow-inputCity">Challan Date</label></th>  
                                                <th><label for="formrow-inputCity">Adv/Bal</label></th>  
                                                <th><label for="formrow-inputCity">Hire Amount</label></th>  
                                                <th><label for="formrow-inputCity">Hamali Amount</label></th>   
                                                <th><label for="formrow-inputCity">Deten Amount</label></th>  
                                                <th><label for="formrow-inputCity">Other Amount</label></th>  
                                                <th><label for="formrow-inputCity">Recovery Amount</label></th>   
                                                <th><label for="formrow-inputCity">TDS Amount</label></th>   
                                                <th><label for="formrow-inputCity">LHPM Amount</label></th>   
                                                <th><label for="formrow-inputCity">Oth1 Ded Amount</label></th> 
                                                <th><label for="formrow-inputCity">Oth2 Ded Amount</label></th>  
                                                <th><label for="formrow-inputCity">Deduct Remarks</label></th> 
                                                <th><label for="formrow-inputCity">Beneficiary</label></th>   
                                            </tr>
                                            <tr formArrayName="arrayLhpmList"
                                                *ngFor="let arrayData of formLhpmArray.controls; let i = index">
                                                <div [formGroupName]="i" class="grid-table">
                                                    <td>
                                                        <input type="text" class="form-control" 
                                                        formControlName="pmtStation">
                                                    </td> 
                                                    <td>
                                                        <input type="text" class="form-control" 
                                                        formControlName="pmtNo">
                                                    </td>
                                                    <td >
                                                        <input type="date" class="form-control" 
                                                        formControlName="pmtDate">
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control" 
                                                        formControlName="challanStn">
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control" 
                                                        maxlength="15" numbersonly
                                                        formControlName="challanNo">
                                                    </td>
                                                    <td>
                                                        <input type="date" class="form-control" 
                                                        formControlName="challanDate">
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control" 
                                                        formControlName="abType">
                                                    </td> 
                                                    <td>
                                                        <input type="text" class="form-control" 
                                                        formControlName="hireAmt">
                                                    </td> 
                                                    <td>
                                                        <input type="text" class="form-control" 
                                                        formControlName="detenAmt">
                                                    </td> 
                                                    <td>
                                                        <input type="text" class="form-control" 
                                                        formControlName="hamaliAmt">
                                                    </td> 
                                                    <td>
                                                        <input type="text" class="form-control" 
                                                        formControlName="otherAmt">
                                                    </td>   
                                                    <td>
                                                        <input type="text" class="form-control" 
                                                        formControlName="recoveryAmt">
                                                    </td> 
                                                    <td>
                                                        <input type="text" class="form-control" 
                                                        formControlName="tdsAmt">
                                                    </td> 
                                                    <td>
                                                        <input type="text" class="form-control" 
                                                        formControlName="lhpmAmt">
                                                    </td> 
                                                    <td>
                                                        <input type="text" class="form-control" 
                                                        formControlName="othDedAmt">
                                                    </td> 
                                                    <td>
                                                        <input type="text" class="form-control" 
                                                        formControlName="oth2DedAmt">
                                                    </td> 
                                                    <td>
                                                        <input type="text" class="form-control" 
                                                        formControlName="deductRemarks">
                                                    </td> 
                                                    <td>
                                                        <input type="text" class="form-control" 
                                                        formControlName="benId">
                                                    </td> 
                                                </div>
                                            </tr>
                                        </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>                        
                       
                        <div class="row text-right">
                            <div class="col-lg-12">
                                <div class="tex">
                                    <button type="button" class="btn btn-default prev-step"
                                        id="p-btn1" (click)="nextStep(1)">Previous</button>
                                    <button type="button" class="btn btn-primary w-md next-step ms-2" 
                                        id="n-btn2"  (click)="nextStep(3)">Next</button>&nbsp;
                                    <button class="btn btn-secondary w-md" (click)="exit()">Exit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane mt-4"  [ngClass]="{'active' : step3Active}" role="tabpanel" id="step3">
                        <!-- 3rd tab -->
                        <div class="row text-right">
                            <div class="col-lg-12">
                                <div class="tex">
                                    <button type="button" class="btn btn-default prev-step"
                                        id="p-btn2" (click)="nextStep(2)">Previous</button> &nbsp;
                                    <button class="btn btn-secondary w-md" (click)="exit()">Exit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </form>
            <!-- end row -->
        </div>
        <!-- container-fluid -->
    </div>
    <!-- End Page-content -->
</div>

