
<div class="main-content">
    <div class="page-content">
        <div class="container-fluid">
            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                        <h4 class="mb-sm-0 font-size-18">Challan Release for Pmt</h4>
                    </div>
                </div>
            </div>
            <!-- end page title -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <div id="basic-example">
                                <form (keydown.enter)="$event.preventDefault()"[formGroup]="formUser">
                                    <div class="row">
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="basicpill-firstname-input">Challan Branch</label> <span style="color: red">*</span>
                                                <select class="form-control form-select ng-pristine ng-touched"
                                                 formControlName="challanBranch"
                                                    [ngClass]="{ 'is-invalid': formSubmitted && (f['challanBranch'].invalid) }">
                                                    <option *ngFor="let branch of branchList"
                                                        value={{branch.dataId}}>
                                                        {{branch.dataName}}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="basicpill-lastname-input">Challan Year</label> <span style="color: red">*</span>
                                                <select class="form-control" formControlName="chYear" [ngClass]="{ 'is-invalid': formSubmitted && (f['chYear'].invalid) }" >
                                                    <option *ngFor="let branch of yearList" value={{branch.dataId}}>
                                                       {{branch.dataName}}
                                                    </option>
                                                 </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-2">
                                                <label for="formrow-inputZip">Challan No</label>
                                                <span style="color: red">*</span>
                                                <input uppercaseonly type="text" class="form-control"  
                                                formControlName="challanNo" numbersonly
                                                [ngClass]="{ 'is-invalid': formSubmitted && (f['challanNo'].invalid) }">
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="mb-2">
                                                <button class="btn btn-primary"   
                                                (click)="chkChallanDuplicateRelease()"><span>Search</span></button>
                                            </div>
                                        </div>                                       
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-2">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">Challan Date : </label>
                                                <input bsdatepicker="" type="date" autoclose="false" class="form-control"
                                                    formControlName="challanDateTime" 
                                                    [ngClass]="{ 'is-invalid': formSubmitted && (f['challanDateTime'].invalid) }">
                                            </div>
                                        </div>  
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">From Place : </label>
                                                <div class="ng-autocomplete">
                                                    <ng-autocomplete [data]="locationList"
                                                        formControlName="challanFromStn" 
                                                        (selected)='selectEvent($event)'
                                                        (inputChanged)='onChangeSearch($event)'
                                                       [itemTemplate]="itemTemplate"
                                                        [notFoundTemplate]="notFoundTemplate"
                                                        [customFilter]="startWithFilter" 
                                                        [ngClass]="{'is-invalid': formSubmitted && (f['challanFromStn'].invalid)}">
                                                    </ng-autocomplete>
            
                                                    <ng-template #itemTemplate let-item>
                                                        <a [innerHTML]="item.dataName"></a>
                                                    </ng-template>
            
                                                    <ng-template #notFoundTemplate let-notFound>
                                                        <div [innerHTML]="notFound"></div>
                                                    </ng-template>
                                                </div>                                    
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">To Place : </label>
                                                <div class="ng-autocomplete">
                                                    <ng-autocomplete [data]="locationList" formControlName="challanToStn"
                                                       (selected)='selectEvent($event)' 
                                                        [itemTemplate]="itemTemplate"
                                                        [notFoundTemplate]="notFoundTemplate" 
                                                        [customFilter]="startWithFilter"
                                                        [ngClass]="{ 'is-invalid': formSubmitted && (f['challanToStn'].invalid) }">
                                                    </ng-autocomplete>
                                                    <ng-template #itemTemplate let-item>
                                                        <a [innerHTML]="item.dataName"></a>
                                                    </ng-template>
                                                    <ng-template #notFoundTemplate let-notFound>
                                                        <div [innerHTML]="notFound"></div>
                                                    </ng-template>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">Broker : </label>
                                                <div class="ng-autocomplete">
                                                    <ng-autocomplete [data]="brokerList" formControlName="brokerId"
                                                        (selected)='selectEvent($event)' 
                                                        [itemTemplate]="itemTemplate"
                                                        [notFoundTemplate]="notFoundTemplate" 
                                                        [customFilter]="startWithFilter"
                                                        [ngClass]="{ 'is-invalid': formSubmitted && (f['brokerId'].invalid) }">
                                                    </ng-autocomplete>
                                                    <ng-template #itemTemplate let-item>
                                                        <a [innerHTML]="item.dataName"></a>
                                                    </ng-template>
                                                    <ng-template #notFoundTemplate let-notFound>
                                                        <div [innerHTML]="notFound"></div>
                                                    </ng-template>
                                                </div>
                                            </div>
                                        </div>                                     
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="basicpill-phoneno-input">Release For Pmt</label>
                                                <select id="formrow-inputState" class="form-control form-select ng-pristine ng-touched"
                                                    formControlName="releaseForPmt"
                                                    [ngClass]="{ 'is-invalid': formSubmitted && (f['releaseForPmt'].invalid) }">
                                                    <option value="Y">Yes</option>      
                                                    <option value="N">No</option> 
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">                    
                                        <div class="col-lg-5">
                                            <div class="mb-3">
                                                <label style="color: blue"> 
                                                    <h6><b>Created By:</b>  {{ this.createdBy }} </h6> 
                                                </label>                                                 
                                            </div>
                                        </div>                   
                                        <div class="col-lg-5">
                                            <div class="mb-3">
                                                <label style="color: blue"> 
                                                    <h6><b>Modified By:</b> {{ this.modifiedBy}} </h6> 
                                                </label>                                                 
                                            </div>
                                        </div>
                                        <!-- end col -->
                                    </div> 
                                    <div class="row text-right">
                                        <div class="col-lg-12">
                                            <div class="tex">
                                                <button class="btn btn-primary w-md" 
                                                *ngIf="((editMode && editStatus) || (!editMode && createStatus)) && !formSubmitted"
                                                    (click)="submitChallanReleaseForm()">Save</button>
                                                <button class="btn btn-danger w-md m-2" *ngIf="editMode && deleteStatus"
                                                    (click)="deleteChallanReleaseForm()">Delete</button>
                                                <button class="btn btn-secondary w-md m-2" (click)="exit()">Exit</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <!-- Attachment Details -->
                            </div>
                        </div>
                        <!-- end card body -->
                    </div>
                    <!-- end card -->
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- container-fluid -->
    </div>
    <!-- End Page-content -->
</div>