<div class="main-content">
    <div class="page-content">
        <div class="container-fluid">
            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                        <h4 class="mb-sm-0 font-size-18">Consignment</h4>

                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="/#/consignmentlist">Consignment</a></li>
                                <li class="breadcrumb-item active">Consignment Add</li>
                            </ol>
                        </div>

                    </div>
                </div>
            </div>
            <!-- end page title -->
            <form>
                <div class="ng-untouched ng-pristine ng-valid">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title mb-4">Booking</h4>
                                    <div class="row">
                                        <div class="col-lg-3">
                                            <div class="mb-3"><label for="formrow-inputCity">Booked at</label>
                                               
                                               
                                                 <select  class="form-control"formcontrol="userBranch" [ngClass]="">
                                                    <option *ngFor="let branch of branchList" value={{branch.dataId}}>
                                                       {{branch.dataName}}
                                                    </option>
                                                 </select>
                                                
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="mb-3">
                                                <label for="formrow-inputState">LR.Series/No</label>
                                               
                                                <select id="formrow-inputState" class="form-select"formcontrol="gcSeries">
                                                    <option selected="">Choose...</option>
                                                    <option>...</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="mb-3">
                                                <label for="formrow-inputState">&nbsp;GcSlNo</label>

                                                <input type="text" id="formrow-inputCity" class="form-control"
                                                placeholder="Enter GcSlNo"formcontrol="gcSlNo"
                                                [ngClass]=>
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="mb-3"><label for="formrow-inputZip">Booking Date</label>
                                                <input bsdatepicker="" autoclose="false" placeholder="yyyy-mm-dd"
                                                    class="form-control"formcontrol="bookingDate">
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="formrow-inputState">Book Status</label>
                                                <select id="formrow-inputState" class="form-control"formcontrol="bookingStatus">
                                                    <option selected="">Choose...</option>
                                                    <option>...</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-3">
                                            <div class="form-check mb-3">
                                                <input type="radio" name="formRadios" id="formRadios1" checked=""
                                                    class="form-check-input"><label for="formRadios1"
                                                    class="form-check-label"> Get ALL
                                                    From EWayBill API
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="form-check">
                                                <input type="radio" name="formRadios" id="formRadios2"
                                                    class="form-check-input"><label for="formRadios2"
                                                    class="form-check-label"> No EWay Bill or Manual Entry
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">EWay Bill No</label>
                                                <input type="text" class="form-control"
                                                placeholder="Enter ewayBillNo "formcontrol="ewayBillNo"
                                                [ngClass]=>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">EWay Bill Date</label>
                                                <input bsdatepicker="" autoclose="false" placeholder="yyyy-mm-dd"formcontrol="ewayBillDate"
                                                class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">EWay Bill Exp Date</label>
                                                <input bsdatepicker="" autoclose="false" placeholder="yyyy-mm-dd"formcontrol="ewayBillExpDate"
                                                    class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">Vehicle No</label>
                                                <input autoclose="false" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-2">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">From Place</label>
                                                <select id="formrow-inputState" class="form-control"formcontrol="fromPlace">
                                                    <option selected="">Choose...</option>
                                                    <option>...</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">Pin</label>
                                                <input autoclose="false" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">To Place</label>
                                                <select id="formrow-inputState" class="form-control"formcontrol="toPlace">
                                                    <option selected="">Choose...</option>
                                                    <option>...</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">Pin</label>
                                                <input autoclose="false" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">KMs</label>
                                                <input type="text" class="form-control"
                                                placeholder="Enter  "formcontrol="kms"
                                                [ngClass]=>
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">Invoice Value</label>
                                                <input autoclose="false" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ng-untouched ng-pristine ng-valid">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title mb-4">Consignor/Consignee</h4>
                                    <div class="row">
                                        <div class="col-lg-3">
                                            <div class="mb-3"><label for="formrow-inputCity">Select Consignor</label>
                                                <select id="formrow-inputState" class="form-control">
                                                    <option selected="">Choose...</option>
                                                    <option>...</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="formrow-inputState">Cnor LOC</label>
                                                <select id="formrow-inputState" class="form-control">
                                                    <option selected="">Choose...</option>
                                                    <option>...</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3"><label for="formrow-inputZip">Cnor Ref No</label>
                                                <input class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="formrow-inputState">Invoice Date</label>
                                                <input bsdatepicker="" autoclose="false" placeholder="yyyy-mm-dd"
                                                    class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-3">
                                            <div class="mb-3"><label for="formrow-inputCity">W.O No</label>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="formrow-inputState">W.O Date</label>
                                                <input bsdatepicker="" autoclose="false" placeholder="yyyy-mm-dd"
                                                    class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3"><label for="formrow-inputZip">P.O No</label>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="formrow-inputState">P.O Date</label>
                                                <input bsdatepicker="" autoclose="false" placeholder="yyyy-mm-dd"
                                                    class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">Select Consignee</label>
                                                <select id="formrow-inputState" class="form-control">
                                                    <option selected="">Choose...</option>
                                                    <option>...</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">&nbsp;</label>
                                                <input class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">&nbsp;</label>
                                                <input class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">Contents</label>
                                                <select id="formrow-inputState" class="form-control">
                                                    <option selected="">Choose...</option>
                                                    <option>...</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">Contents Desc</label>
                                                <input type="text" class="form-control"
                                                placeholder="Enter  "formcontrol=""
                                                [ngClass]=>
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">Actual Wt</label>
                                                <input type="text" class="form-control"
                                                placeholder="Enter  actualWt "formcontrol="actualWt"
                                                [ngClass]=>
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">Charged Wt</label>
                                                <input type="text" class="form-control"
                                                placeholder="Enter  chargewt "formcontrol="chargewt"
                                                [ngClass]=>
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">Qty/Pkgs</label>
                                                <input autoclose="false" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">Rate Type</label>
                                                <select id="formrow-inputState" class="form-control"formcontrol="rateRs">
                                                    <option selected="">Choose...</option>
                                                    <option>...</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ng-untouched ng-pristine ng-valid">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title mb-4">Freight Details</h4>
                                    <div class="row">
                                        <div class="col-lg-2">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">Rate</label>
                                               <input type="text" class="form-control"
                                                placeholder="Enter  rateRs "formcontrol="rateRs"
                                                [ngClass]=>
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">Freight</label>
                                                <input type="text" class="form-control"
                                                placeholder="Enter  freightRs "formcontrol="freightRs"
                                                [ngClass]=>
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">Statistical</label>
                                                <input type="text" class="form-control"
                                                placeholder="Enter  statisticalRs "formcontrol="statisticalRs"
                                                [ngClass]=>
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">Loading</label>
                                                <input type="text" class="form-control"
                                                placeholder="Enter  loadingDetnRs "formcontrol="loadingDetnRs"
                                                [ngClass]=>
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">Ld Pt Detn</label>
                                                <input class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">Extra Ch</label>
                                                <input type="text" class="form-control"
                                                placeholder="Enter  extrasRS "formcontrol="extrasRS"
                                                [ngClass]=>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-2">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">Misc. Charge</label>
                                                <input type="text" class="form-control"
                                                placeholder="Enter  miscRs "formcontrol="miscRs"
                                                [ngClass]=>
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">Un Loading</label>
                                                <input type="text" class="form-control"
                                                placeholder="Enter  unLoadingRs "formcontrol="unLoadingRs"
                                                [ngClass]=>
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">UL Pt Detn</label>
                                                <input class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">Multi Pt</label>
                                                <input class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">Other Charge</label>
                                                <input type="text" class="form-control"
                                                placeholder="Enter  othersRs "formcontrol="othersRs"
                                                [ngClass]=>
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">Sub Total</label>
                                                <input type="text" class="form-control"
                                                placeholder="Enter  subTotalRs "formcontrol="subTotalRs"
                                                [ngClass]=>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-2">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">Sgst %</label>
                                                <input class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">Sgst Amount</label>
                                                <input class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">Cgst %</label>
                                                <input class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">Cgst Amount</label>
                                                <input type="text" class="form-control"
                                                placeholder="Enter  cgstAmt "formcontrol="cgstAmt"
                                                [ngClass]=>
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">Igst %</label>
                                                <input class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">Igst Amount</label>
                                                <input type="text" class="form-control"
                                                placeholder="Enter  igstAmt "formcontrol="igstAmt"
                                                [ngClass]=>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">Non GST Desc</label>
                                                <input type="text" class="form-control"
                                                placeholder="Enter  nonGstAmt1Desc "formcontrol="nonGstAmt1Desc"
                                                [ngClass]=>
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">Non GST Amount</label>
                                                <input type="text" class="form-control"
                                                placeholder="Enter  nonGstAmt1 "formcontrol="nonGstAmt1"
                                                [ngClass]=>
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">Net Total</label>
                                                <input type="text" class="form-control"
                                                placeholder="Enter  Advance "formcontrol="gtotalRs"
                                                [ngClass]=>
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">Advance</label>
                                             
                                                <input type="text" class="form-control"
                                                placeholder="Enter  Advance "formcontrol="advanceRs"
                                                [ngClass]=>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ng-untouched ng-pristine ng-valid">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">Billing Station</label>
                                                <select id="formrow-inputState" class="form-control">
                                                    <option selected="">Choose...</option>
                                                    <option>...</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-8">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">Remarks</label>
                                                <input autoclose="false" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row text-right">
                    <div class="col-lg-12">
                        <div class="tex">
                           
                            <button type="submit" class="btn btn-primary w-md"
                      (click)="submitConsignmentForm()">Submit</button>
                        </div>
                    </div>
                </div>
            </form>
            <!-- end row -->
            <!-- end row -->
        </div>
        <!-- container-fluid -->
    </div>
    <!-- End Page-content -->

</div>