<div class="main-content">
    <div class="page-content">
       <div class="container-fluid">
          <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                        <h4 class="mb-sm-0 font-size-18">Tyre Purchase Master</h4>
                    </div>
                </div>
            </div>
          <!-- end page title -->
            <form [formGroup]="formUser">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body"> 
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="mb-3">
                                           
                                            <label >Purchase Date: </label><span style="color: red">*</span>  
                                            <input type="date"  autofocus="autofocus" class="form-control"
                                            placeholder="" formControlName="purchaseDate"
                                            [ngClass]=>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="mb-3">
                                            <label>Branch Code: </label>
                                            <select class="form-control" formControlName="branchCode"
                                                [ngClass]="{ 'is-invalid': userSubmitted && (f['branchCode'].invalid) }">
                                                <option *ngFor="let branch of branchList" value={{branch.dataId}}>
                                                    {{branch.dataName}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>   
                                    <div class="col-sm-2">
                                        <div class="mb-2">
                                            <label>Gst Type </label><span style="color: red">*</span> 
                                          
                                            <select id="formrow-inputState" 
                                            class="form-control form-select ng-pristine ng-touched"
                                                formControlName="gstType"
                                                [ngClass]="{ 'is-invalid': userSubmitted && (f['gstType'].invalid) }">
                                                <option value="Y">Yes</option>
                                                <option value="N">No</option>                                                                                          
                                            </select>
                                        </div>
                                    </div>  

                                    <div class="col-sm-2">
                                        <div class="mb-3">
                                            <label>Purchase Type</label>
                                            <select id="formrow-inputState" 
                                            class="form-control form-select ng-pristine ng-touched"
                                            formControlName="purchaseType"
                                            [ngClass]="{ 'is-invalid': userSubmitted && (f['totalAmt'].invalid) }">
                                            <option value="N">New Tyres</option>
                                            <option value="V">Vehicle Tyres</option>   
                                            <option value="S">Stock Tyres</option>  
                                            <option value="R">Regroup Tyres</option>                                                                                       
                                        </select>
                                        </div>
                                    </div>   
                                </div> 
                                <div class="row"> 
                                    <div class="col-sm-3">
                                        <div class="mb-3">
                                            <label>Vendor Id </label>
                                            <input uppercaseonly type="text" class="form-control" 
                                            maxlength="200" formControlName="vendorId">
                                        </div>
                                    </div>  
                                    <div class="col-sm-3">
                                    
                                        <div class="mb-3">
                                           
                                         
                                            <input type="checkbox" formControlName="noVendor" id="noVendor"
                                        
                                            name="noVendor" class="form-check-input" 
                                            value="Y" 
                                           >
                                           <label for="noVendor" class="form-check-label" > NoVendor
                                        </label>
                                       
                                      
                                        </div>
                                    
                                    </div>
                                  
                                                                    
                                 
                                    
                                </div> 
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="mb-3">
                                            <label>Vendor Name : </label>
                                            <input uppercaseonly type="text" class="form-control" 
                                            maxlength="200" formControlName="vendorName">
                                        </div>
                                    </div> 
                                    <div class="col-sm-6">
                                        <div class="mb-3">
                                            <label>Vendor Address </label>
                                            <input uppercaseonly type="text" class="form-control" 
                                            maxlength="200" formControlName="vendorAddress">
                                        </div>
                                    </div>  
                                     
                                </div> 
                                <div class="row">                                
                                    <div class="col-sm-3">
                                        <div class="mb-3">
                                            <label>Vendor GstNo: </label><span style="color: red">*</span> 
                                            <input numbersonly type="text"
                                            class="form-control" 
                                            formControlName="vendorGstNo" >
                                        </div>
                                    </div>  
                                    <div class="col-sm-3">
                                        <div class="mb-3">
                                            <label>Vendor InvNo: </label><span style="color: red">*</span> 
                                            <input numbersonly type="text"
                                            class="form-control" 
                                            formControlName="vendorInvNo" >
                                        </div>
                                    </div>  
                                    <div class="col-sm-3">
                                        <div class="mb-3">
                                            <label>VendorInvDt: </label><span style="color: red">*</span> 
                                            <input type="date"  autofocus="autofocus" class="form-control"
                                            placeholder="" formControlName="vendorInvDt"
                                            [ngClass]=>
                                        </div>
                                    </div>  
                                  
                                   
                                </div> 
                                <div class="row">                             
                                   
                                    <div class="col-sm-3">
                                        <div class="mb-3">
                                            <label>Tyre SacCode: </label><span style="color: red">*</span> 
                                            <input uppercaseonly type="text"
                                            class="form-control" 
                                            formControlName="tyreSacCode" >
                                        </div>
                                    </div>  
                                    <div class="col-sm-2">
                                        <div class="mb-3">
                                            <label>TotalAmt </label>                                           
                                            <input numbersonly type="text"
                                            class="form-control" 
                                            formControlName="tyreSacCode" >
                                        </div>
                                        
                                    </div>  
                                    <div class="col-sm-2">
                                        <div class="mb-3">
                                            <label>RoundOff </label>
                                            <input numbersonly  type="text"  maxlength="10"class="form-control"
                                            formControlName="roundOff">
                                        </div>
                                    </div>      
                                   
                                </div> 
                                <div class="row">        
                                    
                                  
                                   
                                </div> 
                                <div class="row">
                                  
                                    <div class="col-lg-3">
                                        <div class="form-check">
                                            <input type="checkbox" formControlName="neftPmt" id="neft"
                                              
                                                name="neft" class="form-check-input" 
                                                value="Y" 
                                               >
                                            <label for="neft" class="form-check-label" style="color: green;"> Neft
                                            </label>
                                        </div>
                                    </div>
                                                                 
                                    <div class="col-sm-6">
                                        <div class="mb-3">
                                            <label>Remarks: </label>
                                            <input  uppercaseonly type="text" 
                                            class="form-control"
                                            formControlName="remarks" >
                                        </div>
                                    </div>  
                                </div> 
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="mb-3">
                                            <label>ChequeNo </label>
                                            <input  uppercaseonly type="text" 
                                            class="form-control"
                                            formControlName="chequeNo" >
                                        </div>
                                    </div> 
                                    <div class="col-sm-3">
                                        <div class="mb-3">
                                            <label >Cheque Date </label><span style="color: red">*</span>  
                                            <input type="date"  autofocus="autofocus" class="form-control"
                                            placeholder="" formControlName="chequeDate"
                                            [ngClass]=>
                                        </div>
                                    </div> 
                                   
                                    <div class="col-sm-2">
                                        <div class="mb-3">
                                            <label>RefDocAttachedImage : </label>
                                            <input #attachmentInput class="form-control" type="file"
                                                    id="formAttFile" accept="image/*">
                                        </div>
                                    </div>                                        
                                </div>                                
                            </div>                  
                            <!-- end card body -->
                        </div>                     
                        <!-- end card -->
                    </div>
                </div>  
                <div class="ng-untouched ng-pristine ng-valid">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title mb-4"></h4>
                                    <div class="overflow-x">
                                    <table class="table table-bordered dt-responsive nowrap w-100 no-border-table">
                                        <tr>
                                            <td class="col-lg-2">
                                                <label for="formrow-inputZip">
                                                    <h6>TyreNo </h6>
                                                </label></td>
                                            <td class="col-lg-2">
                                                <label for="formrow-inputZip">
                                                    <h6>BrandID</h6>
                                                </label></td>
                                                <td class="col-lg-2">
                                                    <label for="formrow-inputZip">
                                                        <h6>TyrePattern </h6>
                                                    </label></td>
                                                    <td class="col-lg-2">
                                                        <label for="formrow-inputZip">
                                                            <h6>TyreModel  </h6>
                                                        </label></td>
                                                        <td class="col-lg-2">
                                                            <label for="formrow-inputZip">
                                                                <h6>TyreAmt </h6>
                                                            </label></td>
                                                          
                                                               
                                                                    <td class="col-lg-2">
                                                                        <label for="formrow-inputZip">
                                                                            <h6>SgstPct </h6>
                                                                        </label></td>
                                                                        <td class="col-lg-2">
                                                                            <label for="formrow-inputZip">
                                                                                <h6>SgstAmt  </h6>
                                                                            </label></td>
                                                                            <td class="col-lg-2">
                                                                                <label for="formrow-inputZip">
                                                                                    <h6>CgstPct   </h6>
                                                                                </label></td>
                                                                                <td class="col-lg-2">
                                                                                    <label for="formrow-inputZip">
                                                                                        <h6>CgstAmt    </h6>
                                                                                    </label></td>
                                                                                    <td class="col-lg-2">
                                                                                        <label for="formrow-inputZip">
                                                                                            <h6>IgstPct     </h6>
                                                                                        </label></td>
                                                                                        <td class="col-lg-2">
                                                                                            <label for="formrow-inputZip">
                                                                                                <h6>IgstAmt      </h6>
                                                                                            </label></td>
                                                                                            <td class="col-lg-2">
                                                                                                <label for="formrow-inputZip">
                                                                                                    <h6>NetTyreAmount      </h6>
                                                                                                </label></td>
                                                                                                <td class="col-lg-2">
                                                                                                    <label for="formrow-inputZip">
                                                                                                        <h6>EstLifeKM       </h6>
                                                                                                    </label></td>
                                                                                                    <td class="col-lg-2">
                                                                                                        <label for="formrow-inputZip">
                                                                                                            <h6>RegroupAmt        </h6>
                                                                                                        </label></td>
                                                                                                        <td class="col-lg-2">
                                                                                                            <label for="formrow-inputZip">
                                                                                                                <h6>CurrentTyreStatus         </h6>
                                                                                                            </label></td>
                                                                                                            <td class="col-lg-2">
                                                                                                                <label for="formrow-inputZip">
                                                                                                                    <h6>CurrentStatusDate          </h6>
                                                                                                                </label></td>
                                                                                                                <td class="col-lg-2">
                                                                                                                    <label for="formrow-inputZip">
                                                                                                                        <h6>CurrentVehicleNo           </h6>
                                                                                                                    </label></td>
                                            <td class="col-lg-2">
                                                <label for="formrow-inputZip">
                                                    <h6>Action</h6>
                                                </label></td>
                                            </tr>
                                        <tr formArrayName="tyreDetailList"
                                            *ngFor="let arrayData of formTyreArray.controls; let i = index">
                                            <div [formGroupName]="i" class="grid-table">
                                                <td class="col-lg-2"> 
                                                    <input numbersonly autoclose="false" class="form-control"
                                                    formControlName="tyreNo">                                                     
                                                   
                                                </td>
                                                <td class="col-lg-2"> 
                                                    <input numbersonly autoclose="false" class="form-control"
                                                    formControlName="brandID">                                                     
                                                   
                                                </td>
                                                <td class="col-lg-2"> 
                                                    <input numbersonly autoclose="false" class="form-control"
                                                    formControlName="tyrePattern">                                                     
                                                   
                                                </td>
                                                <td class="col-lg-2"> 
                                                    <input numbersonly autoclose="false" class="form-control"
                                                    formControlName="tyreModel">                                                     
                                                   
                                                </td>
                                                <td class="col-lg-2"> 
                                                    <input numbersonly autoclose="false" class="form-control"
                                                    formControlName="tyreAmount">                                                     
                                                   
                                                </td>
                                                <td class="col-lg-2"> 
                                                    <input numbersonly autoclose="false" class="form-control"
                                                    formControlName="sgstPct">                                                     
                                                   
                                                </td>
                                                <td class="col-lg-2"> 
                                                    <input numbersonly autoclose="false" class="form-control"
                                                    formControlName="sgstAmt">                                                     
                                                   
                                                </td>
                                                <td class="col-lg-2"> 
                                                    <input numbersonly autoclose="false" class="form-control"
                                                    formControlName="cgstPct">                                                     
                                                   
                                                </td>
                                                <td class="col-lg-2"> 
                                                    <input numbersonly autoclose="false" class="form-control"
                                                    formControlName="cgstAmt">                                                     
                                                   
                                                </td>
                                                <td class="col-lg-2"> 
                                                    <input numbersonly autoclose="false" class="form-control"
                                                    formControlName="igstPct">                                                     
                                                   
                                                </td>
                                                <td class="col-lg-2"> 
                                                    <input numbersonly autoclose="false" class="form-control"
                                                    formControlName="igstAmt">                                                     
                                                   
                                                </td>
                                                <td class="col-lg-2"> 
                                                    <input numbersonly autoclose="false" class="form-control"
                                                    formControlName="netTyreAmount">                                                     
                                                   
                                                </td>
                                                <td class="col-lg-2"> 
                                                    <input numbersonly autoclose="false" class="form-control"
                                                    formControlName="estLifeKM">                                                     
                                                   
                                                </td>
                                                <td class="col-lg-2"> 
                                                    <input numbersonly autoclose="false" class="form-control"
                                                    formControlName="regroupAmt">                                                     
                                                   
                                                </td>
                                                <td class="col-lg-2"> 
                                                    <input numbersonly autoclose="false" class="form-control"
                                                    formControlName="currentTyreStatus">                                                     
                                                   
                                                </td>
                                                <td class="col-lg-2"> 
                                                  
                                                    <input type="date"  autofocus="autofocus" class="form-control"
                                                    placeholder="" formControlName="currentStatusDate"
                                                    [ngClass]=>                                                    
                                                   
                                                </td>
                                                <td class="col-lg-2"> 
                                                    <input numbersonly autoclose="false" class="form-control"
                                                    formControlName="currentVehicleNo">                                                     
                                                   
                                                </td>
                                              
                                                <td class="col-lg-4">
                                                    <div class="col-lg-4 details-button">
                                                        <button *ngIf="i === formTyreArray.controls.length-1" type="button"
                                                            class="btn btn-add" (click)="addMiscItem(i)"></button>
                                                        <button *ngIf="formTyreArray.controls.length > 1"
                                                            (click)="removeMiscItem(i)" class="btn btn-delete"></button>
                                                    </div>   
                                                </td>
                                            </div>
                                        </tr>
                                    </table>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                  <div class="row">
                    <div class="col-sm-2">
                        <div class="mb-3">
                            <label>Total TyresAmt  </label>
                            <input numbersonly maxlength="10" type="text" 
                            class="form-control"
                            formControlName="totalTyresAmt" >
                        </div>
                    </div> 
                    <div class="col-sm-2">
                        <div class="mb-3">
                            <label>Total SgstAmt: </label>
                            <input  type="text" 
                            class="form-control" uppercaseonly
                            formControlName="totalSgstAmt" >
                        </div>
                    </div> 
                    <div class="col-sm-2">
                        <div class="mb-3">
                            <label>Total CgstAmt: </label>
                            <input  type="text" 
                            class="form-control" uppercaseonly
                            formControlName="totalCgstAmt" >
                        </div>
                    </div> 
                    <div class="col-sm-2">
                        <div class="mb-3">
                            <label>Total IgstAmt: </label>
                            <input numbersonly  type="text" 
                            class="form-control"
                            formControlName="totalIgstAmt" >
                        </div>
                    </div>  
                </div>
                 
                
                    
                </div>         
                <div class="row text-right">
                    <div class="col-lg-12">
                        <div class="tex">
                             <button class="btn btn-primary w-md" 
                                (click)="submitTyrePurchaseMasterForm()">Save</button>&nbsp;                            
                            <button class="btn btn-danger w-md m-2" 
                                (click)="tyreMasterDelete()">Delete</button>&nbsp;
                            <button class="btn btn-secondary w-md" (click)="exit()">Exit</button>
                        </div>
                    </div>
                    <!-- end col -->
                </div> 
            </form>
           <!-- end row -->
        </div>
        <!-- container-fluid -->
    </div>
     <!-- End Page-content -->
</div>

