<div class="main-content">
    <div class="page-content">
        <div class="container-fluid">
            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                        <h4 class="mb-sm-0 font-size-18">Fastag Data Import</h4>
                    </div>
                </div>
            </div>
            <!-- end page title -->
            <form (keydown.enter)="$event.preventDefault()"[formGroup]="formFastTag">
                <div class="ng-untouched ng-pristine ng-valid">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="row">
                                            <div class="col-lg-2">
                                                <div class="mb-3">
                                                    <label for="formrow-inputCity">Branch</label>
                                                    <span style="color: red"> * </span>
                                                    <select class="form-control" formControlName="branchCode"
                                                        [ngClass]="{ 'is-invalid': formSubmitted && (f['branchCode'].invalid) }"> 
                                                        <option *ngFor="let br of branchList" value={{br.dataId}}>
                                                            {{br.dataName}}
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-lg-2">
                                                <div class="mb-3">
                                                    <label for="formrow-inputCity">Statement Date</label>
                                                    <span style="color: red"> * </span>
                                                    <input autoclose="false" type="date" placeholder="dd/MM/yyyy"
                                                        class="form-control" formControlName="stmtDate"
                                                        [ngClass]="{ 'is-invalid': formSubmitted && (f['stmtDate'].invalid) }">
                                                </div>
                                            </div>
                                            <div class="col-lg-2">
                                                <div class="mb-3">
                                                    <label for="formrow-inputCity">Valid From</label>
                                                    <span style="color: red"> * </span>
                                                    <input autoclose="false" type="date" placeholder="dd/MM/yyyy"
                                                        class="form-control" formControlName="fromDate" 
                                                        [ngClass]="{ 'is-invalid': formSubmitted && (f['fromDate'].invalid) }">
                                                </div>
                                            </div>
                                            <div class="col-lg-2">
                                                <div class="mb-3">
                                                    <label for="formrow-inputCity">Valid To</label>
                                                    <span style="color: red"> * </span>
                                                    <input autoclose="false" type="date" placeholder="dd/MM/yyyy"
                                                        class="form-control" formControlName="toDate"
                                                        [ngClass]="{ 'is-invalid': formSubmitted && (f['toDate'].invalid) }">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-3">
                                                <div class="mb-3">
                                                    <label for="formrow-inputZip">Account</label> 
                                                    <span style="color: red"> * </span>                                               
                                                    <div class="ng-autocomplete">
                                                        <ng-autocomplete [data]="accountList"
                                                            [searchKeyword]="keywordLocation" 
                                                            (selected)='selectEvent($event)'
                                                            (inputChanged)='onChangeSearch($event)'
                                                            (inputFocused)='onFocused($event)'
                                                            [itemTemplate]="itemTemplate"
                                                            [notFoundTemplate]="notFoundTemplate"
                                                            [customFilter]="startWithFilter"
                                                            formControlName="ftAccount" 
                                                            [ngClass]="{ 'is-invalid': formSubmitted && (f['ftAccount'].invalid) }">
                                                        </ng-autocomplete>
    
                                                        <ng-template #itemTemplate let-item>
                                                            <a [innerHTML]="item.dataName"></a>
                                                        </ng-template>
    
                                                        <ng-template #notFoundTemplate let-notFound>
                                                            <div [innerHTML]="notFound"></div>
                                                        </ng-template>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- <div class="col-lg-2">
                                                <div class="mb-3">
                                                    <input type="file" *ngIf="!editMode" (change)="onFileChange($event)" 
                                                        multiple="false" />
                                                </div>
                                            </div> -->
                                        </div>
                                    </div>
                                </div>
                                <!-- end card body -->
                            </div>
                            <!-- end card -->
                        </div>
                    </div>
                </div>
                <div class="ng-untouched ng-pristine ng-valid">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title mb-4"></h4>
                                    <table class="table table-bordered dt-responsive nowrap w-100 no-border-table">
                                        <tr>
                                            <th><label for="formrow-inputZip">Trans Ref No</label></th>
                                            <th><label for="formrow-inputZip">Vehicle No</label></th>
                                            <th><label for="formrow-inputZip">Trans Date Time</label></th>
                                            <th><label for="formrow-inputZip">Fasttag Amount</label></th>
                                            <th><label for="formrow-inputZip">Remarks</label></th>
                                        </tr>                                        
                                        <tr formArrayName="arrayList"
                                            *ngFor="let arrayData of formArray.controls; let i = index">
                                            <div [formGroupName]="i" class="grid-table">
                                            <td>
                                                <div class="mb-3">
                                                    <input class="form-control" formControlName="transRefNo">
                                                </div>
                                            </td>
                                            <td>
                                                <div class="mb-3">
                                                    <input class="form-control" formControlName="vehicleNo">
                                                </div>
                                            </td>
                                            <td>
                                                <div class="mb-3">
                                                    <input  class="form-control" formControlName="transDateTime">
                                                </div>
                                            </td>
                                            <td>
                                                <div class="mb-3">
                                                    <input decimalonly class="form-control" formControlName="ftAmount">
                                                </div>
                                            </td>
                                            <td>
                                                <div class="mb-3">
                                                    <input decimalonly class="form-control" formControlName="dtlRemarks">
                                                </div>
                                            </td>
                                            <td class="mb-3">
                                                <div class="col-lg-4 details-button">
                                                    <button *ngIf="i === formArray.controls.length-1" type="button"
                                                    class="btn btn-add" (click)="addItem(i)"></button>
                                                    <button *ngIf="formArray.controls.length > 1"
                                                    (click)="removeItem(i)" class="btn btn-delete"></button>
                                                </div>
                                            </td>
                                            </div>
                                        </tr>
                                    </table>
                                    <div class="row">                                                                      
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="formrow-inputCity">Total Fasttag Amount</label>
                                                <span style="color: red"> * </span>
                                                <input autoclose="false" type="text" class="form-control"
                                                    formControlName="totalFtAmt"
                                                    [ngClass]="{ 'is-invalid': formSubmitted && (f['totalFtAmt'].invalid) }">
                                            </div>
                                        </div>                                                                                                
                                        <div class="col-lg-4">
                                            <div class="mb-3">
                                                <label for="formrow-inputCity">Remarks</label>
                                                <input  uppercaseonly autoclose="false" type="text" class="form-control"
                                                    formControlName="remarks">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row text-right">
                    <div class="col-lg-12">
                        <div class="tex">
                            <button class="btn btn-primary w-md" 
                            *ngIf="((editMode && editStatus) || (!editMode && createStatus)) && !formSubmitted"
                                (click)="saveStatementDetails()">Save</button>&nbsp;
                            <button class="btn btn-danger w-md m-2" *ngIf="editMode && deleteStatus"
                                (click)="deleteDieselStatementForm()">Delete</button>&nbsp;
                            <button class="btn btn-secondary w-md m-2" (click)="exit()">Exit</button>
                        </div>
                    </div>
                </div>
            </form>
            <!-- end row -->
        </div>
        <!-- container-fluid -->
    </div>
    <!-- End Page-content -->
</div>

