<div class="main-content">
    <div class="page-content">
       <div class="container-fluid">
          <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                        <h4 class="mb-sm-0 font-size-18">Receive from Rethread</h4>
                    </div>
                </div>
            </div>
          <!-- end page title -->
            <form (keydown.enter)="$event.preventDefault()"[formGroup]="formUser">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body"> 
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="mb-3">
                                            <label>Branch : </label><span style="color: red">*</span>  
                                            <select class="form-control form-select ng-pristine ng-touched"formControlName="branchCode"
                                                [ngClass]="{ 'is-invalid': formSubmitted && (f['branchCode'].invalid) }">
                                                <option *ngFor="let branch of branchList" value={{branch.dataId}}>
                                                    {{branch.dataName}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>  
                                    <div class="col-sm-2">
                                        <div class="mb-3">                                           
                                            <label >Received Date: </label><span style="color: red">*</span>  
                                            <input type="date"  autofocus="autofocus" class="form-control"
                                                formControlName="recdDate" max="{{maxDate}}"                                         
                                                [ngClass]="{ 'is-invalid': formSubmitted && (f['recdDate'].invalid) }">
                                        </div>
                                    </div> 
                                    <div class="col-sm-3">
                                        <div class="mb-3">
                                            <label>Vendor</label> <span style="color: red">*</span>                                       
                                            <div class="ng-autocomplete">
                                                <ng-autocomplete [data]="vendorList"
                                                    [searchKeyword]="keywordLocation"  
                                                    (inputChanged)='onChangeSearch($event)'
                                                    (inputFocused)='onFocused($event)'
                                                    [itemTemplate]="itemTemplate"
                                                    [notFoundTemplate]="notFoundTemplate"
                                                    [customFilter]="startWithFilter"
                                                    formControlName="vendorId" 
                                                    [ngClass]="{ 'is-invalid': formSubmitted && (f['vendorId'].invalid) }">
                                                </ng-autocomplete>

                                                <ng-template #itemTemplate let-item>
                                                    <a [innerHTML]="item.dataName"></a>
                                                </ng-template>

                                                <ng-template #notFoundTemplate let-notFound>
                                                    <div [innerHTML]="notFound"></div>
                                                </ng-template>
                                            </div>
                                        </div>
                                    </div>  
                                </div> 
                                <div class="row">   
                                    <div class="col-sm-3">
                                        <div class="mb-3">
                                            <label>Vendor Bill No: </label><span style="color: red">*</span> 
                                            <input uppercaseonly type="text" class="form-control" 
                                                formControlName="vendorBillNo" maxlength="25" 
                                                [ngClass]="{ 'is-invalid': formSubmitted && (f['vendorBillNo'].invalid) }">
                                        </div>
                                    </div>  
                                    <div class="col-sm-2">
                                        <div class="mb-3">
                                            <label>Vendor Bill Dt: </label><span style="color: red">*</span> 
                                            <input type="date" autofocus="autofocus" class="form-control"
                                                formControlName="vendorBillDt"
                                                [ngClass]="{ 'is-invalid': formSubmitted && (f['vendorBillDt'].invalid) }">
                                        </div>
                                    </div> 
                                    <div class="col-lg-2">
                                        <div class="mb-3">
                                            <button (click)="searchStatement()" *ngIf="!editMode"
                                                class="btn btn-primary w-md mt-4">Search</button>
                                        </div>
                                    </div> 
                                </div>             
                            </div>                  
                            <!-- end card body -->
                        </div>                     
                        <!-- end card -->
                    </div>
                </div>  
                <div class="ng-untouched ng-pristine ng-valid">
                    <div class="row" *ngIf="showGrid">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-body" >
                                    <h4 class="card-title mb-4"></h4>
                                    <div class="overflow-x">
                                        <table class="table table-bordered dt-responsive nowrap w-100 no-border-table">
                                            <tr>
                                                <td class="col-lg-1">
                                                    <label for="formrow-inputZip"></label>
                                                </td>
                                                <td class="col-lg-2">
                                                    <label for="formrow-inputZip">
                                                        <h6>Brand</h6>
                                                    </label>
                                                </td>
                                                <td class="col-lg-2">
                                                    <label for="formrow-inputZip">
                                                        <h6>Tyre No </h6>
                                                    </label>
                                                </td>
                                                <td class="col-lg-2">
                                                    <label for="formrow-inputZip">
                                                        <h6>ReGrouped</h6>
                                                    </label>
                                                </td>
                                                <td class="col-lg-2">
                                                    <label for="formrow-inputZip">
                                                        <h6>Amount </h6>
                                                    </label>
                                                </td> 
                                                <td class="col-lg-2">
                                                    <label for="formrow-inputZip">
                                                        <h6>Remarks</h6>
                                                    </label>
                                                </td>
                                            </tr>
                                            <tr formArrayName="arrayList"
                                                    *ngFor="let arrayData of formTyreArray.controls; let i = index">
                                                <div [formGroupName]="i" class="grid-table">
                                                    <td class="col-lg-1"> 
                                                        <input type="checkbox"   class="form-check-input" 
                                                            formControlName="selected" (change)="onCheked(i,$event)" >  
                                                        <input type="hidden" autoclose="false" class="form-control"
                                                            formControlName="regroupIssueDtlId">                                                   
                                                    </td>
                                                    <td class="col-lg-2"> 
                                                        <select class="form-control form-select ng-pristine ng-touched"formControlName="brandId"   
                                                            class="form-control form-select ng-pristine ng-touched" >
                                                            <option *ngFor="let vehi of brandList" value={{vehi.dataId}}>
                                                               {{vehi.dataName}}
                                                            </option>
                                                         </select>  
                                                    </td>
                                                    <td class="col-lg-2"> 
                                                        <div class="ng-autocomplete">
                                                            <ng-autocomplete [data]="tyreList"
                                                                [searchKeyword]="keywordLocation" 
                                                                (inputChanged)='onChangeSearch($event)'
                                                                (inputFocused)='onFocused($event)'
                                                                [itemTemplate]="itemTemplate"
                                                                [notFoundTemplate]="notFoundTemplate"
                                                                [customFilter]="startWithFilter"
                                                                formControlName="tyreId" >
                                                            </ng-autocomplete>
            
                                                            <ng-template #itemTemplate let-item>
                                                                <a [innerHTML]="item.dataName"></a>
                                                            </ng-template>
            
                                                            <ng-template #notFoundTemplate let-notFound>
                                                                <div [innerHTML]="notFound"></div>
                                                            </ng-template>
                                                        </div>
                                                    </td>
                                                    <td class="col-lg-2">                                                          
                                                        <select class="form-control form-select ng-pristine ng-touched"formControlName="regroupDoneYN">
                                                            <option value="Y">Regrouped</option>
                                                            <option value="N">Non-Regrouped</option>
                                                        </select> 
                                                    </td>
                                                    <td class="col-lg-2"> 
                                                        <input decimalonly autoclose="false" class="form-control"
                                                            formControlName="regroupAmount" (change)="onRegroupAmt()"> 
                                                    </td>
                                                    <td class="col-lg-2"> 
                                                        <input uppercaseonly autoclose="false" class="form-control"
                                                            formControlName="remarks"> 
                                                    </td>
                                                </div>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2">
                            <div class="mb-3">
                                <label>Total Amt:  </label>
                                <input type="text" class="form-control" decimalonly
                                formControlName="totalAmt" >
                            </div>
                        </div> 
                           <div class="col-lg-2">
                                            <div class="mb-3">
                                                <label for="formrow-inputCity">GST Type</label>                                          
                                                <select id="formrow-inputState" class="form-control"
                                                    formControlName="gstType" (change)="onGstChange()"
                                                    [ngClass]="{ 'is-invalid': formSubmitted && (f['gstType'].invalid) }">
                                                        <option value="NA">NA</option>      
                                                        <option value="SC">S/CGST</option> 
                                                        <option value="IG">IGST</option>     
                                                </select>
                                            </div>
                                        </div> 
                    <div class="row">
                    </div>
                   
                        <div class="col-sm-2">
                            <div class="mb-3">
                                <label>SGST Pct: </label>
                                <input type="text" class="form-control" decimalonly
                                formControlName="sgstPct" (change)="onPctChange()">
                            </div>
                        </div> 
                        <div class="col-sm-2">
                            <div class="mb-3">
                                <label>SGST Amt: </label>
                                <input type="text" class="form-control" decimalonly
                                formControlName="sgstAmt" >
                            </div>
                        </div> 
                        <div class="col-sm-2">
                            <div class="mb-3">
                                <label>CGST Pct: </label>
                                <input type="text" class="form-control" decimalonly
                                formControlName="cgstPct" (change)="onPctChange()">
                            </div>
                        </div> 
                        <div class="col-sm-2">
                            <div class="mb-3">
                                <label>CGST Amt: </label>
                                <input type="text" class="form-control" decimalonly
                                formControlName="cgstAmt" >
                            </div>
                        </div> 
                        <div class="col-sm-2">
                            <div class="mb-3">
                                <label>IGST Pct: </label>
                                <input type="text" class="form-control" decimalonly
                                formControlName="igstPct" (change)="onPctChange()">
                            </div>
                        </div> 
                        <div class="col-sm-2">
                            <div class="mb-3">
                                <label>IGST Amt: </label>
                                <input type="text" class="form-control" decimalonly
                                formControlName="igstAmt" >
                            </div>
                        </div> 
                    </div>  
                    <div class="row">
                        <div class="col-sm-2">
                            <div class="mb-3">
                                <label>Other Amt:  </label>
                                <input type="text" class="form-control" decimalonly
                                formControlName="otherAmt" (change)="onPctChange()">
                            </div>
                        </div> 
                        <div class="col-sm-2">
                            <div class="mb-3">
                                <label>Round Off: </label>
                                <input type="text" class="form-control" decimalonly
                                formControlName="roundOffAmt" (change)="onPctChange()">
                            </div>
                        </div> 
                        <div class="col-sm-2">
                            <div class="mb-3">
                                <label>Net Bill Amount: </label>
                                <input type="text" class="form-control" decimalonly
                                formControlName="netBillAmt" >
                            </div>
                        </div> 
                    </div>  
                    <div class="row">                                                                        
                        <div class="col-lg-2">
                            <div class="mb-2">
                                <label for="formrow-inputCity">Pmt Type</label><span style="color: red">*</span>    
                                <select id="formrow-inputState" class="form-control" 
                                formControlName="pmtType" (change)="changePmtType($event)"
                                class="form-control form-select ng-pristine ng-touched"
                                 [ngClass]="{ 'is-invalid': formSubmitted && (f['pmtType'].invalid) }"> 
                                    <option value="M">Cash</option>      
                                    <option value="B">Bank</option> 
                                    <option value="H">Happay</option>
                                    <option value="D">Vendor</option>
                                    <option value="A">Adjust</option>                                           
                                </select>                                                
                            </div>                                                    
                        </div>                                      
                        <div class="col-lg-3">
                            <div class="mb-3">
                                <label for="formrow-inputCity">Credit Ac</label><span style="color: red"> * </span>
                                <select class="form-control form-select ng-pristine ng-touched"formControlName="creditAc"
                                    [ngClass]="{ 'is-invalid': formSubmitted && (f['creditAc'].invalid) }">
                                    <option value="">Choose...</option>      
                                    <option *ngFor="let ac of creditAcList" value={{ac.dataId}}>
                                        {{ac.dataName}}
                                    </option>
                                </select>
                            </div>
                        </div>   
                        <div class="col-sm-3">
                            <div class="mb-3">
                                <label>Cheque No </label>
                                <input  uppercaseonly type="text" class="form-control"
                                formControlName="chequeNo" >
                            </div>
                        </div> 
                        <div class="col-sm-2">
                            <div class="mb-3">
                                <label >Cheque Date </label>
                                <input type="date"  autofocus="autofocus" class="form-control"
                                formControlName="chequeDt">
                            </div>
                        </div>   
                    </div> 
                    <div class="row">                                                               
                        <div class="col-sm-6">
                            <div class="mb-3">
                                <label>Remarks: </label>
                                <input  uppercaseonly type="text" class="form-control" maxlength="250" 
                                formControlName="remarks" >
                            </div>
                        </div>                                  
                        <div class="col-sm-4">
                            <div class="mb-3">                                
                                <label>Attach File : </label>                         
                                <input #attachmentInput class="form-control" type="file" id="formPhoto2">
                                <a *ngIf="selectedTyreregrouprecdMasterDetail.attatchFile" target="_blank"
                                            href={{attatchFile}}>Download</a>                              
                            </div>
                        </div>                                        
                    </div>                     
                </div>    
                <div class="row">                    
                    <div class="col-lg-5">
                        <div class="mb-3">
                            <label style="color: blue"> 
                                <h6><b>Created By:</b>  {{ this.createdBy }} </h6> 
                            </label>                                                 
                        </div>
                    </div>                   
                    <div class="col-lg-5">
                        <div class="mb-3">
                            <label style="color: blue"> 
                                <h6><b>Modified By:</b> {{ this.modifiedBy}} </h6> 
                            </label>                                                 
                        </div>
                    </div>
                    <!-- end col -->
                </div>  
     
                <div class="row text-right">
                    <div class="col-lg-12">
                        <div class="tex">
                            <button class="btn btn-primary w-md" 
                            *ngIf="((editMode && editStatus) || (!editMode && createStatus)) && !formSubmitted"
                                (click)="submitTyreMasterForm()">Save</button>&nbsp;                            
                            <button class="btn btn-danger w-md m-2" *ngIf="editMode && deleteStatus"
                                (click)="tyreMasterDelete()">Delete</button>&nbsp;
                            <button class="btn btn-secondary w-md" (click)="exit()">Exit</button>
                        </div>
                    </div>
                    <!-- end col -->
                </div> 
            </form>
           <!-- end row -->
        </div>
        <!-- container-fluid -->
    </div>
     <!-- End Page-content -->
</div>


