<div class="main-content">
    <div class="page-content">
        <div class="container-fluid">
            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                        <h4 class="mb-sm-0 font-size-18">Vehicle Master</h4>
                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="/#/vehiclemasterlist">Vehicle Master</a></li>
                                <li class="breadcrumb-item active">Vehicle Master Add</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end page title -->
            <form [formGroup]="formVehicleMaster">
                <div class="ng-untouched ng-pristine ng-valid">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title mb-4">Master Details</h4>
                                    <div class="row">
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">Vehicle No</label>
                                                <input type="text" numbersonly class="form-control" placeholder="(Number only) Vehicle No"
                                                    formControlName="vehicleNo" [ngClass]=>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="formrow-inputState">Fleet Station</label>
                                                <select id="formrow-inputState" class="form-select"
                                                    formControlName="fleetStation">
                                                    <option selected="">Choose...</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="formrow-inputState">Regn Note</label>
                                                <select id="formrow-inputState" class="form-select"
                                                    formControlName="regnDate">
                                                    <option selected="">Choose...</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">Regd Owner</label>
                                                <input autoclose="false" class="form-control"
                                                    formControlName="regdOwner" placeholder="Enter Regd Owner">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">Chessis No</label>
                                                <input type="text" decimalonly class="form-control" placeholder="(2 digit decimal) Chessis No"
                                                    formControlName="chasisNo" [ngClass]=>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">Engine No</label>
                                                <input type="text" alphanumericonly class="form-control" placeholder="(Alphanumeric) Engine No"
                                                    formControlName="engineNo" [ngClass]=>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="formrow-inputState">Vehicle Type</label>
                                                <select id="formrow-inputState" class="form-select"
                                                    formControlName="vehicleTypeID">
                                                    <option selected="">Choose...</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">Vehicle Model Group</label>
                                                <input autoclose="false" class="form-control"
                                                    formControlName="vehicleTypeGroupId"
                                                    placeholder="Enter Vehicle Model Group">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-3">
                                            <div class="mb-3"><label for="formrow-inputCity">Vehicle Mfr</label>
                                                <select class="form-control" formControlName="userBranch" [ngClass]="">
                                                    <option selected="">Choose...</option>
                                                </select>

                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="formrow-inputState">Mfr Model Name</label>
                                                <input type="text" id="formrow-inputCity" class="form-control"
                                                    formControlName="vehMfrId" placeholder="Enter Mfr Model Name"
                                                    [ngClass]=>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="formrow-inputState">Fule Type</label>
                                                <select id="formrow-inputState" class="form-select"
                                                    formControlName="fuelType">
                                                    <option selected="">Choose...</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3"><label for="formrow-inputZip">Year</label>
                                                <input bsdatepicker="" autoclose="false" placeholder="Enter Year"
                                                    formControlName="makeYear" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-3">
                                            <div class="mb-3"><label for="formrow-inputCity">Tank Capacity</label>
                                                <input type="text" id="formrow-inputCity" class="form-control"
                                                    formControlName="tankCap" placeholder="Enter Tank Capacity"
                                                    [ngClass]=>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="formrow-inputState">Gross Weight</label>
                                                <input type="text" id="formrow-inputCity" class="form-control"
                                                    formControlName="grossWt" placeholder="Enter Gross Weight"
                                                    [ngClass]=>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="formrow-inputState">Unloaded Weight</label>
                                                <input type="text" id="formrow-inputCity" class="form-control"
                                                    formControlName="unLadenWT" placeholder="Enter Unloaded Weight"
                                                    [ngClass]=>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="formrow-inputState">No of Tyres</label>
                                                <input type="text" id="formrow-inputCity" class="form-control"
                                                    formControlName="noOfTyres" placeholder="Enter No of Tyres"
                                                    [ngClass]=>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-3">
                                            <div class="mb-3"><label for="formrow-inputCity">Vehicle Length</label>
                                                <input type="text" id="formrow-inputCity" class="form-control"
                                                    formControlName="vehLength" placeholder="Enter Vehicle Length"
                                                    [ngClass]=>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="formrow-inputState">Vehicle Height</label>
                                                <input type="text" id="formrow-inputCity" class="form-control"
                                                    formControlName="vehHeight" placeholder="Enter Vehicle Height"
                                                    [ngClass]=>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="formrow-inputState">Vehicle Breadth</label>
                                                <input type="text" id="formrow-inputCity" class="form-control"
                                                    formControlName="vehBreadth" placeholder="Enter Vehicle Breadth"
                                                    [ngClass]=>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="formrow-inputState">Vehicle Volumn(CFT)</label>
                                                <input type="text" id="formrow-inputCity" class="form-control"
                                                    formControlName="vehVolumeCFT"
                                                    placeholder="Enter Vehicle Volumn(CFT)" [ngClass]=>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-3">
                                            <div class="mb-3"><label for="formrow-inputCity">FastTag Y/N</label>
                                                <select class="form-control" formControlName="userBranch" [ngClass]="">
                                                    <option selected="">Choose...</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="formrow-inputState">FastTag Company</label>
                                                <input type="text" id="formrow-inputCity" class="form-control"
                                                    formControlName="remarks" placeholder="Enter FastTag Company"
                                                    [ngClass]=>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">FastTag Card No</label>
                                                <input bsdatepicker="" autoclose="false" placeholder="FastTag Card No"
                                                    formControlName="remarks" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-3">
                                            <div class="mb-3"><label for="formrow-inputCity">Card Y/N</label>
                                                <select class="form-control" formControlName="userBranch" [ngClass]="">
                                                    <option selected="">Choose...</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="formrow-inputState">Card Company</label>
                                                <input type="text" id="formrow-inputCity" class="form-control"
                                                    formControlName="remarks" placeholder="Enter Company" [ngClass]=>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">Card No</label>
                                                <input bsdatepicker="" autoclose="false" placeholder="Card No"
                                                    formControlName="petroCardNo" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">Card Pin</label>
                                                <input bsdatepicker="" autoclose="false" placeholder="Card Pin"
                                                    formControlName="petroCardPin" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-3">
                                            <div class="mb-3"><label for="formrow-inputCity">Card Y/N</label>
                                                <select class="form-control" formControlName="happayCardYN"
                                                    [ngClass]="">
                                                    <option selected="">Choose...</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="formrow-inputState">Card Company</label>
                                                <input type="text" id="formrow-inputCity" class="form-control"
                                                    placeholder="Enter Company" [ngClass]=>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">Card No</label>
                                                <input bsdatepicker="" autoclose="false" placeholder="Card No"
                                                    formControlName="happayCardNo" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">Card Pin</label>
                                                <input bsdatepicker="" autoclose="false" placeholder="Card Pin"
                                                    formControlName="happayCardPin" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-3">
                                            <div class="mb-3"><label for="formrow-inputCity">FIP Y/N</label>
                                                <select class="form-control" formControlName="fipYN" [ngClass]="">
                                                    <option selected="">Choose...</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="formrow-inputState">FIP No</label>
                                                <input type="text" id="formrow-inputCity" class="form-control"
                                                    formControlName="fipNo" placeholder="Enter FIP No" [ngClass]=>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-3">
                                            <div class="mb-3"><label for="formrow-inputCity">Sold Y/N</label>
                                                <select class="form-control" formControlName="userBranch" [ngClass]=""
                                                    formControlName="soldYN">
                                                    <option selected="">Choose...</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="formrow-inputState">Sold To</label>
                                                <input type="text" id="formrow-inputCity" class="form-control"
                                                    formControlName="soldTo" placeholder="Enter Sold To" [ngClass]=>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">Sold Date</label>
                                                <input bsdatepicker="" autoclose="false" type="date"
                                                    placeholder="Sold Date" class="form-control"
                                                    formControlName="soldDate">
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">Sold Vehicle</label>
                                                <input bsdatepicker="" autoclose="false" placeholder="Sold Vehicle"
                                                    formControlName="soldValue" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-3">
                                            <div class="mb-3"><label for="formrow-inputCity">Transfer Y/N</label>
                                                <select class="form-control" formControlName="userBranch" [ngClass]=""
                                                    formControlName="tfrYN">
                                                    <option selected="">Choose...</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">Transfer Date</label>
                                                <input bsdatepicker="" autoclose="false" type="date"
                                                    placeholder="Transfer Date" class="form-control"
                                                    formControlName="tfrDate">
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">Transfer New Vehicle</label>
                                                <input bsdatepicker="" autoclose="false"
                                                    placeholder="Transfer New Vehicle" class="form-control"
                                                    formControlName="tfrVehicleNo">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="mb-3">
                                                <label for="formrow-inputCity">Vehicle Lodger Office</label>
                                                <select class="form-control" formControlName="userBranch" [ngClass]=""
                                                    formControlName="tfrVehicleId">
                                                    <option selected="">Choose...</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="mb-3">
                                                <label for="formrow-inputCity">Vehicle Asset Office</label>
                                                <select class="form-control" formControlName="userBranch" [ngClass]=""
                                                    formControlName="vehicleLedgerAc">
                                                    <option selected="">Choose...</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="mb-3">
                                                <label for="formrow-inputCity">Attachment Description 1</label>
                                                <input autoclose="false" placeholder="Attachment Description 1"
                                                    class="form-control" formControlName="vehicleAssetAc">
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="mb-3">
                                                <label for="formrow-inputCity">Attachment</label>
                                                <input autoclose="false" type="file"
                                                    placeholder="Attachment Description 1"
                                                    class="form-control form-control-sm" formControlName="attach1Desc">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="mb-3">
                                                <label for="formrow-inputCity">Attachment Description 2</label>
                                                <input autoclose="false" placeholder="Attachment Description 2"
                                                    class="form-control" formControlName="attach1Desc">
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="mb-3">
                                                <label for="formrow-inputCity">Attachment</label>
                                                <input autoclose="false" type="file"
                                                    placeholder="Attachment Description 2"
                                                    class="form-control form-control-sm" formControlName="attach1Link">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="mb-3">
                                                <label for="formrow-inputCity">Attachment Description 3</label>
                                                <input autoclose="false" placeholder="Attachment Description 3"
                                                    class="form-control" formControlName="attach2Desc">
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="mb-3">
                                                <label for="formrow-inputCity">Attachment</label>
                                                <input autoclose="false" type="file"
                                                    placeholder="Attachment Description 3"
                                                    class="form-control form-control-sm" formControlName="attach2Link">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ng-untouched ng-pristine ng-valid">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title mb-4">Details</h4>
                                    <table class="table table-bordered dt-responsive nowrap w-100 no-border-table">
                                        <tr formArrayName="arrayList"
                                            *ngFor="let arrayData of formArray.controls; let i = index">
                                            <div [formGroupName]="i">
                                                <td>
                                                    <div class="col-lg-12">
                                                        <div class="mb-3">
                                                            <label for="formrow-inputCity">Valid From</label>
                                                            <input autoclose="false" type="date"
                                                                placeholder="dd/MM/yyyy" class="form-control"
                                                                formControlName="validFrom">
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="col-lg-12">
                                                        <div class="mb-3">
                                                            <label for="formrow-inputCity">Valid To</label>
                                                            <input autoclose="false" type="date"
                                                                placeholder="dd/MM/yyyy" class="form-control"
                                                                formControlName="validTo">
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="col-lg-121">
                                                        <div class="mb-3">
                                                            <label for="formrow-inputZip">Vehicle Agv Load</label>
                                                            <input class="form-control"
                                                                placeholder="Enter Vehicle Agv Load"
                                                                formControlName="vehicleAgvLoad">
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="col-lg-12">
                                                        <div class="mb-3">
                                                            <label for="formrow-inputZip">Vehicle Agv Empty</label>
                                                            <input class="form-control"
                                                                placeholder="Enter Vehicle Agv Empty"
                                                                formControlName="vehicleAgvEmpty">
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="col-lg-12">
                                                        <div class="mb-3">
                                                            <label for="formrow-inputZip">Ad Avg</label>
                                                            <input class="form-control" placeholder="Enter Ad Avg"
                                                                formControlName="AdAvg">
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="col-lg-12 details-button">
                                                        <button type="button" class="btn btn-primary"
                                                            (click)="addItem()">Add</button>
                                                        <button *ngIf="formArray.controls.length > 1"
                                                            (click)="removeItem(i)"
                                                            class="btn btn-danger">Delete</button>
                                                    </div>
                                                </td>
                                            </div>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row text-right">
                    <div class="col-lg-12">
                        <div class="tex">
                            <button type="submit" class="btn btn-primary w-md"
                                (click)="submitVehicleMasterForm()">Submit</button>
                        </div>
                    </div>
                </div>
            </form>
            <!-- end row -->
            <!-- end row -->
        </div>
        <!-- container-fluid -->
    </div>
    <!-- End Page-content -->
</div>