<div class="main-content">
    <div class="page-content">
        <div class="container-fluid">
            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                        <h4 class="mb-sm-0 font-size-18">Diesel Statement</h4>
                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="javascript: void(0);">Fleet</a></li>
                                <li class="breadcrumb-item active">Diesel Statement </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end page title -->
            <form [formGroup]="formDieselStatement">
                <div class="ng-untouched ng-pristine ng-valid">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title mb-4">Diesel Statement</h4>
                                    <div class="row">
                                        <div class="row">
                                            <div class="col-lg-2">
                                                <div class="mb-3">
                                                    <label for="formrow-inputCity">Statement Branch</label>
                                                    <div class="ng-autocomplete">
                                                        <ng-autocomplete [data]="branchList"
                                                            [searchKeyword]="keywordLocation" placeholder=""
                                                            (selected)='selectEvent($event)'
                                                            (inputChanged)='onChangeSearch($event)'
                                                            (inputFocused)='onFocused($event)'
                                                            [itemTemplate]="itemTemplate"
                                                            [notFoundTemplate]="notFoundTemplate"
                                                            [customFilter]="startWithFilter"
                                                            formControlName="statementBranch"
                                                            [ngClass]="{ 'is-invalid': formSubmitted && (f['statementBranch'].invalid) }">
                                                        </ng-autocomplete>

                                                        <ng-template #itemTemplate let-item>
                                                            <a [innerHTML]="item.dataName"></a>
                                                        </ng-template>

                                                        <ng-template #notFoundTemplate let-notFound>
                                                            <div [innerHTML]="notFound"></div>
                                                        </ng-template>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-2">
                                                <div class="mb-3">
                                                    <label for="formrow-inputCity">Statement Date</label>
                                                    <input autoclose="false" type="date" placeholder="dd/MM/yyyy"
                                                        class="form-control" formControlName="statementDate"
                                                        [ngClass]="{ 'is-invalid': formSubmitted && (f['statementDate'].invalid) }">
                                                </div>
                                            </div>
                                            <div class="col-lg-2">
                                                <div class="mb-3">
                                                    <label for="formrow-inputCity">Valid From</label>
                                                    <input autoclose="false" type="date" placeholder="dd/MM/yyyy"
                                                        class="form-control" formControlName="fromDate"
                                                        [ngClass]="{ 'is-invalid': formSubmitted && (f['fromDate'].invalid) }">
                                                </div>
                                            </div>
                                            <div class="col-lg-2">
                                                <div class="mb-3">
                                                    <label for="formrow-inputCity">Valid To</label>
                                                    <input autoclose="false" type="date" placeholder="dd/MM/yyyy"
                                                        class="form-control" formControlName="toDate"
                                                        [ngClass]="{ 'is-invalid': formSubmitted && (f['toDate'].invalid) }">
                                                </div>
                                            </div>
                                            <div class="col-lg-2">
                                                <div class="mb-3">
                                                    <label for="formrow-inputCity">Statement Branch</label>
                                                    <div class="ng-autocomplete">
                                                        <ng-autocomplete [data]="branchList"
                                                            [searchKeyword]="keywordLocation" placeholder=""
                                                            (selected)='selectEvent($event)'
                                                            (inputChanged)='onChangeSearch($event)'
                                                            (inputFocused)='onFocused($event)'
                                                            [itemTemplate]="itemTemplate"
                                                            [notFoundTemplate]="notFoundTemplate"
                                                            [customFilter]="startWithFilter"
                                                            formControlName="statementBranch"
                                                            [ngClass]="{ 'is-invalid': formSubmitted && (f['statementBranch'].invalid) }">
                                                        </ng-autocomplete>

                                                        <ng-template #itemTemplate let-item>
                                                            <a [innerHTML]="item.dataName"></a>
                                                        </ng-template>

                                                        <ng-template #notFoundTemplate let-notFound>
                                                            <div [innerHTML]="notFound"></div>
                                                        </ng-template>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-2">
                                                <div class="mb-3">
                                                    <button type="submit" (click)="searchStatement()"
                                                        class="btn btn-primary w-md mt-4">Search</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end card body -->
                            </div>
                            <!-- end card -->
                        </div>
                    </div>
                </div>
                <div class="ng-untouched ng-pristine ng-valid">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title mb-4"></h4>
                                    <table class="table table-bordered dt-responsive nowrap w-100 no-border-table">
                                        <tr>
                                            <th><label for="formrow-inputCity"></label></th>
                                            <th><label for="formrow-inputCity">Branch</label></th>
                                            <th><label for="formrow-inputZip">Pmt Date</label></th>
                                            <th><label for="formrow-inputZip">Vehicle No</label></th>
                                            <th><label for="formrow-inputZip">Hsd Adv Type</label></th>
                                            <th><label for="formrow-inputZip">Trans Desc</label></th>
                                            <th><label for="formrow-inputZip">Qty Ltrs</label></th>
                                            <th><label for="formrow-inputZip">Rate Per Ltr</label></th>
                                            <th><label for="formrow-inputZip">Amount Paid</label></th>
                                            <th><label for="formrow-inputZip">Remarks</label></th>
                                        </tr>
                                        <tr
                                            *ngFor="let arrayData of Dieselstatementsearchlistmodel.dieselStatementSearchList; let i = index">
                                            <td>
                                                <div class="mb-3">
                                                    <input type="checkbox" name="select" class="form-check-input"
                                                        (change)="selectedData(i, $event)">
                                                    <!-- {{arrayData.pmtId}} -->
                                                </div>
                                            </td>
                                            <td>
                                                <div class="mb-3">
                                                    {{arrayData.branch}}
                                                </div>
                                            </td>
                                            <td>
                                                <div class="mb-3">
                                                    {{arrayData.pmtDate}}
                                                </div>
                                            </td>
                                            <td>
                                                <div class="mb-3">
                                                    {{arrayData.vehicleNo}}
                                                </div>
                                            </td>
                                            <td>
                                                <div class="mb-3">
                                                    {{arrayData.hsdAdvType}}
                                                </div>
                                            </td>
                                            <td>
                                                <div class="mb-3">
                                                    {{arrayData.transDesc}}
                                                </div>
                                            </td>
                                            <td>
                                                <div class="mb-3">
                                                    {{arrayData.qtyLtrs}}
                                                </div>
                                            </td>
                                            <td>
                                                <div class="mb-3">
                                                    {{arrayData.ratePerLtr}}
                                                </div>
                                            </td>
                                            <td>
                                                <div class="mb-3">
                                                    {{arrayData.amountPaid}}
                                                </div>
                                            </td>
                                            <td>
                                                <div class="mb-3">
                                                    {{arrayData.remarks}}
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                    <div class="row">
                                        <div class="col-lg-10 text-right">
                                            <label for="formrow-inputCity">Total Diesel Amount</label>
                                        </div>
                                        <div class="col-lg-2">
                                            <input autoclose="false" type="text" class="form-control"
                                                formControlName="totalDieselAmount">
                                        </div>
                                    </div>
                                    <div class="row mt-1">
                                        <div class="col-lg-10 text-right">
                                            <label for="formrow-inputCity">Total Drivar Adv Amount</label>
                                        </div>
                                        <div class="col-lg-2">
                                            <input autoclose="false" type="text" class="form-control"
                                                formControlName="totalDriverAdvAmount">
                                        </div>
                                    </div>
                                    <div class="row mt-1">
                                        <div class="col-lg-10 text-right">
                                            <label for="formrow-inputCity">Total Statement Amount</label>
                                        </div>
                                        <div class="col-lg-2">
                                            <input autoclose="false" type="text" class="form-control"
                                                formControlName="totalStatementAmount">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row text-right">
                    <div class="col-lg-12">
                        <div class="tex">
                            <button type="submit" class="btn btn-primary w-md">Submit</button>
                        </div>
                    </div>
                </div>
            </form>
            <!-- end row -->
            <!-- end row -->
        </div>
        <!-- container-fluid -->
    </div>
    <!-- End Page-content -->
</div>