<div class="main-content">
    <div class="page-content">
        <div class="container-fluid">
            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                        <h4 class="mb-sm-0 font-size-18">GST Purchase</h4>

                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="/#/gstpurchaselist">GSR Purchase</a></li>
                                <li class="breadcrumb-item active">GST Purchase Add</li>
                            </ol>
                        </div>

                    </div>
                </div>
            </div>
            <!-- end page title -->
            <form [formGroup]="formGSTPurchase">
                <div class="ng-untouched ng-pristine ng-valid">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title mb-4">Vendor Details</h4>
                                    <div class="row">
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="formrow-inputCity">Branch</label>
                                                <select class="form-control">
                                                    <option selected="">Choose...</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="formrow-inputState">Trans Date</label>
                                                <input type="date" class="form-control" placeholder="">
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <div class="form-check mt-4">
                                                    <input type="checkbox" id="formRadio" value="A"
                                                        class="form-check-input mt-10">
                                                    <label for="formRadio" class="form-check-label"> No Vendor
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">Vendor Name</label>
                                                <input bsdatepicker="" autoclose="false" placeholder=""
                                                    class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="formrow-inputState">Vendor invoice No</label>
                                                <input class="form-control" placeholder="">
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <label for="formrow-inputState">Invoice Date</label>
                                            <input type="date" class="form-control" placeholder="">
                                        </div>
                                        <div class="col-lg-3">
                                            <label for="formrow-inputZip">Vendor Name</label>
                                            <input bsdatepicker="" autoclose="false" placeholder=""
                                                class="form-control">
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="formrow-inputCity">Vendor State</label>
                                                <select class="form-control">
                                                    <option selected="">Choose...</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">Vendor GST No</label>
                                                <input bsdatepicker="" autoclose="false" placeholder=""
                                                    class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="formrow-inputCity">GST Type</label>
                                                <select class="form-control">
                                                    <option selected="">Choose...</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="formrow-inputCity">Division</label>
                                                <select class="form-control">
                                                    <option selected="">Choose...</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="form-check mt-4">
                                                <input type="checkbox" id="eligibleRadio" value="A"
                                                    class="form-check-input mt-10">
                                                <label for="eligibleRadio" class="form-check-label"> Input Eligible
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ng-untouched ng-pristine ng-valid">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title mb-4">Details</h4>
                                    <table class="table table-bordered dt-responsive nowrap w-100">
                                        <tr>
                                            <td>
                                                <div class="col-lg-12">
                                                    <div class="mb-3">
                                                        <label for="formrow-inputCity">Acc Name</label>
                                                        <input autoclose="false" placeholder=""
                                                            class="form-control" formControlName="accountName">
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="col-lg-12">
                                                    <div class="mb-3">
                                                        <label for="formrow-inputCity">Narration</label>
                                                        <input autoclose="false" placeholder=""
                                                            class="form-control" formControlName="narration">
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="col-lg-12">
                                                    <div class="mb-3">
                                                        <label for="formrow-inputCity">SubLedger</label>
                                                        <input autoclose="false" placeholder=""
                                                            class="form-control" formControlName="subLedger">
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="col-lg-12">
                                                    <div class="mb-3">
                                                        <label for="formrow-inputCity">HSN/SAC</label>
                                                        <input autoclose="false" placeholder=""
                                                            class="form-control" formControlName="hSN">
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="col-lg-12">
                                                    <div class="mb-3">
                                                        <label for="formrow-inputZip">Amount</label>
                                                        <input class="form-control" placeholder=""
                                                            formControlName="amount">
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="col-lg-12">
                                                    <div class="mb-3">
                                                        <label for="formrow-inputZip">SGST%</label>
                                                        <input class="form-control" placeholder=""
                                                            formControlName="sGSTPercentage">
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="col-lg-12">
                                                    <div class="mb-3">
                                                        <label for="formrow-inputZip">SGST</label>
                                                        <input class="form-control" placeholder=""
                                                            formControlName="sGSTAmount">
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="col-lg-12">
                                                    <div class="mb-3">
                                                        <button type="button" class="btn btn-primary"
                                                            (click)="addItem()">Add</button>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                    <table class="table table-bordered dt-responsive nowrap w-100">
                                        <thead>
                                            <tr>
                                                <th>Acc Name</th>
                                                <th>Narration</th>
                                                <th>SubLedger</th>
                                                <th>HSN/SAC</th>
                                                <th>Amount</th>
                                                <th>SGST%</th>
                                                <th>SGST</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let item of gstaccountList; let i = index">
                                                <td>{{item.accountName}}</td>
                                                <td>{{item.narration}}</td>
                                                <td>{{item.subLedger}}</td>
                                                <td>{{item.hSN}}</td>
                                                <td>{{item.amount}}</td>
                                                <td>{{item.sGSTPercentage}}</td>
                                                <td>{{item.sGSTAmount}}</td>
                                                <td><input type="button" value="delete" (click)="removeItem(i)"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <!-- <div class="row">
                                        <div class="col-lg-2">
                                            <div class="mb-3">
                                                <label for="formrow-inputCity">Acc Name</label>
                                                <input autoclose="false" placeholder="Acc Name" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="mb-3">
                                                <label for="formrow-inputCity">Narration</label>
                                                <input autoclose="false" placeholder="Narration" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="mb-3">
                                                <label for="formrow-inputCity">SubLedger</label>
                                                <input autoclose="false" placeholder="SubLedger" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="mb-3">
                                                <label for="formrow-inputCity">HSN/SAC</label>
                                                <input autoclose="false" placeholder="HSN/SAC" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-lg-1">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">Amount</label>
                                                <input class="form-control" placeholder="Amt">
                                            </div>
                                        </div>
                                        <div class="col-lg-1">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">SGST%</label>
                                                <input class="form-control" placeholder="SGST%">
                                            </div>
                                        </div>
                                        <div class="col-lg-1">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">SGST</label>
                                                <input class="form-control" placeholder="SGST Amount">
                                            </div>
                                        </div>
                                        <div class="col-lg-1">
                                            <div class="mb-3">
                                                <button type="button" class="btn btn-primary"
                                                    (click)="addItem">Add</button>
                                            </div>
                                        </div>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ng-untouched ng-pristine ng-valid">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title mb-4">Amount Details</h4>
                                    <div class="row">
                                        <div class="col-lg-2">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">Amount</label>
                                                <input class="form-control" placeholder="">
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">SGST</label>
                                                <input class="form-control" placeholder="">
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">CGST</label>
                                                <input class="form-control" placeholder="">
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">IGST</label>
                                                <input class="form-control" placeholder="">
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">Total Amount</label>
                                                <input class="form-control" placeholder="">
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">TDS</label>
                                                <input class="form-control" placeholder="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-2">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">Round Off</label>
                                                <input class="form-control" placeholder="">
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">Net Amount</label>
                                                <input class="form-control" placeholder="">
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">Pmt Type</label>
                                                <select id="formrow-inputState" class="form-control">
                                                    <option selected="">Choose...</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3"><label for="formrow-inputCity">Select A/C</label>
                                                <select id="formrow-inputState" class="form-control">
                                                    <option selected="">Choose...</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="form-check mt-4">
                                                <input type="checkbox" id="formRadio" value=""
                                                    class="form-check-input mt-10">
                                                <label for="formRadio" class="form-check-label"> NEFT/RTGS
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">Check No</label>
                                                <input type="text" id="formrow-inputCity" class="form-control"
                                                    placeholder="">
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="formrow-inputState">Check Date</label>
                                                <input bsdatepicker="" type="date" autoclose="false"
                                                    placeholder="yyyy-mm-dd" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="formrow-inputState">Card No</label>
                                                <input bsdatepicker="" autoclose="false" placeholder=""
                                                    class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">TDA A/C</label>
                                                <select id="formrow-inputState" class="form-control">
                                                    <option selected="">Choose...</option>
                                                    <option>...</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">Cash/Bank A/C</label>
                                                <select id="formrow-inputState" class="form-control">
                                                    <option selected="">Choose...</option>
                                                    <option>...</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">Beneficiary</label>
                                                <input type="text" class="form-control" placeholder="">
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="formFile" class="form-label">Attachment File 1</label>
                                                <input class="form-control" type="file" id="formFile">
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="formFile" class="form-label">Attachment File 2</label>
                                                <input class="form-control" type="file" id="formFile">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row text-right">
                    <div class="col-lg-12">
                        <div class="tex">
                            <button type="submit" class="btn btn-primary w-md">Submit</button>
                        </div>
                    </div>
                </div>
            </form>
            <!-- end row -->
            <!-- end row -->
        </div>
        <!-- container-fluid -->
    </div>
    <!-- End Page-content -->
</div>