<div class="main-content">
    <div class="page-content">
        <div class="container-fluid">
            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                        <h4 class="mb-sm-0 font-size-18">User</h4>

                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="/#/userlist">User</a></li>
                                <li class="breadcrumb-item active">User Add</li>
                            </ol>
                        </div>

                    </div>
                </div>
            </div>
            <!-- end page title -->
            <form [formGroup]="formUser">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title mb-4">User details</h4>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="mb-4">
                                            <label for="horizontal-firstname-input"
                                                class="col-form-label">Username</label>
                                            <input type="text" class="form-control" placeholder="Enter username"
                                                formControlName="userName"
                                                [ngClass]="{ 'is-invalid': userSubmitted && (f['userName'].invalid || f['userName'].dirty || f['userName'].touched) }">
                                        </div>
                                        <div class="mb-4">
                                            <label for="horizontal-password-input"
                                                class="col-form-label">Password</label>
                                            <input type="password" class="form-control" placeholder="Enter Password"
                                                formControlName="userPassword"
                                                [ngClass]="{ 'is-invalid': userSubmitted && (f['userPassword'].invalid || f['userPassword'].dirty || f['userPassword'].touched) }">
                                        </div>
                                        <div class="mb-4">
                                            <label for="horizontal-email-input"
                                                class="col-form-label">Description</label>
                                            <input type="text" class="form-control" placeholder="Enter user description"
                                                formControlName="userDescription"
                                                [ngClass]="{ 'is-invalid': userSubmitted && (f['userDescription'].invalid || f['userDescription'].dirty || f['userDescription'].touched) }">
                                        </div>
                                        <div class="mb-4">
                                            <label for="horizontal-email-input" class="col-form-label">Mobile</label>
                                            <input type="text" class="form-control" placeholder="Enter mobile"
                                                formControlName="userMobile"
                                                [ngClass]="{ 'is-invalid': userSubmitted && (f['userMobile'].invalid || f['userMobile'].dirty || f['userMobile'].touched) }">
                                        </div>
                                        <div class="mb-4">
                                            <label for="horizontal-email-input" class="col-form-label">Email</label>
                                            <input type="text" class="form-control" placeholder="Enter email"
                                                formControlName="userEmail"
                                                [ngClass]="{ 'is-invalid': userSubmitted && (f['userEmail'].invalid || f['userEmail'].dirty || f['userEmail'].touched) }">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="mb-4">
                                            <label for="scope" class="col-form-label">Scope</label>
                                            <select id="scope" class="form-select" formControlName="userScope">
                                                <option value="BO">Branch office</option>
                                                <option value="HO">Headoffice</option>
                                            </select>
                                        </div>
                                        <div class="mb-4">
                                            <label for="role" class="col-form-label">Role</label>
                                            <select id="role" class="form-select" formControlName="role">
                                                <option selected>Choose...</option>
                                            </select>
                                        </div>
                                        <div class="mb-4">
                                            <label for="employee" class="col-form-label">Employee</label>
                                            <select id="employee" class="form-select" formControlName="employee">
                                                <option selected>Choose...</option>
                                            </select>
                                        </div>
                                        <div class="mb-4">
                                            <label for="branch" class="col-form-label">Employee Branch</label>
                                            <select id="branch" class="form-select" formControlName="branch">
                                                <option selected>Choose...</option>
                                            </select>
                                        </div>
                                        <div class="mb-4">
                                            <label for="active" class="col-form-label">Active</label>
                                            <select id="active" class="form-select" formControlName="activeYN">
                                                <option value="Y">Yes</option>
                                                <option value="N">No</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end card body -->
                        </div>
                        <!-- end card -->
                    </div>
                    <div class="col-xl-6">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Branch</h4>
                                <div class="mb-3">
                                    <select class="form-control" multiple="multiple" formControlName="userBranch"
                                    [ngClass]="{ 'is-invalid': userSubmitted && (f['userBranch'].invalid || f['userBranch'].dirty || f['userBranch'].touched) }">
                                        <option *ngFor="let branch of branchList" value={{branch.dataId}}>
                                            {{branch.dataName}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Module</h4>
                                <div class="mb-3">
                                    <select class="form-control" multiple="multiple" formControlName="userModule"
                                    [ngClass]="{ 'is-invalid': userSubmitted && (f['userModule'].invalid || f['userModule'].dirty || f['userModule'].touched) }">
                                        <option *ngFor="let module of moduleList" value={{module.dataId}}>
                                            {{module.dataName}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row text-right">
                    <div class="col-lg-12">
                        <div class="tex">
                            <button type="submit" class="btn btn-primary w-md"
                                (click)="submitUserForm()">Submit</button>
                        </div>
                    </div>
                </div>
            </form>
            <!-- end row -->
            <!-- end row -->
        </div>
        <!-- container-fluid -->
    </div>
    <!-- End Page-content -->

</div>