<div class="main-content">
   <div class="page-content">
      <div class="container-fluid">
         <!-- start page title -->
         <div class="row">
            <div class="col-12">
               <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                  <h4 class="mb-sm-0 font-size-18">Doc Renewal  Master</h4>
               </div>
            </div>
         </div>
         <!-- end page title -->
         <form (keydown.enter)="$event.preventDefault()"[formGroup]="formUser">
            <div class="row">
               <div class="col-lg-12">
                  <div class="card">
                     <div class="card-body">  
                        <div class="row">
                           <div class="col-sm-2">
                              <div class="mb-3">
                                 <label>Doc Code</label><span style="color: red">*</span>    
                              </div>
                           </div>
                           <div class="col-sm-4">
                              <div class="mb-3">
                                 <input type="text" class="form-control"
                                 formControlName="docCode" uppercaseonly maxlength="10"
                                 (change)="chkDocRenewalCode($event)" minlength="2"
                                 [ngClass]="{ 'is-invalid': formSubmitted && (f['docCode'].invalid) }">
                              </div>
                           </div>
                        </div>
                        <div class="row">
                           <div class="col-sm-2">
                              <div class="mb-3">
                                 <label >Doc Description</label><span style="color: red">*</span>    
                              </div>
                           </div>
                           <div class="col-sm-4">
                              <div class="mb-3">
                                 <input type="text" class="form-control" maxlength="45"
                                 formControlName="docDescription" uppercaseonly
                                 (change)="chkDocRenewalDesc($event)"  minlength="2"
                                 [ngClass]="{ 'is-invalid': formSubmitted && (f['docDescription'].invalid) }">
                              </div>
                           </div>
                        </div>
                        <div class="row">
                           <div class="col-sm-2">
                              <div class="mb-3">
                                 <label>Recurring/One Time</label><span style="color: red">*</span>    
                              </div>
                           </div>
                           <div class="col-sm-4">
                              <div class="mb-3">
                                 <select id="scope" formControlName="recurring_Onetime"
                                    class="form-control form-select ng-pristine ng-touched"
                                    [ngClass]="{ 'is-invalid': formSubmitted && (f['recurring_Onetime'].invalid) }">
                                    <option value="R">Recurring</option>
                                    <option value="O">One Time</option>
                                 </select>
                              </div>
                           </div>
                        </div>
                        <div class="row">
                           <div class="col-sm-2">
                              <div class="mb-3">
                                 <label>Reminder Days</label><span style="color: red">*</span>    
                              </div>
                           </div>
                           <div class="col-sm-4">
                              <div class="mb-3">
                                 <input type="text" class="form-control" maxlength="3"
                                 formControlName="reminderDays" numbersonly
                                 [ngClass]="{ 'is-invalid': formSubmitted && (f['reminderDays'].invalid) }">
                              </div>
                           </div>
                        </div>
                        <div class="row">
                           <div class="col-sm-2">
                              <div class="mb-3">
                                 <label>Debit Ac</label><span style="color: red">*</span>    
                              </div>
                           </div>
                           <div class="col-sm-4">
                              <div class="mb-3">
                                 <select id="scope" formControlName="debitAc"
                                 class="form-control form-select ng-pristine ng-touched"
                                 [ngClass]="{ 'is-invalid': formSubmitted && (f['debitAc'].invalid) }">
                                    <option *ngFor="let dbt of debitAcList" value={{dbt.dataId}}>
                                       {{dbt.dataName}}
                                    </option>
                                 </select>
                              </div>
                           </div>
                        </div>
                        <div class="row">
                           <div class="col-sm-2">
                              <div class="mb-3">
                                 <label>Debit Type</label><span style="color: red">*</span>    
                              </div>
                           </div>
                           <div class="col-sm-4">
                              <div class="mb-3">
                                 <select id="scope" formControlName="debitType"
                                 class="form-control form-select ng-pristine ng-touched"
                                 [ngClass]="{ 'is-invalid': formSubmitted && (f['debitType'].invalid) }">
                                    <option value="V">Vehicle Ledger</option>
                                    <option value="I">Individual Ledger</option>
                                 </select>
                              </div>
                           </div>
                        </div>
                        <div class="row">
                           <div class="col-sm-2">
                              <div class="mb-3">
                                 <label>Is Active</label><span style="color: red">*</span>    
                              </div>
                           </div>
                           <div class="col-sm-4">
                              <div class="mb-3">
                                 <select id="scope"  formControlName="isActive"
                                 class="form-control form-select ng-pristine ng-touched"
                                 [ngClass]="{ 'is-invalid': formSubmitted && (f['isActive'].invalid) }">
                                    <option value="Y">Yes</option>
                                    <option value="N">No</option>
                                 </select>
                              </div>
                           </div>
                        </div> 
                     </div>                  
                     <!-- end card body -->
                   </div>                     
                   <!-- end card -->
                </div>
             </div>         
             <div class="row text-right">
                <div class="col-lg-12">
                   <div class="tex">
                      <button class="btn btn-primary w-md" 
                      *ngIf="((editMode && editStatus) || (!editMode && createStatus)) && !formSubmitted"
                           (click)="submitDocRenewalMasterForm()">Save</button>&nbsp;
                      <button class="btn btn-danger w-md m-2" *ngIf="editMode && deleteStatus"
                           (click)="deleteDocRenewalMasterForm()">Delete</button>&nbsp;
                      <button class="btn btn-secondary w-md" (click)="exit()">Exit</button>
                   </div>
                </div>
                <!-- end col -->
             </div> 
          </form>
          <!-- end row -->
          <!-- end row -->
       </div>
       <!-- container-fluid -->
    </div>
    <!-- End Page-content -->
 </div>