<div class="main-content">
    <div class="page-content">
        <div class="container-fluid">
            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                        <h4 class="mb-sm-0 font-size-18">Branch Master</h4>

                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="/#/branchmasterlist">Branch Master</a></li>
                                <li class="breadcrumb-item active">Branch master Add</li>
                            </ol>
                        </div>

                    </div>
                </div>
            </div>
            <!-- end page title -->
            <form [formGroup]="formBranchMaster">
                <div class="ng-untouched ng-pristine ng-valid">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-body">
                                 
                                    <div class="row">
                                        <div class="col-lg-2">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">Code</label>
                                                <input type="text" class="form-control"
                                                placeholder="Enter  Code "formControlName="code"
                                                [ngClass]=>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">Centre Name</label>
                                                <select class="form-control" formControlName="userBranch" [ngClass]="">
                                                    <option *ngFor="let branch of branchList" value={{branch.dataId}}>
                                                       {{branch.dataName}}
                                                    </option>
                                                 </select>
                                            </div>
                                        </div>
                                          <div class="col-lg-3">
                                            <div class="mb-3"><label for="formrow-inputCity">BranchBusinessType</label>
                                                <select id="formrow-inputState" class="form-control" formControlName="branchBusinessType">
                                                    <option selected="">Choose...</option>
                                                    <option>...</option>
                                                </select>
                                            </div>
                                        </div>
                                       
                                        
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">Branch </label>
                                                <select class="form-control" formControlName="userBranch" [ngClass]="">
                                                    <option *ngFor="let branch of branchList" value={{branch.dataId}}>
                                                       {{branch.dataName}}
                                                    </option>
                                                 </select>
                                            </div>
                                        </div>
                                       
                                    
                                    </div>
                                 
                             
                                    <div class="row">
                                        <div class="col-lg-3">
                                            <div class="form-check">
                                      <input  type="checkbox" id="formCheckcolor1"    value="A"  class="form-check-input"><label for="formRadios2"
                                                    class="form-check-label"> Acct YN
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-lg-8">
                                            <div class="mb-6">
                                                <label for="formrow-inputZip">Address 1</label>
                                                <input type="text" class="form-control"
                                                placeholder="Enter  Address 1 "formControlName="address1"
                                                [ngClass]=>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="mb-6">
                                                <label for="formrow-inputZip">Address 2</label>
                                                <input type="text" class="form-control"
                                                placeholder="Enter Address 2 "formControlName="address2"
                                                [ngClass]=>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="mb-6">
                                                <label for="formrow-inputZip">Address 3</label>
                                                <input type="text" class="form-control"
                                                placeholder="Enter  Address 3 "formControlName="address3"
                                                [ngClass]=>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">City</label>
                                                <input autoclose="false" class="form-control" placeholder="Enter Pin" formControlName="city">
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">State</label>
                                                <select class="form-control" formControlName="userState" [ngClass]="">
                                                    <option *ngFor="let state of stateList" value={{state.dataId}}>
                                                       {{state.dataName}}
                                                    </option>
                                                 </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip"> Pin</label>
                                                <input autoclose="false" class="form-control" placeholder="Enter Pin" formControlName="pinCode">
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">Office Phone1</label>
                                                <input autoclose="false" class="form-control"  placeholder="Enter OffPhone1 "  formControlName="offPhone1">
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">Office Phone2</label>
                                                <input autoclose="false" class="form-control" placeholder="Enter OffPhone2 "  formControlName="offPhone2">
                                            </div>
                                        </div>
                                      
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">Mobile No</label>
                                                <input autoclose="false" class="form-control"  placeholder="Enter Mobile No " formControlName="mobileNo">
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">Email</label>
                                                <input autoclose="false" class="form-control"  placeholder="Enter Email " formControlName="branchEmail">
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">Manager Name</label>
                                                <input autoclose="false" class="form-control"  placeholder="Enter Manager Name "  formControlName="managerName">
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">Manager Mobile No</label>
                                                <input autoclose="false" class="form-control" placeholder="Manager Mobile No"  formControlName="managerMobileNo">
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">Manager Phone</label>
                                                <input autoclose="false" class="form-control"  placeholder="Manager Phone No"  formControlName="managerPhone">
                                            </div>
                                        </div>
                                      
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">Email</label>
                                                <input autoclose="false" class="form-control" placeholder="Manager Email" formControlName="managerEmail">
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">GstNo</label>
                                                <input autoclose="false" class="form-control" placeholder="Manager GstNo" formControlName="gstNo">
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3"><label for="formrow-inputCity">Bank AcLedger</label>
                                                <select id="formrow-inputState" class="form-control" formControlName="bankAcLedger">
                                                    <option selected="">Choose...</option>
                                                    <option>...</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3"><label for="formrow-inputCity">Branch AcLedger</label>
                                                <select id="formrow-inputState" class="form-control" placeholder="Manager Branch AcLedger" formControlName="branchAcLedger">
                                                    <option selected="">Choose...</option>
                                                    <option>...</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">Entry LockDays </label>
                                                <input autoclose="false" class="form-control" placeholder=" Entry LockDays" formControlName="entryLockDays" >
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">Bank Name </label>
                                                <input autoclose="false" class="form-control" placeholder=" Bank Name" formControlName="bankName" >
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">Bank Address </label>
                                                <input autoclose="false" class="form-control" placeholder=" Bank Address" formControlName="bankAdd"  >
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">Bank AcNo </label>
                                                <input autoclose="false" class="form-control" placeholder=" Bank AcNo" formControlName="bankAcNo">
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">BankIfsc </label>
                                                <input autoclose="false" class="form-control" placeholder=" Bank BankIfsc" formControlName="bankIfsc">
                                            </div>
                                        </div>
                                       
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">EwayBillApiGstId </label>
                                                <input autoclose="false" class="form-control" formControlName="ewayBillApiGstId" >
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">EwayBillApiUid </label>
                                                <input autoclose="false" class="form-control" formControlName="ewayBillApiUid">
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">EwayBillApiPwd </label>
                                                <input autoclose="false" class="form-control"formControlName="ewayBillApiPwd" >
                                            </div>
                                        </div>
                                        <div class="row">
                                        <div class="col-lg-3">
                                            <div class="form-check mb-3">
                                              
                                                 <input  type="checkbox" id="formCheckcolor1"  class="form-check-input"formControlName="panApiCheckYN">
  <label for="formRadios1"
                                                    class="form-check-label">PanApiCheckYN
                                                </label>
                                           
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="form-check mb-3">
                                              
                                                <input  type="checkbox" id="formCheckcolor1"    value="A"  class="form-check-input" formControlName="bankApiCheckYN">
  <label for="formRadios1"
                                                    class="form-check-label"> BankApiCheckYN
                                                </label>
                                           
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="form-check mb-3">

                                                    <input  type="checkbox" id="formCheckcolor1"     value="A"  class="form-check-input" formControlName="truckApiCheckYN">
  <label for="formRadios1"
                                                    class="form-check-label"> TruckApi CheckYN
                                                </label>
                                           
                                            </div>
                                        </div>
                                         <div class="col-lg-3">
                                            <div class="form-check mb-3">

                                                    <input  type="checkbox" id="formCheckcolor1"     value="A"  class="form-check-input" formControlName="ewayBillApiYN">
  <label for="formRadios1"
                                                    class="form-check-label"> EwayBill ApiYN
                                                </label>
                                           
                                            </div>
                                        </div>
                                     
                                        
                                    </div>
                                       
                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
             
           
                <div class="row text-right">
                    <div class="col-lg-12">
                        <div class="tex">
                            <button type="submit" class="btn btn-primary w-md"
                            (click)="submitBranchMasterForm()" >Submit</button>
            
                           
                        </div>
                    </div>
                </div>
            </form>
            <!-- end row -->
            <!-- end row -->
        </div>
        <!-- container-fluid -->
    </div>
    <!-- End Page-content -->

</div>