<div class="main-content">
    <div class="page-content">
        <div class="container-fluid">
            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                        <h4 class="mb-sm-0 font-size-18">Branch Master</h4>

                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="/#/branchmasterlist">Branch Master</a></li>
                                <li class="breadcrumb-item active">Branch master Add</li>
                            </ol>
                        </div>

                    </div>
                </div>
            </div>
            <!-- end page title -->
       
                <div class="ng-untouched ng-pristine ng-valid">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-body">
                                 
                                    <div class="row">
                                        <div class="col-lg-2">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">Code</label>
                                                <input type="text" class="form-control"
                                                placeholder="Enter  nonGstAmt1 "formControlName="nonGstAmt1"
                                                [ngClass]=>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">Centre Name</label>
                                                <input type="text" class="form-control"
                                                placeholder="Enter  nonGstAmt1Desc "formControlName="nonGstAmt1Desc"
                                                [ngClass]=>
                                            </div>
                                        </div>
                                       
                                    
                                    </div>
                                 
                                    <div class="row">
                                        <div class="col-lg-3">
                                            <div class="mb-3"><label for="formrow-inputCity">BranchBusinessType</label>
                                                <select id="formrow-inputState" class="form-control">
                                                    <option selected="">Choose...</option>
                                                    <option>...</option>
                                                </select>
                                            </div>
                                        </div>
                                       
                                        
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">Branch </label>
                                                <select  class="form-control" formControlName="userBranch" [ngClass]="">
                                                   
                                                 </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="form-check">
                                                <input type="radio" formControlName="ewayBillEntryType"  id="formRadios2"  value="M"   class="form-check-input"/><label for="formRadios2"
                                                    class="form-check-label"> Acct YN
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="mb-6">
                                                <label for="formrow-inputZip">Address 1</label>
                                                <input type="text" class="form-control"
                                                placeholder="Enter  nonGstAmt1Desc "formControlName="nonGstAmt1Desc"
                                                [ngClass]=>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="mb-6">
                                                <label for="formrow-inputZip">Address 2</label>
                                                <input type="text" class="form-control"
                                                placeholder="Enter  nonGstAmt1Desc "formControlName="nonGstAmt1Desc"
                                                [ngClass]=>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="mb-6">
                                                <label for="formrow-inputZip">Address 3</label>
                                                <input type="text" class="form-control"
                                                placeholder="Enter  nonGstAmt1Desc "formControlName="nonGstAmt1Desc"
                                                [ngClass]=>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">City</label>
                                                <input type="text" class="form-control"
                                                placeholder="Enter  nonGstAmt1Desc "formControlName="nonGstAmt1Desc"
                                                [ngClass]=>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">State</label>
                                                <input type="text" class="form-control"
                                                placeholder="Enter  nonGstAmt1Desc "formControlName="nonGstAmt1Desc"
                                                [ngClass]=>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip"> Pin</label>
                                                <input autoclose="false" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">OffPhone1</label>
                                                <input autoclose="false" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">OffPhone2</label>
                                                <input autoclose="false" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">OffPhone2</label>
                                                <input autoclose="false" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">OffPhone2</label>
                                                <input autoclose="false" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">Mobile No</label>
                                                <input autoclose="false" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">Email</label>
                                                <input autoclose="false" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">Manager Name</label>
                                                <input autoclose="false" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">ManagerMobileNo</label>
                                                <input autoclose="false" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">ManagerPhone</label>
                                                <input autoclose="false" class="form-control">
                                            </div>
                                        </div>
                                      
                                        <div class="col-lg-6">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">Email</label>
                                                <input autoclose="false" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">GstNo </label>
                                                <input autoclose="false" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3"><label for="formrow-inputCity">BankAcLedger</label>
                                                <select id="formrow-inputState" class="form-control">
                                                    <option selected="">Choose...</option>
                                                    <option>...</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3"><label for="formrow-inputCity">BranchAcLedger</label>
                                                <select id="formrow-inputState" class="form-control">
                                                    <option selected="">Choose...</option>
                                                    <option>...</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">Entry LockDays </label>
                                                <input autoclose="false" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">BankName </label>
                                                <input autoclose="false" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">BankAdd </label>
                                                <input autoclose="false" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">BankAcNo </label>
                                                <input autoclose="false" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">BankIfsc </label>
                                                <input autoclose="false" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="form-check">
                                                <input type="radio" formControlName="ewayBillEntryType"  id="formRadios2"  value="M"   class="form-check-input"/><label for="formRadios2"
                                                    class="form-check-label"> EwayBillApiYN
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">EwayBillApiGstId </label>
                                                <input autoclose="false" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">EwayBillApiUid </label>
                                                <input autoclose="false" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">EwayBillApiPwd </label>
                                                <input autoclose="false" class="form-control">
                                            </div>
                                        </div>
                                        <div class="row">
                                        <div class="col-lg-3">
                                            <div class="form-check mb-3">
                                                <input type="radio" formControlName="ewayBillEntryType"  value="A"   class="form-check-input"/>
                                               
  <label for="formRadios1"
                                                    class="form-check-label">PanApiCheckYN
                                                </label>
                                           
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="form-check mb-3">
                                                <input type="radio" formControlName="ewayBillEntryType"  value="A"   class="form-check-input"/>
                                               
  <label for="formRadios1"
                                                    class="form-check-label"> BankApiCheckYN
                                                </label>
                                           
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="form-check mb-3">
                                                <input type="radio" formControlName="ewayBillEntryType"  value="A"   class="form-check-input"/>
                                               
  <label for="formRadios1"
                                                    class="form-check-label"> TruckApiCheckYN
                                                </label>
                                           
                                            </div>
                                        </div>
                                    </div>
                                       
                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
             
           
                <div class="row text-right">
                    <div class="col-lg-12">
                        <div class="tex">
                            <button type="submit" class="btn btn-primary w-md"
                            >Submit</button>
            
                           
                        </div>
                    </div>
                </div>
       
            <!-- end row -->
            <!-- end row -->
        </div>
        <!-- container-fluid -->
    </div>
    <!-- End Page-content -->

</div>