<div class="main-content">
    <div class="page-content">
        <div class="container-fluid">
            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                        <h4 class="mb-sm-0 font-size-18">Driver Master</h4>
                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="/#/drivermasterlist">Driver Master</a></li>
                                <li class="breadcrumb-item active">Driver Master Add</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end page title -->
            <form>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <div id="basic-example">
                                    <!-- Personal Details -->
                                    <h3>Personal Details</h3>
                                    <section>
                                        <form>
                                            <div class="row">
                                                <div class="col-lg-3">
                                                    <div class="mb-3">
                                                        <label for="basicpill-firstname-input">Driver name</label>
                                                        <input type="text" class="form-control"
                                                            id="basicpill-firstname-input"
                                                            placeholder="Enter Driver Name">
                                                    </div>
                                                </div>
                                                <div class="col-lg-3">
                                                    <div class="mb-3">
                                                        <label for="basicpill-lastname-input">Father name</label>
                                                        <input type="text" class="form-control"
                                                            id="basicpill-lastname-input"
                                                            placeholder="Enter Driver Father Name">
                                                    </div>
                                                </div>
                                                <div class="col-lg-3">
                                                    <div class="mb-3">
                                                        <label for="basicpill-firstname-input">Date of Birth</label>
                                                        <input type="date" class="form-control"
                                                            id="basicpill-firstname-input"
                                                            placeholder="Enter Date of Birth">
                                                    </div>
                                                </div>
                                                <div class="col-lg-3">
                                                    <div class="mb-3">
                                                        <label for="basicpill-lastname-input">Age</label>
                                                        <input type="text" class="form-control"
                                                            id="basicpill-lastname-input" placeholder="Enter Age">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-3">
                                                    <div class="mb-3">
                                                        <label for="basicpill-firstname-input">Blood Group</label>
                                                        <input type="text" class="form-control"
                                                            id="basicpill-firstname-input"
                                                            placeholder="Enter Blood Group">
                                                    </div>
                                                </div>
                                                <div class="col-lg-3">
                                                    <div class="mb-3">
                                                        <label for="basicpill-firstname-input">Introduced By</label>
                                                        <input type="text" class="form-control"
                                                            id="basicpill-firstname-input"
                                                            placeholder="Enter Introduced By">
                                                    </div>
                                                </div>
                                                <div class="col-lg-3">
                                                    <div class="mb-3">
                                                        <label for="basicpill-lastname-input">Mobile No</label>
                                                        <input type="text" class="form-control"
                                                            id="basicpill-lastname-input" placeholder="Enter Mobile No">
                                                    </div>
                                                </div>
                                                <div class="col-lg-3">
                                                    <div class="mb-3">
                                                        <label for="basicpill-lastname-input">Date of
                                                            Appointment</label>
                                                        <input type="date" class="form-control"
                                                            id="basicpill-lastname-input"
                                                            placeholder="Enter Date of Appointment">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-3">
                                                    <div class="mb-3">
                                                        <label for="basicpill-firstname-input">Name</label>
                                                        <input type="text" class="form-control"
                                                            id="basicpill-firstname-input" placeholder="Enter Name">
                                                    </div>
                                                </div>
                                                <div class="col-lg-3">
                                                    <div class="mb-3">
                                                        <label for="basicpill-firstname-input">Aadhar No</label>
                                                        <input type="text" class="form-control"
                                                            id="basicpill-firstname-input"
                                                            placeholder="Enter Aadhar No">
                                                    </div>
                                                </div>
                                                <div class="col-lg-3">
                                                    <div class="mb-3">
                                                        <label for="basicpill-lastname-input">Licence No</label>
                                                        <input type="text" class="form-control"
                                                            id="basicpill-lastname-input"
                                                            placeholder="Enter Licence No">
                                                    </div>
                                                </div>
                                                <div class="col-lg-3">
                                                    <div class="mb-3">
                                                        <label for="basicpill-lastname-input">Valid Upto</label>
                                                        <input type="date" class="form-control"
                                                            id="basicpill-lastname-input"
                                                            placeholder="Enter Valid Upto">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-3">
                                                    <div class="mb-3">
                                                        <label for="basicpill-firstname-input">Name</label>
                                                        <input type="text" class="form-control"
                                                            id="basicpill-firstname-input" placeholder="Enter Name">
                                                    </div>
                                                </div>
                                                <div class="col-lg-3">
                                                    <div class="mb-3">
                                                        <div class="form-check mt-4">
                                                            <input type="checkbox" id="formRadio" value="A"
                                                                class="form-check-input mt-10"><label for="formRadio"
                                                                class="form-check-label"> Y/N
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3">
                                                    <div class="mb-3">
                                                        <label for="basicpill-lastname-input">Licence No</label>
                                                        <input type="text" class="form-control"
                                                            id="basicpill-lastname-input"
                                                            placeholder="Enter Licence No">
                                                    </div>
                                                </div>
                                                <div class="col-lg-3">
                                                    <div class="mb-3">
                                                        <label for="basicpill-lastname-input">Valid Upto</label>
                                                        <input type="date" class="form-control"
                                                            id="basicpill-lastname-input"
                                                            placeholder="Enter Valid Upto">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-3">
                                                    <div class="mb-3">
                                                        <label for="basicpill-firstname-input">Is</label>
                                                        <input type="text" class="form-control"
                                                            id="basicpill-firstname-input" placeholder="Enter">
                                                    </div>
                                                </div>
                                                <div class="col-lg-3">
                                                    <div class="mb-3">
                                                        <label for="basicpill-lastname-input">Valid Upto</label>
                                                        <input type="date" class="form-control"
                                                            id="basicpill-lastname-input"
                                                            placeholder="Enter Valid Upto">
                                                    </div>
                                                </div>
                                                <div class="col-lg-3">

                                                </div>
                                                <div class="col-lg-3">

                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <div class="mb-3">
                                                        <label for="basicpill-phoneno-input">Temporary Address</label>
                                                        <input type="text" class="form-control"
                                                            id="basicpill-phoneno-input"
                                                            placeholder="Enter Temporary Address">
                                                    </div>
                                                </div>
                                                <div class="col-lg-2">
                                                    <div class="mb-3">
                                                        <label for="basicpill-email-input">City</label>
                                                        <input type="email" class="form-control"
                                                            id="basicpill-email-input" placeholder="Enter City">
                                                    </div>
                                                </div>
                                                <div class="col-lg-2">
                                                    <div class="mb-3">
                                                        <label for="basicpill-email-input">Pin</label>
                                                        <input type="email" class="form-control"
                                                            id="basicpill-email-input" placeholder="Enter Pin">
                                                    </div>
                                                </div>
                                                <div class="col-lg-2">
                                                    <div class="mb-3">
                                                        <label for="basicpill-email-input">Phone</label>
                                                        <input type="email" class="form-control"
                                                            id="basicpill-email-input" placeholder="Enter Phone">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <div class="mb-3">
                                                        <label for="basicpill-phoneno-input">Permanent Address</label>
                                                        <input type="text" class="form-control"
                                                            id="basicpill-phoneno-input"
                                                            placeholder="Enter Permanent Address">
                                                    </div>
                                                </div>
                                                <div class="col-lg-2">
                                                    <div class="mb-3">
                                                        <label for="basicpill-email-input">City</label>
                                                        <input type="email" class="form-control"
                                                            id="basicpill-email-input" placeholder="Enter City">
                                                    </div>
                                                </div>
                                                <div class="col-lg-2">
                                                    <div class="mb-3">
                                                        <label for="basicpill-email-input">Pin</label>
                                                        <input type="email" class="form-control"
                                                            id="basicpill-email-input" placeholder="Enter Pin">
                                                    </div>
                                                </div>
                                                <div class="col-lg-2">
                                                    <div class="mb-3">
                                                        <label for="basicpill-email-input">Phone</label>
                                                        <input type="email" class="form-control"
                                                            id="basicpill-email-input" placeholder="Enter Phone">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-3">
                                                    <div class="mb-3">
                                                        <label for="basicpill-phoneno-input">Experience</label>
                                                        <input type="text" class="form-control"
                                                            id="basicpill-phoneno-input" placeholder="Enter Experience">
                                                    </div>
                                                </div>
                                                <div class="col-lg-3">
                                                    <div class="mb-3">
                                                        <label for="basicpill-email-input">Years</label>
                                                        <input type="email" class="form-control"
                                                            id="basicpill-email-input" placeholder="Enter Years">
                                                    </div>
                                                </div>
                                                <div class="col-lg-3">

                                                </div>
                                                <div class="col-lg-3">

                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-3">
                                                    <div class="mb-3">
                                                        <label for="basicpill-phoneno-input">Driver Ph No</label>
                                                        <input type="text" class="form-control"
                                                            id="basicpill-phoneno-input"
                                                            placeholder="Enter Driver Ph No">
                                                    </div>
                                                </div>
                                                <div class="col-lg-3">
                                                    <div class="mb-3">
                                                        <label for="basicpill-email-input">Mobile 1</label>
                                                        <input type="email" class="form-control"
                                                            id="basicpill-email-input" placeholder="Enter Mobile 1">
                                                    </div>
                                                </div>
                                                <div class="col-lg-3">
                                                    <div class="mb-3">
                                                        <label for="basicpill-email-input">Mobile 2</label>
                                                        <input type="email" class="form-control"
                                                            id="basicpill-email-input" placeholder="Enter Mobile 2">
                                                    </div>
                                                </div>
                                                <div class="col-lg-2">
                                                    <div class="mb-3">

                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-lg-3">
                                                    <div class="mb-3">
                                                        <div class="form-check mt-4">
                                                            <input type="checkbox" id="formRadio" value="A"
                                                                class="form-check-input mt-10"><label for="formRadio"
                                                                class="form-check-label"> Active Y/N
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3">
                                                    <div class="mb-3">
                                                        <label for="basicpill-lastname-input">InActive Date</label>
                                                        <input type="date" class="form-control"
                                                            id="basicpill-lastname-input"
                                                            placeholder="Enter InActive Date">
                                                    </div>
                                                </div>
                                                <div class="col-lg-3">
                                                    <div class="mb-3">
                                                        <div class="form-check mt-4">
                                                            <input type="checkbox" id="formRadio" value="A"
                                                                class="form-check-input mt-10"><label for="formRadio"
                                                                class="form-check-label"> Renewed Y/N
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3">
                                                    <div class="mb-3">
                                                        <label for="basicpill-lastname-input">Renewed Date</label>
                                                        <input type="date" class="form-control"
                                                            id="basicpill-lastname-input"
                                                            placeholder="Enter Renewed Date">
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </section>

                                    <!-- Bank Details -->
                                    <h3>Bank Details</h3>
                                    <section>
                                        <div class="row">
                                            <div class="col-lg-4">
                                                <div class="mb-3">
                                                    <label for="basicpill-pancard-input">Bank Account Name</label>
                                                    <input type="text" class="form-control" id="basicpill-pancard-input"
                                                        placeholder="Enter Bank Account Name">
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="mb-3">
                                                    <label for="basicpill-vatno-input">Bank Name</label>
                                                    <input type="text" class="form-control" id="basicpill-vatno-input"
                                                        placeholder="Enter Bank Name">
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="mb-3">
                                                    <label for="basicpill-vatno-input">Bank Account No</label>
                                                    <input type="text" class="form-control" id="basicpill-vatno-input"
                                                        placeholder="Enter Bank Account No">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-4">
                                                <div class="mb-3">
                                                    <label for="basicpill-pancard-input">IFSC Code</label>
                                                    <input type="text" class="form-control" id="basicpill-pancard-input"
                                                        placeholder="Enter IFSC Code">
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="mb-3">
                                                    <label for="basicpill-vatno-input">Branch Name</label>
                                                    <input type="text" class="form-control" id="basicpill-vatno-input"
                                                        placeholder="Enter Branch Name">
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="mb-3">
                                                    <label for="basicpill-vatno-input">Account Type</label>
                                                    <input type="text" class="form-control" id="basicpill-vatno-input"
                                                        placeholder="Enter Account Type">
                                                </div>
                                            </div>
                                        </div>
                                    </section>

                                    <!-- Attachment Details -->
                                    <h3>Attachment Details</h3>
                                    <section>
                                        <div>
                                            <div class="row">
                                                <div class="col-lg-4">
                                                    <div class="mt-3">
                                                        <label for="formFile" class="form-label">Driving License</label>
                                                        <input class="form-control" type="file" id="formFile">
                                                    </div>
                                                </div>
                                                <div class="col-lg-4">
                                                    <div class="mt-3">
                                                        <label for="formFile" class="form-label">License</label>
                                                        <input class="form-control" type="file" id="formFile">
                                                    </div>
                                                </div>
                                                <div class="col-lg-4">
                                                    <div class="mt-3">
                                                        <label for="formFile" class="form-label">Temporary Address
                                                            Prove</label>
                                                        <input class="form-control" type="file" id="formFile">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-4">
                                                    <div class="mt-3">
                                                        <label for="formFile" class="form-label">Permanent Address
                                                            Prove</label>
                                                        <input class="form-control" type="file" id="formFile">
                                                    </div>
                                                </div>
                                                <div class="col-lg-4">
                                                    <div class="mt-3">
                                                        <label for="formFile" class="form-label">AAdhar Card</label>
                                                        <input class="form-control" type="file" id="formFile">
                                                    </div>
                                                </div>
                                                <div class="col-lg-4">
                                                    <div class="mt-3">
                                                        <label for="formFile" class="form-label">Bank Passbook</label>
                                                        <input class="form-control" type="file" id="formFile">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                    <div class="row text-right">
                                        <div class="col-lg-12">
                                            <div class="tex">
                                                <button type="submit" class="btn btn-primary w-md" style="display: none;">Submit</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <!-- end card body -->
                        </div>
                        <!-- end card -->
                    </div>
                    <!-- end col -->
                </div>
                <!-- end row -->
            </form>
            <!-- end row -->
            <!-- end row -->
        </div>
        <!-- container-fluid -->
    </div>
    <!-- End Page-content -->
</div>