<div class="main-content">
    <div class="page-content">
        <div class="container-fluid">
            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                        <h4 class="mb-sm-0 font-size-18">Driver Master</h4>
                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="/#/drivermasterlist">Driver Master</a></li>
                                <li class="breadcrumb-item active">Driver Master Add</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end page title -->
            <form [formGroup]="formDriverMaster">
                <div class="ng-untouched ng-pristine ng-valid">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <!-- Personal Details -->
                                <h4 class="card-title mb-4">Personal Details</h4>
                                <section>
                                    <div class="row">
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label>Driver name</label>
                                                <input type="text" class="form-control" id="basicpill-firstname-input"
                                                    formControlName="driverName" placeholder="">
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label>Father name</label>
                                                <input type="text" class="form-control" formControlName="fatherName"
                                                    placeholder="">
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label>Date of Birth</label>
                                                <input type="date" class="form-control" formControlName="dateOfBirth"
                                                    placeholder="">
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label>Age</label>
                                                <input type="text" class="form-control" formControlName="age"
                                                    placeholder="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label>Blood Group</label>
                                                <input type="text" class="form-control" formControlName="bloodGroup"
                                                    placeholder="">
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label>Introduced By</label>
                                                <input type="text" class="form-control" formControlName="introBy"
                                                    placeholder="">
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label>Mobile No</label>
                                                <input type="text" class="form-control"
                                                    formControlName="introByMobileNo" placeholder="">
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label>Date of
                                                    Appointment</label>
                                                <input type="date" class="form-control" formControlName="dateOfAppoint"
                                                    placeholder="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label>Group Name</label>
                                                <input type="text" class="form-control" formControlName="groupName"
                                                    placeholder="">
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label>Aadhar No</label>
                                                <input type="text" class="form-control" formControlName="driverAadharNo"
                                                    placeholder="">
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label>Licence No</label>
                                                <input type="text" class="form-control" formControlName="licenseNo"
                                                    placeholder="">
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label>Valid Upto</label>
                                                <input type="date" class="form-control" formControlName="licValidUpto"
                                                    placeholder="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label>Issue Auth</label>
                                                <input type="text" class="form-control"
                                                    formControlName="licenseIssuAuth" placeholder="">
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <div class="form-check mt-4">
                                                    <input type="checkbox" id="formHLicYNRadio"
                                                        class="form-check-input mt-10"
                                                        formControlName="isHazardousLicYN">
                                                    <label for="formHLicYNRadio" class="form-check-label"> Hazardous
                                                        Lic
                                                        Y/N
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label>Hazardous Licence No</label>
                                                <input type="text" class="form-control" formControlName="hazardousLicNo"
                                                    placeholder="">
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label>hazardous Valid Upto</label>
                                                <input type="date" class="form-control"
                                                    formControlName="hazLicValidUpto" placeholder="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label>HazLicense Issue Auth</label>
                                                <input type="text" class="form-control"
                                                    formControlName="hazLicenseIssuAuth" placeholder="">
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <!-- <div class="mb-3">
                                                        <label for="basicpill-lastname-input">Valid Upto</label>
                                                        <input type="date" class="form-control"
                                                             formControlName="userName"
                                                            placeholder="Enter Valid Upto">
                                                    </div> -->
                                        </div>
                                        <div class="col-lg-3">

                                        </div>
                                        <div class="col-lg-3">

                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="mb-3">
                                                <label>Temporary Address</label>
                                                <input type="text" class="form-control" formControlName="temporaryAddr"
                                                    placeholder="">
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="mb-3">
                                                <label>City</label>
                                                <input type="email" class="form-control"
                                                    formControlName="temporaryAddrCity" placeholder="">
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="mb-3">
                                                <label>Pin</label>
                                                <input type="email" class="form-control"
                                                    formControlName="temporaryAddrPin" placeholder="">
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="mb-3">
                                                <label>Phone</label>
                                                <input type="email" class="form-control" formControlName="tempAddPhone"
                                                    placeholder="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="mb-3">
                                                <label>Permanent Address</label>
                                                <input type="text" class="form-control" formControlName="permanentAddr"
                                                    placeholder="">
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="mb-3">
                                                <label>City</label>
                                                <input type="email" class="form-control"
                                                    formControlName="permanentAddrCity" placeholder="">
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="mb-3">
                                                <label>Pin</label>
                                                <input type="email" class="form-control"
                                                    formControlName="permanentAddrPin" placeholder="">
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="mb-3">
                                                <label>Phone</label>
                                                <input type="email" class="form-control" formControlName="permAddPhone"
                                                    placeholder="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label>Experience</label>
                                                <input type="text" class="form-control"
                                                    formControlName="previousExpDetails" placeholder="">
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label>Years</label>
                                                <input type="email" class="form-control"
                                                    formControlName="previousExpYears" placeholder="">
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label>Driver Photo</label>
                                                <input #driverPhotoInput class="form-control" type="file"
                                                    id="formDriverPhoto" accept="image/*"
                                                    (change)="onSelectDrivePhoto($event)">
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <img [src]="driverPhotoPreview" height="120" width="120">
                                        </div>
                                    </div>
                                    <div class="row">

                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label>Mobile 1</label>
                                                <input type="email" class="form-control" placeholder="">
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label>Mobile 2</label>
                                                <input type="email" class="form-control" placeholder="">
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="mb-3">

                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <div class="form-check mt-4">
                                                    <input type="checkbox" id="formActive"
                                                        class="form-check-input mt-10" formControlName="isActive">
                                                    <label for="formActive" class="form-check-label"> Active Y/N
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label>InActive Date</label>
                                                <input type="date" class="form-control" formControlName="inActiveDate"
                                                    placeholder="">
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <div class="form-check mt-4">
                                                    <input type="checkbox" id="formRemovedRadio"
                                                        class="form-check-input mt-10" formControlName="removedYN">
                                                    <label for="formRemovedRadio" class="form-check-label"> Removed
                                                        Y/N
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label>Removed Date</label>
                                                <input type="date" class="form-control" formControlName="removedDate"
                                                    placeholder="">
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ng-untouched ng-pristine ng-valid">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-body">
                                    <!-- Bank Details -->
                                    <h4 class="card-title mb-4">Bank Details</h4>
                                    <section>
                                        <div class="row">
                                            <div class="col-lg-4">
                                                <div class="mb-3">
                                                    <label>Bank Account Name</label>
                                                    <input type="text" class="form-control"
                                                        formControlName="drBankAccountName"
                                                        placeholder="">
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="mb-3">
                                                    <label>Bank Name</label>
                                                    <input type="text" class="form-control" formControlName="bankName"
                                                        placeholder="">
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="mb-3">
                                                    <label>Bank Account No</label>
                                                    <input type="text" class="form-control" formControlName="bankAcNo"
                                                        placeholder="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-4">
                                                <div class="mb-3">
                                                    <label>IFSC Code</label>
                                                    <input type="text" class="form-control"
                                                        formControlName="bankIfsCode" placeholder="">
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="mb-3">
                                                    <label>Branch Name</label>
                                                    <input type="text" class="form-control" formControlName="bankBranch"
                                                        placeholder="">
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="mb-3">
                                                    <label>Account Status</label>
                                                    <input type="text" class="form-control"
                                                        formControlName="bankAccountStatus"
                                                        placeholder="">
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ng-untouched ng-pristine ng-valid">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-body">
                                    <!-- Attachment Details -->
                                    <h4 class="card-title mb-4">Attachment Details</h4>
                                    <section>
                                        <div>
                                            <div class="row">
                                                <div class="col-lg-4">
                                                    <div class="mt-3">
                                                        <label for="formDLFile" class="form-label">Driving
                                                            License</label>
                                                        <input #drivingLicenseInput class="form-control" type="file"
                                                            id="formDLFile" accept="image/*">
                                                    </div>
                                                </div>
                                                <div class="col-lg-4">
                                                    <div class="mt-3">
                                                        <label for="formLicFile" class="form-label">Haz License</label>
                                                        <input #hazdrivingLicenseInput class="form-control" type="file"
                                                            id="formLicFile" accept="image/*">
                                                    </div>
                                                </div>
                                                <div class="col-lg-4">
                                                    <div class="mt-3">
                                                        <label for="formTempAddFile" class="form-label">Temporary
                                                            Address Prove</label>
                                                        <input #tempAddressProveInput class="form-control" type="file"
                                                            id="formTempAddFile" accept="image/*">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-4">
                                                    <div class="mt-3">
                                                        <label for="formPerAddFile" class="form-label">Permanent
                                                            Address
                                                            Prove</label>
                                                        <input #perAddressProveInput class="form-control" type="file" id="formPerAddFile"
                                                            accept="image/*">
                                                    </div>
                                                </div>
                                                <div class="col-lg-4">
                                                    <div class="mt-3">
                                                        <label for="formAadharFile" class="form-label">Aadhar
                                                            Card</label>
                                                        <input #aadharCardInput class="form-control" type="file" id="formAadharFile"
                                                            accept="image/*">
                                                    </div>
                                                </div>
                                                <div class="col-lg-4">
                                                    <div class="mt-3">
                                                        <label for="formPassbookFile" class="form-label">Bank
                                                            Passbook</label>
                                                        <input #bankPassbookInput class="form-control" type="file" id="formPassbookFile"
                                                            accept="image/*">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row text-right">
                    <div class="col-lg-12">
                        <div class="tex">
                            <button type="submit" class="btn btn-primary w-md"
                                (click)="submitDriverMasterForm()">Submit</button>
                        </div>
                    </div>
                    <!-- end col -->
                </div>
                <!-- end row -->
            </form>
            <!-- end row -->
            <!-- end row -->
        </div>
        <!-- container-fluid -->
    </div>
    <!-- End Page-content -->
</div>