<div class="main-content">
   <div class="page-content">
      <div class="container-fluid">
         <!-- start page title -->
         <div class="row">
            <div class="col-12">
               <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                  <h4 class="mb-sm-0 font-size-18">Rate Type</h4>
                  <div class="page-title-right">
                     <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Fleet</a></li>
                        <li class="breadcrumb-item active">Rate Type</li>
                     </ol>
                  </div>
               </div>
            </div>
         </div>
         <!-- end page title -->
         <form [formGroup]="formUser">
            <div class="row">
               <div class="col-lg-12">
                  <div class="card">
                     <div class="card-body">
                        <h4 class="card-title mb-4">Rate Type</h4>
                      
                        <div class="row">
                          <div class="col-lg-2">
                              <div class="mb-4"><label for="formrow-inputCity">Rate Desc  Name</label>
                              </div>
                             </div>
                             <div class="col-lg-4">
                              <div class="mb-4">
                                <input type="text"  autofocus="autofocus" class="form-control"
                                placeholder="Enter  rate desc" formControlName="rateDesc"
                                [ngClass]=>
                              </div>
                          </div>
                       </div>
                       <div class="row">
                          <div class="col-lg-2">
                              <div class="mb-4">
                                  <label for="formrow-inputState">Rate Method</label>
                                </div>
                             </div>
                         
                             <div class="col-lg-4">
                                <div class="mb-4">
                                  <select id="scope"  class="form-select" formControlName="rateMethod">
                                   <option value="RTF">Rate = Freight</option>
                                   <option value="CRF">Charge Wt * Rate = Freight </option>
                                   <option value="PRF">Package * Rate = Freight </option>
                                   <option value="KRF">KMS * Rate = Freight </option>
                                   <option value="KCRF">KMS * Wt * Rate = Freight</option>
                                   <option value="KPRF">KMS * Package * Rate = Freight 
                                 </option>
                               </select>
                              </div>
                          </div>
                       </div>
                          
                              
                                  
                          
                         
                             
                                
                          
                
                     </div>
                     <!-- end card body -->
                  </div>
                  <!-- end card -->
               </div>
            </div>
            <div class="row text-right">
               <div class="col-lg-12">
                  <div class="tex">
                     <button class="btn btn-primary w-md"
                        (click)="submitRateTypesForm()">Submit</button>
                  </div>
               </div>
            </div>
         </form>
         <!-- end row -->
         <!-- end row -->
      </div>
      <!-- container-fluid -->
   </div>
   <!-- End Page-content -->
</div>
