<div class="main-content">
   <div class="page-content">
      <div class="container-fluid">
          <!-- start page title -->
         <div class="row">
            <div class="col-12">
               <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                  <h4 class="mb-sm-0 font-size-18">Destination</h4>
               </div>
            </div>
         </div>
          <!-- end page title -->
         <form (keydown.enter)="$event.preventDefault()"[formGroup]="formUser">
            <div class="row">
               <div class="col-lg-12">
                  <div class="card">
                     <div class="card-body">
                        <div class="row">
                           <div class="col-lg-12">
                              <div class="row">
                                 <div class="col-lg-3">
                                    <div class="mb-4">
                                       <label for="horizontal-firstname-input" class="col-form-label">
                                          Destination Name </label><span style="color: red"> * </span>
                                    </div>
                                 </div>
                                 <div class="col-lg-3">
                                   <div class="mb-4">
                                       <input uppercaseonly type="text"  autofocus="autofocus"  class="form-control"
                                           (change)="chkBranchNameExits($event)" formControlName="centreName"  
                                           autoclose="false"   maxlength="49"                                          
                                           [ngClass]="{ 'is-invalid': formSubmitted && (f['centreName'].invalid) }">
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="col-lg-12">
                              <div class="row">
                                 <div class="col-lg-3">
                                    <div class="mb-4">
                                       <label for="horizontal-firstname-input" class="col-form-label">
                                             Pin Code </label><span style="color: red"> * </span>
                                    </div>
                                 </div>
                                 <div class="col-lg-3">
                                    <div class="mb-4">
                                       <input numbersonly type="text" class="form-control"
                                           maxlength="6" formControlName="pinCode" autoclose="false"                                     
                                           [ngClass]="{ 'is-invalid': formSubmitted && (f['pinCode'].invalid) }">
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="col-lg-12">
                              <div class="row">
                                 <div class="col-lg-3">
                                    <div class="mb-4">
                                       <label for="horizontal-firstname-input" class="col-form-label">
                                           Controlling Branch </label><span style="color: red"> * </span>
                                       </div>
                                    </div>
                                    <div class="col-lg-3">
                                       <div class="mb-4">
                                          <select class="form-control" autoclose="false" formControlName="acctBranch" 
                                             [ngClass]="{ 'is-invalid': formSubmitted && (f['acctBranch'].invalid) }">
                                             <option *ngFor="let branch of branchList" value={{branch.dataId}}>
                                                 {{branch.dataName}}
                                             </option>
                                          </select>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div class="col-lg-12">
                                 <div class="row">
                                    <div class="col-lg-3">
                                       <div class="mb-4">
                                          <label for="horizontal-firstname-input" class="col-form-label">
                                             State </label><span style="color: red"> * </span>
                                       </div>
                                    </div>
                                    <div class="col-sm-3">
                                       <div class="mb-4">
                                          <select class="form-control" formControlName="stateCode" autoclose="false"
                                             [ngClass]="{ 'is-invalid': formSubmitted && (f['stateCode'].invalid) }">
                                             <option *ngFor="let state of stateList" value={{state.dataId}}>
                                                 {{state.dataName}}
                                             </option>
                                          </select>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                      <!-- end card body -->
                     </div>
                   <!-- end card -->
                  </div>
               </div>
               <div class="row text-right">
                  <div class="col-lg-12">
                     <div class="tex">
                        <button class="btn btn-primary w-md" 
                        *ngIf="((editMode && editStatus) || (!editMode && createStatus)) && !formSubmitted"
                           (click)="submitDestinationForm()">Save</button>&nbsp;
                        <button class="btn btn-danger w-md m-2" *ngIf="editMode && deleteStatus"
                           (click)="deleteDestinationForm()">Delete</button>&nbsp;
                        <button class="btn btn-secondary w-md" (click)="exit()">Exit</button>
                  </div>
               </div>
            </div>
         </form>
       <!-- end row -->
       <!-- end row -->
      </div>
    <!-- container-fluid -->
   </div>
 <!-- End Page-content -->
</div>