<div class="main-content">
    <div class="page-content">
        <div class="container-fluid">
            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                        <h4 class="mb-sm-0 font-size-18">Consignment</h4>
                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <!-- <li class="breadcrumb-item">Consignment</li>
                                <li class="breadcrumb-item active">Consignment </li> -->
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end page title -->
            <form [formGroup]="formConsignment">
                <div class="ng-untouched ng-pristine ng-valid">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title mb-4">Booking </h4>
                                    <div class="row">
                                        <div class="col-lg-3">
                                            <div class="mb-3"><label for="formrow-inputCity">Booked at</label>
                                                <select class="form-control" formControlName="bookingPlace"
                                                    [ngClass]="{ 'is-invalid': formSubmitted && (f['bookingPlace'].invalid) }">
                                                    <option *ngFor="let branch of branchList" value={{branch.dataId}}>
                                                        {{branch.dataName}}
                                                    </option>
                                                </select>
                                                <div class="text-error"
                                                    *ngIf="formSubmitted && (f['bookingPlace'].invalid)">
                                                    Booking at field is mendatory
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="mb-3">
                                                <label for="formrow-inputState">LR.Series/No</label>
                                                <select class="form-control" formControlName="gcSeries" 
                                                    (change)="lrSeriesChange()"
                                                    [ngClass]="{ 'is-invalid': formSubmitted && (f['gcSeries'].invalid) }">
                                                    <option *ngFor="let branch of lrSeries" value={{branch.dataName}}>
                                                        {{branch.dataName}}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="mb-3">
                                                <label for="formrow-inputState">LR No.</label>
                                                <input type="text" id="formrow-inputCity" class="form-control"
                                                    placeholder="" formControlName="gcSlNo"
                                                    [ngClass]="{ 'is-invalid': formSubmitted && (f['gcSlNo'].invalid) }" 
                                                    (change)="checkDuplicateLr()">
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <input type="checkbox" name="select" 
                                                    class="form-check-input" value="Y"
                                                    formControlName="attachLRtoSameTrip">  
                                                <label for="formrow-inputCity"> Attach LR To Same Old Trip</label>
                                            </div>                                            
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-2">
                                            <div class="mb-3"><label for="formrow-inputZip">Booking Date</label>
                                                <input bsdatepicker="" type="date" autoclose="false"
                                                   formControlName="bookingDate"
                                                    class="form-control"
                                                    min="{{minDate}}" max="{{maxNewDate}}"
                                                    [ngClass]="{ 'is-invalid': formSubmitted && (f['bookingDate'].invalid) }">
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="mb-3">
                                                <label for="formrow-inputState">Book Status</label>
                                                <select id="formrow-inputState" class="form-control"
                                                    formControlName="bookingStatus"
                                                    [ngClass]="{ 'is-invalid': formSubmitted && (f['bookingStatus'].invalid) }">
                                                    <option selected="">Choose...</option>
                                                    <option value="TBB">TBB</option>
                                                    <option value="FOC">FOC</option>
                                                    <option value="Can">Cancel</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="formrow-inputState">Company/Non-Company</label>
                                                <select id="formrow-inputState" class="form-control"
                                                    formControlName="compNonCompStatus"
                                                    (change)="onNonCompChange($event)"
                                                    [ngClass]="{ 'is-invalid': formSubmitted && (f['compNonCompStatus'].invalid) }">
                                                    <option value="C">Company</option>
                                                    <option value="N">Non-Company</option>                                               
                                                </select>
                                            </div>
                                        </div>                                        
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="formrow-inputState">Non-Company Vehical No</label>
                                                <input uppercaseonly type="text" class="form-control" 
                                                        formControlName="truckNo" 
                                                        maxlength="12"
                                                [ngClass]="{ 'is-invalid': formSubmitted && (f['truckNo'].invalid) }">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-3">
                                            <div class="form-check mb-3">
                                                <input type="radio" formControlName="ewayBillEntryType" id="formRadios1"
                                                    value="A" class="form-check-input" name="ewayBillEntryType"
                                                    (change)="changeEWay('A')" />
                                                <label for="formRadios1" class="form-check-label" style="color:green">
                                                    Get ALL From EWayBill API
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="form-check">
                                                <input type="radio" formControlName="ewayBillEntryType" id="formRadios2"
                                                    value="M" class="form-check-input" name="ewayBillEntryType"
                                                    (change)="changeEWay('M')" />
                                                <label for="formRadios2" class="form-check-label" style="color:green">
                                                    EWay Bill Manual Entry
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="form-check">
                                                <input type="radio" name="ewayBillEntryType"
                                                    formControlName="ewayBillEntryType" id="formRadios3" value="E"
                                                    class="form-check-input" name="ewayBillEntryType"
                                                    (change)="changeEWay('E')" >
                                                <label for="formRadios3" class="form-check-label" style="color:green">
                                                    No EWay Bill Exemption
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <label style="color: red" > Transporter Document No.:  {{ transporter_doc_number}}  </label><span ></span>
                                        </div>
                                        
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">EWay Bill No</label>
                                                <div class="hstack gap-1">
                                                    <input numbersonly type="text" class="form-control" 
                                                        formControlName="ewayBillNo" 
                                                        maxlength="12"
                                                        [ngClass]="{ 'is-invalid': formSubmitted && (f['ewayBillNo'].invalid) }">
                                                    <button type="button" class="btn btn-primary"
                                                        *ngIf="searchEnable"
                                                        (click)="searchGSTDetails()">Search</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">EWay Bill Date</label>
                                                <input bsdatepicker="" type="date" autoclose="false"
                                                    min="{{minDate}}" max="{{maxDate}}"
                                                 formControlName="ewayBillDate"
                                                    class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">EWay Bill Exp Date</label>
                                                <input bsdatepicker="" type="date" autoclose="false"                                                    
                                                    formControlName="ewayBillExpDate" min="{{minDate}}" max="{{maxDate}}"
                                                    class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">Vehicle No</label>
                                                <div class="ng-autocomplete">
                                                    <ng-autocomplete [data]="vehicleList"
                                                        [searchKeyword]="keywordLocation" placeholder=""
                                                        formControlName="truckId"
                                                        (selected)='selectEvent($event)'
                                                        (inputChanged)='onChangeSearch($event)'
                                                        (inputFocused)='onFocused($event)' [itemTemplate]="itemTemplate"
                                                        [notFoundTemplate]="notFoundTemplate"
                                                        [customFilter]="startWithFilter"
                                                        [ngClass]="{ 'is-invalid': formSubmitted && (f['truckId'].invalid) }"
                                                                             >
                                                    </ng-autocomplete>

                                                    <ng-template #itemTemplate let-item>
                                                        <a [innerHTML]="item.dataName"></a>
                                                    </ng-template>

                                                    <ng-template #notFoundTemplate let-notFound>
                                                        <div [innerHTML]="notFound"></div>
                                                    </ng-template>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">From Place</label>
                                                <div class="ng-autocomplete">
                                                    <ng-autocomplete [data]="locationList" 
                                                        formControlName="fromPlace"
                                                        [searchKeyword]="keywordLocation" placeholder=""
                                                        (selected)='changeFromPlace($event)'
                                                        (inputChanged)='onChangeSearch($event)'
                                                        (inputFocused)='onFocused($event)' [itemTemplate]="itemTemplate" 
                                                        [notFoundTemplate]="notFoundTemplate"
                                                        [customFilter]="startWithFilter"
                                                        [ngClass]="{'is-invalid': formSubmitted && (f['fromPlace'].invalid)}"
                                                        (closed) = "popupClosedFromPlace()"
                                                        (inputCleared)="onClearedFromPlace($event)"
                                                      >
                                                    </ng-autocomplete>

                                                    <ng-template #itemTemplate let-item>
                                                        <a [innerHTML]="item.dataName"></a>
                                                    </ng-template>

                                                    <ng-template #notFoundTemplate let-notFound>
                                                        <div [innerHTML]="notFound"></div>
                                                    </ng-template>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">Pin</label>
                                                <input numbersonly autoclose="false" class="form-control"
                                                    formControlName="fromPin" 
                                                    maxlength="6"
                                                    [ngClass]="{ 'is-invalid': formSubmitted && (f['fromPin'].invalid) }">
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">To Place</label>
                                                <div class="ng-autocomplete">
                                                    <ng-autocomplete [data]="locationList" 
                                                        formControlName="toPlace"
                                                        [searchKeyword]="keywordLocation" placeholder=""
                                                        (selected)='changeToPlace($event)'
                                                        (inputChanged)='onChangeSearch($event)'
                                                        (inputFocused)='onFocused($event)' [itemTemplate]="itemTemplate"
                                                        [notFoundTemplate]="notFoundTemplate"
                                                        [customFilter]="startWithFilter"
                                                        [ngClass]="{ 'is-invalid': formSubmitted && (f['toPlace'].invalid) }"
                                                        (inputCleared)="onClearedToPlace($event)">
                                                    </ng-autocomplete>

                                                    <ng-template #itemTemplate let-item>
                                                        <a [innerHTML]="item.dataName"></a>
                                                    </ng-template>

                                                    <ng-template #notFoundTemplate let-notFound>
                                                        <div [innerHTML]="notFound"></div>
                                                    </ng-template>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">Pin</label>
                                                <input numbersonly autoclose="false" class="form-control"
                                                    formControlName="toPin"
                                                    maxlength="6"
                                                    [ngClass]="{ 'is-invalid': formSubmitted && (f['toPin'].invalid) }">
                                            </div>
                                        </div>
                                        <div class="col-lg-1">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">kMs</label>
                                                <input type="text" numbersonly class="form-control" placeholder=" "
                                                     maxlength="8"
                                                    formControlName="kms">
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ng-untouched ng-pristine ng-valid">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title mb-4">Consignor/Consignee</h4>
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <div class="mb-3"><label for="formrow-inputCity">Consignor</label>
                                                <input type="text" id="formrow-inputCity" class="form-control"
                                                    placeholder="" formControlName="cnorCode" uppercaseonly
                                                    [ngClass]="{ 'is-invalid': formSubmitted && (f['cnorCode'].invalid) }">
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="mb-3">
                                                <label for="formrow-inputState">Cnor Gst</label>
                                                <input type="text" id="formrow-inputCity"
                                                maxlength="15" uppercaseonly
                                                    class="form-control" placeholder="" formControlName="cnorGst"
                                                    [ngClass]="{ 'is-invalid': formSubmitted && (f['cnorGst'].invalid) }">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-2">
                                            <div class="mb-3"><label for="formrow-inputZip">Cnor Inv No</label>
                                                <input type="text" id="formrow-inputCity" class="form-control"
                                                uppercaseonly formControlName="cnorInvNo" [ngClass]= "{ 'is-invalid': formSubmitted && (f['cnorInvNo'].invalid) }">
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">Invoice Value</label>
                                                <input type="text" decimalonly autoclose="false" class="form-control"
                                                    formControlName="declaredValue" [ngClass]= "{ 'is-invalid': formSubmitted && (f['declaredValue'].invalid) }">
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="mb-3">
                                                <label for="formrow-inputState">Invoice Date</label>
                                                <input bsdatepicker="" type="date" autoclose="false"
                                                    formControlName="cnorInvDate" min="{{minDate}}" max="{{maxDate}}"
                                                    class="form-control"  [ngClass]= "{ 'is-invalid': formSubmitted && (f['declaredValue'].invalid) }">
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="mb-3">
                                                <label for="formrow-inputState">CnorPlantCode </label>
                                                <input uppercaseonly type="text" id="formrow-inputCity" class="form-control"
                                                maxlength="10"
                                                placeholder="" formControlName="cnorPlantCode" [ngClass]= >
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">Consignee</label>
                                                <input type="text" id="formrow-inputCity" class="form-control"
                                                    placeholder="" formControlName="cneeCode" uppercaseonly
                                                    [ngClass]="{ 'is-invalid': formSubmitted && (f['cneeCode'].invalid) }">
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">Consignee Address 1</label>
                                                <input uppercaseonly class="form-control" formControlName="cneeAdd1">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="mb-4">
                                                <label for="formrow-inputZip">Consignee Address 2</label>
                                                <input uppercaseonly class="form-control" formControlName="cneeAdd2">
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="mb-4">
                                                <label for="formrow-inputZip">Consignee Address 3</label>
                                                <input uppercaseonly class="form-control" formControlName="cneeAdd3">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-2">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">Consignee gst</label>
                                                <input uppercaseonly class="form-control" formControlName="cneeGst"
                                                maxlength="15"
                                                 [ngClass]= "{ 'is-invalid': formSubmitted && (f['cneeGst'].invalid) }">
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">Contents</label>
                                                <select class="form-control" formControlName="productId"
                                                    [ngClass]="{ 'is-invalid': formSubmitted && (f['productId'].invalid) }">
                                                    <option *ngFor="let data of contentList" value={{data.dataId}}>
                                                        {{data.dataName}}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">Contents Desc</label>
                                                <input uppercaseonly type="text" class="form-control"
                                                maxlength="50"
                                                    formControlName="productDesc" placeholder=" " [ngClass]= >
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">Shipment No</label>
                                                <input uppercaseonly class="form-control" formControlName="shipmentNo">
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">Shipment Dt</label>
                                                <input bsdatepicker="" type="date" autoclose="false"
                                                    formControlName="shipmentDt" min="{{minDate}}" max="{{maxDate}}"
                                                    class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">Actual Wt</label>
                                                <input type="text" decimalonly class="form-control" placeholder=" "
                                                    formControlName="actualWt" [ngClass]=>
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">Charged Wt</label>
                                                <input type="text" decimalonly class="form-control" placeholder=" "
                                                    formControlName="chargewt" [ngClass]=>
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">Qty/Pkgs</label>
                                                <input numbersonly autoclose="false" formControlName="noPackages"
                                                    class="form-control"    
                                                    [ngClass]="{ 'is-invalid': formSubmitted && (f['noPackages'].invalid) }">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-2">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">Rate Type</label>
                                                <select class="form-control" formControlName="rateType"
                                                    [ngClass]="{ 'is-invalid': formSubmitted && (f['rateType'].invalid) }">
                                                    <option *ngFor="let branch of rateList" value={{branch.dataId}}>
                                                        {{branch.dataName}}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">CneeDealrCode </label>
                                                <input autoclose="false" uppercaseonly formControlName="cneeDealrCode"
                                                    class="form-control">
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ng-untouched ng-pristine ng-valid">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title mb-4">Eway Bill Details2</h4>
                                    <div class="row">
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">EwayBillNo</label>
                                                <div class="hstack gap-1">
                                                <input type="text" numbersonly class="form-control"
                                                    maxlength="12"
                                                    formControlName="ewayBillNo2" >
                                                    <button  type="button" class="btn btn-primary" 
                                                    *ngIf="searchEnable"
                                                    (click)="searchGSTDetails2()">Search</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">EwayBill Date</label>
                                                <input bsdatepicker="" type="date" decimalonly class="form-control" placeholder=""
                                                    formControlName="ewayBillDate2" >
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">EwayBillExp Date</label>
                                                <input bsdatepicker="" type="date"decimalonly class="form-control" placeholder=" "
                                                    formControlName="ewayBillExpDate2">
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">CnorInv No</label>
                                                <input type="text" decimalonly class="form-control" uppercaseonly
                                                    formControlName="cnorInvNo2">
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">CnorInv Date</label>
                                                <input bsdatepicker="" type="date" decimalonly class="form-control"
                                                    formControlName="cnorInvDate2">
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">Invoice value</label>
                                                <input type="text" decimalonly class="form-control" placeholder=" "
                                                    formControlName="declaredValue2">
                                            </div>
                                        </div>
                                    </div>
                                 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ng-untouched ng-pristine ng-valid">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title mb-4">Freight Details</h4>
                                    <div class="row">
                                        <div class="col-lg-2">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">Rate</label>
                                                <input type="text" decimalonly class="form-control" placeholder=" "
                                                    formControlName="rateRs" >
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">Freight</label>
                                                <input type="text" decimalonly class="form-control" placeholder=""
                                                    formControlName="freightRs" (change)="calculateTotalAmount()">
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">Statistical</label>
                                                <input type="text" decimalonly class="form-control" placeholder=" "
                                                    formControlName="statisticalRs" (change)="calculateTotalAmount()">
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">Loading</label>
                                                <input type="text" decimalonly class="form-control" placeholder=" "
                                                    formControlName="handlingRs" (change)="calculateTotalAmount()">
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">Ld Pt Detn</label>
                                                <input type="text" decimalonly class="form-control"
                                                    formControlName="loadingDetnRs" (change)="calculateTotalAmount()">
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">Extra Ch</label>
                                                <input type="text" decimalonly class="form-control" placeholder=" "
                                                    formControlName="extrasRS" (change)="calculateTotalAmount()">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-2">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">Misc. Charge</label>
                                                <input type="text" decimalonly class="form-control" placeholder=" "
                                                    formControlName="miscRs" (change)="calculateTotalAmount()">
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">Un Loading</label>
                                                <input type="text" decimalonly class="form-control" placeholder=""
                                                    formControlName="unLoadingRs" (change)="calculateTotalAmount()">
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">UL Pt Detn</label>
                                                <input type="text" decimalonly class="form-control"
                                                    formControlName="detentionRs" (change)="calculateTotalAmount()">
                                            </div>
                                        </div>

                                        <div class="col-lg-2">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">Other Charge</label>
                                                <input type="text" decimalonly class="form-control" placeholder=""
                                                    formControlName="othersRs" (change)="calculateTotalAmount()">
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">Sub Total</label>
                                                <input type="text" decimalonly class="form-control" placeholder=""
                                                    formControlName="subTotalRs" [ngClass]=>
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">Net Total</label>
                                                <input type="text" decimalonly class="form-control" placeholder=""
                                                    formControlName="gtotalRs" [ngClass]=>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
         
                <div class="ng-untouched ng-pristine ng-valid">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">Billing Station</label>
                                                <select class="form-control" formControlName="userBranch3"
                                                    [ngClass]="{ 'is-invalid': formSubmitted && (f['userBranch3'].invalid) }">
                                                    <option *ngFor="let branch of branchList" value={{branch.dataId}}>
                                                        {{branch.dataName}}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">Billing Party </label>
                                                <div class="ng-autocomplete">
                                                    <ng-autocomplete [data]="partyList" 
                                                        formControlName="billingParty"
                                                        [searchKeyword]="keywordLocation" placeholder=""
                                                        (selected)='selectEvent($event)'
                                                        (inputChanged)='onChangeSearch($event)'
                                                        (inputFocused)='onFocused($event)' [itemTemplate]="itemTemplate"
                                                        [notFoundTemplate]="notFoundTemplate"
                                                        [customFilter]="startWithFilter"
                                                        [ngClass]="{ 'is-invalid': formSubmitted && (f['billingParty'].invalid) }">
                                                    </ng-autocomplete>

                                                    <ng-template #itemTemplate let-item>
                                                        <a [innerHTML]="item.dataName"></a>
                                                    </ng-template>

                                                    <ng-template #notFoundTemplate let-notFound>
                                                        <div [innerHTML]="notFound"></div>
                                                    </ng-template>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">

                                        <div class="col-lg-8">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">Remarks</label>
                                                <input uppercaseonly type="text" id="formrow-inputCity"
                                                    class="form-control" placeholder="" formControlName="generalRemarks"
                                                    [ngClass]=>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row text-right">
                    <div class="col-lg-12">
                        <div class="tex">
                            <button  class="btn btn-primary w-md"
                                (click)="submitConsignmentForm()" *ngIf="(editMode && editStatus) || (!editMode && createStatus)">Save</button>
                                <button class="btn btn-danger w-md m-2" *ngIf="editMode && deleteStatus"
                                (click)="consignmentDelete()">Delete</button>
                            <button  class="btn btn-secondary w-md m-2" *ngIf="createmode" (click)="exit()">Exit</button>
                        </div>
                    </div>
                </div>
            </form>
            <!-- end row -->
            <!-- end row -->
        </div>
        <!-- container-fluid -->
    </div>
    <!-- End Page-content -->
</div>