<div class="main-content">
    <div class="page-content">
       <div class="container-fluid">
          <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                        <h4 class="mb-sm-0 font-size-18">Activate Tyres</h4>
                    </div>
                </div>
            </div>
          <!-- end page title -->
            <form (keydown.enter)="$event.preventDefault()"[formGroup]="formUser">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body"> 
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="mb-3">
                                            <label>Branch : </label><span style="color: red">*</span> 
                                            <select class="form-control form-select ng-pristine ng-touched"formControlName="branchCode"
                                                [ngClass]="{ 'is-invalid': formSubmitted && (f['branchCode'].invalid) }">
                                                <option *ngFor="let branch of branchList" value={{branch.dataId}}>
                                                    {{branch.dataName}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>  
                                    <div class="col-sm-2">
                                        <div class="mb-3">                                           
                                            <label >Activate Date : </label><span style="color: red">*</span>  
                                            <input type="date"  autofocus="autofocus" class="form-control"
                                                formControlName="activateDate" min="{{this.fromDate}}" max="{{maxDate}}"                                         
                                                [ngClass]="{ 'is-invalid': formSubmitted && (f['activateDate'].invalid) }">
                                        </div>
                                    </div>                                     
                                    <div class="col-sm-2">
                                        <div class="mb-3">
                                            <label>Vehicle No : </label>  <span style="color: red">*</span>                                       
                                            <div class="ng-autocomplete">
                                                <ng-autocomplete [data]="vehicleList"
                                                    [searchKeyword]="keywordLocation"  
                                                    (selected)='selectEvent($event)'
                                                    (inputChanged)='onChangeSearch($event)'
                                                    (inputFocused)='onFocused($event)'
                                                    [itemTemplate]="itemTemplate"
                                                    [notFoundTemplate]="notFoundTemplate"
                                                    [customFilter]="endWithFilter"
                                                    formControlName="vehicleMasterid" 
                                                    [ngClass]="{ 'is-invalid': formSubmitted && (f['vehicleMasterid'].invalid) }">
                                                </ng-autocomplete>

                                                <ng-template #itemTemplate let-item>
                                                    <a [innerHTML]="item.dataName"></a>
                                                </ng-template>

                                                <ng-template #notFoundTemplate let-notFound>
                                                    <div [innerHTML]="notFound"></div>
                                                </ng-template>
                                            </div>
                                        </div>
                                    </div>  
                                </div>  
                                <div class="row">
                                    <div class="col-sm-2">
                                        <div class="mb-3">
                                            <label>KMS : </label>
                                            <input numbersonly type="text" class="form-control" 
                                            maxlength="10" formControlName="kmr">
                                        </div>
                                    </div> 
                                    <div class="col-sm-3">
                                        <div class="mb-3">
                                            <label>Ref No : </label>
                                            <input uppercaseonly type="text" class="form-control" 
                                            maxlength="25" formControlName="refNo">
                                        </div>
                                    </div>  
                                    <div class="col-sm-2">
                                        <div class="mb-3">
                                            <label><b>Total No Of Tyres :{{totTyres}}</b> </label>
                                        </div>
                                    </div>   
                                    <div class="col-sm-2">
                                        <div class="mb-3">
                                            <label><b>Active No Of Tyres :{{actTyres}}</b> </label>
                                        </div>
                                    </div>  
                                </div> 
                                <div class="row">                                
                                    <div class="col-sm-4">
                                        <div class="mb-3">
                                            <label>Inspected By : </label> 
                                            <input uppercaseonly type="text" class="form-control" 
                                            formControlName="inspectedBy" maxlength="25" >
                                        </div>
                                    </div>                                 
                                    <div class="col-sm-4">
                                        <div class="mb-3">
                                            <label>Fitted By : </label>
                                            <input uppercaseonly type="text" class="form-control" 
                                            formControlName="fittedBy" maxlength="25" >
                                        </div>
                                    </div>                              
                                    <div class="col-sm-4">
                                        <div class="mb-3">
                                            <label>Remarks : </label>
                                            <input uppercaseonly type="text" class="form-control" 
                                            formControlName="remarks" maxlength="250" >
                                        </div>
                                    </div>  
                                </div>             
                            </div>                  
                            <!-- end card body -->
                        </div>                     
                        <!-- end card -->
                    </div>
                </div>  
                <div class="ng-untouched ng-pristine ng-valid">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title mb-4"></h4>
                                    <div class="overflow-x">
                                        <table class="table table-bordered dt-responsive nowrap w-100 no-border-table">
                                            <tr>
                                                <td class="col-lg-2">
                                                    <label for="formrow-inputZip">
                                                        <h6>Brand</h6>
                                                    </label>
                                                </td>
                                                <td class="col-lg-2">
                                                    <label for="formrow-inputZip">
                                                        <h6>Tyre No </h6>
                                                    </label>
                                                </td>
                                                <td class="col-lg-2">
                                                    <label for="formrow-inputZip">
                                                        <h6>Fitment Location </h6>
                                                    </label>
                                                </td>
                                                <td class="col-lg-2">
                                                    <label for="formrow-inputZip">
                                                        <h6>Tyre Amt  </h6>
                                                    </label>
                                                </td>
                                                <td class="col-lg-3">
                                                    <label for="formrow-inputZip">
                                                        <h6>Narration </h6>
                                                    </label>
                                                </td>   
                                                <td class="col-lg-2">
                                                    <label for="formrow-inputZip">
                                                        <h6>Action</h6>
                                                    </label>
                                                </td>
                                            </tr>
                                            <tr formArrayName="arrayList"
                                                    *ngFor="let arrayData of formTyreArray.controls; let i = index">
                                                <div [formGroupName]="i" class="grid-table">
                                                    <td class="col-lg-2"> 
                                                        <select class="form-control form-select ng-pristine ng-touched"formControlName="brandId"   
                                                            class="form-control form-select ng-pristine ng-touched"   
                                                            (change)="getTyreNo(i,$event)">
                                                            <option *ngFor="let vehi of brandList" value={{vehi.dataId}}>
                                                               {{vehi.dataName}}
                                                            </option>
                                                         </select>  
                                                    </td>
                                                    <td class="col-lg-2"> 
                                                        <div class="ng-autocomplete">
                                                            <ng-autocomplete [data]="tyreList"
                                                                [searchKeyword]="keywordLocation"  
                                                                (selected)='selectTyreEvent(i,$event)'
                                                                (inputChanged)='onChangeSearch($event)'
                                                                (inputFocused)='onFocused($event)'
                                                                [itemTemplate]="itemTemplate"
                                                                [notFoundTemplate]="notFoundTemplate"
                                                                [customFilter]="startWithFilter"
                                                                formControlName="tyreId" >
                                                            </ng-autocomplete>
            
                                                            <ng-template #itemTemplate let-item>
                                                                <a [innerHTML]="item.dataName"></a>
                                                            </ng-template>
            
                                                            <ng-template #notFoundTemplate let-notFound>
                                                                <div [innerHTML]="notFound"></div>
                                                            </ng-template>
                                                        </div>
                                                    </td>
                                                    <td class="col-lg-2"> 
                                                        <select class="form-control form-select ng-pristine ng-touched" formControlName="tyrePosID"   
                                                            class="form-control form-select ng-pristine ng-touched">
                                                            <option value="">Choose...</option>
                                                            <option *ngFor="let vehi of positionList" value={{vehi.dataId}}>
                                                               {{vehi.dataName}}
                                                            </option>
                                                        </select>   
                                                    </td>
                                                    <td class="col-lg-2"> 
                                                        <input decimalonly autoclose="false" class="form-control"
                                                        formControlName="tyreCostAmt" (change)="onAmtChange()" >
                                                    </td>
                                                    <td class="col-lg-3"> 
                                                        <input uppercaseonly autoclose="false" class="form-control"
                                                        formControlName="remarks">    
                                                    </td>
                                                    <td class="col-lg-2">
                                                        <div class="col-lg-2 details-button">
                                                            <button *ngIf="i === formTyreArray.controls.length-1" type="button"
                                                                class="btn btn-add" (click)="addItem(i)"></button>
                                                            <button *ngIf="formTyreArray.controls.length > 1"
                                                                (click)="removeItem(i)" class="btn btn-delete"></button>
                                                        </div>   
                                                    </td>
                                                </div>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2">
                            <div class="mb-3">
                                <label>Total Tyre Amt:  </label><span style="color: red">*</span>   
                                <input type="text" class="form-control" decimalonly
                                formControlName="tyreAmt" >
                            </div>
                        </div> 
                        <div class="col-sm-2">
                            <div class="mb-3">
                                <label>Other Amt: </label>
                                <input type="text" class="form-control" decimalonly
                                formControlName="othAmt" (change)="onAmtChange()" >
                            </div>
                        </div> 
                        <div class="col-sm-2">
                            <div class="mb-3">
                                <label>Net Amount: </label><span style="color: red">*</span>   
                                <input type="text" class="form-control" decimalonly
                                formControlName="netAmt" >
                            </div>
                        </div> 
                    </div>  
                </div>   
                <div class="row">                    
                    <div class="col-lg-5">
                        <div class="mb-3">
                            <label style="color: blue"> 
                                <h6><b>Created By:</b>  {{ this.createdBy }} </h6> 
                            </label>                                                 
                        </div>
                    </div>                   
                    <div class="col-lg-5">
                        <div class="mb-3">
                            <label style="color: blue"> 
                                <h6><b>Modified By:</b> {{ this.modifiedBy}} </h6> 
                            </label>                                                 
                        </div>
                    </div>
                    <!-- end col -->
                </div>       
                <div class="row text-right">
                    <div class="col-lg-12">
                        <div class="tex">
                             <button class="btn btn-primary w-md"  
                             *ngIf="((editMode && editStatus) || (!editMode && createStatus)) && !formSubmitted"
                                (click)="submitTyreActivateForm()">Save</button>&nbsp;                            
                            <button class="btn btn-danger w-md m-2" *ngIf="editMode && deleteStatus"
                                (click)="tyreActivateDelete()">Delete</button>&nbsp;
                            <button class="btn btn-secondary w-md" (click)="exit()">Exit</button>
                        </div>
                    </div>
                    <!-- end col -->
                </div> 
            </form>
           <!-- end row -->
        </div>
        <!-- container-fluid -->
    </div>
     <!-- End Page-content -->
</div>


