<div class="main-content">
    <div class="page-content">
        <div class="container-fluid">
            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                        <h4 class="mb-sm-0 font-size-18">Distance Master Freight</h4>
                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="javascript: void(0);">Freight</a></li>
                                <li class="breadcrumb-item active">Distance Master Freight </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row top-controls">
                <div class="col-sm-8 col-md-8">
                    <form [formGroup]="formFilter">
                        <div class="row">
                            <div class="col-md-2">
                                <div class="mb-3">
                                    <label for="formrow-inputState">From Date</label>
                                    <input type="date" class="form-control" formControlName="fromDate" min="{{minDate}}" max="{{maxDate}}">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="mb-3">
                                    <label for="formrow-inputState">To Date</label>
                                    <input type="date" class="form-control" formControlName="toDate" min="{{minDate}}" max="{{maxDate}}">
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="mb-3">
                                    <label for="formrow-inputCity">From Location</label>
                                    <div class="ng-autocomplete">
                                        <ng-autocomplete [data]="locationList" formControlName="branch"
                                            [searchKeyword]="keywordLocation" placeholder=""
                                         
                                         
                                            [itemTemplate]="itemTemplate"
                                            [notFoundTemplate]="notFoundTemplate"
                                            [customFilter]="startWithFilter"
                                            [ngClass]=""
                                             
                                           >
                                        </ng-autocomplete>

                                        <ng-template #itemTemplate let-item>
                                            <a [innerHTML]="item.dataName"></a>
                                        </ng-template>

                                        <ng-template #notFoundTemplate let-notFound>
                                            <div [innerHTML]="notFound"></div>
                                        </ng-template>
                                    </div>
                                </div>
                            </div>
                      
                            <div class="col-lg-2">
                                <div class="mt-3">
                                    <button class="btn btn-primary" type="submit" (click)="search()"><span>Search</span></button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            <!-- end page title -->
            <div class="row top-controls">
                <div class="col-sm-12 col-md-12 text-right">
                    <div class="dt-buttons btn-group flex-wrap export-button">
                        <button class="btn btn-secondary buttons-excel buttons-html5" tabindex="0"
                            aria-controls="datatable-buttons" type="button"><span>Excel</span></button>
                        <button class="btn btn-secondary buttons-pdf buttons-html5" tabindex="0"
                            aria-controls="datatable-buttons" type="button"><span>PDF</span></button>
                    </div>
                    <button class="btn btn-primary buttons-html5" type="button"
                        (click)="distanceMasterFreightAdd()"><span>New</span></button>
                </div>
            </div>

            <div id="datatable_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                <div id="datatable_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                     <table datatable [dtOptions]="dtOptions" class="table table-bordered dt-responsive nowrap w-100">
                        
                        <thead>
                            <tr>
                                <th>ReminderDays </th>
                          
                                <th>Doc Code </th>
                                <th>Doc Code </th>
                             
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody *ngIf="allDistanceFreightMaster.distanceFrtList?.length != 0">
                            <tr *ngFor="let renewalMaster of allDistanceFreightMaster.distanceFrtList">
                                <td>{{ renewalMaster.validFrom }}</td>
                        
                                <td>{{ renewalMaster.validUpto }}</td>
                                <td>{{ renewalMaster.fromPoint }}</td>
                             
                                <td>
                                  
                                        <button type="button" class="btn btn-edit"
                                        (click)="getDistanceMasterFreightDetails(renewalMaster)"></button>
                               
                                </td>
                            </tr>
                        </tbody>
                        <tbody *ngIf="allDistanceFreightMaster.distanceFrtList?.length == 0">
                            <tr>
                                <td colspan="3" class="no-data-available">No data!</td>
                            </tr>
                        </tbody>
                    </table> 
                </div>
            </div>
            
        </div>
        <!-- container-fluid -->
    </div>
    <!-- End Page-content -->
</div>