<div class="main-content">
    <div class="page-content">
        <div class="container-fluid">
            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                        <h4 class="mb-sm-0 font-size-18">Cash Receipts & Payments Voucher Entry</h4>

                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <!-- <li class="breadcrumb-item"><a href="/#/gstpurchaselist">Cash Receipt</a></li>
                                <li class="breadcrumb-item active">Cash Receipt</li> -->
                            </ol>
                        </div>

                    </div>
                </div>
            </div>
            <!-- end page title -->
            <form [formGroup]="formCashRRecEntry">
                <div class="ng-untouched ng-pristine ng-valid">
                    <div class="row" >
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-lg-3">
                                            <div class="form-check mb-3">
                                                <input type="radio" formControlName="docType" value="CP"  (change)="changePType('CP')"
                                                    class="form-check-input" />
                                                <label for="formRadios1" class="form-check-label" style="color: blue;">
                                                    <h6>Cash Payment</h6>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="form-check mb-3">
                                                <input type="radio" formControlName="docType" value="CR"(change)="changePType('CR')"
                                                    class="form-check-input" />
                                                <label for="formRadios1" class="form-check-label" style="color: blue;">
                                                    <h6>Cash Receipt</h6>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-2">
                                            <label for="formrow-inputState">Document Series</label>
                                            <input class="form-control" placeholder="" formControlName="docSeries">
                                        </div>
                                        <div class="col-lg-2">
                                            <label for="formrow-inputState">Document No</label>
                                            <label for="formrow-inputState">.</label>
                                            <input class="form-control" placeholder="" formControlName="docNo"
                                            [ngClass]="{ 'is-invalid': userSubmitted && (f['docNo'].invalid) }">
                                           
                                        </div>
                                        <div class="col-lg-2">
                                            <label for="formrow-inputState"> Trans Date</label>
                                            <input type="date" class="form-control" placeholder=""
                                                formControlName="ftmDate"
                                                [ngClass]="{ 'is-invalid': userSubmitted && (f['ftmDate'].invalid) }">
                                               
                                        </div>
                                        <div class="col-lg-2">
                                            <label for="formrow-inputCity">Ref Type </label>
                                            <select class="form-control" formControlName="refType">
                                                <option selected="">Choose...</option>
                                                <option selected="">1</option>
                                            </select>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="mb-2">
                                                <label for="formrow-inputZip">Ref No </label>
                                                <input uppercaseonly autoclose="false" placeholder=""
                                                    class="form-control" formControlName="refNo">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">                                        
                                        <div class="col-lg-4">
                                            <div class="mb-4">
                                                <label for="formrow-inputZip">Select Cash Account</label>
                                                <select class="form-control"
                                                    formControlName="accountid2" 
                                                    [ngClass]="{ 'is-invalid': userSubmitted && (f['accountid2'].invalid) }">
                                                    <option *ngFor="let branch of mainAcList" value={{branch.dataId}}>
                                                        {{branch.dataName}}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="mb-6">
                                                <label for="formrow-inputState">Remark</label>
                                                <input uppercaseonly class="form-control" placeholder="" formControlName="remarks"
                                                [ngClass]="{ 'is-invalid': userSubmitted && (f['remarks'].invalid) }">
                                            </div>
                                        </div>                                        
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="card">
                                            <div class="card-body">
                                                <h4 class="card-title mb-4" style="color: red;"> Details</h4>
                                                <table class="table table-bordered dt-responsive nowrap w-100 no-border-table">
                                                    <tr>
                                                        <td class="col-lg-3">
                                                            <label for="formrow-inputZip">
                                                                <h6>Account Name</h6>
                                                            </label>
                                                        </td>
                                                        <td class="col-lg-2">
                                                            <label for="formrow-inputZip">
                                                                <h6>Amount</h6>
                                                            </label>
                                                        </td>
                                                        <td class="col-lg-3">
                                                            <label for="formrow-inputZip">
                                                                <h6>Narration</h6>
                                                            </label>
                                                        </td>
                                                        <td class="col-lg-2">
                                                            <label for="formrow-inputZip">
                                                                <h6>Reference/SubLedger</h6>
                                                            </label>
                                                        </td>
                                                    </tr>                                                    
                                                    <tr formArrayName="arrayList" 
                                                    *ngFor="let arrayData of formArray.controls; let i = index">
                                                        <div [formGroupName]="i" class="grid-table">
                                                            <td class="col-lg-3">
                                                                <div class="ng-autocomplete">
                                                                    <ng-autocomplete [data]="gridAccountList"
                                                                        [searchKeyword]="keywordLocation" placeholder=""
                                                                        (selected)='selectEvent($event)'
                                                                        (inputChanged)='onChangeSearch($event)'
                                                                        (inputFocused)='onFocused($event)'
                                                                        [itemTemplate]="itemTemplate"
                                                                        [notFoundTemplate]="notFoundTemplate"
                                                                        [customFilter]="startWithFilter"
                                                                        formControlName="accountID">
                                                                    </ng-autocomplete>
        
                                                                    <ng-template #itemTemplate let-item>
                                                                        <a [innerHTML]="item.dataName"></a>
                                                                    </ng-template>
        
                                                                    <ng-template #notFoundTemplate let-notFound>
                                                                        <div [innerHTML]="notFound"></div>
                                                                    </ng-template> 
                                                                </div>              
                                                                <!-- <select class="form-control"
                                                                    formControlName="accountID" [ngClass]="">
                                                                    <option *ngFor="let branch of gridAccountList"
                                                                        style="font-size:small; "
                                                                        value={{branch.dataId}}>
                                                                        {{branch.dataName}}
                                                                    </option>
                                                                </select>     -->
                                                            </td>
                                                            <td class="col-lg-2">
                                                                <input decimalonly class="form-control" placeholder=""  
                                                                (change)="updateAmount(i,$event, '')"
                                                                    formControlName="amount">
                                                            </td>
                                                            <td class="col-lg-3">
                                                                <input uppercaseonly autoclose="false" type="text" placeholder="" class="form-control"
                                                                    formControlName="narration">
                                                                  
                                                            </td>
                                                            <td class="col-lg-2">
                                                                <input autoclose="false" type="text"
                                                                            placeholder="" class="form-control"
                                                                            formControlName="reference">                                                                
                                                            </td>
                                                            <td class="col-lg-2">
                                                                <div class="col-lg-4 details-button">
                                                                    <button *ngIf="i === formArray.controls.length-1" type="button"
                                                                        class="btn btn-add" (click)="addItem(i)"></button>
                                                                    <button *ngIf="formArray.controls.length > 1"
                                                                        (click)="removeItem(i)" class="btn btn-delete"></button>
                                                                </div>     
                                                            </td>
                                                        </div>
                                                    </tr>
                                                    <tr>
                                                        <td class="col-lg-3 text-right">
                                                            <label for="formrow-inputZip"><h6>Total Amt. </h6></label>
                                                        </td>
                                                        <td class="col-lg-2">
                                                            <div class="mb-3">
                                                                <input autoclose="false" type="text"
                                                                placeholder="" class="form-control" formControlName="docAmount"
                                                                [ngClass]="{ 'is-invalid': userSubmitted && (f['docAmount'].invalid) }">
                                                            </div>
                                                        </td>
                                                    </tr>            
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="mb-6">
                                                <label for="formrow-inputState">Modify Del Remark</label>
                                                <input uppercaseonly class="form-control" placeholder="" formControlName="modifyRemarks">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>                             
                <div class="row text-right">
                    <div class="col-lg-12">
                        <div class="tex">
                            <button class="btn btn-primary w-md"  *ngIf="editStatus || createStatus"
                                (click)="submitCashReceiptPaymentsForm()">Save</button>&nbsp;
                            <button class="btn btn-danger w-md m-2" *ngIf="editMode && deleteStatus"
                                (click)="deleteCashReceiptPaymentsForm()">Delete</button>&nbsp;
                            <button class="btn btn-secondary w-md" (click)="exit()">Exit</button>
                        </div>
                    </div>
                    <!-- end col -->
                </div>   
            </form>
            <!-- end row -->
            <!-- end row -->
        </div>
        <!-- container-fluid -->
    </div>
    <!-- End Page-content -->
</div>