<div class="main-content">
    <div class="page-content">
        <div class="container-fluid">
            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                        <h4 class="mb-sm-0 font-size-18">Trip Sheet</h4>

                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="/#/tripsheetlist">Trip Sheet</a></li>
                                <li class="breadcrumb-item active">Trip Sheet Add</li>
                            </ol>
                        </div>

                    </div>
                </div>
            </div>
            <!-- end page title -->
            <form>
                <div class="ng-untouched ng-pristine ng-valid">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title mb-4">Basic Details</h4>
                                    <div class="row">
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="formrow-inputCity">Branch</label>
                                                <select class="form-control">
                                                    <option selected="">Choose...</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="formrow-inputState">Last Trip Close</label>
                                                <input type="date" class="form-control" placeholder="">
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="formrow-inputState">New Trip Date</label>
                                                <input type="date" class="form-control" placeholder="">
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">Time</label>
                                                <input bsdatepicker="" autoclose="false" placeholder=""
                                                    class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="formrow-inputCity">Vehicle No</label>
                                                <input class="form-control" placeholder="">
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="formrow-inputState">Trip No</label>
                                                <input class="form-control" placeholder="">
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="formrow-inputState">Driver</label>
                                                <input class="form-control" placeholder="">
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ng-untouched ng-pristine ng-valid">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title mb-4">Driver Details</h4>
                                    <div class="row">
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="formrow-inputCity">Father Name</label>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="formrow-inputCity">Licence No</label>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="formrow-inputCity">Licence Valid</label>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="formrow-inputCity">Driver Photo</label>
                                                <img height="120" width="120" style="display: block;">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ng-untouched ng-pristine ng-valid">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-body">
                                  
                                    <div class="row">
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="formrow-inputCity">Opening Balance</label>
                                                <input class="form-control" placeholder="">
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="formrow-inputCity">Opening Bal. Dsl</label>
                                                <input class="form-control" placeholder="">
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="formrow-inputCity">Opening Bal. Adblue</label>
                                                <input class="form-control" placeholder="">
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="formrow-inputState">Challan</label>
                                                <input class="form-control" placeholder="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-3">
                                            <div class="form-check mb-3">
                                                <input type="radio" name="challanType" id="formRadios1" value="Company"
                                                    class="form-check-input" />
                                                <label for="formRadios1" class="form-check-label"> Company
                                                </label>

                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="form-check">
                                                <input type="radio" name="challanType" id="formRadios2"
                                                    value="Noncompany" class="form-check-input" />
                                                <label for="formRadios2" class="form-check-label"> Non Company
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="form-check">
                                                <input type="radio" name="challanType" id="formRadios3" value="Rem"
                                                    class="form-check-input" />
                                                <label for="formRadios3" class="form-check-label"> REM
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="formrow-inputState">Load Type</label>
                                                <input class="form-control" placeholder="">
                                            </div>
                                        </div>
                                      
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="formrow-inputCity">From Point</label>
                                                <input class="form-control" placeholder="">
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="formrow-inputState">To Point</label>
                                                <input class="form-control" placeholder="">
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="formrow-inputState">KMs</label>
                                                <input class="form-control" placeholder="">
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="formrow-inputCity">Expected Rpt</label>
                                                <input class="form-control" placeholder="">
                                            </div>
                                        </div>
                                      
                                    </div>
                                    <div class="row">
                                        
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="formrow-inputState">Expected Rpt Days</label>
                                                <input class="form-control" placeholder="">
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="formrow-inputCity">Dsl To Be</label>
                                                <input class="form-control" placeholder="">
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="formrow-inputCity">AdBlue Tobe</label>
                                                <input class="form-control" placeholder="">
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="formrow-inputCity">Advance Payable</label>
                                                <input class="form-control" placeholder="">
                                            </div>
                                        </div>
                                    
                                     
                                    </div>
                                    <div class="row">
                                        
                                      
                                        <div class="col-lg-3">
                                            <div class="mb-3">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ng-untouched ng-pristine ng-valid">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title mb-4">Details</h4>
                                    <div class="row">
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="formrow-inputCity">Label</label>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="formrow-inputCity">Label</label>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="formrow-inputCity">Label</label>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="formrow-inputCity">Label</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ng-untouched ng-pristine ng-valid">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title mb-4">Label</h4>
                                    <div class="row">
                                        <div class="col-lg-2">
                                            <div class="mb-2">
                                                <label for="formrow-inputCity">Reported Date</label>
                                              
                                                <input type="date" class="form-control" placeholder="">
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="mb-2">
                                                <label for="formrow-inputCity">Actual Days</label>
                                                <input class="form-control" placeholder="">
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="mb-2">
                                                <label for="formrow-inputCity">Advance Days</label>
                                                <input class="form-control" placeholder="">
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="mb-2">
                                                <label for="formrow-inputCity">Delay Days</label>
                                                <input class="form-control" placeholder="">
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="mb-2">
                                                <label for="formrow-inputCity">Grace Days</label>
                                                <input class="form-control" placeholder="">
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="mb-2">
                                                <label for="formrow-inputCity">Delivery Date</label>
                                                <input type="date" class="form-control" placeholder="">
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="mb-2">
                                                <label for="formrow-inputCity">Deten Days</label>
                                                <input class="form-control" placeholder="">
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="mb-2">
                                                <label for="formrow-inputCity">Next Reporting Date</label>
                                                <input type="date" class="form-control" placeholder="">
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="mb-2">
                                                <label for="formrow-inputCity">KMs</label>
                                                <input class="form-control" placeholder="">
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="mb-2">
                                                <label for="formrow-inputCity">Exp Reported Date</label>
                                                <input class="form-control" placeholder="">
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="mb-2">
                                                <label for="formrow-inputCity">Exp No Of Days</label>
                                                <input class="form-control" placeholder="">
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="mb-2">
                                                <label for="formrow-inputCity">Dsl To Be</label>
                                                <input class="form-control" placeholder="">
                                            </div>
                                        </div>
                                    </div>
                                  
                                    <div class="row">
                                        <div class="col-lg-2">
                                            <div class="mb-2">
                                                <label for="formrow-inputCity">AdBlue to be</label>
                                                <input class="form-control" placeholder="">
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="mb-2">
                                                <label for="formrow-inputCity">Advance Payable</label>
                                                <input class="form-control" placeholder="">
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="mb-2">
                                                <label for="formrow-inputCity">Reporting Date</label>
                                                <input class="form-control" placeholder="">
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="mb-2">
                                                <label for="formrow-inputCity">Delay Days</label>
                                                <input class="form-control" placeholder="">
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="mb-2">
                                                <label for="formrow-inputCity">Grace Days</label>
                                                <input class="form-control" placeholder="">
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="mb-2">
                                                <label for="formrow-inputCity">Total Dsl To be</label>
                                                <input class="form-control" placeholder="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                      
                                       
                                        <div class="col-lg-2">
                                            <div class="mb-2">
                                                <label for="formrow-inputCity">Total Adblue to Be</label>
                                                <input class="form-control" placeholder="">
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="mb-2">
                                                <label for="formrow-inputCity">Total Payable</label>
                                                <input class="form-control" placeholder="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="mb-3">
                                                <label for="formrow-inputCity">Driver Payments</label>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="mb-3">
                                                <label for="formrow-inputCity">Repair</label>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="mb-3">
                                                <label for="formrow-inputCity">Label</label>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="mb-3">
                                                <label for="formrow-inputCity">Label</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="ng-untouched ng-pristine ng-valid">
                                    <div class="col-lg-12">
                                        <div class="card">
                                            <div class="card-body">
                                                <h4 class="card-title mb-4">Label</h4>
                                                <div class="row">
                                                    <div class="col-lg-2">
                                                        <div class="mb-2">
                                                            <label for="formrow-inputCity">Dsl/Ltr Issued</label>
                                                            <input class="form-control" placeholder="">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-2">
                                                        <div class="mb-2">
                                                            <label for="formrow-inputCity">Dsl AdBlue Issued</label>
                                                            <input class="form-control" placeholder="">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-2">
                                                        <div class="mb-2">
                                                            <label for="formrow-inputCity">Advance Paid</label>
                                                            <input class="form-control" placeholder="">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-2">
                                                        <div class="mb-2">
                                                            <label for="formrow-inputCity">Repairs</label>
                                                            <input class="form-control" placeholder="">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-2">
                                                        <div class="mb-2">
                                                            <label for="formrow-inputCity">Parking</label>
                                                            <input class="form-control" placeholder="">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-2">
                                                        <div class="mb-2">
                                                            <label for="formrow-inputCity">Accident</label>
                                                            <input class="form-control" placeholder="">
                                                        </div>
                                                    </div>
                                                  
                                                </div>
                                                <div class="row">
                                                   
                                                    <div class="col-lg-2">
                                                        <div class="mb-2">
                                                            <label for="formrow-inputCity">Weighment</label>
                                                            <input class="form-control" placeholder="">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-2">
                                                        <div class="mb-2">
                                                            <label for="formrow-inputCity">Mchallan</label>
                                                            <input class="form-control" placeholder="">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-2">
                                                        <div class="mb-2">
                                                            <label for="formrow-inputCity">Toll</label>
                                                            <input class="form-control" placeholder="">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-2">
                                                        <div class="mb-2">
                                                            <label for="formrow-inputCity">Driver Bhatta</label>
                                                            <input class="form-control" placeholder="">
                                                        </div>
                                                    </div>
                                               
                                                </div>
                                                <div class="row">
                                                    
                                                   
                                                    <div class="col-lg-3">
                                                        <div class="mb-3">

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row text-right">
                    <div class="col-lg-12">
                        <div class="tex">
                            <button type="submit" class="btn btn-primary w-md">Submit</button>
                        </div>
                    </div>
                </div>
            </form>
            <!-- end row -->
            <!-- end row -->
        </div>
        <!-- container-fluid -->
    </div>
    <!-- End Page-content -->
</div>