<div class="main-content">
   <div class="page-content">
      <div class="container-fluid">
         <!-- start page title -->
         <div class="row">
            <div class="col-12">
               <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                  <h4 class="mb-sm-0 font-size-18">Fin Group Master</h4>
                  <div class="page-title-right">
                     <ol class="breadcrumb m-0">
                        <!-- <li class="breadcrumb-item"><a href="javascript: void(0);">Fin Group Master</a></li>
                        <li class="breadcrumb-item active">Fin Group Master</li> -->
                     </ol>
                  </div>
               </div>
            </div>
         </div>
          <!-- end page title -->
         <form [formGroup]="formFinGroup">
            <div class="row">
               <div class="col-lg-12">
                  <div class="card">
                     <div class="card-body">
                           <div class="card-body">
                              <div class="row">
                                 <div class="col-lg-2">
                                   <div class="mb-3">
                                    <label for="horizontal-firstname-input" class="col-form-label">Group Name:
                                   </label><span style="color: red">*</span>
                                 </div>
                              </div>
                              <div class="col-lg-4">
                                 <div class="mb-3">
                                    <input type="text" class="form-control" uppercaseonly
                                       [ngClass]="{ 'is-invalid': formSubmitted && (f['groupName'].invalid) }"
                                       placeholder="Enter Group Name" formControlName="groupName" 
                                       (change)="chkActName($event)">
                                 </div>
                              </div>
                           </div>
                           <div class="row">
                              <div class="col-lg-2">
                                 <div class="mb-3">
                                    <label for="horizontal-firstname-input" class="col-form-label">Account Type:
                                   </label><span style="color: red">*</span>                                           
                                 </div>
                              </div>
                              <div class="col-lg-4">
                                 <div class="mb-3">
                                   <select formControlName="accountType" 
                                      class="form-control form-select ng-pristine ng-touched"
                                      [ngClass]="{ 'is-invalid': formSubmitted && (f['accountType'].invalid) }"
                                      (change)="accountTypeChange($event)">
                                      <option *ngFor="let acttp of accountTypeList" value={{acttp.dataId}}>
                                          {{acttp.dataName}}
                                      </option>
                                    </select>                                            
                                 </div>                                           
                              </div>
                           </div>
                           <div class="row">
                              <div class="col-lg-2">
                                 <div class="mb-3">
                                    <label for="horizontal-firstname-input" class="col-form-label">Sub A/c Type:
                                    </label><span style="color: red">*</span>         
                                 </div>
                              </div>
                              <div class="col-lg-4">
                                 <div class="mb-3">
                                    <select formControlName="subAccountType" 
                                      [ngClass]="{ 'is-invalid': formSubmitted && (f['subAccountType'].invalid) }"
                                      class="form-control form-select ng-pristine ng-touched" >                                             
                                       <option *ngFor="let subacttp of subAccountTypeList" value={{subacttp.dataId}}>
                                          {{subacttp.dataName}}
                                       </option>
                                    </select>          
                                 </div>         
                              </div>
                           </div>
                           <div class="row">
                             <div class="col-lg-2">
                                <div class="mb-3">
                                   <label for="horizontal-firstname-input" class="col-form-label">Schedule:
                                   </label><span style="color: red">*</span>
                                </div>
                             </div>
                             <div class="col-lg-4">
                                <div class="mb-3">
                                   <select formControlName="schID" 
                                      [ngClass]="{ 'is-invalid': formSubmitted && (f['schID'].invalid) }"
                                            class="form-control form-select ng-pristine ng-touched">
                                      <option *ngFor="let sch of scheduleList" value={{sch.dataId}}>
                                               {{sch.dataName}}
                                      </option>
                                   </select>          
                                </div>        
                             </div>
                           </div>   
                        </div>  
                     </div>  
                     <!-- end card body -->
                  </div>
                  <!-- end card -->
               </div>               
            </div>              
            <div class="row text-right">
               <div class="col-lg-12">
                  <div class="tex">
                     <button class="btn btn-primary w-md" *ngIf="(editMode && editStatus) || (!editMode && createStatus)"
                        (click)="submitFinGroupMasterForm()">Save</button>&nbsp;
                     <button class="btn btn-danger w-md m-2" *ngIf="editMode && deleteStatus"
                        (click)="deleteFinGroupMasterForm()">Delete</button>&nbsp;
                     <button class="btn btn-secondary w-md" (click)="exit()">Exit</button>
                  </div>
               </div>
               <!-- end col -->
            </div> 
         </form>
         <!-- end row -->
         <!-- end row -->
      </div>
      <!-- container-fluid -->
   </div>
   <!-- End Page-content -->
</div>
