<div class="main-content">
    <div class="page-content">
        <div class="container-fluid">
            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                        <h4 class="mb-sm-0 font-size-18">Trip Vehicle Summary</h4>
                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <!-- <li class="breadcrumb-item"><a href="javascript: void(0);">Fleet</a></li>
                                <li class="breadcrumb-item active">Driver Master </li> -->
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end page title -->
            <div class="row top-controls">
                <div class="col-sm-10 col-md-10">
                    <form (keydown.enter)="$event.preventDefault()"[formGroup]="formFilter">
                        <div class="row">
                            <div class="col-md-2">
                                <div class="mb-3">
                                    <label for="formrow-inputState">From Date </label><span style="color: red">*</span>    
                                    <input type="date" class="form-control" 
                                    formControlName="fromDate" min="{{minDate}}" max="{{maxDate}}"
                                    [ngClass]="{ 'is-invalid': formSubmitted && (f['fromDate'].invalid) }">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="mb-3">
                                    <label for="formrow-inputState">To Date </label><span style="color: red">*</span>    
                                    <input type="date" class="form-control" 
                                    formControlName="toDate" min="{{minDate}}" max="{{maxDate}}"
                                    [ngClass]="{ 'is-invalid': formSubmitted && (f['toDate'].invalid) }">
                                </div>
                            </div>

                            <!-- <div class="col-md-3">
                                <div class="mb-3">
                                    <label for="formrow-inputState">Branch </label>
                                    <select class="form-control" formControlName="branch">
                                        <option value="">All</option>
                                    <option *ngFor="let branch of branchList" value={{branch.dataId}}>
                                        {{branch.dataName}}
                                    </option>
                                </select>
                                </div>
                            </div> -->
                            <!-- <div class="col-md-2">
                                <div class="mb-3">                                    
                                    <label for="formrow-inputCity">Loading Branch</label>  
                                    <div class="ng-autocomplete">
                                        <ng-autocomplete [data]="branchList"
                                            [searchKeyword]="keywordLocation"  
                                            formControlName="tripBranch" 
                                            (inputChanged)='onChangeSearch($event)'
                                            (inputFocused)='onFocused($event)' 
                                            [itemTemplate]="itemTemplate"
                                            [notFoundTemplate]="notFoundTemplate"
                                            [customFilter]="startWithFilter">
                                        </ng-autocomplete>

                                        <ng-template #itemTemplate let-item>
                                            <a [innerHTML]="item.dataName"></a>
                                        </ng-template>

                                        <ng-template #notFoundTemplate let-notFound>
                                            <div [innerHTML]="notFound"></div>
                                        </ng-template>
                                    </div>
                                </div>
                            </div> -->
                            <div class="col-md-3">
                                <div class="mb-3">                                    
                                    <label for="formrow-inputCity">Vehicle No</label>  
                                    <div class="ng-autocomplete">
                                        <ng-autocomplete [data]="vehicleList"
                                            [searchKeyword]="keywordLocation"  
                                            formControlName="vehicleMasterID" 
                                            (inputChanged)='onChangeSearch($event)'
                                            (inputFocused)='onFocused($event)' 
                                            [itemTemplate]="itemTemplate"
                                            [notFoundTemplate]="notFoundTemplate"
                                            [customFilter]="endWithFilter">
                                        </ng-autocomplete>

                                        <ng-template #itemTemplate let-item>
                                            <a [innerHTML]="item.dataName"></a>
                                        </ng-template>

                                        <ng-template #notFoundTemplate let-notFound>
                                            <div [innerHTML]="notFound"></div>
                                        </ng-template>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="mb-3">                                    
                                    <label for="formrow-inputCity">Driver Name</label>  
                                    <div class="ng-autocomplete">
                                        <ng-autocomplete [data]="driverList"
                                            [searchKeyword]="keywordLocation"  
                                            formControlName="driverMasterID" 
                                            (inputChanged)='onChangeSearch($event)'
                                            (inputFocused)='onFocused($event)' 
                                            [itemTemplate]="itemTemplate"
                                            [notFoundTemplate]="notFoundTemplate"
                                            [customFilter]="startWithFilter">
                                        </ng-autocomplete>

                                        <ng-template #itemTemplate let-item>
                                            <a [innerHTML]="item.dataName"></a>
                                        </ng-template>

                                        <ng-template #notFoundTemplate let-notFound>
                                            <div [innerHTML]="notFound"></div>
                                        </ng-template>
                                    </div>
                                </div>
                            </div> 
                            <div class="col-lg-1">
                                <div class="mt-3">
                                    <button class="btn btn-primary"   (click)="search()"><span>Search</span></button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-sm-2 col-md-2 text-right">
                    <div class="dt-buttons btn-group flex-wrap export-button">
                        <button class="btn btn-secondary buttons-excel buttons-html5" tabindex="0"
                            aria-controls="datatable-buttons" type="button" 
                            (click)="exportExcel()"><span>Excel</span></button>
                       <!--<button class="btn btn-secondary buttons-pdf buttons-html5" tabindex="0"
                            aria-controls="datatable-buttons" type="button"><span>PDF</span></button>--> 
                    </div>
                </div>
            </div>
            <div id="datatable_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                <div class="overflow-x">
                <table datatable [dtOptions]="dtOptions" class="table table-bordered dt-responsive full-tyre-width">
                    <thead>
                        <tr>
                            <th>tripBranch</th>
                            <th>tripNo</th>
                            <th>vehicleNo</th>  
                            <th>stmtDate</th>
                            <th>deptDate</th>
                            <th>endDate </th>   
                            <th>noOfDays</th>
                            <th>distanceTripKM</th>
                            <th>tripTotalFreight</th>
                            <th>tripTotalExpenses</th>
                            <th>tripMargin</th>
                            <th>marginPerKM</th>
                            <th>tripStatus</th>
                           
                       
                        </tr>
                    </thead>
                    <tbody *ngIf="allTripsummaryRptlist.tripSummaryRptlist?.length != 0">
                        <tr *ngFor="let eta of allTripsummaryRptlist.tripSummaryRptlist">
                            <td>{{ eta.tripBranch }}</td>
                            <td>{{ eta.tripNo }}</td> 
                            <td>{{ eta.vehicleNo }}</td>
                            <td>{{ eta.stmtDate }}</td>
                            <td>{{ eta.deptDate }}</td>
                             <td>{{ eta.endDate }}</td> 
                            <td>{{ eta.noOfDays }}</td> 
                            <td>{{ eta.distanceTripKM }}</td> 
                            <td>{{ eta.tripTotalFreight }}</td> 
                            <td>{{ eta.tripTotalExpenses }}</td> 
                            <td>{{ eta.tripMargin }}</td> 
                            <td>{{ eta.marginPerKM }}</td> 
                            <td>{{ eta.tripStatus }}</td> 
                            
                       
                        </tr>
                    </tbody>
                    <tbody *ngIf="allTripsummaryRptlist.tripSummaryRptlist?.length == 0">
                        <tr>
                            <td colspan="3" class="no-data-available">No data!</td>
                        </tr>
                    </tbody>
                </table>
                </div>
            </div>
        </div>
        <!-- container-fluid -->
    </div>
    <!-- End Page-content -->
</div>



