
<div class="main-content">
    <div class="page-content">
        <div class="container-fluid">
            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                        <h4 class="mb-sm-0 font-size-18">Create/Edit Expense Types</h4>
                    </div>
                </div>
            </div>
            <!-- end page title -->
            <form (keydown.enter)="$event.preventDefault()"[formGroup]="formTripExpMaster">
                <div class="ng-untouched ng-pristine ng-valid">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-lg-3">
                                            <div class="mb-2">
                                                <label for="formrow-inputZip">Exp Desc</label>
                                                <span style="color: red">*</span>
                                                <input uppercaseonly type="text" class="form-control" 
                                                (change)="chkTripExpMasterDuplicate()"
                                                formControlName="expDesc"   
                                                [ngClass]="{ 'is-invalid': formSubmitted && (f['expDesc'].invalid) }">
                                            </div>
                                        </div>
                                    </div> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>           
                <div class="row text-right">
                    <div class="col-lg-12">
                        <div class="tex">
                            <button class="btn btn-primary w-md" 
                            *ngIf="((editMode && editStatus) || (!editMode && createStatus)) && !formSubmitted"
                            (click)="submitMaintanenceMasterForm()" >Save</button> &nbsp;  
                            <button class="btn btn-danger w-md m-2" *ngIf="editMode && deleteStatus"
                            (click)="deleteExpTypeMasterForm()">Delete</button> &nbsp;
                            <button class="btn btn-secondary w-md" (click)="exit()">Exit</button>
                        </div>
                    </div>
                </div>
            </form>
            <!-- end row -->
        </div>
        <!-- container-fluid -->
    </div>
    <!-- End Page-content -->

</div>

