<div class="main-content">
    <div class="page-content">
        <div class="container-fluid">
            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                        <h4 class="mb-sm-0 font-size-18">Doc Renewal Entry </h4>

                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="/#/branchmasterlist">Doc Renewal Entry</a></li>
                                <li class="breadcrumb-item active">Doc Renewal Entry</li>
                            </ol>
                        </div>

                    </div>
                </div>
            </div>
            <!-- end page title -->
            <form [formGroup]="formDocEntry">
                <div class="ng-untouched ng-pristine ng-valid">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-body">
                                 
                                    <div class="row">
                                        <div class="col-lg-2">
                                            <div class="mb-2">
                                                <label for="formrow-inputZip">Trans Date</label>
                                                <input bsdatepicker="" type="date" autoclose="false" placeholder="yyyy-mm-dd"formControlName="transDate"
                                                class="form-control">
                                            </div>
                                        </div>
                                      
                                          <div class="col-lg-2">
                                            <div class="mb-2"><label for="formrow-inputCity">Pmt Type</label>
                                                <select id="formrow-inputState" class="form-control" formControlName="pmtType">
                                                    <option selected="">Choose...</option>
                                                    <option>1</option>
                                                 
                                                </select>
                                                
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="mb-2"><label for="formrow-inputCity">Vehicle No.</label>
                                                <select id="formrow-inputState" class="form-control" formControlName="vehicleMasterID">
                                                    <option selected="">Choose...</option>
                                                    <option>1</option>
                                                 
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="mb-2"><label for="formrow-inputCity">DocRenewalID </label>
                                                <select id="formrow-inputState" class="form-control" formControlName="docRenewalID">
                                                    <option selected="">Choose...</option>
                                                    <option>1</option>
                                                </select>
                                            </div>
                                        </div>

                                        
                                     
                                       
                                        
                                        
                                    
                                    </div>
                                 
                             
          
                                    
                           
                                     
                                        <div class="row">
                                            <div class="col-lg-2">
                                                <div class="mb-2"><label for="formrow-inputZip">Valid From</label>
                                                 
                                                    <input bsdatepicker="" type="date" autoclose="false" placeholder="yyyy-mm-dd"formControlName="validFromDt"
                                                    class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-lg-2">
                                                <div class="mb-2">
                                                    <label for="formrow-inputCity">Valid Upto</label>
                                                    
                                                    <input bsdatepicker="" type="date" autoclose="false" placeholder="yyyy-mm-dd"formControlName="validToDt"
                                                    class="form-control">
                                                    
                                                </div>
                                            </div>
                                            <div class="col-lg-2">
                                                <div class="mb-2"> <label for="formrow-inputZip">Document RefNo</label>
                                                    <input type="text" class="form-control"
                                                    placeholder="Enter RefNo  "formControlName="documentRefNo"
                                                    [ngClass]=>
                                                </div>
                                            </div>
                                            <div class="col-lg-2">
                                                <div class="mb-2"> <label for="formrow-inputZip">RenewalCompany</label>
                                                    <input type="text" class="form-control"
                                                    placeholder="Enter  Renewal Company "formControlName="renewalCompany"
                                                    [ngClass]=>
                                                </div>
                                            </div>
                                        </div>  
                                        <div class="row">
                                            <div class="col-lg-2">
                                                <div class="mb-2"><label for="formrow-inputCity">Basic Amoumt</label>
                                                  
                                                    <input type="text" class="form-control"
                                                    placeholder="Enter  HsnCode1 "formControlName="basicAmt"
                                                    [ngClass]=>
                                                </div>
                                            </div>
                                            <div class="col-lg-2">
                                                <div class="mb-2">
                                                    <label for="formrow-inputZip">Sgst Pct</label>
                                                   
                                                    <input type="text" class="form-control"
                                                    placeholder="Enter  HsnCode1 "formControlName="sgstPct"
                                                    [ngClass]=>
                                                </div>
                                            </div>
                                            <div class="col-lg-2">
                                                <div class="mb-2"><label for="formrow-inputCity">Sgst Amt</label>
                                                   
                                                    <input type="text" class="form-control"
                                                    placeholder="Enter  HsnCode1 "formControlName="sgstAmt"
                                                    [ngClass]=>

                                                </div>
                                            </div>
                                            <div class="col-lg-2">
                                                <div class="mb-2"><label for="formrow-inputCity">Cgst Pct</label>
                                                   
                                                    <input type="text" class="form-control"
                                                    placeholder="Enter  HsnCode1 "formControlName="cgstPct"
                                                    [ngClass]=>
                                                </div>
                                            </div>
                                        </div>  
                                        <div class="row">
                                            
                                            <div class="col-lg-2">
                                                <div class="mb-2">
                                                    <label for="formrow-inputZip">Cgst Amt</label>
                                                    <input type="text" class="form-control"
                                                    placeholder="Enter Cgst Amt "formControlName="cgstAmt"
                                                    [ngClass]=>
                                                </div>
                                            </div>
                                            <div class="col-lg-2">
                                                <div class="mb-2"><label for="formrow-inputCity">igst Pct</label>
                                                 
                                                    <input type="text" class="form-control"
                                                    placeholder="Enter Cgst Amt "formControlName="igstPct"
                                                    [ngClass]=>
                                                </div>
                                            </div>
                                            <div class="col-lg-2">
                                                <div class="mb-2"><label for="formrow-inputCity">IgstAmt </label>
                                                  
                                                    <input type="text" class="form-control"
                                                    placeholder="Enter Cgst Amt "formControlName="igstAmt"
                                                    [ngClass]=>
                                                </div>
                                            </div>
                                            <div class="col-lg-2">
                                                <div class="mb-2">
                                                    <label for="formrow-inputZip">HsnCode1</label>
                                                    <input type="text" class="form-control"
                                                    placeholder="Enter  HsnCode1 "formControlName="hsnCode1"
                                                    [ngClass]=>
                                                </div>
                                            </div>
                                        </div>  
                                       
                                        <div class="row">
                                            <div class="col-lg-2">
                                                <div class="mb-2"><label for="formrow-inputCity">BasicAmt2</label>
                                                  
                                                    <input type="text" class="form-control"
                                                    placeholder="Enter  basicAmt2 "formControlName="basicAmt2"
                                                    [ngClass]=>
                                                </div>
                                            </div>
                                        <div class="col-lg-2">
                                            <div class="mb-2">
                                                <label for="formrow-inputZip">SgstPct2</label>
                                                <input autoclose="false" class="form-control" placeholder="Enter SgstPct2" formControlName="sgstPct2">
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="mb-2">
                                                <label for="formrow-inputZip">SgstAmt2</label>
                                                <input autoclose="false" class="form-control" placeholder="Enter SgstAmt2" formControlName="sgstAmt2">
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="mb-2">
                                                <label for="formrow-inputZip"> CgstPct2</label>
                                                <input autoclose="false" class="form-control" placeholder="Enter CgstPct2" formControlName="cgstPct2">
                                            </div>
                                        </div>
                                       
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">CgstAmt2 </label>
                                                <input autoclose="false" class="form-control"  placeholder="Enter CgstAmt2 "  formControlName="cgstAmt2">
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">IgstPct2 </label>
                                                <input autoclose="false" class="form-control" placeholder="Enter IgstPct2 "  formControlName="igstPct2">
                                            </div>
                                        </div>
                                      
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">IgstAmt2 </label>
                                                <input autoclose="false" class="form-control"  placeholder="Enter IgstAmt2 " formControlName="igstAmt2">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">HsnCode2</label>
                                                <input autoclose="false" class="form-control"  placeholder="Enter HsnCode2 " formControlName="hsnCode2">
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">NonGstAmount</label>
                                                <input autoclose="false" class="form-control"  placeholder="Enter NonGstAmount "  formControlName="nonGstAmount">
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">NonGstAmtDesc</label>
                                                <input autoclose="false" class="form-control" placeholder=" Enter NonGstAmtDesc"  formControlName="nonGstAmtDesc">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">SubTotal</label>
                                                <input autoclose="false" class="form-control"  placeholder=" Enter SubTotal"  formControlName="subTotal">
                                            </div>
                                        </div>
                                      
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">RoundOff</label>
                                                <input autoclose="false" class="form-control" placeholder=" Enter RoundOff" formControlName="roundOff">
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">NetAmount</label>
                                                <input autoclose="false" class="form-control" placeholder=" Enter NetAmount" formControlName="netAmount">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        
                                        <div class="col-lg-3">
                                            <div class="mb-3"><label for="formrow-inputCity">CreditAc</label>
                                                <select id="formrow-inputState" class="form-control" placeholder=" Enter CreditAc" formControlName="creditAc">
                                                    <option selected="">Choose...</option>
                                                    <option>...</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">NeftPmt </label>
                                                <input autoclose="false" class="form-control" placeholder=" Entry NeftPmt" formControlName="neftPmt" >
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">ChequeNo</label>
                                                <input autoclose="false" class="form-control" placeholder=" ChequeNo" formControlName="chequeNo" >
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                     
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">ChequeDt  </label>

                                                <input bsdatepicker="" type="date" autoclose="false" placeholder="yyyy-mm-dd"formControlName="chequeDt"
                                                class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">FinDocID </label>
                                                <input autoclose="false" class="form-control" placeholder="FinDocID" formControlName="finDocID">
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">Attach1 </label>
                                                <input autoclose="false" class="form-control" placeholder=" Enter Attach1" formControlName="attach1">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                       
                                       
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">Attach2 </label>
                                                <input autoclose="false" class="form-control"  placeholder="Enter Attach1" formControlName="attach2" >
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">Remarks </label>
                                                <input autoclose="false" class="form-control" placeholder=" Enter Remarks" formControlName="remarks">
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">BranchCode </label>
                                                <input autoclose="false" class="form-control"formControlName="branchCode"  placeholder=" Enter BranchCode" >
                                            </div>
                                        </div>
                                    </div>
                                  
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
             
           
                <div class="row text-right">
                    <div class="col-lg-12">
                        <div class="tex">
                            <button type="submit" class="btn btn-primary w-md"
                            (click)="submitDocRenewalMasterForm()"     >Submit</button>
            
                           
                        </div>
                    </div>
                </div>
            </form>
            <!-- end row -->
            <!-- end row -->
        </div>
        <!-- container-fluid -->
    </div>
    <!-- End Page-content -->

</div>
