<div class="main-content">
    <div class="page-content">
        <div class="container-fluid">
            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                        <h4 class="mb-sm-0 font-size-18">Tyre DeActivation Report</h4>
                    </div>
                </div>
            </div>
            <!-- end page title -->
            <div class="row top-controls">
                <div class="col-sm-10 col-md-10">
                    <form (keydown.enter)="$event.preventDefault()"[formGroup]="formFilter">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="mb-3">
                                    <label for="formrow-inputState">From Date </label><span style="color: red">*</span>    
                                    <input type="date" class="form-control" 
                                    formControlName="fromDate" min="{{minDate}}" max="{{maxDate}}"
                                    [ngClass]="{ 'is-invalid': formSubmitted && (f['fromDate'].invalid) }">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="mb-3">
                                    <label for="formrow-inputState">To Date </label><span style="color: red">*</span>    
                                    <input type="date" class="form-control" 
                                    formControlName="toDate" min="{{minDate}}" max="{{maxDate}}"
                                    [ngClass]="{ 'is-invalid': formSubmitted && (f['toDate'].invalid) }">
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="mb-2">
                                    <label for="basicpill-phoneno-input">Tyre Brand</label>
                                    <select class="form-control" formControlName="brandID"   
                                        class="form-control form-select ng-pristine ng-touched"  >
                                        <option *ngFor="let vehi of brandList" value={{vehi.dataId}}>
                                                {{vehi.dataName}}
                                        </option>
                                    </select>  
                                </div>
                            </div>
                        </div>                            
                        <div class="row">                                                                 
                            <div class="col-lg-3">
                                <div class="mb-2">
                                    <label for="formrow-inputCity">Vehicle No.</label>                                                
                                    <div class="ng-autocomplete">
                                        <ng-autocomplete [data]="vehicleList"
                                            [searchKeyword]="keywordLocation" 
                                            formControlName="vehicleMasterID" 
                                            (selected)='selectEvent($event)'
                                            (inputChanged)='onChangeSearch($event)'
                                            (inputFocused)='onFocused($event)' 
                                            [itemTemplate]="itemTemplate"
                                            [notFoundTemplate]="notFoundTemplate"
                                            [customFilter]="startWithFilter">
                                        </ng-autocomplete>

                                        <ng-template #itemTemplate let-item>
                                            <a [innerHTML]="item.dataName"></a>
                                        </ng-template>

                                        <ng-template #notFoundTemplate let-notFound>
                                            <div [innerHTML]="notFound"></div>
                                        </ng-template>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="mt-3">
                                    <button class="btn btn-primary" type="submit" 
                                    (click)="search()"><span>Search</span></button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-sm-2 col-md-2 text-right">
                    <div class="dt-buttons btn-group flex-wrap export-button">
                        <button class="btn btn-secondary buttons-excel buttons-html5" tabindex="0"
                            aria-controls="datatable-buttons" type="button" 
                            (click)="exportExcel()"><span>Excel</span></button>
                    </div>
                </div>
            </div>
            <div id="datatable_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                <table datatable [dtOptions]="dtOptions" class="table table-bordered dt-responsive w-100">
                    <thead>
                        <tr>
                            <th>tyreModel</th>
                            <th>tyreNo</th>
                            <th>purchaseDate</th>  
                            <th>brandID </th>
                        </tr>
                    </thead>
                    <tbody *ngIf="allTyremgntRptlist.tyreList?.length != 0">
                        <tr *ngFor="let eta of allTyremgntRptlist.tyreList">
                            <td>{{ eta.branchName }}</td>
                            <td>{{ eta.purchaseDate }}</td>
                            <td>{{ eta.refNo }}</td>
                            <td>{{ eta.vehicleNo }}</td>
                            <td>{{ eta.tyreNo }}</td>
                            <td>{{ eta.brandName }}</td> 
                            <td>{{ eta.removedBy }}</td>
                            <td>{{ eta.inspectedBy }}</td>
                            <td>{{ eta.kmr }}</td>
                            <td>{{ eta.usableAmount }}</td>
                            <td>{{ eta.removeStatus }}</td>
                            <td>{{ eta.remarks }}</td>
                        </tr>
                    </tbody>
                    <tbody *ngIf="allTyremgntRptlist.tyreList?.length == 0">
                        <tr>
                            <td colspan="3" class="no-data-available">No data!</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- container-fluid -->
    </div>
    <!-- End Page-content -->
</div>




