<div class="main-content">
    <div class="page-content">
        <div class="container-fluid">
            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                        <h4 class="mb-sm-0 font-size-18">Trip Payments</h4>
                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="/#/drivermasterlist">Trip Payments</a></li>
                                <li class="breadcrumb-item active">Trip Payments Add</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end page title -->
           
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <div id="basic-example">
                                    <!-- Personal Details -->
                                 
                                    <section>
                                        <form [formGroup]="formUser2">
                                            <div class="row">
                                                <div class="col-lg-3">
                                                    <div class="mb-3">
                                                        <label for="basicpill-firstname-input">Pmt Branch</label>
                                                        <select  class="form-control" formControlName="pmtBranch" [ngClass]="">
                                                            <option *ngFor="let branch of branchList" value={{branch.dataId}}>
                                                               {{branch.dataName}}
                                                            </option>
                                                         </select>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3">
                                                    <div class="mb-3">
                                                        <label for="basicpill-lastname-input">Pmt Date</label>
                                                        <input bsdatepicker="" type ="date"autoclose="false" placeholder="yyyy-mm-dd"  formControlName="pmtDate"
                                                        class="form-control">
                                                    </div>
                                                </div>
                                             
                                                <div class="col-lg-3">
                                                    <div class="mb-3">
                                                        <label for="basicpill-firstname-input">Select Vehicle</label>
                                                       
                                                        <select  class="form-control" formControlName="vehicleMasterID" [ngClass]="">
                                                            <option *ngFor="let branch of vehicleList" value={{branch.dataId}}>
                                                               {{branch.dataName}}
                                                            </option>
                                                         </select>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3">
                                                    <div class="mb-3">
                                                        <label for="basicpill-lastname-input">Open Trip No.</label>
                                                        <input type="text" id="formrow-inputCity" class="form-control"
                                                        placeholder="Enter Trip No" formControlName="tripNo" [ngClass]=>
                                                    </div>
                                                </div>
                                              
                                            </div>
                                            <div class="ng-untouched ng-pristine ng-valid">
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                       
                                                         
                                                               
                                                                <div class="row">
                                                                  
                                                                    <div class="col-lg-3">
                                                                        <div class="mb-3">
                                                                            <label for="formrow-inputState">From</label>
                                                                            <select id="formrow-inputState" class="form-control"formControlName="from">
                                                                                <option selected="">Choose...</option>
                                                                                <option>3</option>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-lg-3">
                                                                        <div class="mb-3"><label for="formrow-inputZip">To</label>
                                                                            <select id="formrow-inputState" class="form-control"formControlName="to">
                                                                                <option selected="">Choose...</option>
                                                                                <option>3</option>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-lg-3">
                                                                        <div class="mb-3">
                                                                            <label for="formrow-inputZip">Load Or Empty</label>
                                                                         
                                                                                <select id="formrow-inputState" class="form-control"formControlName="loadorempty">
                                                                                    <option selected="">Choose...</option>
                                                                                    <option>3</option>
                                                                                </select>
                                                                        </div>
                                                                    </div>
                                                                   
                                                                </div>
                                                                <div class="row">
                                                                  
                                                                    <div class="col-lg-3">
                                                                        <div class="mb-3">
                                                                            <label for="formrow-inputState">Dsl To Be</label>
                                                                            <input type="text" id="formrow-inputCity" class="form-control"
                                                                            placeholder="Enter Dsl To Be" formControlName="dsltobe" [ngClass]=>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-lg-3">
                                                                        <div class="mb-3"><label for="formrow-inputZip">Travel Allowance</label>
                                                                            <input type="text" id="formrow-inputCity" class="form-control"
                                                                            placeholder="Enter Travel Allowance" formControlName="travel" [ngClass]=>
                                                                        </div>
                                                                    </div>
                                                                 
                                                                </div>
                                            
                                                   
                                                   
                                                            
                                                       
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-3">
                                                    <div class="mb-3">
                                                     
                                                        <label for="basicpill-phoneno-input">QtyLtrs</label>
                                                      
                                                        <input type="text" class="form-control" formControlName="qtyLtrs"
                                                        id="basicpill-email-input" placeholder="Enter qtyLtrs">
                                                        
                                                    </div>
                                                </div>
                                                <div class="col-lg-3">
                                                    <div class="mb-3">
                                                        <label for="basicpill-phoneno-input">RatePerLtr</label>
                                                     
                                                        <input type="text" class="form-control" formControlName="ratePerLtr"
                                                        id="basicpill-email-input" placeholder="Enter ratePerLtr">
                                                    </div>
                                                </div>
                                                <div class="col-lg-3">
                                                    <div class="mb-3">
                                                        <label for="basicpill-email-input">Amount </label>
                                                        <input type="email" class="form-control" formControlName="amountPaid"
                                                            id="basicpill-email-input" placeholder="Enter Amount Paid">
                                                    </div>
                                                </div>
                                              
                                            </div>
                                            <div class="row">
                                              
                                                <div class="col-lg-3">
                                                    <div class="mb-3">
                                                        <label for="basicpill-phoneno-input">Trans Type</label>
                                                        <select id="formrow-inputState" class="form-control"formControlName="transType">
                                                            <option selected="">Choose...</option>
                                                            <option value="DA">  Driver Adv</option>
                                                            <option value="DL">  Diesel </option>
                                                         
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="mb-3">
                                                        <label for="basicpill-phoneno-input">Remark</label>
                                                        <input type="email" class="form-control" formControlName="remarks"
                                                            id="basicpill-email-input" placeholder="Enter Remark">
                                                    </div>
                                                </div>
                                               
                                              
                                            </div>
                                           
                                           
                                           
                                          
                                           
                                           
                                               
                                       

                                            <div class="row">
                                                <div class="col-lg-3">
                                                    <div class="mb-3">
                                                        <label for="basicpill-phoneno-input">Pmt Type</label>
                                                        <select id="formrow-inputState" class="form-control"formControlName="pmtType">
                                                            <option selected="">Choose...</option>
                                                            <option value="1" >Cash</option>
                                                            <option value="2"> Bank</option>
                                                            <option value="3"> Happay</option>
                                                            <option value="4"> Petro</option>
                                                            <option value="5"> Fastag</option>
                                                            <option value="6"> Vendor</option>
                                                            <option value="7"> Adjust </option>
                                                        </select>
                                                    </div>
                                                </div>
                                                    <div class="col-lg-3">
                                                        <div class="mb-3">
                                                            <label for="basicpill-phoneno-input">CreditAc </label>
                                                            <select id="formrow-inputState" class="form-control"formControlName="creditAc">
                                                                <option selected="">Choose...</option>
                                                                <option>2</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                         
                                            </div>
                                            <div class="row">
                                               
                                                <div class="col-lg-3">
                                                    <div class="form-check">
                                                        <input type="radio" name="ewayBillEntryType"
                                                            formControlName="neftPmt"  value="E"
                                                            class="form-check-input"><label for="formRadios2"
                                                            class="form-check-label"> Neft
                                                        </label>
                                                    </div>
                                                </div>
                                                
                                                <div class="col-lg-3">
                                                    <div class="mb-3">
                                                        <label for="basicpill-phoneno-input">Cheque No</label>
                                                        <input type="text" class="form-control" formControlName="chequeNo"
                                                            id="basicpill-phoneno-input"
                                                            placeholder="Enter Cheque No">
                                                    </div>
                                                </div>
                                                <div class="col-lg-3">
                                                    <div class="mb-3">
                                                        <label for="basicpill-email-input">Cheque Date </label>
                                                        <input bsdatepicker="" type="date" autoclose="false" placeholder="yyyy-mm-dd"  formControlName="chequeDate"
                                                        class="form-control">
                                                    </div>
                                                </div>
                                               
                                              
                                            </div>
                                            <div class="row text-right">
                                                <div class="col-lg-12">
                                                    <div class="tex">
                                                       
                                                        <button type="submit" class="btn btn-primary w-md"
                                                        (click)="submitTripPaymentsForm() " >Submit</button>
                                                    </div>
                                                </div>
                                            </div>
                                           
                                        </form>
                                    </section>

                                

                                    <!-- Attachment Details -->
                                 
                                </div>

                            </div>
                            <!-- end card body -->
                        </div>
                        <!-- end card -->
                       
                    </div>
                    <!-- end col -->
                </div>
                <!-- end row -->
        
            <!-- end row -->
            <!-- end row -->
        </div>
        <!-- container-fluid -->
    </div>
    <!-- End Page-content -->
</div>