<div class="main-content">
    <div class="page-content">
        <div class="container-fluid">
            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                        <h4 class="mb-sm-0 font-size-18">Driver Master</h4>
                    </div>
                </div>
            </div>
            <!-- end page title -->
            <form (keydown.enter)="$event.preventDefault()"[formGroup]="formDriverMaster">
                <div class="ng-untouched ng-pristine ng-valid">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <!-- Personal Details -->
                                <h4 class="card-title mb-4">Personal Details</h4>
                                <section>
                                    <div class="row">
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label>Driver name</label><span style="color: red">*</span>
                                                <input uppercaseonly type="text" class="form-control"
                                                    formControlName="driverName" (change)="chkDriverDupli($event)"
                                                    [ngClass]="{ 'is-invalid': formSubmitted && (f['driverName'].invalid) }">
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label>Father name</label><span style="color: red">*</span>
                                                <input uppercaseonly type="text" class="form-control"
                                                    formControlName="fatherName"  
                                                    [ngClass]="{ 'is-invalid': formSubmitted && (f['fatherName'].invalid) }">
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="mb-3">
                                                <label>Date of Birth</label><span style="color: red">*</span>
                                                <input type="date" class="form-control" formControlName="dateOfBirth"
                                                    min="{{minDate}}" max="{{maxDate}}"  
                                                    (change)="onDOBChange($event)"
                                                    [ngClass]="{ 'is-invalid': formSubmitted && (f['dateOfBirth'].invalid) }">
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label>Age</label><span style="color: red">*</span>
                                                <input numbersonly type="text" class="form-control"
                                                    formControlName="age"   maxlength="2"
                                                    [ngClass]="{ 'is-invalid': formSubmitted && (f['age'].invalid) }">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-2">
                                            <div class="mb-3">
                                                <label>Blood Group</label><span style="color: red">*</span>
                                                <select class="form-control form-select ng-pristine ng-touched"formControlName="bloodGroup"
                                                    class="form-control form-select ng-pristine ng-touched"
                                                    [ngClass]="{ 'is-invalid': formSubmitted && (f['bloodGroup'].invalid) }">
                                                    <option value="A+">A+</option>
                                                    <option value="A-">A-</option>
                                                    <option value="B+">B+</option>
                                                    <option value="B-">B-</option>
                                                    <option value="AB+">AB+</option>
                                                    <option value="AB-">AB-</option>
                                                    <option value="O+">O+</option>
                                                    <option value="O-">O-</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label>Introduced By</label><span style="color: red">*</span>
                                                <input uppercaseonly type="text" class="form-control"
                                                    formControlName="introBy"  
                                                    [ngClass]="{ 'is-invalid': formSubmitted && (f['introBy'].invalid) }">
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="mb-3">
                                                <label>Mobile No</label><span style="color: red">*</span>
                                                <input numbersonly type="text" class="form-control"
                                                    formControlName="introByMobileNo" maxlength="10"
                                                    [ngClass]="{ 'is-invalid': formSubmitted && (f['introByMobileNo'].invalid) }">
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="mb-3">
                                                <label>Date of Appointment</label><span style="color: red">*</span>
                                                <input type="date" class="form-control" formControlName="dateOfAppoint"
                                                    [ngClass]="{ 'is-invalid': formSubmitted && (f['dateOfAppoint'].invalid) }">
                                            </div>
                                        </div>                                        
                                        <div class="col-md-2">
                                            <div class="mb-3">                                    
                                                <label for="formrow-inputCity">Vehicle No</label>  
                                                <div class="ng-autocomplete">
                                                    <ng-autocomplete [data]="vehicleList"
                                                        [searchKeyword]="keywordLocation"  
                                                        formControlName="vehicleMasterId" 
                                                        (inputChanged)='onChangeSearch($event)'
                                                        (inputFocused)='onFocused($event)' 
                                                        [itemTemplate]="itemTemplate"
                                                        [notFoundTemplate]="notFoundTemplate"
                                                        [customFilter]="endWithFilter">
                                                    </ng-autocomplete>

                                                    <ng-template #itemTemplate let-item>
                                                        <a [innerHTML]="item.dataName"></a>
                                                    </ng-template>

                                                    <ng-template #notFoundTemplate let-notFound>
                                                        <div [innerHTML]="notFound"></div>
                                                    </ng-template>
                                                </div>
                                            </div>
                                        </div> 
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label>Group Name</label><span style="color: red">*</span>
                                                <input uppercaseonly type="text" class="form-control"
                                                    formControlName="groupName"  
                                                    [ngClass]="{ 'is-invalid': formSubmitted && (f['groupName'].invalid) }">
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label>Aadhar No</label><span style="color: red">*</span>
                                                <input numbersonly type="text" class="form-control"
                                                    formControlName="driverAadharNo"   maxlength="20"
                                                    [ngClass]="{ 'is-invalid': formSubmitted && (f['driverAadharNo'].invalid) }">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label>Licence No</label><span style="color: red">*</span>
                                                <input uppercaseonly type="text" class="form-control"
                                                    formControlName="licenseNo"  
                                                    [ngClass]="{ 'is-invalid': formSubmitted && (f['licenseNo'].invalid) }">
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label>Valid Upto</label><span style="color: red">*</span>
                                                <input type="date" class="form-control" formControlName="licValidUpto"
                                                   [ngClass]="{ 'is-invalid': formSubmitted && (f['licValidUpto'].invalid) }">
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label>Issue Auth</label><span style="color: red">*</span>
                                                <input uppercaseonly type="text" class="form-control"
                                                    formControlName="licenseIssuAuth"  
                                                    [ngClass]="{ 'is-invalid': formSubmitted && (f['licenseIssuAuth'].invalid) }">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label>Hazardous Lic Y/N </label><span style="color: red">*</span>
                                                <select class="form-control form-select ng-pristine ng-touched"formControlName="isHazardousLicYN"
                                                    class="form-control form-select ng-pristine ng-touched"
                                                    (change)="onHazardousChange($event)"
                                                    [ngClass]="{ 'is-invalid': formSubmitted && (f['isHazardousLicYN'].invalid) }">
                                                    <option value="Y">Yes</option>
                                                    <option value="N">NO</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label>Hazardous Licence No</label>
                                                <input uppercaseonly type="text" class="form-control"
                                                    formControlName="hazardousLicNo"
                                                    [ngClass]="{ 'is-invalid': formSubmitted && (f['hazardousLicNo'].invalid) }"
                                                     >
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label>hazardous Valid Upto</label>
                                                <input type="date" class="form-control"
                                                    [ngClass]="{ 'is-invalid': formSubmitted && (f['hazLicValidUpto'].invalid) }"
                                                    formControlName="hazLicValidUpto"  >
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label>HazLicense Issue Auth</label>
                                                <input uppercaseonly type="text" class="form-control"
                                                    [ngClass]="{ 'is-invalid': formSubmitted && (f['hazLicenseIssuAuth'].invalid) }"
                                                    formControlName="hazLicenseIssuAuth"  >
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="mb-3">
                                                <label>Temporary Address</label>
                                                <input uppercaseonly type="text" class="form-control"
                                                    formControlName="temporaryAddr"  >
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="mb-3">
                                                <label>City</label>
                                                <input uppercaseonly type="text" class="form-control"
                                                    formControlName="temporaryAddrCity"  >
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="mb-3">
                                                <label>Pin</label>
                                                <input numbersonly type="text" class="form-control" maxlength="6"
                                                    formControlName="temporaryAddrPin"  >
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="mb-3">
                                                <label>Phone</label>
                                                <input numbersonly type="text" maxlength="10" class="form-control"
                                                    formControlName="tempAddPhone"  >
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="mb-3">
                                                <label>Permanent Address</label>
                                                <input uppercaseonly type="text" class="form-control"
                                                    formControlName="permanentAddr"  >
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="mb-3">
                                                <label>City</label>
                                                <input uppercaseonly type="text" class="form-control"
                                                    formControlName="permanentAddrCity"  >
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="mb-3">
                                                <label>Pin</label>
                                                <input numbersonly type="text" class="form-control" maxlength="6"
                                                    formControlName="permanentAddrPin"  >
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="mb-3">
                                                <label>Phone</label>
                                                <input numbersonly type="text" class="form-control" maxlength="10"
                                                    formControlName="permAddPhone"  >
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <div class="mb-3">
                                                        <label>Experience</label>
                                                        <input uppercaseonly type="text" class="form-control"
                                                            formControlName="previousExpDetails"  >
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="mb-3">
                                                        <label>Years</label>
                                                        <input numbersonly maxlength="4" type="text"
                                                            class="form-control" formControlName="previousExpYears"
                                                             >
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <div class="mb-3">
                                                        <label>Mobile 1</label><span style="color: red">*</span>
                                                        <input numbersonly type="text" class="form-control"
                                                              formControlName="driverMobile1"
                                                            maxlength="10"
                                                            [ngClass]="{ 'is-invalid': formSubmitted && (f['driverMobile1'].invalid) }">
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="mb-3">
                                                        <label>Mobile 2</label>
                                                        <input numbersonly type="text" maxlength="10"
                                                            formControlName="driverMobile2" class="form-control"
                                                             >
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label>Driver Photo</label><span style="color: red">*</span>
                                                <input #driverPhotoInput class="form-control" type="file"
                                                    formControlName="drPhoto" id="formDriverPhoto"  accept="image/*"
                                                    (change)="onSelectDrivePhoto($event)"
                                                    [ngClass]="{ 'is-invalid': formSubmitted && (f['drPhoto'].invalid) }">
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <img [src]="driverPhotoPreview" height="120" width="120">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label>Active Y/N </label><span style="color: red">*</span>
                                                <select class="form-control form-select ng-pristine ng-touched"formControlName="isActive"
                                                    class="form-control form-select ng-pristine ng-touched"
                                                    (change)="onActiveChange($event)"
                                                    [ngClass]="{ 'is-invalid': formSubmitted && (f['isActive'].invalid) }">
                                                    <option value="Y">Yes</option>
                                                    <option value="N">NO</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label>InActive Date</label>
                                                <input type="date" class="form-control" formControlName="inActiveDate"
                                                    [ngClass]="{ 'is-invalid': formSubmitted && (f['inActiveDate'].invalid) }"
                                                     >
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label>Removed Y/N </label><span style="color: red">*</span>
                                                <select class="form-control form-select ng-pristine ng-touched"formControlName="removedYN"
                                                    class="form-control form-select ng-pristine ng-touched"
                                                    (change)="onRemovedChange($event)"
                                                    [ngClass]="{ 'is-invalid': formSubmitted && (f['removedYN'].invalid) }">
                                                    <option value="Y">Yes</option>
                                                    <option value="N">NO</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label>Removed Date</label>
                                                <input type="date" class="form-control" formControlName="removedDate"
                                                    [ngClass]="{ 'is-invalid': formSubmitted && (f['removedDate'].invalid) }"
                                                     >
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ng-untouched ng-pristine ng-valid">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-body">
                                    <!-- Bank Details -->
                                    <h4 class="card-title mb-4">Bank Details</h4>
                                    <section>
                                        <div class="row">
                                            <div class="col-lg-4">
                                                <div class="mb-3">
                                                    <label>Bank Account Name</label>
                                                    <input uppercaseonly type="text" class="form-control"
                                                        formControlName="drBankAccountName"  
                                                        [ngClass]="{ 'is-invalid': formSubmitted && (f['drBankAccountName'].invalid) }">
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="mb-3">
                                                    <label>Bank Name</label>
                                                    <input uppercaseonly type="text" class="form-control"
                                                        formControlName="bankName"  
                                                        [ngClass]="{ 'is-invalid': formSubmitted && (f['bankName'].invalid) }">
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="mb-3">
                                                    <label>Bank Account No</label>
                                                    <input numbersonly type="text" class="form-control"
                                                        formControlName="bankAcNo"  
                                                        [ngClass]="{ 'is-invalid': formSubmitted && (f['bankAcNo'].invalid) }">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-4">
                                                <div class="mb-3">
                                                    <label>IFSC Code</label>
                                                    <input uppercaseonly type="text" class="form-control"
                                                        formControlName="bankIfsCode"  
                                                        [ngClass]="{ 'is-invalid': formSubmitted && (f['bankIfsCode'].invalid) }">
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="mb-3">
                                                    <label>Branch Name</label>
                                                    <input uppercaseonly type="text" class="form-control"
                                                        formControlName="bankBranch"  
                                                        [ngClass]="{ 'is-invalid': formSubmitted && (f['bankBranch'].invalid) }">
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="mb-3">
                                                    <label>Account Status</label>
                                                    <select class="form-control form-select ng-pristine ng-touched"formControlName="bankAccountStatus"
                                                        class="form-control form-select ng-pristine ng-touched"
                                                        [ngClass]="{ 'is-invalid': formSubmitted && (f['bankAccountStatus'].invalid) }">
                                                        <option value="S">Savings Ac</option>
                                                        <option value="C">Current Ac</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ng-untouched ng-pristine ng-valid">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-body">
                                    <!-- Attachment Details -->
                                    <h4 class="card-title mb-4">Attachment Details</h4>
                                    <section>
                                        <div>
                                            <div class="row">
                                                <div class="col-lg-4">
                                                    <div class="mt-3">
                                                        <label for="formDLFile" class="form-label">Driving
                                                            License</label>
                                                        <input #drivingLicenseInput class="form-control" type="file"
                                                            id="formDLFile"  >
                                                        <a *ngIf="selectedDriverMasterDetails.attachDrLic" target="_blank"
                                                            href={{uploadedDrLic}}>Download</a>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4">
                                                    <div class="mt-3">
                                                        <label for="formLicFile" class="form-label">Haz License</label>
                                                        <input #hazdrivingLicenseInput class="form-control" type="file"
                                                            id="formLicFile"  >
                                                        <a *ngIf="selectedDriverMasterDetails.attachDrHazLic" target="_blank"
                                                            href={{uploadedDrHazLic}}>Download</a>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4">
                                                    <div class="mt-3">
                                                        <label for="formTempAddFile" class="form-label">Temporary
                                                            Address Prove</label>
                                                        <input #tempAddressProveInput class="form-control" type="file"
                                                            id="formTempAddFile"  >
                                                            <a *ngIf="selectedDriverMasterDetails.attachDrTempAddProof" target="_blank"
                                                            href={{uploadedDrTempAddProof}}>Download</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-4">
                                                    <div class="mt-3">
                                                        <label for="formPerAddFile" class="form-label">Permanent
                                                            Address Prove</label>
                                                        <input #perAddressProveInput class="form-control" type="file"
                                                            id="formPerAddFile"  >
                                                            <a *ngIf="selectedDriverMasterDetails.attachDrPermAddProof" target="_blank"
                                                            href={{uploadedDrPermAddProof}}>Download</a>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4">
                                                    <div class="mt-3">
                                                        <label for="formAadharFile" class="form-label">Aadhar
                                                            Card</label>
                                                        <input #aadharCardInput class="form-control" type="file"
                                                            id="formAadharFile"  >
                                                            <a *ngIf="selectedDriverMasterDetails.attachDrAadhar" target="_blank"
                                                            href={{uploadedDrAadhar}}>Download</a>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4">
                                                    <div class="mt-3">
                                                        <label for="formPassbookFile" class="form-label">Bank
                                                            Passbook</label>
                                                        <input #bankPassbookInput class="form-control" type="file"
                                                            id="formPassbookFile"  >
                                                            <a *ngIf="selectedDriverMasterDetails.attachDrBankPassBook" target="_blank"
                                                            href={{uploadedDrBankPassBook}}>Download</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row text-right">
                    <div class="col-lg-12">
                        <div class="tex">
                            <button class="btn btn-primary w-md"
                            *ngIf="((editMode && editStatus) || (!editMode && createStatus)) && !formSubmitted"
                                (click)="submitDriverMasterForm()">Save</button>&nbsp;
                            <button class="btn btn-danger w-md m-2" *ngIf="editMode && deleteStatus"
                                (click)="deleteDriverMasterForm()">Delete</button>&nbsp;
                            <button class="btn btn-secondary w-md" (click)="exit()">Exit</button>
                        </div>
                    </div>
                    <!-- end col -->
                </div>
                <!-- end row -->
            </form>
            <!-- end row -->
            <!-- end row -->
        </div>
        <!-- container-fluid -->
    </div>
    <!-- End Page-content -->
</div>