
<div class="main-content">
    <div class="page-content">
        <div class="container-fluid">
            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                        <h4 class="mb-sm-0 font-size-18">Company Info Form </h4>

                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <!-- <li class="breadcrumb-item"><a href="/#/branchmasterlist">Doc Renewal Entry</a></li>
                                <li class="breadcrumb-item active">Doc Renewal Entry</li> -->
                            </ol>
                        </div>

                    </div>
                </div>
            </div>
            <!-- end page title -->
            <form (keydown.enter)="$event.preventDefault()"[formGroup]="formDocEntry">
                <div class="ng-untouched ng-pristine ng-valid">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-body">                                 
                                   
                                    <div class="row">
                                        
                                        <!-- <div class="col-lg-5">
                                            <div class="mb-2"> 
                                                <label for="formrow-inputZip">companyID </label>
                                                <input autoclose="false" class="form-control"
                                                                uppercaseonly   formControlName="companyID ">
            
                                            </div>
                                        </div>      -->
                                        <div class="col-lg-5">
                                            <div class="mb-3"> 
                                                <label for="formrow-inputZip">Company Name</label>
                                                <input autoclose="false" class="form-control"
                                                uppercaseonly   formControlName="companyName">
            
                                            </div>
                                        </div>    
                                    </div>    
                                    <div class="row">
                                        <div class="col-lg-2">
                                            <div class="mb-2"> 
                                                <label for="formrow-inputZip">Company Short Code </label><span style="color: red">*</span>                                                 
                                                
                                                <input autoclose="false" class="form-control"
                                                uppercaseonly   formControlName="companyShortCode">
                                            </div>
                                        </div>
                                        <div class="col-lg-5">
                                            <div class="mb-2"> 
                                                <label for="formrow-inputZip">Address 1 </label>
                                                <input autoclose="false" class="form-control"
                                                                uppercaseonly   formControlName="address1">
            
                                            </div>
                                        </div>     
                                        <div class="col-lg-3">
                                            <div class="mb-2">
                                                <label for="formrow-inputZip">Address 2 </label> 
                                                <input autoclose="false" class="form-control"
                                                uppercaseonly   formControlName="address2">
                                            </div>
                                        </div>    
                                    </div>  
                                    <div class="row">
                                        <div class="col-lg-2">
                                            <div class="mb-2"> 
                                                <label for="formrow-inputZip">Address 3</label>                                                 
                                                
                                                <input autoclose="false" class="form-control"
                                                uppercaseonly   formControlName="address3">
                                            </div>
                                        </div>
                                        <div class="col-lg-5">
                                            <div class="mb-2"> 
                                                <label for="formrow-inputZip">City</label>
                                                <input autoclose="false" class="form-control"
                                                                uppercaseonly   formControlName="city">
            
                                            </div>
                                        </div>     
                                        <div class="col-lg-3">
                                            <div class="mb-2"> 
                                                <label for="formrow-inputZip">State</label>
                                                <select class="form-control" formControlName="state"      
                                                [ngClass]="">
                                                    <option *ngFor="let state of stateList" value={{state.dataId}}>
                                                    {{state.dataName}}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>    
                                    </div>  
                                    <div class="row">
                                        <div class="col-lg-2">
                                            <div class="mb-2"> 
                                                <label for="formrow-inputZip">Pin Code </label>                                               
                                                
                                                <input autoclose="false" class="form-control" numbersonly
                                                  formControlName="pinCode">
                                            </div>
                                        </div>
                                        <div class="col-lg-5">
                                            <div class="mb-2"> 
                                                <label for="formrow-inputZip">Office Phone1 </label>
                                                <input autoclose="false" class="form-control"
                                                numbersonly  formControlName="offPhone1">
            
                                            </div>
                                        </div>     
                                        <div class="col-lg-3">
                                            <div class="mb-2"> 
                                                <label for="formrow-inputZip">Office Phone2 </label>
                                                <input autoclose="false" class="form-control"
                                                numbersonly  formControlName="offPhone2">
                                            </div>
                                        </div>    
                                    </div>    
                                    <div class="row">
                                        <div class="col-lg-2">
                                            <div class="mb-2"> 
                                                <label for="formrow-inputZip">Office Phone3 </label>                                                
                                                
                                                <input autoclose="false" class="form-control"
                                                numbersonly   formControlName="offPhone3">
                                            </div>
                                        </div>
                                        <div class="col-lg-5">
                                            <div class="mb-2"> 
                                                <label for="formrow-inputZip">Office Mobile </label>
                                                <input autoclose="false" class="form-control"
                                                                numbersonly   formControlName="offMbl">
            
                                            </div>
                                        </div>     
                                        <div class="col-lg-3">
                                            <div class="mb-2"> 
                                                <label for="formrow-inputZip">Email </label>
                                                <input autoclose="false" class="form-control"
                                                uppercaseonly   formControlName="email">
            
                                            </div>
                                        </div>    
                                    </div>    
                                    <div class="row">
                                        <div class="col-lg-2">
                                            <div class="mb-2"> 
                                                <label for="formrow-inputZip">Email2 </label>                                               
                                                
                                                <input autoclose="false" class="form-control"
                                                uppercaseonly   formControlName="email2">
                                            </div>
                                        </div>
                                        <div class="col-lg-5">
                                            <div class="mb-2"> 
                                                <label for="formrow-inputZip">WebUrl </label>
                                                <input autoclose="false" class="form-control"
                                                                uppercaseonly   formControlName="webUrl">
            
                                            </div>
                                        </div>     
                                        <div class="col-lg-3">
                                            <div class="mb-2"> 
                                                <label for="formrow-inputZip">Pan No</label>
                                                <input autoclose="false" class="form-control"
                                                uppercaseonly   formControlName="panNo">
                                            </div>
                                        </div>    
                                    </div> 
                                    <div class="row">
                                        <div class="col-lg-2">
                                            <div class="mb-2"> 
                                                <label for="formrow-inputZip">Gst No</label>                                              
                                                
                                                <input autoclose="false" class="form-control"
                                                uppercaseonly   formControlName="gstNo">
                                            </div>
                                        </div>
                                        <div class="col-lg-5">
                                            <div class="mb-2"> 
                                                <label for="formrow-inputZip">Cin No</label>
                                                <input autoclose="false" class="form-control"
                                                                uppercaseonly   formControlName="cinNo">
            
                                            </div>
                                        </div>     
                                        <div class="col-lg-3">
                                            <div class="mb-2"> 
                                                <label for="formrow-inputZip">Jurisdiction </label>
                                                <input autoclose="false" class="form-control"
                                                uppercaseonly   formControlName="jurisdiction">
                                            </div>
                                        </div>    
                                    </div>   
                                    <div class="row">
                                        <div class="col-lg-2">
                                            <div class="mb-2"> 
                                                <label for="formrow-inputZip">Msme No</label>                                               
                                                
                                                <input autoclose="false" class="form-control"
                                                uppercaseonly   formControlName="msmeNo">
                                            </div>
                                        </div>
                                        <div class="col-lg-5">
                                            <div class="mb-2"> 
                                                <label for="formrow-inputZip">Bank1 Name </label>
                                                <input autoclose="false" class="form-control"
                                                                uppercaseonly   formControlName="bank1Name">
            
                                            </div>
                                        </div>     
                                        <div class="col-lg-3">
                                            <div class="mb-2"> 
                                                <label for="formrow-inputZip">Bank1Add</label>
                                                <input autoclose="false" class="form-control"
                                                uppercaseonly   formControlName="bank1Add">
                                            </div>
                                        </div>    
                                    </div>  
                                    <div class="row">
                                        <div class="col-lg-2">
                                            <div class="mb-2"> 
                                                <label for="formrow-inputZip">Bank1AcNo </label>                                              
                                                
                                                <input autoclose="false" class="form-control"
                                                uppercaseonly   formControlName="bank1AcNo">
                                            </div>
                                        </div>
                                        <div class="col-lg-5">
                                            <div class="mb-2"> 
                                                <label for="formrow-inputZip">Bank1Ifsc </label>
                                                <input autoclose="false" class="form-control"
                                                                uppercaseonly   formControlName="bank1Ifsc">
            
                                            </div>
                                        </div>     
                                        <div class="col-lg-3">
                                            <div class="mb-2"> 
                                                <label for="formrow-inputZip">Bank2Name</label>
                                                <input autoclose="false" class="form-control"
                                                uppercaseonly   formControlName="bank2Name">
                                            </div>
                                        </div>    
                                    </div>     
                                    <div class="row">
                                        <div class="col-lg-2">
                                            <div class="mb-2"> 
                                                <label for="formrow-inputZip">Bank2Add </label>                                               
                                                
                                                <input autoclose="false" class="form-control"
                                                uppercaseonly   formControlName="bank2Add">
                                            </div>
                                        </div>
                                        <div class="col-lg-5">
                                            <div class="mb-2"> 
                                                <label for="formrow-inputZip">Bank2AcNo </label>
                                                <input autoclose="false" class="form-control"
                                                numbersonly   formControlName="bank2AcNo">
            
                                            </div>
                                        </div>     
                                        <div class="col-lg-3">
                                            <div class="mb-2"> 
                                                <label for="formrow-inputZip">Bank2Ifsc</label>
                                                <input autoclose="false" class="form-control"
                                                uppercaseonly   formControlName="bank2Ifsc">
                                            </div>
                                        </div>    
                                    </div>       
        
                                </div>
                            </div>
                        </div>
                    </div>
                </div>                           
                <div class="row text-right">
                    <div class="col-lg-12">
                    <div class="tex">
                        <button class="btn btn-primary w-md" 
                        *ngIf="((editMode && editStatus) || (!editMode && createStatus)) && !formSubmitted"
                        (click)="submitConpanyInfoForm()">Save</button>&nbsp;                       
                        <!-- <button class="btn btn-secondary w-md" (click)="exit()">Exit</button> -->
                    </div>
                    </div>
                    <!-- end col -->
                </div> 
            </form>
            <!-- end row -->
            <!-- end row -->
        </div>
        <!-- container-fluid -->
    </div>
    <!-- End Page-content -->

</div>

