
<div class="main-content">
    <div class="page-content">
       <div class="container-fluid">
          <!-- start page title -->
          <div class="row">
             <div class="col-12">
                <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                   <h4 class="mb-sm-0 font-size-18">Freight Gst Master</h4>
                </div>
             </div>
          </div>
          <!-- end page title -->
          <form (keydown.enter)="$event.preventDefault()"[formGroup]="formChCost">
             <div class="row">
                <div class="col-lg-12">
                   <div class="card">
                      <div class="card-body">                                 
                         <div class="row">
                           <div class="col-lg-2">
                               <div class="mb-4"><label for="formrow-inputCity">Freight Desc</label> <span style="color: red">*</span>
                               </div>
                              </div>
                              <div class="col-lg-4">
                               <div class="mb-4">
                                 <input type="text"  autofocus="autofocus" class="form-control"
                                    uppercaseonly formControlName="freightDesc"  (change)="checkDuplicateDesc()"
                                    [ngClass]="{ 'is-invalid': formSubmitted && (f['freightDesc'].invalid) }">
                               </div>
                           </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-2">
                                <div class="mb-4"><label for="formrow-inputCity">Sac Code</label> <span style="color: red">*</span>
                                </div>
                               </div>
                               <div class="col-lg-4">
                                <div class="mb-4">
                                  <input type="text"  autofocus="autofocus" class="form-control"
                                    uppercaseonly formControlName="sacCode" 
  
                                  [ngClass]="{ 'is-invalid': formSubmitted && (f['sacCode'].invalid) }">
                                </div>
                            </div>
                         </div>
                         <div class="row">
                            <div class="col-lg-2">
                                <div class="mb-4"><label for="formrow-inputCity">Sgst Pct</label> <span style="color: red">*</span>
                                </div>
                               </div>
                               <div class="col-lg-4">
                                <div class="mb-4">
                                  <input type="text"  autofocus="autofocus" class="form-control"
                                    decimalonly formControlName="sgstPct" 
  
                                  [ngClass]="{ 'is-invalid': formSubmitted && (f['sgstPct'].invalid) }">
                                </div>
                            </div>
                         </div>
                         <div class="row">
                            <div class="col-lg-2">
                                <div class="mb-4"><label for="formrow-inputCity">Cgst Pct</label> <span style="color: red">*</span>
                                </div>
                               </div>
                               <div class="col-lg-4">
                                <div class="mb-4">
                                  <input type="text"  autofocus="autofocus" class="form-control"
                                    decimalonly formControlName="cgstPct" 
  
                                  [ngClass]="{ 'is-invalid': formSubmitted && (f['cgstPct'].invalid) }">
                                </div>
                            </div>
                         </div>
                         <div class="row">
                            <div class="col-lg-2">
                                <div class="mb-4"><label for="formrow-inputCity">Igst Pct</label> <span style="color: red">*</span>
                                </div>
                               </div>
                               <div class="col-lg-4">
                                <div class="mb-4">
                                  <input type="text"  autofocus="autofocus" class="form-control"
                                    decimalonly formControlName="igstPct" 
  
                                  [ngClass]="{ 'is-invalid': formSubmitted && (f['igstPct'].invalid) }">
                                </div>
                            </div>
                         </div>
                         <div class="row">
                            <div class="col-lg-2">
                                <div class="mb-4"><label for="formrow-inputCity">Link Column</label> <span style="color: red">*</span>
                                </div>
                               </div>
                               <div class="col-lg-4">
                                <div class="mb-4">
                                  <select id="formrow-inputState" class="form-control form-select ng-pristine ng-touched"
                                  formControlName="linkColumn"
                                  [ngClass]="{ 'is-invalid': formSubmitted && (f['linkColumn'].invalid) }"  
                                  >
                                  <option value="">Select</option>      
                                  <option value="freightRs">Freight Rs</option> 
                                  <option value="statisticalRs">Statistical Rs</option>
                                  <option value="fovRs">Fov Rs</option>
                                  <option value="doorCollRs">DoorColl Rs</option>     
                                  <option value="handlingRs">Handling Rs</option> 
                                  <option value="loadingDetnRs">Loading DetnRs</option> 
                                  <option value="enrouteRs">EnrouteRs</option> 
                                  <option value="miscRs">MiscRs</option> 
                                  <option value="doorDelRs">DoorDelRs</option> 
                                  <option value="unLoadingRs">UnLoadingRs</option> 
                                  <option value="unLoadingDetnRs">UnLoading DetnRs</option> 
                                  <option value="extrasRS">Extras RS</option> 
                                  <option value="othersRs">Others Rs</option> 
                              </select>
                                </div>
                            </div>
                         </div>
                               <div class="row">
                                  <div class="col-lg-2">
                                <div class="mb-4"><label for="formrow-inputCity">Ledger Ac</label> <span style="color: red">*</span>
                                </div>
                               </div>
                                 <div class="col-lg-4">
                                <div class="mb-4">
                         
                                          
                                            <div class="ng-autocomplete">
                                                <ng-autocomplete [data]="ledgerAcList" 
                                                formControlName="freightLedgerAc" 
                                                    [searchKeyword]="keywordLocation"                                                      
                                                    (inputFocused)='onFocused($event)' 
                                                    [itemTemplate]="itemTemplate"
                                                    [notFoundTemplate]="notFoundTemplate"
                                                    [customFilter]="startWithFilter"  
                                                    [ngClass]="{ 'is-invalid': formSubmitted && (f['freightLedgerAc'].invalid) }">                                                  </ng-autocomplete>
                                                <ng-template #itemTemplate let-item>
                                                    <a [innerHTML]="item.dataName"></a>
                                                </ng-template>
                                                <ng-template #notFoundTemplate let-notFound>
                                                    <div [innerHTML]="notFound"></div>
                                                </ng-template>
                                            </div>
                                        </div>
                                    </div>
                                    </div>
                      </div>
                      <!-- end card body -->
                   </div>
                   <!-- end card -->
                </div>
             </div>
             <div class="row text-right">
                <div class="col-lg-12">
                   <div class="tex">
                     



                         <button class="btn btn-primary w-md"
                         *ngIf="((editMode && editStatus) || (!editMode && createStatus))"
                            (click)="submitfreightGstForm()">Save</button>&nbsp;
                         <button class="btn btn-danger w-md m-2" 
                               (click)="freightGstMasterDelete()" 
                               *ngIf="editMode && deleteStatus">Delete</button>  &nbsp;                       
                         <button class="btn btn-secondary w-md m-2" (click)="exit()">Exit</button>

                   </div>
                </div>
             </div>
          </form>
          <!-- end row -->
          <!-- end row -->
       </div>
       <!-- container-fluid -->
    </div>
    <!-- End Page-content -->
 </div>
 
