<p>ewaybillextensionadd works!</p>
<div class="main-content">
    <div class="page-content">
        <div class="container-fluid">
            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                        <h4 class="mb-sm-0 font-size-18">Ewaybill Extention</h4>
                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <!-- <li class="breadcrumb-item">Consignment</li>
                                <li class="breadcrumb-item active">Consignment </li> -->
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end page title -->
            <form [formGroup]="formUser">
                <div class="ng-untouched ng-pristine ng-valid">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-lg-3">
                                            <div class="mb-3"><label for="formrow-inputCity">Booked at</label>
                                                <input autoclose="false" class="form-control"
                                                    formControlName="bookedAt">
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="mb-3"><label for="formrow-inputZip">Booking Date</label>
                                                <input bsdatepicker="" type="date" autoclose="false"
                                                    formControlName="bookingDate"  
                                                    class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="mb-3">
                                                <label for="formrow-inputState">GcNote No</label>
                                                <input type="text" id="formrow-inputCity" class="form-control"
                                                    formControlName="gcNoteNo">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">EWay Bill No</label>
                                                <div class="hstack gap-1">
                                                    <input type="text" class="form-control" 
                                                        formControlName="ewayBillNo">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">EWay Bill Date</label>
                                                <input bsdatepicker="" type="date" autoclose="false"
                                                    formControlName="ewayBillDate"
                                                    class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">EWay Bill Exp Date</label>
                                                <input bsdatepicker="" type="date" autoclose="false"
                                                    formControlName="ewayBillExpDate"  
                                                    class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">Vehicle No</label>
                                                <input autoclose="false" class="form-control"
                                                    formControlName="vehicleNo">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">From Place</label>
                                                <input autoclose="false" class="form-control"
                                                    formControlName="fromLocation">
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">Pin</label>
                                                <input numbersonly autoclose="false" class="form-control"
                                                    formControlName="fromPin">
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">Destination</label>
                                                <input autoclose="false" class="form-control"
                                                    formControlName="destination">                                                
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <div class="mb-3">
                                                <label for="formrow-inputCity">Party Name</label>
                                                <input type="text" id="formrow-inputCity" class="form-control"
                                                    placeholder="" formControlName="partyName" >
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="mb-3">
                                                <label for="formrow-inputCity">Consignor</label>
                                                <input type="text" id="formrow-inputCity" class="form-control"
                                                    placeholder="" formControlName="consignor" >
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">Consignee</label>
                                                <input type="text" id="formrow-inputCity" class="form-control"
                                                    placeholder="" formControlName="consignee">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <div class="mb-4">
                                                <label for="formrow-inputZip">Consignor Address1</label>
                                                <input class="form-control" 
                                                formControlName="accountAddress1">
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="mb-4">
                                                <label for="formrow-inputZip">Consignor Address2</label>
                                                <input class="form-control" 
                                                formControlName="accountAddress2">
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="mb-4">
                                                <label for="formrow-inputZip">Consignor Address3</label>
                                                <input class="form-control" 
                                                formControlName="accountAddress3">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <div class="mb-4">
                                                <label for="formrow-inputZip">Consignor Place</label>
                                                <input class="form-control" 
                                                formControlName="accountCity">
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="mb-4">
                                                <label for="formrow-inputZip">Consignor State</label>
                                                <input class="form-control" 
                                                formControlName="cnorState">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ng-untouched ng-pristine ng-valid">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title mb-4">Extension Details</h4>
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">Reason For Extension</label><span style="color: red">*</span>    
                                                <select class="form-control" formControlName="reason"
                                                    class="form-control form-select ng-pristine ng-touched" 
                                                        [ngClass]="{ 'is-invalid': userSubmitted && (f['reason'].invalid) }">
                                                        <option value="Natural Calamity">Natural Calamity</option>
                                                        <option value="Law & Order">Law & Order</option>
                                                        <option value="Transshipment">Transshipment</option>
                                                        <option value="Accident">Accident</option>
                                                        <option value="Others">Others</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">Remarks</label><span style="color: red">*</span>    
                                                <input type="text" uppercaseonly class="form-control" placeholder=""
                                                    formControlName="remarks"
                                                    [ngClass]="{ 'is-invalid': userSubmitted && (f['remarks'].invalid) }">
                                            </div>
                                        </div>
                                    </div>                                    
                                    <div class="row">
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">Current Place</label><span style="color: red">*</span> 
                                                <input type="text" uppercaseonly class="form-control" placeholder=" "
                                                    formControlName="currentPlace">
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">Current Pin</label><span style="color: red">*</span> 
                                                <input type="text" numbersonly class="form-control" placeholder=" "
                                                    formControlName="currentPin" (change)="caluculatekms($event)">
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">Current State</label>
                                                <select class="form-control" formControlName="state"      
                                                [ngClass]="{ 'is-invalid': userSubmitted && (f['state'].invalid) }">
                                                    <option *ngFor="let state of stateList" value={{state.dataName}}>
                                                       {{state.dataName}}
                                                    </option>
                                                 </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">KMS</label><span style="color: red">*</span> 
                                                <input type="text" numbersonly class="form-control" placeholder=" "
                                                    formControlName="kMS">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-2">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">Consignment Is</label><span style="color: red">*</span> 
                                                <select class="form-control" formControlName="consignmentStatus"
                                                    class="form-control form-select ng-pristine ng-touched" 
                                                        [ngClass]="{ 'is-invalid': userSubmitted && (f['consignmentStatus'].invalid) }">
                                                        <option value="T">In Transit</option>
                                                        <option value="M">In Movement</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="mb-3">
                                                <label for="formrow-inputZip">Mode</label>
                                                <select class="form-control" formControlName="mode"
                                                class="form-control form-select ng-pristine ng-touched" 
                                                    [ngClass]="{ 'is-invalid': userSubmitted && (f['mode'].invalid) }">
                                                    <option value="1">Road</option>
                                                    <option value="2">Rail</option>
                                                    <option value="3">Air</option>
                                                    <option value="4">Ship</option>
                                            </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>    
                <div class="row text-right">
                    <div class="col-lg-12">
                       <div class="tex">
                          <button class="btn btn-primary w-md" *ngIf="editStatus"
                               (click)="submitDocRenewalMasterForm()">Save</button>&nbsp;
                          <button class="btn btn-secondary w-md" (click)="exit()">Exit</button>
                       </div>
                    </div>
                </div>
            </form>
        </div>
        <!-- container-fluid -->
    </div>
    <!-- End Page-content -->
</div>
