<div class="main-content">
    <div class="page-content">
        <div class="container-fluid">
            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                        <h4 class="mb-sm-0 font-size-18">Driver Salary Payment</h4>
                    </div>
                </div>
            </div>
            <!-- end page title -->
            <form (keydown.enter)="$event.preventDefault()"[formGroup]="formSalary">
                <div class="ng-untouched ng-pristine ng-valid">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-lg-2">
                                            <div class="mb-2">
                                                <label for="formrow-inputZip">Branch </label><span style="color: red">*</span>  
                                                <select class="form-control" formControlName="branchCode"
                                                    [ngClass]="{ 'is-invalid': formSubmitted && (f['branchCode'].invalid) }"> 
                                                    <option *ngFor="let br of branchList" value={{br.dataId}}>
                                                        {{br.dataName}}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>  
                                        <div class="col-sm-2">
                                            <div class="mb-3">
                                                <label >Salary Date: </label><span style="color: red">*</span>  
                                                <input type="date" class="form-control" 
                                                min="{{minDate}}" max="{{maxDate}}" formControlName="salaryDate" 
                                                [ngClass]="{ 'is-invalid': formSubmitted && (f['salaryDate'].invalid) }">
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="mb-3">
                                                <label for="formrow-inputState">Driver: </label><span style="color: red">*</span>  
                                                <select class="form-control form-select ng-pristine ng-touched"
                                                formControlName="driverId"
                                                [ngClass]="{ 'is-invalid': formSubmitted && (f['driverId'].invalid) }">
                                                <option value ="">Choose...</option>
                                                <option *ngFor="let branch of driverList" value={{branch.dataId}}>
                                                    {{branch.dataName}}
                                                </option>
                                            </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="basicpill-firstname-input">Vehicle</label> <span style="color: red">*</span> 
                                                <ng-autocomplete [data]="vehicleList"
                                                [searchKeyword]="keywordLocation"  
                                                formControlName="vehicleId" [initialValue]=""
                                                (inputChanged)='onChangeSearch($event)'
                                                (inputFocused)='onFocused($event)' 
                                                [itemTemplate]="itemTemplate"
                                                [notFoundTemplate]="notFoundTemplate"
                                                [customFilter]="startWithFilter"
                                                [ngClass]="{ 'is-invalid': formSubmitted && (f['vehicleId'].invalid) }">
                                            </ng-autocomplete>

                                            <ng-template #itemTemplate let-item>
                                                <a [innerHTML]="item.dataName"></a>
                                            </ng-template>

                                            <ng-template #notFoundTemplate let-notFound>
                                                <div [innerHTML]="notFound"></div>
                                            </ng-template>
                                            </div>
                                        </div>
                                       
                                       
                                    </div>
                                    <div class="row">
                                       
                                        <div class="col-sm-2">
                                            <div class="mb-3">
                                                <label >Salary From Date: </label><span style="color: red">*</span>  
                                               

                                                <input type="date" class="form-control"  (change) ="getSalDays()"
                                                min="{{minDate}}" max="{{maxDate}}" formControlName="salaryFromDt" 
                                                [ngClass]="{ 'is-invalid': formSubmitted && (f['salaryFromDt'].invalid) }">


                                                
                                            </div>
                                        </div>
                                        <div class="col-sm-2">
                                            <div class="mb-3">
                                                <label >Salary To Date: </label><span style="color: red">*</span>  
                                                <input type="date" class="form-control" 
                                               formControlName="salaryToDt" (change) ="getSalDays()"
                                                [ngClass]="{ 'is-invalid': formSubmitted && (f['salaryToDt'].invalid) }">
                                            </div>
                                        </div>
                                        <div class="col-sm-2">
                                            <div class="mb-3">
                                                <label>Sal Days: </label><span style="color: red">*</span>
                                                <input decimalonly type="text" class="form-control" (change) ="getSalCal()"
                                                formControlName="salDays">
                                            </div>
                                        </div>
                                        <div class="col-sm-2">
                                            <div class="mb-3">
                                                <label>Sal Per Day: </label><span style="color: red">*</span>
                                                <input numbersonly type="text" class="form-control" (change) ="getSalCal()"
                                                formControlName="salPerDay">
                                            </div>
                                        </div>
                                        <div class="col-sm-2">
                                            <div class="mb-3">
                                                <label>Total Salary: </label><span style="color: red">*</span>
                                                <input decimalonly type="text" class="form-control" 
                                                formControlName="totalSalary" >
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label for="basicpill-phoneno-input">Payment Type</label> <span style="color: red">*</span> 
                                                <select id="formrow-inputState" class="form-control form-select ng-pristine ng-touched"
                                                    formControlName="pmtType" (change)="changePmtType($event)"
                                                    [ngClass]="{ 'is-invalid': formSubmitted && (f['pmtType'].invalid) }"  
                                                     >
                                                    <option value="M">Cash</option>      
                                                    <option value="B">Bank</option> 
                                                    <option value="H">Happay</option>
                                                    <option value="D">Vendor</option>
                                                    <option value="A">Adjust</option>     
                                                    
                                                </select>
                                            </div>
                                        </div>
                                       
                                         
                                    </div> 
                                    <div class="row">
                                    <div class="col-lg-5">
                                        <div class="mb-3">
                                            <label for="basicpill-phoneno-input">Remarks</label>
                                            <input type="text" class="form-control" uppercaseonly
                                              formControlName="remarks"
                                            [ngClass]=>
                                            
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="mb-3">
                                            <label for="basicpill-phoneno-input">Credit Ac </label> <span style="color: red">*</span>          
                                            <select class="form-control form-select ng-pristine ng-touched"
                                            formControlName="creditAc"
                                            [ngClass]="{ 'is-invalid': formSubmitted && (f['creditAc'].invalid) }">
                                            <option value ="">Choose...</option>
                                            <option *ngFor="let branch of creditAcList" value={{branch.dataId}}>
                                                {{branch.dataName}}
                                            </option>
                                        </select>
                                        </div>
                                    </div> 
                                  
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>           
                <div class="row text-right">
                    <div class="col-lg-12">
                        <div class="tex">
                            <button class="btn btn-primary w-md" 
                            *ngIf="((editMode && editStatus) || (!editMode && createStatus)) && !formSubmitted"
                            (click)="submitDriversalarypaymentForm()" >Save</button> &nbsp;  
                            <button class="btn btn-danger w-md m-2" *ngIf="editMode && deleteStatus"
                            (click)="deleteDriversalarypaymentForm()">Delete</button> &nbsp;
                            <button class="btn btn-secondary w-md" (click)="exit()">Exit</button>
                        </div>
                    </div>
                </div>
            </form>
            <!-- end row -->
        </div>
        <!-- container-fluid -->
    </div>
    <!-- End Page-content -->

</div>

