<div class="main-content">
    <div class="page-content">
        <div class="container-fluid">
            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                        <h4 class="mb-sm-0 font-size-18">Broker Advances</h4>
                    </div>
                </div>
            </div>
            <!-- end page title -->
            <form (keydown.enter)="$event.preventDefault()"[formGroup]="formDriverMaster">
                <div class="ng-untouched ng-pristine ng-valid">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-lg-3">
                                        <div class="mb-3">
                                            <label>Branch</label><span style="color: red">*</span>
                                            <select class="form-control form-select ng-pristine ng-touched"
                                             formControlName="branchCode"    (change)="onBranchChange()"
                                                [ngClass]="{ 'is-invalid': formSubmitted && (f['branchCode'].invalid) }">
                                                <option *ngFor="let branch of branchList"
                                                    value={{branch.dataId}}>
                                                    {{branch.dataName}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="mb-3">
                                            <label>Payment No</label><span style="color: red">*</span>
                                            <input uppercaseonly type="text" class="form-control"
                                                formControlName="pmtNo"  
                                                [ngClass]="{ 'is-invalid': formSubmitted && (f['pmtNo'].invalid) }">
                                        </div>
                                    </div>
                                    <div class="col-lg-2">
                                        <div class="mb-3">
                                            <label>Payment Date</label><span style="color: red">*</span>
                                            <input type="date" class="form-control" formControlName="pmtDate"
                                                min="{{minDate}}" max="{{maxDate}}"                                               
                                                [ngClass]="{ 'is-invalid': formSubmitted && (f['pmtDate'].invalid) }">
                                        </div>
                                    </div>
                                    <div class="col-lg-3"> 
                                        <div class="mb-3">                                    
                                            <label for="formrow-inputCity">Broker</label>  
                                            <div class="ng-autocomplete">
                                                <ng-autocomplete [data]="brokerList" formControlName="brokerId"
                                                    [searchKeyword]="keywordLocation"                                                  
                                                    (inputChanged)='onChangeSearch($event)'
                                                    (inputFocused)='onFocused($event)' 
                                                    [itemTemplate]="itemTemplate"
                                                    [notFoundTemplate]="notFoundTemplate" 
                                                    [customFilter]="startWithFilter"
                                                    [ngClass]="{ 'is-invalid': formSubmitted && (f['brokerId'].invalid) }">
                                                </ng-autocomplete>
                                                <ng-template #itemTemplate let-item>
                                                    <a [innerHTML]="item.dataName"></a>
                                                </ng-template>
                                                <ng-template #notFoundTemplate let-notFound>
                                                    <div [innerHTML]="notFound"></div>
                                                </ng-template>
                                            </div>
                                        </div>
                                     
                                        </div>
                                    </div>
                                    <div class="row">
                                       <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label>Advance Amt</label><span style="color: red">*</span>
                                                <input numbersonly type="text" class="form-control"
                                                    formControlName="advanceAmt"  decimalonly
                                                    [ngClass]="{ 'is-invalid': formSubmitted && (f['advanceAmt'].invalid) }">
                                            </div>
                                        </div>
                                 
                                        <div class="col-lg-6">
                                            <div class="mb-3">
                                                <label>Remarks</label>
                                                <input type="text" class="form-control"
                                                    formControlName="remarks" uppercaseonly
                                                    [ngClass]="{ 'is-invalid': formSubmitted && (f['remarks'].invalid) }">
                                            </div>
                                        </div>
                                         </div>
                                           <div class="row">
                                        
                                        <div class="col-lg-3">
                                                <div class="mb-3">
                                                    <label for="basicpill-phoneno-input">Payment Type</label>
                                                    <span style="color: red">*</span>
                                                    <select id="formrow-inputState" class="form-control form-select ng-pristine ng-touched"
                                                        formControlName="pmtType" (change)="changePmtType($event)"
                                                        [ngClass]="{ 'is-invalid': formSubmitted && (f['pmtType'].invalid) }"  
                                                        >
                                                        <option value="M">Cash</option>      
                                                        <option value="B">Bank</option> 
                                                        
                                                        
                                                    </select>
                                                </div>
                                            </div>   
                                             <div class="col-lg-4">
                                                <div class="mb-3">
                                                    <label for="basicpill-phoneno-input">Credit Ac </label> 
                                                    <span style="color: red">*</span>         
                                                    <select class="form-control form-select ng-pristine ng-touched"
                                                    formControlName="creditAc"
                                                    [ngClass]="{ 'is-invalid': formSubmitted && (f['creditAc'].invalid) }">
                                                    <option value ="">Choose...</option>
                                                    <option *ngFor="let branch of creditAcList" value={{branch.dataId}}>
                                                        {{branch.dataName}}
                                                    </option>
                                                </select>
                                                </div>
                                            </div>  
                                             <div class="col-lg-3">
                                                <div class="form-check">
                                                
                                                    <label for="neft" class="form-check-label" style="color: green;"> Neft
                                                    </label>
                                                    <select id="formrow-inputState" 
                              class="form-control form-select ng-pristine ng-touched"
                                  formControlName="neftYN" (change)="onNeftChk($event)"
                                  [ngClass]="{ 'is-invalid': formSubmitted && (f['neftYN'].invalid) }">
                                  <!-- <option selected="">Choose...</option> -->
                                  <option value="Y"> Yes</option>
                                  <option value="N"> No</option>
                               
                            </select>
                                                </div>
                                            </div>   
                                              <div class="col-lg-3">
                                                <div class="mb-3">
                                                    <label for="basicpill-phoneno-input">Cheque No</label>
                                                    <input type="text" class="form-control" formControlName="chequeNo"                                                         
                                                        [ngClass]="{ 'is-invalid': formSubmitted && (f['chequeNo'].invalid)}">
                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <div class="mb-3">
                                                    <label for="basicpill-email-input">Cheque Date </label>
                                                    <input bsdatepicker="" type="date" autoclose="false"
                                                          formControlName="chequeDt" class="form-control"
                                                        [ngClass]="{ 'is-invalid': formSubmitted && (f['chequeDt'].invalid)}"  max="{{maxDate}}">
                                                </div>
                                            </div>   
                                             <div class="col-lg-3">
                                <div class="mb-3">
                                    <label style="color: red"> 
                                        <h6>Fin Doc Series: {{ this.seriesDoc}} </h6> 
                                    </label>                                                 
                                </div>
                            </div>                        
                                      
                                    </div>
                                    <div class="row">
                                       <div class="col-lg-6">
                                            <div class="mb-3">
                                                <label> Modify Remarks</label>
                                                <input type="text" class="form-control"
                                                    formControlName="modifyRemarks" uppercaseonly
                                                    [ngClass]="{ 'is-invalid': formSubmitted && (f['modifyRemarks'].invalid) }">
                                            </div>
                                        </div>
                                   </div>
                                 
                               
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
        
                <div class="ng-untouched ng-pristine ng-valid">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-body">
                                    <!-- Attachment Details -->
                                    <h4 class="card-title mb-4">Attachment Details</h4>
                                    <section>
                                        <div>
                                            <div class="row">
                                                <div class="col-lg-4">
                                                    <div class="mt-3">
                                                        <label for="formDLFile" class="form-label">Attachment
                                                            </label>
                                                        <input #attachmentInput class="form-control" type="file"
                                                            id="formDLFile"  >
                                                        <a *ngIf="selectedBrokerAdvanceDetails.attachment1" target="_blank"
                                                            href={{uploadedDrLic}}>Download</a>
                                                    </div>
                                                </div>
                                            
                                               
                                            </div>
                                            
                                        </div>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>      
                <div class="row text-right">
                    <div class="col-lg-12">
                        <div class="tex">
                            <button class="btn btn-primary w-md"
                            *ngIf="((editMode && editStatus) || (!editMode && createStatus))"
                                (click)="submitBrokerAdvanceMasterForm()">Save</button>&nbsp;
                            <button class="btn btn-danger w-md m-2" *ngIf="editMode && deleteStatus"
                                (click)="deleteDriverMasterForm()">Delete</button>&nbsp;
                            <button class="btn btn-secondary w-md" (click)="exit()">Exit</button>
                        </div>
                    </div>
                    <!-- end col -->
                </div>
                <!-- end row -->
            </form>
            <!-- end row -->
            <!-- end row -->
        </div>
        <!-- container-fluid -->
    </div>
    <!-- End Page-content -->
</div>
