<!-- ========== Left Sidebar Start ========== -->
<div class="vertical-menu">
    <div data-simplebar class="h-100">
        <!--- Sidemenu -->
        <div id="sidebar-menu" class="mm-active">
            <!-- Left Menu Start -->
            <ul class="metismenu list-unstyled" id="side-menu">
                <li *ngFor="let menu of mainMenuList">
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="bx bx-cog"></i>
                        <span key="t-ui-elements">{{menu.moduleName}}</span>
                    </a>
                    <ul *ngIf="menu.menuTypeList" class="sub-menu" aria-expanded="false">
                        <li *ngFor="let subMenu of menu.menuTypeList; let index = index">
                            <a href="javascript: void(0);" class="has-arrow">{{subMenu.menuTypeName}}</a>
                            <ul class="sub-menu" aria-expanded="true">
                                <li *ngFor="let menu of subMenu.menuList;">
                                    <a href="#{{menu.menuCode}}">{{menu.menuName}}</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- Sidebar -->
    </div>
</div>
<!-- Left Sidebar End -->