<div class="main-content">
    <div class="page-content">
        <div class="container-fluid">
            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                        <h4 class="mb-sm-0 font-size-18">Lorry Hire Extra Payment Approval</h4>
                    </div>
                </div>
            </div>
            <!-- end page title -->
            <div class="row top-controls">
                <div class="col-sm-8 col-md-8">
                    <form (keydown.enter)="$event.preventDefault()"[formGroup]="formFilter">
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="mb-3">
                                    <label for="formrow-inputZip">From Date</label> 
                                    <input bsdatepicker="" type="date" autoclose="false" 
                                        placeholder="dd-mm-yyyy" min="{{minDate}}" max="{{maxDate}}"
                                        formControlName="fromDate" class="form-control">
                                </div>
                            </div>       
                            <div class="col-lg-3">
                                <div class="mb-3">
                                    <label for="formrow-inputZip">To Date</label> 
                                    <input bsdatepicker="" type="date" autoclose="false" 
                                        placeholder="dd-mm-yyyy" min="{{minDate}}" max="{{maxDate}}"
                                        formControlName="toDate" class="form-control">
                                </div>
                            </div>                           
                            <div class="col-lg-2">
                                <div class="mt-3">
                                    <button class="btn btn-primary" type="submit" 
                                    (click)="search()"><span>Search</span></button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>                
            </div>
            <div id="datatable_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                <div id="datatable_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                    <table datatable [dtOptions]="dtOptions" class="table table-bordered dt-responsive nowrap w-100">
                        <thead>
                            <tr>                  
                                <th>reqBr</th>                             
                                <th>reqDate</th>
                                <th>challanBr</th>
                                <th>challanNo</th>
                                <th>extraHamali</th>
                                <th>appRejDate</th>
                                <th>extraDeten</th>
                                <th>extraOthers</th>
                                <th>remarks</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody *ngIf="allLorryhirereq.lorryHireReqList?.length != 0">
                            <tr *ngFor="let req of allLorryhirereq.lorryHireReqList">
                                <td>{{ req.reqBr}}</td>
                                <td>{{ req.reqDate}}</td>
                                <td>{{ req.challanBr}}</td>
                                <td>{{ req.challanNo}}</td> 
                                <td>{{ req.finalApprDt}}</td> 
                                <td>{{ req.extraHamaliApp}}</td> 
                                <td>{{ req.extraDetenApp}}</td> 
                                <td>{{ req.extraOthersApp}}</td>  
                                <td>{{ req.remarks}}</td>                       
                                <td>
                                    <button type="button" class="btn btn-edit" 
                                    (click)="getLorryhireReqDetails(req)"></button> 
                                </td> 
                            </tr>
                        </tbody>
                        <tbody *ngIf="allLorryhirereq.lorryHireReqList?.length == 0">
                            <tr>
                                <td colspan="3" class="no-data-available">No data!</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>            
        </div>
        <!-- container-fluid -->
    </div>
    <!-- End Page-content -->
</div>



