
<div class="main-content">
    <div class="page-content">
        <div class="container-fluid">
            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                        <h4 class="mb-sm-0 font-size-18">VehicleType Group Master</h4>
                    </div>
                </div>
            </div>
            <!-- end page title -->
            <div class="row top-controls">
                <div class="col-sm-12 col-md-12 text-right">
                    <button class="btn btn-primary buttons-html5" type="button"
                    (click)="addVehicleTypeGroupmaster()"><span>New</span></button>
                </div>
            </div>
            <div id="datatable_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                <table datatable [dtOptions]="dtOptions" class="table table-bordered dt-responsive nowrap w-100">
                    <thead>
                        <tr>
                            <th>Vehicle Type Group Name</th>
                      
                      
                         
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="allVehicleTypeGroupMaster.vehicleTypeGroupMasterList?.length != 0">
                        <tr *ngFor="let brandmaster of allVehicleTypeGroupMaster.vehicleTypeGroupMasterList">
                            <td>{{ brandmaster.vehicleTypeGroupName }}</td>
                    
                         
                         
                            <td>
                                <a (click)="getVehicleTypeGroupMasterDetails(brandmaster)" class="actionicon"><i
                                    class="bx bx-pencil"></i></a>
                           
                            </td>
                        </tr>
                    </tbody>
                    <tbody *ngIf="allVehicleTypeGroupMaster.vehicleTypeGroupMasterList?.length == 0">
                        <tr>
                            <td colspan="3" class="no-data-available">No data!</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- container-fluid -->
    </div>
    <!-- End Page-content -->
</div>
