<div class="main-content">
    <div class="page-content">
        <div class="container-fluid">
            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                        <h4 class="mb-sm-0 font-size-18">Trip Payments</h4>
                    </div>
                </div>
            </div>
            <!-- end page title -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <div id="basic-example">
                                <section>
                                    <form (keydown.enter)="$event.preventDefault()"[formGroup]="formTripPayment">
                                        <div class="row">
                                            <div class="col-lg-3">
                                                <div class="mb-3">
                                                    <label for="basicpill-firstname-input">Payment Branch</label>
                                                    <span style="color: red">*</span>
                                                    <select class="form-control form-select ng-pristine ng-touched"
                                                     formControlName="pmtBranch"
                                                        [ngClass]="{ 'is-invalid': formSubmitted && (f['pmtBranch'].invalid) }">
                                                        <option *ngFor="let branch of branchList"
                                                            value={{branch.dataId}}>
                                                            {{branch.dataName}}
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-lg-2">
                                                <div class="mb-3">
                                                    <label for="basicpill-lastname-input">Payment Date</label>
                                                    <span style="color: red">*</span>
                                                    <input type="date" autoclose="false"  max="{{maxDate}}"
                                                          formControlName="pmtDate"
                                                        [ngClass]="{ 'is-invalid': formSubmitted && (f['pmtDate'].invalid) }" 
                                                        class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-lg-2">
                                                <div class="mb-3">
                                                    <label for="basicpill-firstname-input">Vehicle</label>
                                                    <span style="color: red">*</span>
                                                    <ng-autocomplete [data]="vehicleList"
                                                        [searchKeyword]="keywordLocation"  
                                                        formControlName="vehicleMasterID"  
                                                        (inputChanged)='onChangeSearch($event)'
                                                        (inputFocused)='onFocused($event)' 
                                                        (selected)="selectEvent($event)"
                                                        [itemTemplate]="itemTemplate"
                                                        [notFoundTemplate]="notFoundTemplate"
                                                        [customFilter]="endWithFilter"
                                                        [ngClass]="{ 'is-invalid': formSubmitted && (f['vehicleMasterID'].invalid) }">
                                                    </ng-autocomplete>

                                                    <ng-template #itemTemplate let-item>
                                                        <a [innerHTML]="item.dataName"></a>
                                                    </ng-template>

                                                    <ng-template #notFoundTemplate let-notFound>
                                                        <div [innerHTML]="notFound"></div>
                                                    </ng-template>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row" *ngIf="showLoad">
                                            <div class="col-lg-3">
                                                <div class="mb-3">
                                                    <label for="basicpill-phoneno-input">From Place</label>
                                                    <input class="form-control" formControlName="fromPlace">
                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <div class="mb-3">
                                                    <label for="basicpill-phoneno-input">To Place</label>
                                                    <input class="form-control" formControlName="toPlace">
                                                </div>
                                            </div>
                                            <div class="col-lg-2">
                                                <div class="mb-3">
                                                    <label for="basicpill-phoneno-input">Load Date</label>
                                                    <input class="form-control" formControlName="loadMemoDt">
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="mb-3">
                                                    <label for="basicpill-phoneno-input">Load For</label>
                                                    <input class="form-control" formControlName="loadFor">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="mb-3">
                                                    <label for="basicpill-phoneno-input">Paid To Desc</label>
                                                    <input uppercaseonly  class="form-control" formControlName="paidToDesc">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-2">
                                                <div class="mb-3">
                                                    <label for="basicpill-phoneno-input">Trans Type</label>
                                                    <span style="color: red">*</span>
                                                    <select id="formrow-inputState" class="form-control form-select ng-pristine ng-touched"
                                                        formControlName="transType"
                                                        [ngClass]="{ 'is-invalid': formSubmitted && (f['transType'].invalid) }"
                                                        (change)="changeTransType($event)">
                                                        <option value="DA"> Driver Adv</option>
                                                        <option *ngIf="this.dslStmt=='E'" value="DL"> Diesel </option>
                                                        <option value="AB"> Adblue </option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-lg-2">
                                                <div class="mb-3">
                                                    <label for="basicpill-phoneno-input">Qty Ltrs</label>
                                                    <input type="text" class="form-control" decimalonly formControlName="qtyLtrs" 
                                                        [ngClass]="{ 'is-invalid': formSubmitted && (f['qtyLtrs'].invalid) } "
                                                          (change)="calculateTotalAmount()">
                                                </div>
                                            </div>
                                            <div class="col-lg-2">
                                                <div class="mb-3">
                                                    <label for="basicpill-phoneno-input">Rate Per Ltr</label>
                                                    <input type="text" class="form-control" decimalonly formControlName="ratePerLtr"
                                                        [ngClass]="{ 'is-invalid': formSubmitted && (f['ratePerLtr'].invalid) }"
                                                          (change)="calculateTotalAmount()">
                                                </div>
                                            </div>
                                            <div class="col-lg-2">
                                                <div class="mb-3">
                                                    <label for="basicpill-email-input">Amount</label>
                                                    <span style="color: red">*</span>
                                                    <input type="text" class="form-control" decimalonly
                                                        formControlName="amountPaid"  
                                                        [ngClass]="{ 'is-invalid': formSubmitted && (f['amountPaid'].invalid) }" >
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-2">
                                                <div class="mb-3">
                                                    <label for="basicpill-phoneno-input">Payment Type</label>
                                                    <span style="color: red">*</span>
                                                    <select id="formrow-inputState" class="form-control form-select ng-pristine ng-touched"
                                                        formControlName="pmtType"
                                                        [ngClass]="{ 'is-invalid': formSubmitted && (f['pmtType'].invalid) }"  
                                                         (change)="changePmtType($event)">
                                                        <option value="M">Cash</option>      
                                                        <option value="B">Bank</option> 
                                                        <option value="H">Happay</option>
                                                        <option value="D">Vendor</option>
                                                        <option value="A">Adjust</option>   
                                                        <option value="P">BPCL</option>     
                                                        
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="mb-3">
                                                    <label for="basicpill-phoneno-input">Credit Ac </label> 
                                                    <span style="color: red">*</span>         
                                                    <select class="form-control form-select ng-pristine ng-touched"
                                                    formControlName="creditAc"
                                                    [ngClass]="{ 'is-invalid': formSubmitted && (f['creditAc'].invalid) }">
                                                    <option value ="">Choose...</option>
                                                    <option *ngFor="let branch of creditAcList" value={{branch.dataId}}>
                                                        {{branch.dataName}}
                                                    </option>
                                                </select>
                                                </div>
                                            </div>                                            
                                            <div class="col-lg-4">
                                                <div class="mb-3">
                                                    <label style="color: red"> 
                                                        <h6>Fin Doc Series: {{ this.seriesDoc}} </h6> 
                                                    </label>                                                 
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-1">
                                                <div class="form-check">
                                                    <input type="checkbox"  formControlName="neftPmt" id="neft"
                                                        name="neft" class="form-check-input" value="Y" 
                                                        (change)="onNeftChk($event)">
                                                    <label for="neft" class="form-check-label" style="color: green;"> Neft
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-lg-2">
                                                <div class="mb-3">
                                                    <label for="basicpill-phoneno-input">Cheque No</label>
                                                    <input type="text" class="form-control" formControlName="chequeNo"                                                         
                                                        [ngClass]="{ 'is-invalid': formSubmitted && (f['chequeNo'].invalid)}">
                                                </div>
                                            </div>
                                            <div class="col-lg-2">
                                                <div class="mb-3">
                                                    <label for="basicpill-email-input">Cheque Date </label>
                                                    <input bsdatepicker="" type="date" autoclose="false"
                                                          formControlName="chequeDate" class="form-control"
                                                        [ngClass]="{ 'is-invalid': formSubmitted && (f['chequeDate'].invalid)}"  max="{{maxDate}}">
                                                </div>
                                            </div>
                                            <div class="col-lg-5">
                                                <div class="mb-3">
                                                    <label for="basicpill-phoneno-input">Remark</label>
                                                    <input uppercaseonly  class="form-control" formControlName="remarks">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">                    
                                            <div class="col-lg-5">
                                                <div class="mb-3">
                                                    <label style="color: blue"> 
                                                        <h6><b>Created By:</b>  {{ this.createdBy }} </h6> 
                                                    </label>                                                 
                                                </div>
                                            </div>                   
                                            <div class="col-lg-5">
                                                <div class="mb-3">
                                                    <label style="color: blue"> 
                                                        <h6><b>Modified By:</b> {{ this.modifiedBy}} </h6> 
                                                    </label>                                                 
                                                </div>
                                            </div>
                                        </div> 
                                        <div class="row text-right">
                                            <div class="col-lg-12">
                                                <div class="tex">
                                                    <button class="btn btn-primary w-md" 
                                                    *ngIf="((editMode && editStatus) || (!editMode && createStatus)) && !formSubmitted"
                                                        (click)="submitTripPaymentsForm()">Save</button>
                                                    <button class="btn btn-danger w-md m-2" *ngIf="editMode && deleteStatus"
                                                        (click)="tripPaymentsDelete()">Delete</button>
                                                    <button class="btn btn-secondary w-md m-2" (click)="exit()">Exit</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </section>
                                <!-- Attachment Details -->
                            </div>
                        </div>
                        <!-- end card body -->
                    </div>
                    <!-- end card -->
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- container-fluid -->
    </div>
    <!-- End Page-content -->
</div>