<div class="main-content">
    <div class="page-content">
        <div class="container-fluid">
            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                        <h4 class="mb-sm-0 font-size-18">Trip Payments</h4>
                    </div>
                </div>
            </div>
            <!-- end page title -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <div id="basic-example">
                                <section>
                                    <form [formGroup]="formTripPayment">
                                        <div class="row">
                                            <div class="col-lg-3">
                                                <div class="mb-3">
                                                    <label for="basicpill-firstname-input">Payment Branch</label>
                                                    <select class="form-control form-select ng-pristine ng-touched"
                                                     formControlName="pmtBranch"
                                                        [ngClass]="{ 'is-invalid': userSubmitted && (f['pmtBranch'].invalid) }">
                                                        <option *ngFor="let branch of branchList"
                                                            value={{branch.dataId}}>
                                                            {{branch.dataName}}
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <div class="mb-3">
                                                    <label for="basicpill-lastname-input">Payment Date</label>
                                                    <input type="date" autoclose="false"  max="{{maxDate}}"
                                                        placeholder="yyyy-mm-dd" formControlName="pmtDate"
                                                        [ngClass]="{ 'is-invalid': userSubmitted && (f['pmtDate'].invalid) }" 
                                                        class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <div class="mb-3">
                                                    <label for="basicpill-firstname-input">Vehicle</label>
                                                    <ng-autocomplete [data]="vehicleList"
                                                        [searchKeyword]="keywordLocation" placeholder=""
                                                        formControlName="vehicleMasterID" [initialValue]=""
                                                        (inputChanged)='onChangeSearch($event)'
                                                        (inputFocused)='onFocused($event)' [itemTemplate]="itemTemplate"
                                                        [notFoundTemplate]="notFoundTemplate"
                                                        [customFilter]="startWithFilter"
                                                        [ngClass]="{ 'is-invalid': userSubmitted && (f['vehicleMasterID'].invalid) }">
                                                    </ng-autocomplete>

                                                    <ng-template #itemTemplate let-item>
                                                        <a [innerHTML]="item.dataName"></a>
                                                    </ng-template>

                                                    <ng-template #notFoundTemplate let-notFound>
                                                        <div [innerHTML]="notFound"></div>
                                                    </ng-template>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="ng-untouched ng-pristine ng-valid">
                                            <div class="row">
                                                <div class="col-lg-3">
                                                    <div class="mb-3">
                                                        <label for="formrow-inputState">From</label>
                                                        <select class="form-control form-select ng-pristine ng-touched"
                                                         formControlName="from"
                                                            [ngClass]="{ 'is-invalid': userSubmitted && (f['from'].invalid) }">
                                                            <option *ngFor="let branch of locationList"
                                                                value={{branch.dataId}}>
                                                                {{branch.dataName}}
                                                            </option>
                                                        </select>                                                          
                                                    </div>
                                                </div>
                                                <div class="col-lg-3">
                                                    <div class="mb-3"><label for="formrow-inputZip">To</label>
                                                        <select class="form-control form-select ng-pristine ng-touched"
                                                         formControlName="to"
                                                            [ngClass]="{ 'is-invalid': userSubmitted && (f['to'].invalid) }">
                                                            <option *ngFor="let branch of locationList"
                                                                value={{branch.dataId}}>
                                                                {{branch.dataName}}
                                                            </option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3">
                                                    <div class="mb-3">
                                                        <label for="formrow-inputZip">Load Or Empty</label>
                                                        <select id="formrow-inputState" class="form-control form-select ng-pristine ng-touched"
                                                            formControlName="loadorempty">
                                                            <option selected="">Choose...</option>
                                                            <option value="L">Load</option>
                                                            <option value="E">Empty</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-3">
                                                <div class="mb-3">
                                                    <label for="basicpill-phoneno-input">Trans Type</label>
                                                    <select id="formrow-inputState" class="form-control form-select ng-pristine ng-touched"
                                                        formControlName="transType"
                                                        [ngClass]="{ 'is-invalid': userSubmitted && (f['transType'].invalid) }"
                                                        (change)="changeTransType($event)">
                                                        <option value="DA"> Driver Adv</option>
                                                        <option value="DL"> Diesel </option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="mb-3">
                                                    <label for="basicpill-phoneno-input">Remark</label>
                                                    <input uppercaseonly  class="form-control" formControlName="remarks"
                                                        id="basicpill-email-input" placeholder="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-3">
                                                <div class="mb-3">
                                                    <label for="basicpill-phoneno-input">Qty Ltrs</label>
                                                    <input type="text" class="form-control" decimalonly formControlName="qtyLtrs" 
                                                        [ngClass]="{ 'is-invalid': userSubmitted && (f['qtyLtrs'].invalid) } "
                                                        id="basicpill-email-input" (change)="calculateTotalAmount()">
                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <div class="mb-3">
                                                    <label for="basicpill-phoneno-input">Rate Per Ltr</label>
                                                    <input type="text" class="form-control" decimalonly formControlName="ratePerLtr"
                                                        [ngClass]="{ 'is-invalid': userSubmitted && (f['ratePerLtr'].invalid) }"
                                                        id="basicpill-email-input" (change)="calculateTotalAmount()">
                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <div class="mb-3">
                                                    <label for="basicpill-email-input">Amount</label>
                                                    <input type="text" class="form-control" decimalonly
                                                        formControlName="amountPaid" id="basicpill-email-input"
                                                        [ngClass]="{ 'is-invalid': userSubmitted && (f['amountPaid'].invalid) }" >
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-3">
                                                <div class="mb-3">
                                                    <label for="basicpill-phoneno-input">Payment Type</label>
                                                    <select id="formrow-inputState" class="form-control form-select ng-pristine ng-touched"
                                                        formControlName="pmtType"
                                                        [ngClass]="{ 'is-invalid': userSubmitted && (f['pmtType'].invalid) }"  
                                                         (change)="changePmtType($event)">
                                                        <option value="C"> Cash</option>
                                                        <option value="B"> Bank</option>
                                                        <option value="H"> Happay</option>
                                                        <option value="P"> Petro</option>
                                                        <option value="V"> Vendor</option>
                                                        <option value="A"> Adjust </option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="mb-3">
                                                    <label for="basicpill-phoneno-input">Credit Ac </label>          
                                                    <select class="form-control form-select ng-pristine ng-touched"
                                                    formControlName="creditAc"
                                                    [ngClass]="{ 'is-invalid': userSubmitted && (f['creditAc'].invalid) }">
                                                    <option value ="">Choose...</option>
                                                    <option *ngFor="let branch of creditacList" value={{branch.dataId}}>
                                                        {{branch.dataName}}
                                                    </option>
                                                </select>
                                                </div>
                                            </div>                                            
                                            <div class="col-lg-2">
                                                <div class="mb-3">
                                                    <label style="color: red"> 
                                                        <h6>Fin Doc Series: {{ this.seriesDoc}} </h6> 
                                                    </label>                                                 
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-3">
                                                <div class="form-check">
                                                    <input type="checkbox" formControlName="neftPmt" id="neft"
                                                        name="neft" class="form-check-input" value="Y" 
                                                        (change)="onNeftChk($event)">
                                                    <label for="neft" class="form-check-label" style="color: green;"> Neft
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <div class="mb-3">
                                                    <label for="basicpill-phoneno-input">Cheque No</label>
                                                    <input type="text" class="form-control" formControlName="chequeNo"
                                                        id="basicpill-phoneno-input"
                                                        [ngClass]="{ 'is-invalid': userSubmitted && (f['chequeNo'].invalid)}"
                                                        placeholder="">
                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <div class="mb-3">
                                                    <label for="basicpill-email-input">Cheque Date </label>
                                                    <input bsdatepicker="" type="date" autoclose="false"
                                                        placeholder="yyyy-mm-dd" formControlName="chequeDate"
                                                        class="form-control"
                                                        [ngClass]="{ 'is-invalid': userSubmitted && (f['chequeDate'].invalid)}"  max="{{maxDate}}">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row text-right">
                                            <div class="col-lg-12">
                                                <div class="tex">
                                                    <button class="btn btn-primary w-md" *ngIf="(editMode && editStatus) || (!editMode && createStatus)"
                                                        (click)="submitTripPaymentsForm()">Save</button>
                                                    <button class="btn btn-danger w-md m-2" *ngIf="editMode && deleteStatus"
                                                        (click)="tripPaymentsDelete()">Delete</button>
                                                    <button class="btn btn-secondary w-md m-2" (click)="exit()">Exit</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </section>
                                <!-- Attachment Details -->
                            </div>
                        </div>
                        <!-- end card body -->
                    </div>
                    <!-- end card -->
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- container-fluid -->
    </div>
    <!-- End Page-content -->
</div>