<div class="main-content">
    <div class="page-content">
        <div class="container-fluid">
            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                        <h4 class="mb-sm-0 font-size-18">Lorry Hire Payable</h4>
                    </div>
                </div>
            </div>
            <!-- end page title -->
            <div class="row top-controls">
                <div class="col-sm-8 col-md-8">
                    <form (keydown.enter)="$event.preventDefault()"[formGroup]="formFilter">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="mb-3">
                                    <label for="formrow-inputState">From Date </label><span style="color: red">*</span>    
                                    <input type="date" class="form-control" 
                                    formControlName="fromDate" min="{{minDate}}" max="{{maxDate}}"
                                    [ngClass]="{ 'is-invalid': userSubmitted && (f['fromDate'].invalid) }">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="mb-3">
                                    <label for="formrow-inputState">To Date </label><span style="color: red">*</span>    
                                    <input type="date" class="form-control" 
                                    formControlName="toDate" min="{{minDate}}" max="{{maxDate}}"
                                    [ngClass]="{ 'is-invalid': userSubmitted && (f['toDate'].invalid) }">
                                </div>
                            </div>

                            <div class="col-lg-2">
                                <div class="mb-2">
                                    <label for="basicpill-phoneno-input">Report Type</label>
                                    <select id="formrow-inputState" 
                                        formControlName="rptType" 
                                        class="form-control form-select ng-pristine ng-touched">
                                        <option value="C"> Consolidated</option>
                                        <option value="A"> Advance </option>
                                        <option value="F"> Final </option>
                                    </select>
                                </div>
                            </div>


                            <div class="col-lg-1">
                                <div class="mt-3">
                                    <button class="btn btn-primary"   
                                    (click)="search()"><span>Search</span></button>
                                </div>
                            </div>

                            <!-- <div class="col-md-3">
                                <div class="mb-3">
                                    <label for="formrow-inputState">Branch </label>
                                    <select class="form-control" formControlName="branch">
                                        
                                            <option value="">All</option>
                                    <option *ngFor="let branch of branchList" value={{branch.dataId}}>
                                        {{branch.dataName}}
                                    </option>
                                </select>
                                </div>
                            </div>  -->
                            <!-- <div class="col-md-3">
                                <div class="mb-3">                                    
                                    <label for="formrow-inputCity">Party </label>  
                                    <div class="ng-autocomplete">
                                        <ng-autocomplete [data]="partyList"
                                            [searchKeyword]="keywordLocation"  
                                            formControlName="party" [initialValue]=""
                                            (selected)='selectEvent($event)'
                                            (inputChanged)='onChangeSearch($event)'
                                            (inputFocused)='onFocused($event)' 
                                            [itemTemplate]="itemTemplate"
                                            [notFoundTemplate]="notFoundTemplate"
                                            [customFilter]="startWithFilter">
                                        </ng-autocomplete>

                                        <ng-template #itemTemplate let-item>
                                            <a [innerHTML]="item.dataName"></a>
                                        </ng-template>

                                        <ng-template #notFoundTemplate let-notFound>
                                            <div [innerHTML]="notFound"></div>
                                        </ng-template>
                                    </div>
                                </div>
                            </div>  -->
                        </div>
                        <div class="row">
                            <!-- <div class="col-md-3">
                                <div class="mb-3">                                    
                                    <label for="formrow-inputCity">Origin </label>  
                                    <div class="ng-autocomplete">
                                        <ng-autocomplete [data]="locationList"
                                            [searchKeyword]="keywordLocation"  
                                            formControlName="origin" [initialValue]=""
                                            (selected)='selectEvent($event)'
                                            (inputChanged)='onChangeSearch($event)'
                                            (inputFocused)='onFocused($event)' 
                                            [itemTemplate]="itemTemplate"
                                            [notFoundTemplate]="notFoundTemplate"
                                            [customFilter]="startWithFilter">
                                        </ng-autocomplete>

                                        <ng-template #itemTemplate let-item>
                                            <a [innerHTML]="item.dataName"></a>
                                        </ng-template>

                                        <ng-template #notFoundTemplate let-notFound>
                                            <div [innerHTML]="notFound"></div>
                                        </ng-template>
                                    </div>
                                </div>
                            </div> -->
                            <!-- <div class="col-md-3">
                                <div class="mb-3">                                    
                                    <label for="formrow-inputCity">Destination </label>  
                                    <div class="ng-autocomplete">
                                        <ng-autocomplete [data]="locationList"
                                            [searchKeyword]="keywordLocation"  
                                            formControlName="destination" [initialValue]=""
                                            (selected)='selectEvent($event)'
                                            (inputChanged)='onChangeSearch($event)'
                                            (inputFocused)='onFocused($event)' 
                                            [itemTemplate]="itemTemplate"
                                            [notFoundTemplate]="notFoundTemplate"
                                            [customFilter]="startWithFilter">
                                        </ng-autocomplete>

                                        <ng-template #itemTemplate let-item>
                                            <a [innerHTML]="item.dataName"></a>
                                        </ng-template>

                                        <ng-template #notFoundTemplate let-notFound>
                                            <div [innerHTML]="notFound"></div>
                                        </ng-template>
                                    </div>
                                </div>
                            </div> -->                         
                            
                        </div>
                    </form>
                </div>
                <div class="col-sm-4 col-md-4 text-right">
                    <div class="dt-buttons btn-group flex-wrap export-button">
                        <button class="btn btn-secondary buttons-excel buttons-html5" tabindex="0"
                            aria-controls="datatable-buttons" type="button" 
                            (click)="exportExcel()"><span>Excel</span></button>
                    </div>
                </div>
            </div>
            <div id="datatable_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">                
                <div class="overflow-x">
                    <table datatable [dtOptions]="dtOptions" class="table table-bordered dt-responsive w-100">
                        <thead>
                            <tr>
                                <th>chStnName</th>
                                <th>challanNo </th>   
                                <th>challanDateTime</th>
                                <th>chFromPlace </th>   
                                 <th>chToPlace</th>
                                <th>balPayAt </th>  
                                <th>brokerName </th>
                                <th>brokerMblNo</th>
                                <th>truckNo</th>
                                <th>hireAmt </th>   
                                <th>hirePaid</th>
                                <th>totDed</th>
                                <th>extHamali</th>
                                <th>extDeten</th>
                                <th>extOth</th>                                                                
                            </tr>
                        </thead>
                        <tbody *ngIf="allLhpayablestatusrptlist.lhPayableStatusRptList?.length != 0">
                            <tr *ngFor="let eta of allLhpayablestatusrptlist.lhPayableStatusRptList">
                                <td>{{ eta.chStnName }}</td>
                                <td>{{ eta.challanNo }}</td> 
                                <td>{{ eta.challanDateTime }}</td> 
                                <td>{{ eta.chFromPlace }}</td> 
                                <td>{{ eta.chToPlace }}</td> 
                                <td>{{ eta.balPayAt }}</td>
                                <td>{{ eta.brokerName }}</td>
                                <td>{{ eta.brokerMblNo }}</td>  
                                <td>{{ eta.truckNo }}</td> 
                                <td>{{ eta.hireAmt }}</td> 
                                <td>{{ eta.hirePaid }}</td>
                                <td>{{ eta.totDed }}</td>  
                                <td>{{ eta.extHamali }}</td>    
                                <td>{{ eta.extDeten }}</td>  
                                <td>{{ eta.extOth }}</td>                                                  
                            </tr>
                        </tbody>
                        <tbody *ngIf="allLhpayablestatusrptlist.lhPayableStatusRptList?.length == 0">
                            <tr>
                                <td colspan="3" class="no-data-available">No data!</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- container-fluid -->
    </div>
    <!-- End Page-content -->
</div>




