<div class="main-content">
    <div class="page-content">
        <div class="container-fluid">
            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                        <h4 class="mb-sm-0 font-size-18">Doc Renewal Entry </h4>

                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <!-- <li class="breadcrumb-item"><a href="/#/branchmasterlist">Doc Renewal Entry</a></li>
                                <li class="breadcrumb-item active">Doc Renewal Entry</li> -->
                            </ol>
                        </div>

                    </div>
                </div>
            </div>
            <!-- end page title -->
            <form (keydown.enter)="$event.preventDefault()"[formGroup]="formDocEntry">
                <div class="ng-untouched ng-pristine ng-valid">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-body">                                 
                                    <div class="row">
                                        <div class="col-lg-2">
                                            <div class="mb-2">
                                                <label for="formrow-inputZip">Trans Date</label><span style="color: red">*</span>    
                                                <input bsdatepicker="" type="date" autoclose="false" 
                                                min="{{minDate}}" max="{{maxDate}}"
                                                formControlName="transDate" class="form-control"
                                                [ngClass]="{ 'is-invalid': formSubmitted && (f['transDate'].invalid) }">
                                            </div>
                                        </div>                                      
                                          <div class="col-lg-2">
                                            <div class="mb-2">
                                                <label for="formrow-inputCity">Pmt Type</label><span style="color: red">*</span>    
                                                <select id="formrow-inputState" class="form-control" 
                                                formControlName="pmtType" (change)="changePmtType($event)"
                                                class="form-control form-select ng-pristine ng-touched"
                                                 [ngClass]="{ 'is-invalid': formSubmitted && (f['pmtType'].invalid) }"> 
                                                    <option value="M">Cash</option>      
                                                    <option value="B">Bank</option> 
                                                    <option value="H">Happay</option>
                                                    <!-- <option value="P">Petro</option> -->
                                                    <!-- <option value="F">Fastag</option> -->
                                                    <option value="D">Vendor</option>
                                                    <option value="A">Adjust</option>  
                                                    <option value="O">Old</option>                                           
                                                </select>                                                
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="mb-2">
                                                <label for="formrow-inputCity">Doc Renewal </label><span style="color: red">*</span>
                                                <select id="formrow-inputState" class="form-control" 
                                                class="form-control form-select ng-pristine ng-touched"
                                                formControlName="docRenewalID"
                                                [ngClass]="{ 'is-invalid': formSubmitted && (f['docRenewalID'].invalid) }"> 
                                                   <option *ngFor="let doc of docRenewalList" value={{doc.dataId}}>
                                                      {{doc.dataName}}
                                                   </option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">                                        
                                        <div class="col-lg-2">
                                            <div class="mb-2">
                                                <label for="formrow-inputCity">Vehicle No.</label><span style="color: red">*</span>                                                 
                                                <div class="ng-autocomplete">
                                                    <ng-autocomplete [data]="vehicleList"
                                                        [searchKeyword]="keywordLocation" placeholder=""
                                                        formControlName="vehicleMasterID" [initialValue]=""
                                                        (selected)='selectEvent($event)'
                                                        (inputChanged)='onChangeSearch($event)'
                                                        (inputFocused)='onFocused($event)' 
                                                        [itemTemplate]="itemTemplate"
                                                        [notFoundTemplate]="notFoundTemplate"
                                                        [customFilter]="startWithFilter"
                                                        [ngClass]="{ 'is-invalid': formSubmitted && (f['vehicleMasterID'].invalid) }" >
                                                    </ng-autocomplete>

                                                    <ng-template #itemTemplate let-item>
                                                        <a [innerHTML]="item.dataName"></a>
                                                    </ng-template>

                                                    <ng-template #notFoundTemplate let-notFound>
                                                        <div [innerHTML]="notFound"></div>
                                                    </ng-template>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="mb-2">
                                                <label for="formrow-inputZip">Valid From</label><span style="color: red">*</span>                                             
                                                <input type="date" autoclose="false" 
                                                placeholder="dd-mm-yyyy" 
                                                formControlName="validFromDt" class="form-control"
                                                [ngClass]="{ 'is-invalid': formSubmitted && (f['validFromDt'].invalid) }" >
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="mb-2">
                                                <label for="formrow-inputCity">Valid Upto</label><span style="color: red">*</span>                                                 
                                                <input type="date" autoclose="false" 
                                                placeholder="dd-mm-yyyy"
                                                formControlName="validToDt"  class="form-control"
                                                [ngClass]="{ 'is-invalid': formSubmitted && (f['validToDt'].invalid) }" >
                                                
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row"> 
                                        <div class="col-lg-2">
                                            <div class="mb-2">
                                                <label for="formrow-inputZip">Branch </label><span style="color: red">*</span>  
                                                <select class="form-control" formControlName="branchCode"
                                                    [ngClass]="{ 'is-invalid': formSubmitted && (f['branchCode'].invalid) }"> 
                                                    <option *ngFor="let br of branchList" value={{br.dataId}}>
                                                        {{br.dataName}}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>  
                                        <div class="col-lg-2">
                                            <div class="mb-2"> 
                                                <label for="formrow-inputZip">Document RefNo</label><span style="color: red">*</span>                                                 
                                                <input type="text" class="form-control"
                                                formControlName="documentRefNo" uppercaseonly
                                                [ngClass]="{ 'is-invalid': formSubmitted && (f['documentRefNo'].invalid) }"> 
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="mb-2"> 
                                                <label for="formrow-inputZip">Renewal Company</label>
                                                <input type="text" class="form-control" uppercaseonly
                                                formControlName="renewalCompany" maxlength="50"
                                                [ngClass]=>
                                            </div>
                                        </div>                                        
                                        <div class="col-lg-2">
                                            <div class="mb-3">
                                                <label style="color: red"> 
                                                    <h5>Fin Doc Series: {{ this.seriesDoc}} </h5> 
                                                </label>                                                 
                                            </div>
                                        </div>
                                    </div>  
                                    <div class="row">
                                        <div class="col-lg-2">
                                            <div class="mb-2">
                                                <label for="formrow-inputCity">Basic Amount</label>                                              
                                                <input type="text" class="form-control" decimalonly
                                                formControlName="basicAmt" (change)="onBasic1Change($event)" 
                                                maxlength="10"
                                                [ngClass]="{ 'is-invalid': formSubmitted && (f['basicAmt'].invalid) }"> 
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="mb-2">
                                                <label for="formrow-inputZip">HSN Code</label>
                                                <input type="text" class="form-control" uppercaseonly
                                                formControlName="hsnCode1" maxlength="15"
                                                [ngClass]=>
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="mb-2">
                                                <label for="formrow-inputZip">SGST Pct</label>                                               
                                                <input type="text" class="form-control" decimalonly
                                                formControlName="sgstPct" (change)="onSgst1Change($event)" 
                                                maxlength="5"
                                                [ngClass]=>
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="mb-2">
                                                <label for="formrow-inputCity">SGST Amount</label>                                               
                                                <input type="text" class="form-control" decimalonly
                                                formControlName="sgstAmt" maxlength="10"
                                                [ngClass]=>
                                            </div>
                                        </div>
                                    </div>  
                                    <div class="row">                                            
                                        <div class="col-lg-2">
                                            <div class="mb-2">
                                                <label for="formrow-inputCity">CGST Pct</label>                                               
                                                <input type="text" class="form-control" decimalonly
                                                formControlName="cgstPct" (change)="onCgst1Change($event)" 
                                                maxlength="5"
                                                [ngClass]=>
                                            </div>
                                        </div>                                    
                                        <div class="col-lg-2">
                                            <div class="mb-2">
                                                <label for="formrow-inputZip">CGST Amount</label>
                                                <input type="text" class="form-control" decimalonly
                                                formControlName="cgstAmt" maxlength="10"
                                                [ngClass]=>
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="mb-2">
                                                <label for="formrow-inputCity">IGST Pct</label>                                             
                                                <input type="text" class="form-control" decimalonly
                                                formControlName="igstPct" (change)="onIgst1Change($event)"
                                                 maxlength="5"
                                                [ngClass]=>
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="mb-2">
                                                <label for="formrow-inputCity">IGST Amount </label>                                              
                                                <input type="text" class="form-control" decimalonly
                                                formControlName="igstAmt" maxlength="10"
                                                [ngClass]=>
                                            </div>
                                        </div>
                                    </div>                                         
                                    <div class="row">
                                        <div class="col-lg-2">
                                            <div class="mb-2">
                                                <label for="formrow-inputCity">Basic Amount2</label>                                                  
                                                <input type="text" class="form-control"
                                                formControlName="basicAmt2" decimalonly 
                                                (change)="onBasic2Change($event)" maxlength="10"
                                                [ngClass]=>
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="mb-2">
                                                <label for="formrow-inputZip">HSN Code2</label>
                                                <input autoclose="false" uppercaseonly class="form-control"  
                                                formControlName="hsnCode2" maxlength="15"
                                                [ngClass]=>
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="mb-2">
                                                <label for="formrow-inputZip">SGST Pct2</label>
                                                <input autoclose="false" class="form-control" 
                                                formControlName="sgstPct2" decimalonly  
                                                (change)="onSgst2Change($event)" maxlength="5"
                                                [ngClass]=>
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="mb-2">
                                                <label for="formrow-inputZip">SGST Amount2</label>
                                                <input autoclose="false" class="form-control" 
                                                formControlName="sgstAmt2" decimalonly maxlength="10">
                                            </div>
                                        </div>                                     
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-2">
                                            <div class="mb-2">
                                                <label for="formrow-inputZip">CGST Pct2</label>
                                                <input autoclose="false" class="form-control" 
                                                formControlName="cgstPct2" decimalonly 
                                                (change)="onCgst2Change($event)" maxlength="5"
                                                [ngClass]=>
                                            </div>
                                        </div>  
                                        <div class="col-lg-2">
                                            <div class="mb-2">
                                                <label for="formrow-inputZip">CGST Amount2 </label>
                                                <input autoclose="false" class="form-control" 
                                                formControlName="cgstAmt2" decimalonly maxlength="10"
                                                [ngClass]=>
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="mb-2">
                                                <label for="formrow-inputZip">IGST Pct2 </label>
                                                <input autoclose="false" class="form-control" 
                                                formControlName="igstPct2" decimalonly 
                                                (change)="onIgst2Change($event)" maxlength="5"
                                                [ngClass]=>
                                            </div>
                                        </div>
                                      
                                        <div class="col-lg-2">
                                            <div class="mb-2">
                                                <label for="formrow-inputZip">IGST Amount2 </label>
                                                <input autoclose="false" class="form-control"  
                                                formControlName="igstAmt2" decimalonly maxlength="10"
                                                [ngClass]=>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-2">
                                            <div class="mb-2">
                                                <label for="formrow-inputZip">Sub Total</label>
                                                <input autoclose="false" class="form-control"  decimalonly
                                                formControlName="subTotal">
                                            </div>
                                        </div>                                      
                                        <div class="col-lg-2">
                                            <div class="mb-2">
                                                <label for="formrow-inputZip">Round Off</label>
                                                <input autoclose="false" class="form-control" negdecimalonly
                                                (change)="onRounding($event)" formControlName="roundOff">
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="mb-2">
                                                <label for="formrow-inputZip">Net Amount</label>
                                                <input autoclose="false" class="form-control" decimalonly
                                                formControlName="netAmount">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-2">
                                            <div class="mb-2">
                                                <label for="formrow-inputZip">Non Gst Amount</label>
                                                <input autoclose="false" class="form-control"  decimalonly
                                                (change)="onNonGstChange($event)" formControlName="nonGstAmount">
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="mb-2">
                                                <label for="formrow-inputZip">Non Gst Amount Desc</label>
                                                <input autoclose="false" class="form-control"  uppercaseonly
                                                formControlName="nonGstAmtDesc">
                                            </div>
                                        </div>                                    
                                        <div class="col-lg-4">
                                            <div class="mb-2">
                                                <label for="formrow-inputCity">Credit Account</label>
                                                <select class="form-control" formControlName="creditAc"
                                                class="form-control form-select ng-pristine ng-touched"
                                                [ngClass]="{ 'is-invalid': formSubmitted && (f['creditAc'].invalid) }"> 
                                                <option value="">Choose</option> 
                                                    <option *ngFor="let crd of creditacList" value={{crd.dataId}}>
                                                        {{crd.dataName}}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">    
                                        <div class="col-lg-2">
                                            <div class="mb-2"><br />
                                                <input type="checkbox" formControlName="neftPmt" id="neft"
                                                    [checked]="checkselected"
                                                  value="Y" (change)="onNeftChk($event)"  
                                                  name="neft" class="form-check-input" >
                                                <label for="neft" class="form-check-label"> Neft Pmt </label>
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="mb-2">
                                                <label for="formrow-inputZip">Cheque No</label>
                                                <input numbersonly autoclose="false" class="form-control" 
                                                formControlName="chequeNo" 
                                                [ngClass]="{ 'is-invalid': formSubmitted && (f['chequeNo'].invalid) }"> 
                                            </div>
                                        </div>                                   
                                        <div class="col-lg-2">
                                            <div class="mb-2">
                                                <label for="formrow-inputZip">Cheque Date  </label>
                                                <input bsdatepicker="" type="date" autoclose="false" 
                                                placeholder="dd-mm-yyyy" formControlName="chequeDt"
                                                class="form-control"
                                                [ngClass]="{ 'is-invalid': formSubmitted && (f['chequeDt'].invalid) }"> 
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">  
                                        <div class="col-lg-4">
                                            <div class="mb-2">
                                                <label for="formrow-inputZip">Attach1 </label>                          
                                                <input #attach1Input class="form-control" type="file" id="formAttach1File"
                                                 >
                                                <a *ngIf="selectedDocRenewalEntryDetails.attach1" target="_blank"
                                                            href={{attach1}}>Download</a>
                                            </div>
                                        </div> 
                                        <div class="col-lg-4">
                                            <div class="mb-2">
                                                <label for="formrow-inputZip">Attach2 </label>                            
                                                <input #attach2Input class="form-control" type="file" id="formAttach2File"
                                                 >
                                                <a *ngIf="selectedDocRenewalEntryDetails.attach2" target="_blank"
                                                            href={{attach2}}>Download</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row"> 
                                        <div class="col-lg-4">
                                            <div class="mb-2">
                                                <label for="formrow-inputZip">Remarks </label>
                                                <input uppercaseonly autoclose="false" class="form-control" 
                                                formControlName="remarks">
                                            </div>
                                        </div>
                                    </div>                                  
                                </div>
                            </div>
                        </div>
                    </div>
                </div>                           
                <div class="row text-right">
                    <div class="col-lg-12">
                    <div class="tex">
                        <button class="btn btn-primary w-md" 
                        *ngIf="((editMode && editStatus) || (!editMode && createStatus)) && !formSubmitted"
                            (click)="submitDocRenewalEntryForm()">Save</button>&nbsp;
                        <button class="btn btn-danger w-md m-2" *ngIf="editMode && deleteStatus"
                            (click)="deleteDocRenewalEntryForm()">Delete</button>&nbsp;
                        <button class="btn btn-secondary w-md" (click)="exit()">Exit</button>
                    </div>
                    </div>
                    <!-- end col -->
                </div> 
            </form>
            <!-- end row -->
            <!-- end row -->
        </div>
        <!-- container-fluid -->
    </div>
    <!-- End Page-content -->

</div>
