

<div class="main-content">
    <div class="page-content">
        <div class="container-fluid">
            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                        <h4 class="mb-sm-0 font-size-18">Driver Lic Report</h4>
                    </div>
                </div>
            </div>
            <!-- end page title -->
            <div class="row top-controls">
                <div class="col-sm-8 col-md-8">
                    <form (keydown.enter)="$event.preventDefault()"[formGroup]="formFilter">
                        <div class="row">
                     
                           <!-- <div class="col-md-2">
                                <div class="mb-3">                                    
                                    <label for="formrow-inputCity">Loading Branch</label>  
                                    <div class="ng-autocomplete">
                                        <ng-autocomplete [data]="branchList"
                                            [searchKeyword]="keywordLocation"  
                                            formControlName="tripBranch" 
                                            (inputChanged)='onChangeSearch($event)'
                                            (inputFocused)='onFocused($event)' 
                                            [itemTemplate]="itemTemplate"
                                            [notFoundTemplate]="notFoundTemplate"
                                            [customFilter]="startWithFilter">
                                        </ng-autocomplete>

                                        <ng-template #itemTemplate let-item>
                                            <a [innerHTML]="item.dataName"></a>
                                        </ng-template>

                                        <ng-template #notFoundTemplate let-notFound>
                                            <div [innerHTML]="notFound"></div>
                                        </ng-template>
                                    </div>
                                </div>
                            </div>-->
                   
                            <div class="col-md-3">
                                <div class="mb-2">                                    
                                    <label for="basicpill-phoneno-input">Expiry Lic</label>
                                    <select id="formrow-inputState" class="form-control"
                                        formControlName="expiryLic"
                                        [ngClass]="">                                      
                                        <option value="M"> Expire in One Month</option>
                                        <option value="A"> All</option>
                                        <option value="V"> Valid </option>
                                        <option value="E"> Expired </option>
                                       
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="mb-3">
                                    <label for="formrow-inputCity">Driver Name</label>
                                    <div class="ng-autocomplete">
                                        <ng-autocomplete [data]="driverList"
                                            [searchKeyword]="keywordLocation"  
                                            formControlName="driverName"    
                                            (inputFocused)='onFocused($event)' [itemTemplate]="itemTemplate"
                                            [notFoundTemplate]="notFoundTemplate"
                                            [customFilter]="startWithFilter"  [ngClass]="">
                                        </ng-autocomplete>

                                        <ng-template #itemTemplate let-item>
                                            <a [innerHTML]="item.dataName"></a>
                                        </ng-template>

                                        <ng-template #notFoundTemplate let-notFound>
                                            <div [innerHTML]="notFound"></div>
                                        </ng-template>
                                        
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="mb-2">
                                    <label for="basicpill-phoneno-input">Active</label>
                                    <select id="formrow-inputState" class="form-control"
                                        formControlName="active"
                                        [ngClass]="" >
                                        <option value ="">Choose...</option>
                                        <option value="Y">Active</option>
                                        <option value="N"> InActive</option>
                                       
                                    </select>
                                </div>
                            </div>
                        
                            <div class="col-lg-1">
                                <div class="mt-3">
                                    <button class="btn btn-primary"   (click)="search()"><span>Search</span></button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-sm-4 col-md-4 text-right">
                    <div class="dt-buttons btn-group flex-wrap export-button">
                        <button class="btn btn-secondary buttons-excel buttons-html5" tabindex="0"
                            aria-controls="datatable-buttons" type="button" 
                            (click)="exportExcel()"><span>Excel</span></button>
                       <!--<button class="btn btn-secondary buttons-pdf buttons-html5" tabindex="0"
                            aria-controls="datatable-buttons" type="button"><span>PDF</span></button>--> 
                    </div>
                </div>
            </div>
            <div id="datatable_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                <table datatable [dtOptions]="dtOptions" class="table table-bordered dt-responsive w-100">
                    <thead>
                        <tr>
                            <th>DriverName</th>
                            <th>FatherName</th>
                            <th>DateOfBirth</th>  
                            <th>IntroBy</th>
                            <th>IntroByMobileNo</th>
                            <th>DateOfAppoint </th>   
                            <th>LicenseNo</th>
                            <th>LicenseIssuAuth</th>
                            <th>LicValidUpto</th>
                            <th>BloodGroup</th>
                            <!-- <th>DriverMobile1</th>
                            <th>DriverMobile2</th>
                            <th>TempAddPhone</th>
                            <th>PermanentAddr</th>
                            <th>PermAddPhone</th>
                            <th>DriverAadharNo</th>
                            <th>IsActive</th>
                           <th>GroupName</th>
                            <th>DrBankAccountName</th>
                            <th>BankName</th>
                            <th>BankAcNo</th>
                            <th>BankIfsCode</th>-->
                          
                       

                        </tr>
                    </thead>
                    <tbody *ngIf="allDriverLicRptlist.driverLicRptList?.length != 0">
                        <tr *ngFor="let eta of allDriverLicRptlist.driverLicRptList">
                            <td>{{ eta.driverName }}</td>
                            <td>{{ eta.fatherName }}</td> 
                            <td>{{ eta.dateOfBirth }}</td>
                            <td>{{ eta.introBy }}</td>
                            <td>{{ eta.introByMobileNo }}</td>
                             <td>{{ eta.dateOfAppoint }}</td> 
                            <td>{{ eta.licenseNo }}</td> 
                              <td>{{ eta.licenseIssuAuth }}</td> 
                         <td>{{ eta.licValidUpto }}</td> 
                            <td>{{ eta.bloodGroup }}</td> 
                              <!--  <td>{{ eta.driverMobile1 }}</td> 
                            <td>{{ eta.driverMobile2 }}</td> 
                            <td>{{ eta.tempAddPhone }}</td> 
                            <td>{{ eta.permanentAddr }}</td> 
                            <td>{{ eta.permAddPhone }}</td> 
                            <td>{{ eta.driverAadharNo }}</td> 
                            <td>{{ eta.isActive }}</td> 
                           <td>{{ eta.groupName }}</td> 
                            <td>{{ eta.drBankAccountName }}</td> 
                            <td>{{ eta.bankName }}</td> 
                            <td>{{ eta.bankAcNo }}</td> 
                            <td>{{ eta.bankIfsCode }}</td> -->
                        
                        
                       
                        </tr>
                    </tbody>
                    <tbody *ngIf="allDriverLicRptlist.driverLicRptList?.length == 0">
                        <tr>
                            <td colspan="3" class="no-data-available">No data!</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- container-fluid -->
    </div>
    <!-- End Page-content -->
</div>


